Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Squash migrations
  explore/hasura/user-prefs/migrations/default/1765072497539_create_table_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072497539_create_table_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072545172_insert_into_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072545172_insert_into_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072557841_insert_into_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072557841_insert_into_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072566133_insert_into_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072566133_insert_into_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072577862_insert_into_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072577862_insert_into_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072586837_insert_into_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072586837_insert_into_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072746098_alter_table_public_lucumaUserPreferences_add_column_logLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072746098_alter_table_public_lucumaUserPreferences_add_column_logLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765077205503_alter_table_public_lucumaUserPreferences_add_column_lastOpenPrograms/down.sql
  explore/hasura/user-prefs/migrations/default/1765077205503_alter_table_public_lucumaUserPreferences_add_column_lastOpenPrograms/up.sql
  explore/hasura/user-prefs/migrations/default/1765123144624_alter_table_public_lucumaUserPreferences_alter_column_lastOpenPrograms/down.sql
  explore/hasura/user-prefs/migrations/default/1765123144624_alter_table_public_lucumaUserPreferences_alter_column_lastOpenPrograms/up.sql
  explore/hasura/user-prefs/migrations/default/1765123144624_user_last_programs/down.sql
  explore/hasura/user-prefs/migrations/default/1765123144624_user_last_programs/up.sql
Due: Label explore PRs

Convert TopBar into monadic style
  explore/app/src/main/scala/explore/TopBar.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

add fpu to matrix lookup
  explore/app/src/main/scala/explore/config/package.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

SC-7315 Implemented basic support for nonsidereal targets.
  build.sbt
  navigate/model/src/main/scala/navigate/model/OdbNonsidereal.scala
  navigate/server/src/clue/scala/navigate/queries/ObsQueriesGQL.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/ephemeris/EphemerisFile.scala
  navigate/web/server/src/main/scala/navigate/web/server/ephemeris/EphemerisUpdater.scala
  navigate/web/server/src/main/scala/navigate/web/server/ephemeris/package.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Allow editing telluric targets
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

bump crystal
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  project/Versions.scala
Due: Label explore PRs

Add observe script to stop, start, update as in navigate
  observe/deploy/scripts/install.sh
  observe/deploy/scripts/observe.sh
Due: Label observe PRs

allow listing non-science targets
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
Due: Label explore PRs

make calib targets readonly except in system progs
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
Due: Label explore PRs, Label schemas PRs

everyone can choose target disposition
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
Due: Label explore PRs

disable copy and delete for system managed targets
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
Due: Label explore PRs, Label schemas PRs

pr review suggestions, fixes
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
Due: Label explore PRs, Label schemas PRs

Show coords for non-sidereal in obs summary table
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/model/ObservationRegionsOrCoordinatesAt.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
  explore/model/shared/src/main/scala/explore/model/Constants.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
  explore/model/shared/src/main/scala/explore/model/RegionOrCoordinatesAt.scala
  explore/model/shared/src/main/scala/explore/model/RegionOrTracking.scala
  explore/model/shared/src/main/scala/explore/model/TrackingOrRegionMap.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
  explore/workers/src/main/scala/workers/horizons/HorizonsRequests.scala
  schemas/model/src/main/scala/lucuma/schemas/model/CoordinatesAt.scala
  schemas/model/src/main/scala/lucuma/schemas/model/syntax.scala
Due: Label explore PRs, Label schemas PRs

Add restart option to observe script
  observe/deploy/scripts/observe.sh
Due: Label observe PRs

Show coords for non-sidereal in obs summary table
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/model/ObservationRegionsOrCoordinatesAt.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
  explore/model/shared/src/main/scala/explore/model/Constants.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
  explore/model/shared/src/main/scala/explore/model/RegionOrCoordinatesAt.scala
  explore/model/shared/src/main/scala/explore/model/RegionOrTracking.scala
  explore/model/shared/src/main/scala/explore/model/RegionOrTrackingMap.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
  explore/workers/src/main/scala/workers/horizons/HorizonsRequests.scala
  schemas/model/src/main/scala/lucuma/schemas/model/CoordinatesAt.scala
  schemas/model/src/main/scala/lucuma/schemas/model/syntax.scala
Due: Label explore PRs, Label schemas PRs

Update blind offset target icon
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/common/src/main/scala/explore/Icons.scala
Due: Label explore PRs

Add caches for fonts and environments.conf.json
  explore/app/src/main/webapp/main.jsx
  explore/vite.config.mts
Due: Label explore PRs

Put the toast always at the top
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/components/ToastPortal.scala
  explore/app/src/main/webapp/main.jsx
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/js/src/main/scala/explore/events/package.scala
  project/Versions.scala
Due: Label explore PRs

prettier
  explore/vite.config.mts
Due: Label explore PRs

wip: port ags changes from master
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  pnpm-lock.yaml
  project/Versions.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-layout.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

Record a usable angle
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/shared/src/main/scala/explore/events/AgsMessage.scala
  explore/model/shared/src/main/scala/explore/model/AGSDebugVisibility.scala
  explore/model/shared/src/main/scala/explore/model/CandidateAnalysis.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
Due: Label explore PRs

Keep all stars on the ags cache
  explore/model/shared/src/main/scala/explore/events/AgsMessage.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs

Display all usable guidestars
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/model/shared/src/main/scala/explore/model/AGSDebugVisibility.scala
  explore/model/shared/src/main/scala/explore/model/CandidateAnalysis.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GuideStarTooltip.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

Create two caches for unscontrained and currrent
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/model/shared/src/main/scala/explore/events/AgsMessage.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/GuideStarTarget.scala
Due: Label explore PRs, Label ui PRs

Show the debugging menu to staff
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  explore/model/shared/src/main/scala/explore/model/PFVisibility.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
Due: Label explore PRs

Improve visualization of all targets
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/model/shared/src/main/scala/explore/model/CandidateAnalysis.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GuideStarTarget.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GuideStarTooltip.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label explore PRs, Label ui PRs

Comment offset generation bits because of core update
  explore/app/src/main/scala/explore/config/offsets/OffsetEditor.scala
  project/Versions.scala
Due: Label explore PRs

Cleanup local caches
  explore/vite.config.mts
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
Due: Label explore PRs

Update core
  explore/workers/src/main/scala/workers/CatalogCache.scala
  project/Versions.scala
Due: Label explore PRs

Show non-sidereal coordinates in asterism editor table
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/RegionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/CorrectedProgramTarget.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/model/shared/src/main/scala/explore/model/RegionOrCoordinatesAt.scala
  explore/model/shared/src/main/scala/explore/model/deprecatedExtensions.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
Due: Label explore PRs

Fix observation mode editing for `oneOf`.
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
Due: Label explore PRs

Update to the latest lucuma-core
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
  explore/workers/src/main/scala/workers/HorizonsServer.scala
  explore/workers/src/main/scala/workers/ItcServer.scala
  explore/workers/src/main/scala/workers/PlotServer.scala
  explore/workers/src/main/scala/workers/WorkerServer.scala
  project/Versions.scala
Due: Label explore PRs

Invalidate caches
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
Due: Label explore PRs

Elevation plots for non-sidereals
  explore/app/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotData.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotOptions.scala
  explore/app/src/main/scala/explore/plots/SemesterPlot.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
  explore/model/shared/src/main/scala/explore/events/PlotMessage.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/deprecatedExtensions.scala
  explore/workers/src/main/scala/workers/PlotServer.scala
  explore/workers/src/main/scala/workers/horizons/HorizonsRequests.scala
Due: Label explore PRs

Support non-sidereals in AveragePABasis calculation
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
Due: Label explore PRs

review suggestion
  explore/common/src/main/scala/explore/model/ObservationRegionsOrCoordinatesAt.scala
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
