Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

more review suggestions
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
Due: Label explore PRs

And more review suggestions.
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
Due: Label explore PRs

Show Regions in config request tables and address some review comments
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/MotionCorrectedTarget.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/common/src/main/scala/explore/model/ObservationRegionsOrCoordinatesAt.scala
  explore/model/shared/src/main/scala/explore/model/RegionOrTracking.scala
Due: Label explore PRs

Add ErrorMsg and ErrorMsgOr type aliases as per review comments
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/targets/MotionCorrectedTarget.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/common/src/main/scala/explore/model/ObservationRegionsOrCoordinatesAt.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
  explore/model/shared/src/main/scala/explore/events/HorizonsMessage.scala
  explore/model/shared/src/main/scala/explore/model/ErrorMsg.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
  explore/model/shared/src/main/scala/explore/model/RegionOrTracking.scala
  explore/model/shared/src/main/scala/explore/model/RegionOrTrackingMap.scala
  explore/workers/src/main/scala/workers/horizons/HorizonsRequests.scala
Due: Label explore PRs

Rename HorizonsClient to HorizonsWorkerClient
  explore/common/src/main/scala/explore/model/WorkerClients.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
Due: Label explore PRs

scalafix
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/workers/src/main/scala/workers/WorkerServer.scala
Due: Label explore PRs

comment out offset editor
  build.sbt
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetEditor.scala
  explore/app/src/main/scala/explore/config/offsets/package.scala
Due: Label explore PRs

Support horizons search for non-sidereal targets
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/app/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSource.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/syntax.scala
Due: Label explore PRs, Label schemas PRs

comment out more things
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/offsets/package.scala
Due: Label explore PRs

Revert "Update dependency react-grid-layout to v2"
  explore/package.json
  pnpm-lock.yaml
  ui/demo/package.json
Due: Label explore PRs, Label ui PRs

revert react-grid-layout upgrade
  package-lock.json
Due: none

fix profile mutation after @oneOf migration
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
Due: Label explore PRs

For And Groups default minimumInterval and maximumInterval to 0
  explore/app/src/main/scala/explore/tabs/GroupEditBody.scala
Due: Label explore PRs

Default min and max to zero on create, as well
  explore/app/src/main/scala/explore/services/OdbGroupApiImpl.scala
Due: Label explore PRs

update schema
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

rework model
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ExposureTimeModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbGmosImagingVariant.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbTelescopeConfigGenerator.scala
Due: Label schemas PRs

checkpoint
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
Due: Label explore PRs

updates
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

schema updates
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ObservingModeSuite.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceData.scala
Due: Label observe PRs, Label schemas PRs, Label ui PRs

working with new odb
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbGmosImagingVariant.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbTelescopeConfigGenerator.scala
Due: Label explore PRs, Label schemas PRs

checkpoint, query almost working
  build.sbt
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  project/Dependencies.scala
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ExposureTimeModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/GmosImagingVariantSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/TelescopeConfigGeneratorSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ConstraintSetDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ExposureTimeModeDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/PosAngleDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/TargetDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/TelescopeConfigGeneratorDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/TimingWindowDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
Due: Label explore PRs, Label schemas PRs

working! (TODO FIX ObservingMode decode test)
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/GmosImagingVariantSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/TelescopeConfigGeneratorSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/GmosImagingVariantDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/tests/jvm/src/test/resources/obsmode.json
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ObservingModeSuite.scala
Due: Label explore PRs, Label schemas PRs

fix test
  schemas/lib/src/main/scala/lucuma/schemas/odb/GmosImagingVariantSubquery.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ObservingModeSuite.scala
Due: Label schemas PRs

Use guidestar selection from obsconf
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
Due: Label explore PRs

first steps of variant editor
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/GmosImagingVariantDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
Due: Label explore PRs, Label schemas PRs

checkpoint
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
Due: Label explore PRs, Label schemas PRs

migrating offset editor
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/app/src/main/scala/explore/config/offsets/package.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
Due: Label explore PRs, Label schemas PRs

Avoid creating multiple toast-portal elements
  explore/app/src/main/scala/explore/components/ToastPortal.scala
  explore/app/src/main/webapp/main.jsx
Due: Label explore PRs

Make the display of patrol fields available for staff
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/app/src/main/webapp/main.jsx
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
  explore/model/shared/src/main/scala/explore/model/AGSVisibility.scala
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

Improve css of the recent programs menu
  explore/app/src/main/scala/explore/TopBar.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

Fix defaulting AND group max delay to 0
  explore/app/src/main/scala/explore/services/OdbGroupApiImpl.scala
Due: Label explore PRs

sc-7521 Select newly added blind offsets
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Comment out non-sidereal search button until we have a horizons proxy
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
Due: Label explore PRs

scalafix
  explore/app/src/main/scala/explore/model/AppContext.scala
Due: Label explore PRs

offset editor working, missing labels+styling
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/app/src/main/scala/explore/config/offsets/package.scala
Due: Label explore PRs

edit offsetgenerator on a copy
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
