Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

react-markdown upgrade
  explore/app/src/main/scala/explore/HelpBody.scala
  explore/app/src/main/scala/explore/components/MarkdownEditor.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/programs/ConfigurationRequestJustificationViewer.scala
  project/Versions.scala
Due: Label explore PRs

Force cache flushing
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
Due: Label explore PRs

Add registry to npmrc
  .npmrc
Due: none

Add pro-thing-svg-icons to observe
  observe/web/client/package.json
  pnpm-lock.yaml
Due: Label observe PRs

migrate clue
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/app/src/main/scala/explore/common/ScienceQueries.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/package.scala
  explore/model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

Pass only guided offsets to AGS
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/model/shared/src/main/scala/explore/model/Execution.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label ui PRs

Read the full telescpoe config from the odb
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  explore/model/shared/src/main/scala/explore/model/Execution.scala
  project/Versions.scala
Due: Label explore PRs

Updated to use the non deprecated explicitSpatialOffsets
  explore/workers/src/main/scala/workers/AgsServer.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

enable scrolling config table while computing itc
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Update schema
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Update odb lib
  project/Versions.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

remove logging
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Initial support for non-sidereals - guide stars & visualization
  build.sbt
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/app/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotData.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotOptions.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/app/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/app/src/main/webapp/horizonsworker.js
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/WorkerClients.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
  explore/model/shared/src/main/scala/explore/events/HorizonsMessage.scala
  explore/model/shared/src/main/scala/explore/model/Constants.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/HorizonsPicklers.scala
  explore/model/shared/src/main/scala/explore/model/deprecatedExtensions.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
  explore/model/shared/src/main/scala/explore/model/package.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  explore/workers/src/main/scala/workers/HorizonsServer.scala
  explore/workers/src/main/scala/workers/horizons/HorizonsRequests.scala
  project/Dependencies.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/TargetWithIdSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/CoordinatesAt.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
  schemas/model/src/main/scala/lucuma/schemas/model/syntax.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbTargetWithId.scala
  schemas/tests/shared/src/test/scala/lucuma/schemas/model/TargetWithIdSuite.scala
Due: Label explore PRs, Label schemas PRs

copilot review comments, improved error message, etc.
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
  explore/model/shared/src/main/scala/explore/model/deprecatedExtensions.scala
  explore/workers/src/main/scala/workers/HorizonsServer.scala
  explore/workers/src/main/scala/workers/horizons/HorizonsRequests.scala
Due: Label explore PRs

Show ephemeris key in the target editor
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
Due: Label explore PRs

Don't blow up when confronted with a non-sidereal target
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Improve navigate sim for wfs configuration
  navigate/model/src/main/scala/navigate/model/AllWfsConfiguration.scala
  navigate/model/src/main/scala/navigate/model/WfsConfiguration.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Include f2 in configuration subquery
  explore/app/src/clue/scala/queries/common/ConfigurationSubquery.scala
Due: Label explore PRs

SC-7379 Fixed channel names for circular buffer control.
  navigate/server/src/main/scala/navigate/server/tcs/CircularBufferChannels.scala
Due: Label navigate PRs

fetch obs parent group before checking if it's a calib group
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

Cache uncorrrected guidestars
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/common/src/main/scala/workers/WorkerClient.scala
  explore/model/shared/src/main/scala/explore/events/AgsMessage.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
Due: Label explore PRs

resolve obs group in obs summary
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
Due: Label explore PRs

rename PFVisibility
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/shared/src/main/scala/explore/model/AGSDebugVisibility.scala
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  explore/model/shared/src/main/scala/explore/model/PFVisibility.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs

Cache uncorrrected guidestars
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/model/shared/src/main/scala/explore/events/AgsMessage.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
Due: Label explore PRs

improve plot labels
  explore/app/src/main/scala/explore/plots/NightPlot.scala
Due: Label explore PRs

further improvements to charts
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/SeriesType.scala
Due: Label explore PRs

Support datalab
  explore/model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
Due: Label explore PRs

SC-7404 Log message when there is no nod/chop guide info to configure M2 guide.
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label navigate PRs

Added enable parameter to log of circular buffer command.
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
Due: Label navigate PRs

SC-7404 Changed log level of messages to info
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label navigate PRs

SC-7433 Fixed parameter name in handset offset retrieval code.
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label navigate PRs

don't pass sci req to config editor
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/package.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Add log level to the user preferences
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/common/src/main/scala/explore/model/ExploreLocalPreferences.scala
  explore/common/src/main/scala/explore/model/RootModel.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/test/scala/explore/model/RootModelSuite.scala
  explore/common/src/test/scala/explore/model/arb/ArbExploreLocalPreferences.scala
  explore/common/src/test/scala/explore/model/arb/ArbRootModel.scala
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

Keep a list of the last n programs visited
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/common/src/main/scala/explore/model/RootModel.scala
  explore/common/src/main/scala/explore/model/RootModelViews.scala
  explore/hasura/user-prefs/migrations/default/1765077205503_alter_table_public_lucumaUserPreferences_add_column_lastOpenPrograms/down.sql
  explore/hasura/user-prefs/migrations/default/1765077205503_alter_table_public_lucumaUserPreferences_add_column_lastOpenPrograms/up.sql
  explore/hasura/user-prefs/migrations/default/1765123144624_alter_table_public_lucumaUserPreferences_alter_column_lastOpenPrograms/down.sql
  explore/hasura/user-prefs/migrations/default/1765123144624_alter_table_public_lucumaUserPreferences_alter_column_lastOpenPrograms/up.sql
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  explore/workers/src/main/scala/workers/ItcServer.scala
Due: Label explore PRs

Keep a list of the last N programs visited
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/common/src/main/scala/explore/model/RootModel.scala
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

add log level preferences
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/fetchUserPreferencesSchema.sh
  explore/hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_exploreLogLevel.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  explore/hasura/user-prefs/migrations/default/1765072497539_create_table_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072497539_create_table_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072545172_insert_into_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072545172_insert_into_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072557841_insert_into_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072557841_insert_into_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072566133_insert_into_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072566133_insert_into_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072577862_insert_into_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072577862_insert_into_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072586837_insert_into_public_exploreLogLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072586837_insert_into_public_exploreLogLevel/up.sql
  explore/hasura/user-prefs/migrations/default/1765072746098_alter_table_public_lucumaUserPreferences_add_column_logLevel/down.sql
  explore/hasura/user-prefs/migrations/default/1765072746098_alter_table_public_lucumaUserPreferences_add_column_logLevel/up.sql
Due: Label explore PRs

Improved styling
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/LucumaPrimeStyles.scala
Due: Label explore PRs, Label ui PRs

Improve some alignments
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
