Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Add query to read the same night field for groups
  explore/app/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/model/shared/src/main/scala/explore/model/Group.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Some UI refinements
  explore/app/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Show the same night control on the group UI
  explore/app/src/main/scala/explore/tabs/GroupEditBody.scala
Due: Label explore PRs

Small touch-ups
  explore/app/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Reorder ghost sequence columns and replicate color
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-common.scss
  ui/lib/src/main/scala/lucuma/ui/LucumaStyles.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label explore PRs, Label ui PRs

Update
  .github/workflows/update-schema.yml
Due: none

Group the blue and red colors
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-common.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label ui PRs

Fix assigning of inputs in ghost
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
Due: Label explore PRs

Move withColumnSize to the parent table
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnSize.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
Due: Label observe PRs, Label ui PRs

Changes for itc graph data axes
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/shared/src/main/scala/explore/model/itc/package.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  project/Versions.scala
Due: Label explore PRs

Update lucuma-core with the renamed capabilities enum
  explore/model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  explore/model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Use central wavelength constants from core
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label explore PRs, Label schemas PRs

Use the central wavelength values as defined in core
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label observe PRs, Label schemas PRs

Update graphql lib
  flake.nix
  navigate/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Versions.scala
Due: Label navigate PRs

Allow filtering some of the odb errors avoiding <D-e> log in some cases
  explore/app/src/main/scala/explore/services/OdbApiHelper.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
Due: Label explore PRs

Also ignore pending sequence when clonning or pasting an ob
  explore/app/src/main/scala/explore/services/OdbApiHelper.scala
  explore/app/src/main/scala/explore/services/OdbAsterismApiImpl.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
Due: Label explore PRs

Migration changes
  .github/workflows/ci.yml
  .github/workflows/update-schema.yml
  build.sbt
  pnpm-workspace.yaml
Due: none

Update action versions
  .github/workflows/ci.yml
  build.sbt
Due: none

Update clue, graphql-routes, lucuma-core
  project/Versions.scala
Due: none

Read imaging capabilities and show the visitor modes on the modes table
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/model/shared/src/main/scala/explore/model/package.scala
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/model/src/main/scala/lucuma/schemas/enums/ImagingCapabilities.scala
Due: Label explore PRs, Label schemas PRs

Migrate ImagingCapabilities to lucuma-core 0.193.0
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/model/src/main/scala/lucuma/schemas/enums/ImagingCapabilities.scala
Due: Label explore PRs, Label schemas PRs

Add filter for imaging capabilities
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  explore/model/shared/src/main/scala/explore/model/enums/ImagingCapabilities.scala
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Support MaroonX on the spec modes table
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/model/shared/src/main/scala/explore/model/package.scala
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Update core and odb schema
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Support overriding the endpoints via env variables locally
  explore/README.md
  explore/app/src/main/webapp/main.jsx
  explore/vite.config.mts
Due: Label explore PRs

run prettier
  explore/app/src/main/webapp/main.jsx
Due: Label explore PRs

remove logging
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
Due: Label explore PRs

move gnirs enum inferring logic to core
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  project/Versions.scala
Due: Label explore PRs

checkpoint
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/model/shared/src/main/scala/explore/modes/package.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label explore PRs, Label schemas PRs

remove unused code; adjust comments
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

gnirs mode selection
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/shared/src/main/scala/explore/model/package.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label explore PRs, Label schemas PRs

scalafix, fix rebase
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label explore PRs, Label schemas PRs

derive gnirs basicconfiguration from spectroscopy row
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Hide modes and options to pick gmos NS and IFU fpus
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  project/Versions.scala
Due: Label explore PRs

fix compilation error
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Add a filter column to the requests tables
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
Due: Label explore PRs

enable gnirs itc chart queries
  explore/workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label explore PRs

Some UI touches
  explore/app/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
Due: Label explore PRs

Add a help icon button at the top bar
  explore/app/src/main/scala/explore/TopBar.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

linter
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
