Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Keep the guide target name when resetting the selection
  explore/app/src/main/scala/explore/targeteditor/UseAgs.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/common/src/main/scala/explore/model/GuideStarSelection.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgs.scala
  explore/app/src/main/scala/explore/targeteditor/UseTrackingMap.scala
  explore/common/src/main/scala/explore/utils/package.scala
Due: Label explore PRs

Move observation derivations out of ObsTabTiles
  explore/common/src/main/scala/explore/model/syntax/observation.scala
Due: Label explore PRs

Only pass a site to the target editor when it is unambiguous
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Headers
  explore/model-testkit/src/main/scala/explore/boopickle/package.scala
  explore/model-testkit/src/main/scala/explore/events/arb/ArbCatalogMessage.scala
  explore/model-testkit/src/main/scala/explore/events/arb/ArbPlotMessage.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbAeonMultiFacility.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbAsterismVisualOptions.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbBlindOffset.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbExecution.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbKeyedIndexedList.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbKeyedIndexedTree.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObsIdSet.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservation.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservationTargets.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbPartnerSplit.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProgramUser.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposal.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbSchedulingConstraints.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbTooActivationCeiling.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbTree.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbUser.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbUserInvitation.scala
  explore/model-testkit/src/main/scala/explore/model/arb/CogenUUID.scala
  explore/model-testkit/src/main/scala/explore/model/arb/package.scala
Due: Label explore PRs

Persist table filters in user preferences
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/TablePreferences.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseResetHiddenFilters.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/package.scala
Due: Label explore PRs, Label ui PRs

fix sbt-lucuma version
  project/Versions.scala
Due: none

adopt affected-tests
  .github/workflows/ci.yml
  build.sbt
  project/Versions.scala
Due: none

adopt affected tests and jobs for ci
  .github/workflows/ci.yml
  build.sbt
  project/Versions.scala
Due: none

scalafmt, add missing dependencies
  .github/workflows/ci.yml
  build.sbt
Due: none

bump plugin
  project/Versions.scala
Due: none

Add column filters to the spectroscopy and imaging modes tables
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnFilter.scala
Due: Label explore PRs, Label ui PRs

Reduce the font on the filters given the size of the selectors
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/table/ColumnFilter.scala
  ui/lib/src/main/scala/lucuma/ui/table/FilterMethod.scala
Due: Label explore PRs, Label ui PRs

Persist the filter selection
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/hasura/user-prefs/migrations/default/1788735732000_modes_tables_filters/down.sql
  explore/hasura/user-prefs/migrations/default/1788735732000_modes_tables_filters/up.sql
  explore/model/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

Bugfix: Re-apply auto-height viewport cap on window resize
  explore/app/src/main/scala/explore/components/TileController.scala
Due: Label explore PRs

Cleanup
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Persist the archive duplication filter toggle
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/hasura/user-prefs/migrations/default/1788735732000_modes_tables_filters/down.sql
  explore/hasura/user-prefs/migrations/default/1788735732000_modes_tables_filters/up.sql
  explore/model/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

Add a hook to get the viewport height
  explore/app/src/main/scala/explore/components/TileController.scala
  ui/lib/src/main/scala/lucuma/ui/hooks/UseViewportHeight.scala
  ui/lib/src/main/scala/lucuma/ui/hooks/package.scala
Due: Label explore PRs, Label ui PRs

notify slack on failed ci merge jobs, add resource to rollback
  .github/workflows/ci-failure-slack.yml
  rollback-servers.sh
Due: none

unify script gh auth, rollback gets all info first
  promote.sh
  rollback-servers.sh
Due: none

ignore breakpoint when running extra acq steps
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
Due: Label observe PRs

hide offsets revert for calibration observations
  explore/app/src/main/scala/explore/config/Flamingos2ConfigFields.scala
  explore/app/src/main/scala/explore/config/GmosNorthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthMosPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthMosPanel.scala
  explore/app/src/main/scala/explore/config/GnirsIfuPanel.scala
  explore/app/src/main/scala/explore/config/GnirsLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/offsets/PresettableTelescopeConfigsEditor.scala
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
Due: Label explore PRs

Adopt latest LucumaPlugin, notify on CI merge errors
  .github/workflows/ci-failure-slack.yml
  .github/workflows/ci.yml
  project/Versions.scala
Due: none

SC-10209 Fully cover ShutterMode encode/decode tests.
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

SC-10209 Fixed scaling for vent gates readout.
  navigate/server/src/main/scala/navigate/server/tcs/EcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label navigate PRs

SC-10209 Fixed bug in ShutterMode encoder.
  navigate/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
Due: Label navigate PRs

Add queries to regenerate proposal pdfs
  CONTEXT.md
  explore/app/src/clue/scala/queries/common/AttachmentSubquery.scala
  explore/app/src/clue/scala/queries/common/ProposalQueriesGQL.scala
Due: Label explore PRs

Add size and filename columns
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
Due: Label explore PRs

Add rel attribute to external link for security
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
Due: Label explore PRs

Keep only the open action on a PDF summary
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
Due: Label explore PRs

Place a tile the stored layout does not know below its predecessors
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
  explore/common/src/main/scala/explore/model/layout.scala
  explore/common/src/test/scala/explore/model/LayoutSuite.scala
  explore/model/src/main/scala/explore/model/ProposalSummaries.scala
Due: Label explore PRs

Show only the PDF summaries the proposal's current partners call for
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
  explore/model-tests/src/test/scala/explore/model/ProposalSummariesSuite.scala
  explore/model/src/main/scala/explore/ProposalType.scala
  explore/model/src/main/scala/explore/model/ProposalSummaries.scala
Due: Label explore PRs

Adjust flag sizes
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Move pdf summary last
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/common/src/main/webapp/images/flags/uh.png
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Show the partner flag beside the partner in the PDF Summary tile
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Treat a zero-percent partner split as a partner not requested
  CONTEXT.md
  explore/model-tests/src/test/scala/explore/model/ProposalSummariesSuite.scala
  explore/model/src/main/scala/explore/model/ProposalSummaries.scala
Due: Label explore PRs

Add a tile with a table of proposal summaries
  explore/app/src/main/scala/explore/attachments/package.scala
  explore/app/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/app/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
  explore/app/src/main/scala/explore/services/OdbProposalApi.scala
  explore/app/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-tests/src/test/scala/explore/model/ProposalErrorsSuite.scala
  explore/model-tests/src/test/scala/explore/model/ProposalSummariesSuite.scala
  explore/model/src/main/scala/explore/model/Attachment.scala
  explore/model/src/main/scala/explore/model/ProposalSummaries.scala
  explore/model/src/main/scala/explore/model/TileIds.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs

reformat
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
Due: Label explore PRs

Cleanup
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
  explore/common/src/test/scala/explore/model/LayoutSuite.scala
  explore/model-tests/src/test/scala/explore/model/ProposalSummariesSuite.scala
  explore/model/src/main/scala/explore/model/ProposalSummaries.scala
Due: Label explore PRs

Allow regenerating the PDF summary while the proposal has errors
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
Due: Label explore PRs
