Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Use log syntax
  observe/server_new/src/main/scala/observe/server/GiapiInstrumentController.scala
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2.scala
Due: Label observe PRs

Add UI to edit offsets
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
Due: Label explore PRs

Consider the defaults for offsets when changing mode
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
Due: Label explore PRs

Add some help info buttons
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
Due: Label explore PRs

Always shows both axes on the offset editor
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
Due: Label explore PRs

Update the schema to read igrins2 spatial offsets
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

SC-8109 Wait for in-position flag before resuming guiding.
  navigate/server/src/main/scala/navigate/server/tcs/FollowStatus.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label navigate PRs

Add filter to F2 acquisition configuration
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Allow PIs to edit F2 acquisition filters
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
Due: Label explore PRs

Hide non-spectroscopy f2 filters on config
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
Due: Label explore PRs

Basic updates to work with igrins2 sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/Igrins2DynamicConfigSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
Due: Label explore PRs, Label schemas PRs

Show the steps for igrins2 on the sequence table
  explore/app/src/main/scala/explore/config/sequence/EditableSequence.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Igrins2SequenceTable.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  schemas/model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  schemas/model/src/main/scala/lucuma/schemas/model/Visit.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Make igrins2 not editable
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Fix visits for igrins2 in observe ui
  observe/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
Due: Label observe PRs

fix f2 visit decoder
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
Due: Label schemas PRs

better visits decoder implementation
  PLAN-PROGRESS.md
  PLAN.md
  observe/web/server/src/main/resources/base.conf
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
Due: Label observe PRs, Label schemas PRs

fix rebase error
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
Due: Label schemas PRs

remove claude files
  .gitignore
  PLAN-PROGRESS.md
  PLAN.md
Due: none

Add configuration for igrins2
  observe/model/jvm/src/main/scala/observe/model/config/ObserveEngineConfiguration.scala
  observe/model/jvm/src/main/scala/observe/model/config/SystemsControlConfiguration.scala
  observe/model/jvm/src/test/scala/observe/model/config/arb/ArbSystemsControlConfiguration.scala
  observe/server_new/src/main/scala/observe/server/Systems.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
Due: Label observe PRs, Label schemas PRs

Add configuration keys for igrins2
  observe/web/server/src/main/resources/base.conf
  observe/web/server/src/main/scala/observe/web/server/config/package.scala
Due: Label observe PRs

Make honeycomb write key optional
  observe/model/jvm/src/main/scala/observe/model/config/HoneycombConfiguration.scala
  observe/web/server/src/main/scala/observe/web/server/config/package.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label observe PRs

Initialize Igrins2 controller
  observe/server_new/src/main/scala/observe/server/Systems.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label observe PRs

Ignore acq offsets for igrins2 geometry and force sequence reload when offsets change
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Igrins2Geometry.scala
Due: Label explore PRs, Label ui PRs

Revert the refresh sequence mechanism
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
Due: Label explore PRs

remove claud plan file
  .gitignore
  PLAN-PROGRESS.md
Due: none

scalafix
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/StepGen.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label observe PRs

Refactor observe engine from atom-based to step-based execution
  .gitignore
  .vscode/settings.json
  PLAN-PROGRESS.md
  observe/model/shared/src/main/scala/observe/model/SequenceState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  observe/server_new/src/main/scala/observe/server/EngineState.scala
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqEvent.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/SequenceGen.scala
  observe/server_new/src/main/scala/observe/server/StepActionsGen.scala
  observe/server_new/src/main/scala/observe/server/StepGen.scala
  observe/server_new/src/main/scala/observe/server/StepStatusGen.scala
  observe/server_new/src/main/scala/observe/server/StepsView.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Sequence.scala
  observe/server_new/src/main/scala/observe/server/gmos/Gmos.scala
  observe/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  observe/server_new/src/main/scala/observe/server/package.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label observe PRs

remove Sequence class
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/EngineStep.scala
  observe/server_new/src/main/scala/observe/server/engine/Sequence.scala
  observe/server_new/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label observe PRs

compiling
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/SequenceView.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label observe PRs

logic fixes
  MEMORY.md
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/engine/Breakpoints.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Sequence.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
Due: Label observe PRs

don't fade future sequences
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

SequenceState/Status disambiguation
  .vscode/settings.json
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/SequenceState.scala
  observe/model/shared/src/main/scala/observe/model/SequenceStatus.scala
  observe/model/shared/src/main/scala/observe/model/SequenceView.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/test/scala/observe/model/ModelSuite.scala
  observe/server_new/src/main/scala/observe/server/ExecutionQueue.scala
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Sequence.scala
  observe/server_new/src/main/scala/observe/server/syntax.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/ObserveServerArbitraries.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ControlButtonResolver.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/client/src/main/scala/observe/ui/model/SessionQueueRow.scala
  observe/web/client/src/main/scala/observe/ui/model/reusability.scala
Due: Label observe PRs

remove debug statements
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label observe PRs

checkpoint
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/ModelLenses.scala
  observe/model/shared/src/main/scala/observe/model/RunningStepProgress.scala
  observe/model/shared/src/main/scala/observe/model/SequenceView.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbRunningStep.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/main/scala/observe/model/events/package.scala
  observe/model/shared/src/test/scala/observe/model/ModelSuite.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/display/givens.scala
  observe/web/client/src/main/scala/observe/ui/model/SessionQueueRow.scala
  observe/web/client/src/main/scala/observe/ui/model/reusability.scala
Due: Label observe PRs

SequenceState rename and extraction
  observe/server_new/src/main/scala/observe/server/EngineState.scala
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Sequence.scala
  observe/server_new/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server_new/src/main/scala/observe/server/engine/package.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/TestUtil.scala
Due: Label observe PRs

Show the elevation plot in the middle of the semester if no obs time set
  explore/app/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotOptions.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/model/shared/src/main/scala/explore/CallForProposal.scala
  explore/model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

Add a 'Today' button to the date picker
  explore/app/src/main/scala/explore/components/DatePicker24HTime.scala
  explore/app/src/main/scala/explore/components/DatePickerLocalDate.scala
  explore/app/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/common/src/main/webapp/sass/datepicker.scss
Due: Label explore PRs

Add a 'Today' button to the date picker
  explore/app/src/main/scala/explore/components/DatePicker24HTime.scala
  explore/app/src/main/scala/explore/components/DatePickerLocalDate.scala
  explore/app/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/common/src/main/webapp/sass/datepicker.scss
  explore/model/shared/src/main/scala/explore/CallForProposal.scala
  explore/model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs
