Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label client PRs
  conditions:
  - files~=^modules/web/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label client-clue PRs
  conditions:
  - files~=^modules/web/client-clue/
  actions:
    label:
      add:
      - client-clue
      remove: []
- name: Label client-model PRs
  conditions:
  - files~=^modules/web/client-model/
  actions:
    label:
      add:
      - client-model
      remove: []
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^deploy/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^deploy/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^deploy/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^deploy/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label observe-server_staging PRs
  conditions:
  - files~=^deploy/observe-server_staging/
  actions:
    label:
      add:
      - observe-server_staging
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

refactor "unreachable case"s
  modules/server_new/src/main/scala/observe/server/ObserveEnvironment.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
Due: Label server_new PRs

bump versions
  modules/model/shared/src/main/scala/observe/model/enums/DailyProgramType.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  project/Settings.scala
Due: Label model PRs, Label server_new PRs

bump scala version in vite
  modules/web/client/vite.config.js
Due: Label client PRs

update libs, schemas
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  project/Settings.scala
Due: Label server_new PRs

wip
  modules/server_new/src/main/scala/observe/server/tcs/TcsController.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsSuite.scala
Due: Label server_new PRs

fix auto deploy to staging
  .github/workflows/ci.yml
  build.sbt
Due: none

login to heroku
  build.sbt
Due: none

regenerate workflow
  .github/workflows/ci.yml
Due: none

revert heroku login
  .github/workflows/ci.yml
  build.sbt
Due: none

Update modules/server_new/src/main/scala/observe/server/altair/AltairControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairControllerEpics.scala
Due: Label server_new PRs

Implement PR comment suggestions
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosNorth.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosSouth.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsController.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/tcs/package.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsSuite.scala
Due: Label model PRs, Label server_new PRs

Unit test for atoms execution.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

Implemented atom automatic load
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label engine PRs, Label server_new PRs

Restored code from PR 1005
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label server_new PRs

initial refactor
  CERTIFICATES.md
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/clue/scala/observe/queries/VisitQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/VisitTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/VisitsViewer.scala
  project/Settings.scala
Due: Label client PRs

visits in model
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
Due: Label client PRs

query visits in syncer
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
Due: Label client PRs, Label client-model PRs

almost there
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesVisits.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/VisitTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/VisitsViewer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  project/Settings.scala
Due: Label client PRs

reinstate step index
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesVisits.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/VisitTable.scala
  project/Settings.scala
Due: Label client PRs

xxxx
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesVisits.scala
  project/Settings.scala
Due: Label client PRs

working
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesVisits.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/VisitTable.scala
Due: Label client PRs

intermediate commit
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesVisits.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/VisitTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  project/Settings.scala
Due: Label client PRs

stitching working
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
Due: Label client PRs

cleanup
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesVisits.scala
Due: Label client PRs

expansion working
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesDefs.scala
  project/Settings.scala
Due: Label client PRs

styles
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesVisits.scala
  project/Settings.scala
Due: Label client PRs

don't resuscribe
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
Due: Label client PRs

ok, better
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

Fixed bug on record atom event.
  modules/engine/src/main/scala/observe/engine/Action.scala
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
Due: Label engine PRs, Label server_new PRs

undo unnecessary renames
  modules/server_new/src/main/resources/Tcs.xml
  modules/server_new/src/main/scala/observe/server/tcs/TcsConfigRetriever.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsEpics.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TestTcsEpics.scala
Due: Label server_new PRs

core upgrade, extra visits row
  README.md
  build.sbt
  modules/model/shared/src/main/scala/observe/model/arb/SequenceEventsArbitraries.scala
  modules/server/src/main/scala/observe/server/gsaoi/GsaoiControllerEpics.scala
  modules/server/src/test/scala/observe/server/ObserveServerArbitraries.scala
  modules/server/src/test/scala/observe/server/ObserveServerLensesSpec.scala
  modules/server/src/test/scala/observe/server/gems/GemsControllerEpicsSpec.scala
  modules/server/src/test/scala/observe/server/ghost/GhostArbitraries.scala
  modules/server/src/test/scala/observe/server/gpi/GpiArbitraries.scala
  modules/server_new/src/main/resources/Tcs.xml
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiControllerSim.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiGuider.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsConfigRetriever.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsEpics.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TestTcsEpics.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableVisits.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/VisitTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  modules/web_old/client/src/test/scala/observe/web/client/model/ArbitrariesWebClient.scala
  modules/web_old/client/src/test/scala/observe/web/client/model/ModelSpec.scala
  modules/web_old/client/src/test/scala/observe/web/client/model/PagesSpec.scala
  modules/web_old/client/src/test/scala/observe/web/client/model/arb/ArbTabOperations.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server_new PRs

stitched sequence table
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTablesVisits.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/VisitTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/VisitsViewer.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  project/Settings.scala
Due: Label client PRs

remove unused doc
  CERTIFICATES.md
Due: none
