Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

fix the schema from user prefs to match what clue expects
  explore/fetchUserPreferencesSchema.sh
Due: Label explore PRs

Updated schema for user prefs
  explore/app/src/clue/resources/UserPreferencesDB.graphql
Due: Label explore PRs

Add pdfSummary to the promote scripts
  promote.sh
  rollback-servers.sh
Due: none

fix core version
  project/Versions.scala
Due: none

Pass blind offsets to the aladin cell
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
Due: Label explore PRs

Remove some duplicated rules
  explore/common/src/main/webapp/sass/explore-visualization.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

Close gcal shutter for darks
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
Due: Label observe PRs

Nighttime darks behave like daytime darks
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  observe/server/src/test/scala/observe/server/ghost/GhostSpec.scala
Due: Label observe PRs

Explicitly call move ifu to focus for calibrations, it was implicit previously
  observe/server/src/main/scala/observe/server/ghost/GhostController.scala
Due: Label observe PRs

SC-10359 Added centralWavelength command in Navigate.
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Darks do not request sv time
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  observe/server/src/main/scala/observe/server/ghost/GhostLUT.scala
  observe/server/src/test/scala/observe/server/ghost/GhostSpec.scala
Due: Label observe PRs

Don't arm the summaries throttle when resetting the program cache
  explore/app/src/main/scala/explore/ExploreLayout.scala
Due: Label explore PRs

Rename field
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

Don't query a placeholder program when none is selected
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

Log when migrations of user prefs have not been applied
  explore/CLAUDE.md
  explore/app/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
Due: Label explore PRs

Ignore md files for prettier
  .prettierignore
Due: none

Show a waiting message while the sequence is regenerated
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/LiveSequence.scala
Due: Label explore PRs, Label ui PRs

Sequence refresh when the config is reverted
  explore/app/src/main/scala/explore/config/AdvancedConfigButtons.scala
Due: Label explore PRs

Reduce sequence generation throttling
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

Hide gmos engineering filters for non staff
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
Due: Label explore PRs

Fix typo on the promotion script
  promote.sh
  rollback-servers.sh
Due: none

Also hide engineering filters for gmos spectroscopy
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosNorthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthMosPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthMosPanel.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyPanel.scala
Due: Label explore PRs

Update lucuma-graphql-routes to 0.16.0 and migrate to new Routes.forOpenService
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposalType.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Versions.scala
Due: Label explore PRs, Label navigate PRs

Add an Observation Details tile to the observations tab
  CONTEXT.md
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-tests/src/test/scala/explore/model/ObservationSuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/TileIds.scala
Due: Label explore PRs

Push stored tiles down when a new tile is inserted above them
  explore/common/src/main/scala/explore/model/layout.scala
  explore/common/src/test/scala/explore/model/ObsLayoutMergeSuite.scala
Due: Label explore PRs

Test the layout merge against a scrambled stored order
  explore/common/src/test/scala/explore/model/ObsLayoutMergeSuite.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/common/src/main/scala/explore/model/layout.scala
  explore/model-tests/src/test/scala/explore/model/ObservationSuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs

add explore linking to branch protection
  .github/workflows/ci.yml
  build.sbt
Due: none

SC-10418 Implemented configureStep command in Navigate.
  navigate/model/src/main/scala/navigate/model/LightPath.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/enums/LightSource.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Indicate on the tile title that the sequence is being updated
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Show what the initial load is waiting for
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/components/LoadProgressIndicator.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/common/src/main/scala/explore/cache/LoadProgress.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/common/src/test/scala/explore/cache/LoadProgressSuite.scala
  ui/lib/src/main/resources/lucuma-css/solar-system.scss
  ui/lib/src/main/scala/lucuma/ui/components/SolarProgress.scala
Due: Label explore PRs, Label ui PRs

Style the load checklist as part of the spinner
  explore/app/src/main/scala/explore/components/LoadProgressIndicator.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/resources/lucuma-css/solar-system.scss
Due: Label explore PRs, Label ui PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
