Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Rename add-sky-mode CSS classes to mode-neutral (SC-9567)
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

Base crosshair label rule + dangling-selection fix (SC-9567)
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
Due: Label explore PRs

Drop the reset-to-centre button from the base coordinate editor (SC-9567)
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/PositionCoordinatesEditor.scala
Due: Label explore PRs

Generalize field-position UI and add explicit Base Position plumbing (SC-9567)
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismRow.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/PositionCoordinatesEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/model-tests/src/test/scala/explore/model/ObservationTargetsCoordinatesAtSuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetVisualization.scala
  schemas/tests/shared/src/test/scala/lucuma/schemas/model/SlotIdSuite.scala
Due: Label explore PRs, Label schemas PRs

Set the Base Position by clicking in Aladin (SC-9567)
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
Due: Label explore PRs

Give base pick mode its own cursor (SC-9567)
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

Wire explicit Base Position view into the targets tile (SC-9567)
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
Due: Label explore PRs

Use the trash icon and a "Base" type for the base row (SC-9567)
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
Due: Label explore PRs

scalafmt
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismRow.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/PositionCoordinatesEditor.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
  explore/model-tests/src/test/scala/explore/model/ObservationTargetsCoordinatesAtSuite.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetVisualization.scala
  schemas/tests/shared/src/test/scala/lucuma/schemas/model/SlotIdSuite.scala
Due: Label explore PRs, Label schemas PRs

Update core to get the gnirs shape corrected
  .gitignore
  explore/workers/src/main/scala/workers/AgsServer.scala
  project/Versions.scala
Due: Label explore PRs

Fix simulated oiwfs config using pwfs2
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbCommands.scala
Due: Label navigate PRs, Label observe PRs

SC-9230 New ODB query to refresh steps.
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/SequenceData.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/TestCommon.scala
  observe/server/src/test/scala/observe/server/engine/TestUtil.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

Add support to call itc for multislit gmos rows
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Minimal query changes to support the new igrins2 schema for svc
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Decode itcType by raw string to support IGRINS-2 spectroscopy
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
Due: Label schemas PRs

scalafmt
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Fix tiles collapsing after being removed and re-added
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/common/src/main/scala/explore/model/layout.scala
  explore/common/src/test/scala/explore/model/LayoutSuite.scala
Due: Label explore PRs

Add migration to reset broken layouts
  explore/hasura/user-prefs/migrations/default/1784931470950_remove_collapsed_grid_layout_tiles/down.sql
  explore/hasura/user-prefs/migrations/default/1784931470950_remove_collapsed_grid_layout_tiles/up.sql
Due: Label explore PRs

Fix the case where the minW is already incorrect
  explore/common/src/main/scala/explore/model/layout.scala
  explore/common/src/test/scala/explore/model/LayoutSuite.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/common/src/main/scala/explore/model/layout.scala
Due: Label explore PRs

Use RetryFlakyTests trait
  .github/workflows/ci.yml
  build.sbt
  explore/common/src/test/scala/explore/utils/StreamSpec.scala
  navigate/epics/src/test/scala/navigate/epics/ChannelSpec.scala
  navigate/epics/src/test/scala/navigate/epics/VerifiedEpicsSpec.scala
  navigate/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  observe/server/src/test/scala/observe/server/EpicsUtilSuite.scala
Due: Label explore PRs, Label navigate PRs, Label observe PRs

Show igrins2 acquisition sequence
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Igrins2SequenceTable.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionConfigSubquery.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Show the acquisition sequence for SVC with igrins2
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Igrins2SequenceTable.scala
Due: Label explore PRs

Use constants to get conf defaults
  explore/common/src/main/webapp/sass/explore.scss
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

[sc-9574] Update Igrins2 configuration UI to add SVC parameters
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

scalafmt
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Fix typo
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GhostSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Igrins2SequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/SpectroscopySequenceTable.scala
Due: Label explore PRs, Label ui PRs

Another fix for the typo
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GhostSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GnirsSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Igrins2SequenceTable.scala
Due: Label observe PRs

Add tracing via otel4s to the HTTP clients
  build.sbt
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label observe PRs

Propagate trace context across the engine event queue
  build.sbt
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/engine/Engine.scala
  observe/server/src/test/scala/observe/server/TestCommon.scala
  observe/server/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server/src/test/scala/observe/server/engine/StepSuite.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label observe PRs

Trace GraphQL on websockets calls to the odb.
  build.sbt
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/engine/Engine.scala
Due: Label observe PRs

cleanup
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/engine/Engine.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label observe PRs

Record the route of http calls in the trace
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label observe PRs

Add spans for event transitions
  observe/server/src/main/scala/observe/server/engine/Engine.scala
Due: Label observe PRs

Record route variables as span attributes
  observe/server/src/main/scala/observe/server/engine/Engine.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label observe PRs

scalafmt
  observe/server/src/main/scala/observe/server/engine/Engine.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
Due: Label observe PRs

Remove some help icons
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
Due: Label explore PRs

Add model for client events containing the guide status
  observe/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  observe/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
Due: Label observe PRs

Make the server send events when the backend guide status changes
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
Due: Label observe PRs
