Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label client PRs
  conditions:
  - files~=^modules/web/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label client-clue PRs
  conditions:
  - files~=^modules/web/client-clue/
  actions:
    label:
      add:
      - client-clue
      remove: []
- name: Label client-model PRs
  conditions:
  - files~=^modules/web/client-model/
  actions:
    label:
      add:
      - client-model
      remove: []
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^deploy/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^deploy/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^deploy/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^deploy/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label observe-server_staging PRs
  conditions:
  - files~=^deploy/observe-server_staging/
  actions:
    label:
      add:
      - observe-server_staging
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

minor changes
  flake.nix
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
Due: Label client PRs

update clue, crystal
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  project/Settings.scala
Due: Label client PRs, Label server_new PRs

updates
  modules/web/client/package-lock.json
  modules/web/client/package.json
  project/Settings.scala
Due: Label client PRs

show program reference in obs table
  .scalafix.conf
  build.sbt
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs

show obs ref instead of prog ref + obs id
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs

Changed source for *ID keywords.
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairHeader.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairLgsHeader.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalHeader.scala
  modules/server_new/src/main/scala/observe/server/gems/GemsHeader.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosHeader.scala
  modules/server_new/src/main/scala/observe/server/keywords/Header.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/main/scala/observe/server/keywords/package.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  project/Settings.scala
Due: Label server_new PRs

Fixed keywords OBJECT and OBSCLASS
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
Due: Label server_new PRs

Restored the weather FITS keywords.
  modules/server/src/main/scala/observe/server/gws/GwsHeader.scala
  modules/server/src/main/scala/observe/server/gws/GwsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/gws/GwsEpics.scala
  modules/server_new/src/main/scala/observe/server/gws/GwsHeader.scala
  modules/server_new/src/main/scala/observe/server/gws/GwsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/gws/package.scala
Due: Label server_new PRs

Included PR suggestion.
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
Due: Label server_new PRs

Updated scala and libraries.
  .github/workflows/ci.yml
  build.sbt
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairHeader.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairLgsHeader.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalHeader.scala
  modules/server_new/src/main/scala/observe/server/gems/GemsHeader.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosHeader.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiEpics.scala
  modules/server_new/src/main/scala/observe/server/keywords/Header.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/main/scala/observe/server/tcs/package.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/utils.scala
  modules/web/client/vite.config.js
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label server_new PRs

rename visualizationTime to observationTime
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
Due: Label client PRs, Label client-model PRs

Fixed subscription with empty selection.
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
Due: Label server_new PRs

Fixed subscription with empty selection.
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
Due: Label client PRs, Label server_new PRs

new schema visit query
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs

Tiny fixes to the dark theme
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

Update sbt-lucuma
  .github/workflows/ci.yml
  project/plugins.sbt
Due: none

Remove skipped steps and startFrom
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/EngineStep.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/StepState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStepState.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/events/package.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label client PRs, Label engine PRs, Label model PRs, Label server PRs, Label server_new PRs

And a step to install sbt to the docker CI workflow
  .github/workflows/ci.yml
  build.sbt
Due: none

Added new conditions keywords.
  modules/model/shared/src/main/scala/observe/model/enums/KeywordName.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/web/client/package-lock.json
Due: Label client PRs, Label model PRs, Label server_new PRs

Multiple library updates
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  project/Settings.scala
Due: Label client PRs, Label server_new PRs

Workaround for bug on odb call
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
Due: Label engine PRs, Label server_new PRs

Reload the atom after every execution
  modules/engine/src/main/scala/observe/engine/Engine.scala
Due: Label engine PRs

new sequence model with changes in offsets
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorth.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouth.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  project/Settings.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

migrations for new observation workflow
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
Due: Label client PRs, Label server_new PRs

Remove temporal constraint
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
Due: Label server_new PRs

SC-3912 Produced percetile keywords from new constraint types.
  modules/model/shared/src/main/scala/observe/model/enums/KeywordName.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionSetReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConstraintSetReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
Due: Label model PRs, Label server_new PRs

SC-3950 Use guide environment for guide target keywords.
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

Remove unused query
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

wip
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/events/package.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label engine PRs, Label server PRs, Label server_new PRs

wip
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
Due: Label client PRs, Label engine PRs, Label server_new PRs

Removed import of pureconfig.generic.derivation.default
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web_old/server/src/test/scala/observe/web/server/config/ConfigTypesSpec.scala
Due: Label server PRs

checkpoint
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label engine PRs, Label server_new PRs

Cleanup
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

fix token refresh in ui
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/services/ApiClient.scala
  project/Settings.scala
Due: Label client PRs

println into logger.trace
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label client PRs

notify user of errors in engine
  modules/model/shared/src/main/scala/observe/model/Notification.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

Make observe reload the current atom at the end of each step
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label engine PRs, Label server PRs, Label server_new PRs

Show under construction in unimplemented tabs
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs

Support setting the RELEASE keyword
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

use one-shot client for odb invocations
  deploy/confs/gn-test/app.conf
  deploy/confs/gn/app.conf
  deploy/confs/gs-test/app.conf
  deploy/confs/gs/app.conf
  deploy/src/main/resources/conf/app.conf
  modules/model/jvm/src/main/scala/observe/model/config/ObserveEngineConfiguration.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Due: Label model PRs, Label server PRs, Label server_new PRs
