Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Retire completed load steps instead of stacking them up
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Only list the load steps a given load actually waits on
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/common/src/main/scala/explore/cache/LoadProgress.scala
  explore/common/src/test/scala/explore/cache/LoadProgressSuite.scala
Due: Label explore PRs

Run the seven initial program queries concurrently
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

sbt2 migration
  .github/workflows/ci.yml
  CLAUDE.md
  build.sbt
  explore/CLAUDE.md
  explore/vite.config.mts
  observe/model/shared/src/main/scala/observe/model/arb/package.scala
  observe/model/shared/src/test/scala/observe/model/arb/package.scala
  observe/web/client/vite.config.mts
  project/Dependencies.scala
  project/Versions.scala
  project/build.properties
  project/plugins.sbt
  stylelint.config.mjs
Due: Label explore PRs, Label observe PRs

Fix typo on the promotion script
  promote.sh
  rollback-servers.sh
Due: none

Ignore md files for prettier
  .prettierignore
Due: none

Updated schema for user prefs
  explore/app/src/clue/resources/UserPreferencesDB.graphql
Due: Label explore PRs

fix the schema from user prefs to match what clue expects
  explore/fetchUserPreferencesSchema.sh
Due: Label explore PRs

Log when migrations of user prefs have not been applied
  explore/CLAUDE.md
  explore/app/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
Due: Label explore PRs

Add pdfSummary to the promote scripts
  promote.sh
  rollback-servers.sh
Due: none

add explore linking to branch protection
  .github/workflows/ci.yml
  build.sbt
Due: none

Update lucuma-graphql-routes to 0.16.0 and migrate to new Routes.forOpenService
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposalType.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Versions.scala
Due: Label explore PRs, Label navigate PRs

Close gcal shutter for darks
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
Due: Label observe PRs

Push stored tiles down when a new tile is inserted above them
  explore/common/src/main/scala/explore/model/layout.scala
  explore/common/src/test/scala/explore/model/ObsLayoutMergeSuite.scala
Due: Label explore PRs

Pin opentelemetry to the version otel4s-oteljava declares
  .scala-steward.conf
  build.sbt
  project/Dependencies.scala
  project/OtelCheck.scala
  project/Versions.scala
Due: none

Test the layout merge against a scrambled stored order
  explore/common/src/test/scala/explore/model/ObsLayoutMergeSuite.scala
Due: Label explore PRs

scalafmt
  build.sbt
  project/OtelCheck.scala
Due: none

Add an Observation Details tile to the observations tab
  CONTEXT.md
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-tests/src/test/scala/explore/model/ObservationSuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/TileIds.scala
Due: Label explore PRs

SC-10418 Implemented configureStep command in Navigate.
  navigate/model/src/main/scala/navigate/model/LightPath.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/enums/LightSource.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

cleanup
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/common/src/main/scala/explore/model/layout.scala
  explore/model-tests/src/test/scala/explore/model/ObservationSuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs

Also hide engineering filters for gmos spectroscopy
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosNorthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthMosPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthMosPanel.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyPanel.scala
Due: Label explore PRs

Darks do not request sv time
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  observe/server/src/main/scala/observe/server/ghost/GhostLUT.scala
  observe/server/src/test/scala/observe/server/ghost/GhostSpec.scala
Due: Label observe PRs

Explicitly call move ifu to focus for calibrations, it was implicit previously
  observe/server/src/main/scala/observe/server/ghost/GhostController.scala
Due: Label observe PRs

Nighttime darks behave like daytime darks
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  observe/server/src/test/scala/observe/server/ghost/GhostSpec.scala
Due: Label observe PRs

Hide gmos engineering filters for non staff
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
Due: Label explore PRs

Add an Estimated Duration section to the Observation Details tile
  CONTEXT.md
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/common/src/test/scala/explore/model/ObsLayoutMergeSuite.scala
Due: Label explore PRs

Update itc picklers for changes on the itc side
  explore/model/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/display/package.scala
Due: Label explore PRs, Label ui PRs

Solve warnings for navigate
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/encoders/package.scala
Due: Label navigate PRs

scalafmt
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
Due: Label navigate PRs

Update lucuma-core to 0.251.2
  explore/app/src/main/scala/explore/targeteditor/AgsOverlay.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GuideStarTooltip.scala
Due: Label explore PRs, Label ui PRs

Must invalidate the ags cache
  explore/workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs

And the catalog cache
  explore/workers/src/main/scala/workers/CatalogCache.scala
Due: Label explore PRs

Show a band selector
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
Due: Label explore PRs

Add a science band selector to the Observation Details tile
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Read observation priority and allow changing it
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservation.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Add a control to change the obs priority
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  project/Versions.scala
Due: Label explore PRs

Don't allow unsetting the band
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
Due: Label explore PRs

Don't report deadline errors when the PI's partner is unspecified
  explore/app/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/model-tests/src/test/scala/explore/model/ProposalErrorsSuite.scala
  explore/model/src/main/scala/explore/Proposal.scala
Due: Label explore PRs

Update libs
  project/Versions.scala
Due: none
