Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Fix a NoSuchElement exception when a sequence completes in observe
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
Due: Label explore PRs

Reset the program summaries when switching programs
  explore/app/src/main/scala/explore/ExploreLayout.scala
Due: Label explore PRs

Update other deps
  explore/app/src/main/scala/explore/OtelSdk.scala
  project/Versions.scala
Due: Label explore PRs

dnd improvements
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/package.json
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/dnd/package.scala
Due: Label explore PRs, Label ui PRs

fix telluric group dnd
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

use operation instead of edge for dnd
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/dnd/package.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseTableDragAndDrop.scala
Due: Label explore PRs, Label ui PRs

dnd working locally same as remotely
  explore/app/src/main/scala/explore/observationtree/ObsActions.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/observationtree/package.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/model/src/main/scala/explore/model/Group.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservationsAndGroups.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
  explore/model/src/main/scala/explore/model/package.scala
  pnpm-lock.yaml
  ui/lib/src/main/scala/lucuma/ui/dnd/package.scala
Due: Label explore PRs, Label ui PRs

scalafix
  explore/app/src/main/scala/explore/observationtree/ObsActions.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/model/src/main/scala/explore/model/Group.scala
  explore/model/src/main/scala/explore/model/ObservationsAndGroups.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/model/src/main/scala/explore/model/ObservationsAndGroups.scala
  ui/lib/src/main/scala/lucuma/ui/dnd/package.scala
Due: Label explore PRs, Label ui PRs

contemplate telluric groups on drop
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

Allow selecting maroonx
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Fixes for values sent from the backend for maroonx
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Store science fov rather than min star separation
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Add an ItcResult type for modes that don't need an itc result to be usable
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/model/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/src/main/scala/explore/model/itc/package.scala
  explore/model/src/main/scala/explore/model/package.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
Due: Label explore PRs

Show the sub mode in the mode name
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
Due: Label explore PRs

Allow assigning visitor instrument observing modes
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Use constant values from lucuma-core
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label schemas PRs

Use Science Fov values from lucuma-core
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label schemas PRs

Refactor handling of modes not needing itc
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/model/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/src/main/scala/explore/model/itc/package.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Due: Label explore PRs

scalafix
  explore/app/src/main/scala/explore/OtelSdk.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/model/package.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/display/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

cleanup
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  ui/lib/src/main/scala/lucuma/ui/display/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Fix observe warning
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
Due: Label observe PRs

Update ruwe limits
  explore/workers/src/main/scala/workers/CatalogCache.scala
  project/Versions.scala
Due: Label explore PRs

Avoid runNow(), add comments
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Add configuration editor for resident visitor
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/VisitorConfigPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

[sc-4868] hide itc and sequence panels for visitors
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/VisitorConfigPanel.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Fix a bug disabling accept mode for visitors with SN mode
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
Due: Label explore PRs

Show a loading indicator while reverting the config
  explore/app/src/main/scala/explore/config/AdvancedConfigButtons.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/VisitorConfigPanel.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

avoid runNow in dnd invocation
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  project/Versions.scala
Due: Label explore PRs

Change the text for AGS failures when the mode has not been selected
  explore/app/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/model/src/main/scala/explore/model/Constants.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
Due: Label explore PRs

rename offsets mode
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/model/src/main/scala/explore/model/display.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

versions, add missing cases
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  project/Versions.scala
Due: Label explore PRs

make target dnd work in ff
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Due: Label explore PRs

Add geometry definitions for visitor
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisitorGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

Display shapes for visitors and run ags
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/Igrins2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisitorGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

When accepting a GHOST config, set stepCount to the ETM count
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  project/Versions.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Add script to launch explore pointing to a local odb
  local-explore.sh
Due: none

Hide the filters column on the request tables
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
Due: Label explore PRs

Add Resource to deployment script
  promote.sh
Due: none
