Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

SC-8226 Code format
  navigate/epics/src/main/scala/navigate/epics/Channel.scala
  navigate/epics/src/main/scala/navigate/epics/TestChannel.scala
  navigate/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
Due: Label navigate PRs

Transform GNIRS XD wavelengths to the H band
  explore/model-tests/src/test/scala/explore/modes/GnirsCrossDispersedSuite.scala
  explore/model/src/main/scala/explore/modes/GnirsCrossDispersed.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  project/Versions.scala
Due: Label explore PRs

Revert "Transform GNIRS XD wavelengths to the H band"
  explore/model-tests/src/test/scala/explore/modes/GnirsCrossDispersedSuite.scala
  explore/model/src/main/scala/explore/modes/GnirsCrossDispersed.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  project/Versions.scala
Due: Label explore PRs

Don't query all the instrument modes on configuration mutation
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
Due: Label explore PRs, Label schemas PRs

scalafmt
  explore/model/src/main/scala/explore/modes/GnirsCrossDispersed.scala
Due: Label explore PRs

Support displaying but not selecting F2 MOS rows
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Update to tanstack v9
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/package.json
  observe/web/client/package.json
  pnpm-lock.yaml
  project/Versions.scala
  ui/demo/package.json
Due: Label explore PRs, Label observe PRs, Label ui PRs

Select custom slit width from phase0 and call itc for f2 mos
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Lib update
  explore/model/src/main/scala/explore/modes/package.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  project/Versions.scala
Due: Label explore PRs

Don't send traceparent to the horizons CORS proxy
  explore/workers/src/main/scala/workers/HorizonsServer.scala
Due: Label explore PRs

Remove long comment
  explore/workers/src/main/scala/workers/HorizonsServer.scala
Due: Label explore PRs

Add context
  .gitignore
  .prettierignore
  CLAUDE.md
  CONTEXT.md
Due: none

Remove personal claude settings
  CLAUDE.md
Due: none

update table facade
  project/Versions.scala
Due: none

Discard stored table preferences that fail to read
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
Due: Label explore PRs

Display ITC peak pixel counts in sequence tables
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2ImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GhostSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Igrins2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2ImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GhostSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GnirsImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GnirsSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Igrins2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ItcResultValues.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ModeSignalToNoise.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbModeSignalToNoise.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/ImagingSequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/SpectroscopySequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Update the table to accomodate the new graphql schema for peak pixel
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ItcResultValues.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbModeSignalToNoise.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/ImagingSequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/SpectroscopySequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Show the ADU value as a tooltip
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label ui PRs

Actual versions
  project/Versions.scala
Due: none

scalafmt/fix
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  schemas/lib/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
Due: Label explore PRs, Label schemas PRs

Real odb version.
  project/Versions.scala
Due: none

Add a control to change the height on some of the tiles
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/itc/ItcEmptyTile.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/common/src/main/scala/explore/components/SimpleTile.scala
  explore/common/src/main/scala/explore/components/Tile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/model/enums/TileHeightPreset.scala
Due: Label explore PRs

More tiles should use auto height
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/proposal/ProposalErrorsTile.scala
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/app/src/main/scala/explore/validations/GroupWarningsTile.scala
Due: Label explore PRs

Add min height for auto heigth tiles
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/app/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/proposal/ProposalErrorsTile.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/app/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/common/src/main/scala/explore/components/SimpleTile.scala
  explore/common/src/main/scala/explore/components/Tile.scala
  explore/common/src/main/scala/explore/model/layout.scala
  explore/common/src/test/scala/explore/model/LayoutSuite.scala
Due: Label explore PRs

Always select `mode` in ObservingModeByTypeSubquery
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
Due: Label schemas PRs

always allow edit gnirs offsets
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
Due: Label explore PRs

remove dead code
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label ui PRs

Initial fix for breaking change on spectroscopy modes
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
Due: Label explore PRs, Label schemas PRs

scalafmt
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
Due: Label schemas PRs

Show the empty message in auto-height table tiles
  explore/app/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/app/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/app/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/app/src/main/scala/explore/validations/ObservationValidationsTable.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

scalafmt
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/common/src/main/scala/explore/components/Tile.scala
Due: Label explore PRs

Navigate: improved enclosure commands simulation
  navigate/server/src/main/scala/navigate/server/tcs/EcsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
Due: Label navigate PRs

Update tiles with legacy empty notes
  explore/app/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/app/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/app/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Support selecting and assigning F2 MOS mode for an observation
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/Flamingos2MosConfigPanel.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Allow selecting F2 MOS entries in the modes table
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Cleanup
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

Allow promoting a CoI to PI from the Investigators table
  explore/app/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/app/src/main/scala/explore/components/package.scala
  explore/app/src/main/scala/explore/services/OdbProgramApi.scala
  explore/app/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/app/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/common/src/main/scala/explore/Icons.scala
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
