Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

Label client PRs:
  label:
    add:
    - client
    remove: []

Label client-clue PRs:
  label:
    add:
    - client-clue
    remove: []

Label client-model PRs:
  label:
    add:
    - client-model
    remove: []

Label engine PRs:
  label:
    add:
    - engine
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label observe-server-gn PRs:
  label:
    add:
    - observe-server-gn
    remove: []

Label observe-server-gn-test PRs:
  label:
    add:
    - observe-server-gn-test
    remove: []

Label observe-server-gs PRs:
  label:
    add:
    - observe-server-gs
    remove: []

Label observe-server-gs-test PRs:
  label:
    add:
    - observe-server-gs-test
    remove: []

Label observe-server_staging PRs:
  label:
    add:
    - observe-server_staging
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label server_new PRs:
  label:
    add:
    - server_new
    remove: []

Label server_new-clue PRs:
  label:
    add:
    - server_new-clue
    remove: []

Label stateengine PRs:
  label:
    add:
    - stateengine
    remove: []

finish renaming
  modules/server_new/src/main/scala/observe/server/engine/Event.scala
Due: Label server_new PRs

rename flamingos2 configuration
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
  modules/model/jvm/src/main/scala/observe/model/config/SystemsControlConfiguration.scala
  modules/model/jvm/src/test/scala/observe/model/config/arb/ArbSystemsControlConfiguration.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/web/server/src/main/resources/base.conf
Due: Label model PRs, Label server PRs, Label server_new PRs

simulated f2, rename config.sh
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gs/site.conf
  deploy/scripts/config.sh.template
Due: none

flamingos2 back to full
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Due: none

move systems configuration to local file
  README.md
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
  modules/web/server/src/main/resources/base.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

remove ig2
  modules/web/server/src/main/resources/base.conf
Due: Label server PRs

rename config.sh to avoid overwrites
  deploy/scripts/install.sh
Due: none

update workflow
  .mergify.yml
Due: none

remove comments
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
Due: Label server_new PRs

rebase fixes
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
Due: Label server_new PRs

simplify Handle event stream
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
Due: Label engine PRs, Label server_new PRs

remove commented code
  modules/engine/src/main/scala/observe/engine/Handle.scala
Due: Label engine PRs

parameter renames
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Event.scala
Due: Label server_new PRs

remove commented code
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label engine PRs, Label server_new PRs

remove commented code
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label server_new PRs

readability refactor
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/EventResult.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
Due: Label engine PRs, Label server_new PRs

put resources folder where it belongs
  modules/server_new/src/main/resources/Altair.xml
  modules/server_new/src/main/resources/DhsHdr.xml
  modules/server_new/src/main/resources/Flamingos2.xml
  modules/server_new/src/main/resources/Gcal.xml
  modules/server_new/src/main/resources/Gems.xml
  modules/server_new/src/main/resources/Gmos.xml
  modules/server_new/src/main/resources/Gnirs.xml
  modules/server_new/src/main/resources/Gsaoi.xml
  modules/server_new/src/main/resources/Gws.xml
  modules/server_new/src/main/resources/Nifs.xml
  modules/server_new/src/main/resources/Niri.xml
  modules/server_new/src/main/resources/Tcs.xml
Due: Label server_new PRs

MonadThrow for Handle, opaque type, test
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
  modules/server_new/src/test/scala/observe/server/engine/HandleSpec.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label client PRs, Label server_new PRs

restart script
  deploy/scripts/install.sh
  deploy/scripts/restart.sh
  deploy/scripts/stop.sh
Due: none

temporary workaround for gaia timeouts
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
Due: Label server_new PRs

comment unused imports
  modules/server_new/src/main/scala/observe/server/Systems.scala
Due: Label server_new PRs

unprivatize dhs sim constructor
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
Due: Label server_new PRs

notify UI of errors even if odb record fails
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label server_new PRs

fix prod gs epics address list
  deploy/conf/production-gs/site.conf
Due: none

working now
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label server_new PRs

checkpoint
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Event.scala
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

rebase, compact query
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
Due: Label server_new PRs

checkpoint
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/web/server/src/main/resources/base.conf
Due: Label server PRs, Label server_new PRs

monaderror test
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
Due: Label server_new PRs

checkpoint
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label server_new PRs

checkpoint
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

avoid scrolls to first row
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
Due: Label client PRs

fix DhsClientDisabled
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientDisabled.scala
Due: Label server_new PRs

remove unused context bound
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
Due: Label client PRs

bump odb lib
  project/Settings.scala
Due: none

Update odb schema and libs
  modules/server_new/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerEpics.scala
  project/Settings.scala
Due: Label server_new PRs

Use production libs
  project/Settings.scala
Due: none

Path conditions:
  Label client PRs: any of: ^modules/web/client/
  Label client-clue PRs: any of: ^modules/web/client-clue/
  Label client-model PRs: any of: ^modules/web/client-model/
  Label engine PRs: any of: ^modules/engine/
  Label model PRs: any of: ^modules/model/
  Label observe-server-gn PRs: any of: ^deploy/observe-server-gn/
  Label observe-server-gn-test PRs: any of: ^deploy/observe-server-gn-test/
  Label observe-server-gs PRs: any of: ^deploy/observe-server-gs/
  Label observe-server-gs-test PRs: any of: ^deploy/observe-server-gs-test/
  Label observe-server_staging PRs: any of: ^deploy/observe-server_staging/
  Label server PRs: any of: ^modules/web/server/
  Label server_new PRs: any of: ^modules/server_new/
  Label server_new-clue PRs: any of: ^modules/server_new-clue/
  Label stateengine PRs: any of: ^modules/stateengine/
