Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Fix BasicConfigurationSubquery for GMOS imaging filter shape
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label schemas PRs

Defer observing mode detail loading to a background stream
  explore/app/src/clue/scala/queries/common/ObservationWithFullModeSubquery.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/common/src/main/scala/explore/utils/extensions.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Drop redundant guideTargetName from ObservationWithFullModeSubquery
  explore/app/src/clue/scala/queries/common/ObservationWithFullModeSubquery.scala
Due: Label explore PRs

Wrap split observation queries in named trace spans
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

Properly split the observations query per mode
  explore/app/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
Due: Label explore PRs, Label schemas PRs

Add gnirs imaging support
  explore/app/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
Due: Label explore PRs, Label schemas PRs

Guard configuration selector while observing mode is loading
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/scala/explore/utils/extensions.scala
Due: Label explore PRs

Refactor decoder for filters
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label schemas PRs

Carry explicitBase into full-mode subquery after rebase
  explore/app/src/clue/scala/queries/common/ObservationWithFullModeSubquery.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/model/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs

Better span naming
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

Cleanup
  docs/observing-mode-query-split.md
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/clue/scala/queries/common/ObservationWithFullModeSubquery.scala
  explore/app/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/model-tests/src/test/scala/explore/model/ProgramSummariesSuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

Add a test to ensure queries for the baseconfiguration and the full per mode remain in sync.
  build.sbt
  explore/app/src/test/scala/queries/common/ObservationSubquerySyncSuite.scala
Due: Label explore PRs

Fixes for observing mode decoders
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/BasicConfigurationSuite.scala
Due: Label schemas PRs

Indicate to the agent to sync the queries for ObservingMode
  CLAUDE.md
Due: none

Revert "Update dependency vite to v8.1.4 (#1132)"
  explore/package.json
  observe/web/client/package.json
  pnpm-lock.yaml
  ui/demo/package.json
Due: Label explore PRs, Label observe PRs, Label ui PRs

Fix gnirs decoders
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/BasicConfigurationSuite.scala
Due: Label schemas PRs

Add script to read the deployed version on each env
  explore/deployed-git-hash.sh
Due: Label explore PRs

Add extra logging for possible initialization crashes
  explore/app/src/main/scala/explore/Explore.scala
Due: Label explore PRs

Patch scala steward job
  .github/workflows/ci.yml
  build.sbt
Due: none

Read the cassRotator option from the model
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/clue/scala/queries/common/ObservationWithFullModeSubquery.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservation.scala
  explore/model/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs

Disable the pos angle constraint and add a label when in cassegrain fixed mode
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Switch observe to use otel instead of natchez
  build.sbt
  observe/deploy/conf/production-gn/logback.xml
  observe/deploy/conf/production-gs/logback.xml
  observe/deploy/conf/staging-gn/logback.xml
  observe/deploy/conf/staging-gs/logback.xml
  observe/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  observe/model/jvm/src/main/scala/observe/model/config/OtelConfiguration.scala
  observe/web/server/src/main/resources/base.conf
  observe/web/server/src/main/resources/logback.xml
  observe/web/server/src/main/scala/observe/web/server/config/package.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label observe PRs

Missing otel resource
  observe/web/server/src/main/scala/observe/web/server/otel/ObserveOtel.scala
Due: Label observe PRs

Rework the observationEdit query to use the reduced observingMode query and avoid the full wide query
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
Due: Label explore PRs

Make createObservation use the reduced query
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
Due: Label explore PRs

Clone now uses a two stage process where we request a clone with the minimal query and then a separate hydration request
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/clue/scala/queries/common/ObservationWithFullModeSubquery.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/test/scala/queries/common/ObservationSubquerySyncSuite.scala
Due: Label explore PRs

Also show the area around the science target in red if sky is too close
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/InteractiveRegion.scala
  explore/model/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
Due: Label explore PRs

scalafmt
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
Due: Label ui PRs

Simplify construction of css map
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/model/InteractiveRegion.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
Due: Label explore PRs, Label ui PRs

Also show when the science targets are too close
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/InteractiveRegion.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
Due: Label explore PRs, Label ui PRs

cleanup
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
Due: Label explore PRs, Label ui PRs

cleanup
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Exclude the area around the science target as allowed to add a sky position
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/model/InteractiveRegion.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

Change the way the subsystem are displayed and make it explicit when they are simulated
  observe/model/jvm/src/main/scala/observe/model/config/SystemsControlConfiguration.scala
  observe/model/shared/src/main/scala/observe/model/package.scala
  observe/web/client/src/main/scala/observe/ui/Icons.scala
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

General improvements to styiling and responsivness
  observe/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

Cleanup
  observe/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

Stylelint
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

Assign sky position the name "Sky"
  observe/server/src/main/scala/observe/server/ghost/package.scala
Due: Label observe PRs

Update visitor query
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
Due: Label schemas PRs

Adapt the queries to read and write scienceFovDiameter when needed
  explore/app/src/main/scala/explore/config/AlienVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
