Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

Label client PRs:
  label:
    add:
    - client
    remove: []

Label client-clue PRs:
  label:
    add:
    - client-clue
    remove: []

Label client-model PRs:
  label:
    add:
    - client-model
    remove: []

Label engine PRs:
  label:
    add:
    - engine
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label observe-server-gn PRs:
  label:
    add:
    - observe-server-gn
    remove: []

Label observe-server-gn-test PRs:
  label:
    add:
    - observe-server-gn-test
    remove: []

Label observe-server-gs PRs:
  label:
    add:
    - observe-server-gs
    remove: []

Label observe-server-gs-test PRs:
  label:
    add:
    - observe-server-gs-test
    remove: []

Label observe-server_staging PRs:
  label:
    add:
    - observe-server_staging
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label server_new PRs:
  label:
    add:
    - server_new
    remove: []

Label server_new-clue PRs:
  label:
    add:
    - server_new-clue
    remove: []

Label stateengine PRs:
  label:
    add:
    - stateengine
    remove: []

atom start/end invocations in ODBProxy
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  project/Settings.scala
Due: Label server_new PRs

fix error row color in dark mode
  modules/web/client/src/main/webapp/styles/prime.scss
Due: Label client PRs

fix breakpoint display
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

ApiClient in state
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label client PRs

refresh sequence after as sequence executes
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Due: Label client PRs

remove debug message
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Due: Label client PRs

incremental visits query
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Due: Label client PRs

auto scroll on load with virtualizer
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

incremental visits query actually working
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs

rename
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Due: Label client PRs

Refactor to reduce code reuse
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

Update
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

Implemented automatic load of science atoms.
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/common/test/package.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
  modules/web_old/client/src/main/scala/observe/web/client/components/SessionQueueTable.scala
  modules/web_old/client/src/main/scala/observe/web/client/components/queue/CalQueueTable.scala
  modules/web_old/client/src/main/scala/observe/web/client/components/tabs/ObserveTabs.scala
  modules/web_old/client/src/main/scala/observe/web/client/components/tabs/SequenceTab.scala
  modules/web_old/client/src/main/scala/observe/web/client/model/ModelOps.scala
Due: Label client PRs, Label engine PRs, Label model PRs, Label server PRs, Label server_new PRs

Move visitIds out of memo
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

ui for prompting extra acquisition atom
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/main/scala/observe/ui/model/enums/OperationRequest.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server_new PRs

fix test
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObservationRequests.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs

remove AtomComplete client event
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObservationRequests.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server_new PRs

remove commented code
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

sequence table fixes
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  project/Settings.scala
Due: Label client PRs

acquisition prompt feedback
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs

better acquisition prompt feedback
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
Due: Label client PRs

update js deps, fix dependabot, update lucuma-react
  .github/dependabot.yml
  modules/web/client/package-lock.json
  modules/web/client/package.json
  modules/web/client/src/main/scala/observe/ui/components/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  project/Settings.scala
Due: Label client PRs

move execution state to table meta
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  project/Settings.scala
Due: Label client PRs

use useEffectStream where possible
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  project/Settings.scala
Due: Label client PRs

nice, smooth, progress bar, finally
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
Due: Label client PRs

Update scala-steward conf
  .scala-steward.conf
Due: none

Update workflow
  .github/workflows/ci.yml
Due: none

bump versions
  modules/model/shared/src/main/scala/observe/model/ModelLenses.scala
  modules/model/shared/src/main/scala/observe/model/SequenceMetadata.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/package-lock.json
  modules/web/client/package.json
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server_new PRs

update versions
  modules/web/client/package-lock.json
  modules/web/client/package.json
  modules/web/client/vite.config.js
Due: Label client PRs

record generated ids
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  project/Settings.scala
Due: Label server_new PRs

edit datasets qa
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/clue/scala/observe/queries/VisitQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs

autoscroll on load and notable status change
  modules/web/client/package-lock.json
  modules/web/client/package.json
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/webapp/styles/prime.scss
Due: Label client PRs

Accept guide configuration commands over the plain http channel
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

show dataset links (if valid)
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  project/Settings.scala
Due: Label client PRs

Update GuideConfigurations
  modules/server_new/src/main/scala/observe/server/tcs/GuideConfigDb.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsConfigRetriever.scala
  modules/server_new/src/test/scala/observe/server/tcs/GuideConfigDbSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
  project/Settings.scala
Due: Label server_new PRs

edit dataset qa with comments
  modules/web/client/src/clue/scala/observe/queries/VisitQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/QaEditor.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/model/EditableQaFields.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs

Modified FITS keywords for software version.
  modules/model/shared/src/main/scala/observe/model/enums/KeywordName.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
Due: Label model PRs, Label server_new PRs

remove unnecessary style
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

pr suggestion
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/QaEditor.scala
Due: Label client PRs

update resize detector lib
  modules/web/client/package-lock.json
  modules/web/client/package.json
  project/Settings.scala
Due: Label client PRs

Path conditions:
  Label client PRs: any of: ^modules/web/client/
  Label client-clue PRs: any of: ^modules/web/client-clue/
  Label client-model PRs: any of: ^modules/web/client-model/
  Label engine PRs: any of: ^modules/engine/
  Label model PRs: any of: ^modules/model/
  Label observe-server-gn PRs: any of: ^deploy/observe-server-gn/
  Label observe-server-gn-test PRs: any of: ^deploy/observe-server-gn-test/
  Label observe-server-gs PRs: any of: ^deploy/observe-server-gs/
  Label observe-server-gs-test PRs: any of: ^deploy/observe-server-gs-test/
  Label observe-server_staging PRs: any of: ^deploy/observe-server_staging/
  Label server PRs: any of: ^modules/web/server/
  Label server_new PRs: any of: ^modules/server_new/
  Label server_new-clue PRs: any of: ^modules/server_new-clue/
  Label stateengine PRs: any of: ^modules/stateengine/
