Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Fix stale blind-offset target read
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnSelector.scala
Due: Label explore PRs, Label ui PRs

Show the sky position in the case there are no targets
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
Due: Label explore PRs

Show GHOST sky position in targets table
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismRow.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/SkyPositionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
Due: Label explore PRs

Add the option to remove the sky position from the targets table
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismRow.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/SkyPositionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
Due: Label explore PRs

The name of the sky depends on the mapping
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Initial structure for sky position in targets table
  explore/app/src/main/scala/explore/targeteditor/AsterismRow.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/SkyPositionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/MotionCorrectedTarget.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
Due: Label explore PRs

Make sky deletion undoable
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Show the aladin view next to the sky position editor
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
Due: Label explore PRs

Refactor the element to show a target is cloned and put it together with the target table
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
Due: Label explore PRs

Add a Target type for sky
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
Due: Label explore PRs

Remove reset button for dev
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

scalafmt
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
Due: Label explore PRs

Add the option to nullify the sky position on the table
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/SkyPositionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
Due: Label explore PRs

Abstract away that sky positions are ghost only
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
Due: Label explore PRs

Missing migration of TopBar
  observe/web/client/src/main/scala/observe/ui/components/TopBar.scala
Due: Label observe PRs

Support adding a sky position for ghost in HR mode
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/InteractiveRegion.scala
Due: Label explore PRs

Find the missing guide probes
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/PwfsGeometry.scala
Due: Label explore PRs, Label ui PRs

Show on ObsBadge if the observation has a Sky position
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/model/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs

fix rebase
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label schemas PRs

move gnris ifu presets to core
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/offsets/Presets.scala
  project/Versions.scala
Due: Label explore PRs

gnirs ifu offsets
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/offsets/Presets.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorType.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigsEditorWithPresets.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

gnirs offsets
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
Due: Label explore PRs

gnirs offsets
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/model/src/main/scala/explore/model/display.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

submodes in gnirs spectroscopy
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Update update-schema.yml
  .github/workflows/update-schema.yml
Due: none

choose cloned step seq type based on original seq type not observe class
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
Due: Label ui PRs

Moved commom types in Navigate to model package.
  navigate/model/src/main/scala/navigate/model/GuideState.scala
  navigate/model/src/main/scala/navigate/model/GuidersQualityValues.scala
  navigate/model/src/main/scala/navigate/model/MechSystemState.scala
  navigate/model/src/main/scala/navigate/model/TargetOffsets.scala
  navigate/model/src/main/scala/navigate/model/TelescopeState.scala
  navigate/model/src/main/scala/navigate/model/enums/FollowStatus.scala
  navigate/model/src/main/scala/navigate/model/enums/ParkStatus.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/CrcsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/McsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/ScsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

seq editor exposure time with decimals on supported instruments
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowFormatters.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

simplify logic
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowFormatters.scala
Due: Label ui PRs

Change the way we add sky position, it must be requested from the target menu
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/InteractiveRegion.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetVisualization.scala
Due: Label explore PRs, Label schemas PRs

Extract ghost specific code out of ConfigurationForVisualization
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/GhostSkySlot.scala
  explore/common/src/main/scala/explore/model/InteractiveRegion.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/common/src/main/scala/explore/model/GhostSkySlot.scala
Due: Label explore PRs

Added aperture parameter to shutter mode Tracking.
  navigate/model/src/main/scala/navigate/model/Distance.scala
  navigate/model/src/main/scala/navigate/model/enums/AoFoldPosition.scala
  navigate/model/src/main/scala/navigate/model/enums/CentralBafflePosition.scala
  navigate/model/src/main/scala/navigate/model/enums/DeployableBafflePosition.scala
  navigate/model/src/main/scala/navigate/model/enums/DomeMode.scala
  navigate/model/src/main/scala/navigate/model/enums/HrwfsPickupPosition.scala
  navigate/model/src/main/scala/navigate/model/enums/LightSource.scala
  navigate/model/src/main/scala/navigate/model/enums/ServerLogLevel.scala
  navigate/model/src/main/scala/navigate/model/enums/ShutterMode.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/package.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

bump itc cache version
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

lint
  explore/heroku/static.json.md
Due: Label explore PRs

gnirs imaging phase 0
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Changes for custom exchange partner submission deadlines
  explore/app/src/clue/scala/queries/common/CallForProposalsSubquery.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  explore/model/src/main/scala/explore/CallProperties.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Delete heroku deployment files.
  explore/heroku/static.json
  explore/heroku/static.json.md
Due: Label explore PRs

More entries added to Navigate backend API.
  navigate/model/src/main/scala/navigate/model/EnclosureState.scala
  navigate/model/src/main/scala/navigate/model/TelescopeState.scala
  navigate/model/src/main/scala/navigate/model/enums/QlMode.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

gnirs imaging mode
  build.sbt
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GnirsImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsImagingSequenceTable.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  project/Dependencies.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ModeSignalToNoise.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbModeSignalToNoise.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
