Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label app PRs, Label app-clue PRs, Label client PRs, Label client-clue PRs, Label client-model PRs, Label common PRs, Label css PRs, Label demo PRs, Label deploy PRs, Label epics PRs, Label lib PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label schema-util PRs, Label server PRs, Label server-clue PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs, Label testkit PRs, Label tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label app PRs
  conditions:
  - files~=^explore/app/
  actions:
    label:
      add:
      - app
      remove: []
- name: Label app-clue PRs
  conditions:
  - files~=^explore/app-clue/
  actions:
    label:
      add:
      - app-clue
      remove: []
- name: Label client PRs
  conditions:
  - files~=^modules/web/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label client-clue PRs
  conditions:
  - files~=^modules/web/client-clue/
  actions:
    label:
      add:
      - client-clue
      remove: []
- name: Label client-model PRs
  conditions:
  - files~=^modules/web/client-model/
  actions:
    label:
      add:
      - client-model
      remove: []
- name: Label common PRs
  conditions:
  - files~=^explore/common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label css PRs
  conditions:
  - files~=^ui/css/
  actions:
    label:
      add:
      - css
      remove: []
- name: Label demo PRs
  conditions:
  - files~=^modules/ui/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label deploy PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - deploy
      remove: []
- name: Label epics PRs
  conditions:
  - files~=^navigate/epics/
  actions:
    label:
      add:
      - epics
      remove: []
- name: Label lib PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - lib
      remove: []
- name: Label model PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^explore/model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^explore/model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label schema-util PRs
  conditions:
  - files~=^navigate/schema-util/
  actions:
    label:
      add:
      - schema-util
      remove: []
- name: Label server PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server-clue PRs
  conditions:
  - files~=^navigate/server-clue/
  actions:
    label:
      add:
      - server-clue
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^navigate/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^explore/workers/
  actions:
    label:
      add:
      - workers
      remove: []

Revert test changes
  .github/workflows/npm.yml
  build.sbt
Due: none

add and adapt missing docs
  README.md
  navigate/README.md
  schemas/README.md
Due: none

update docs
  DESIGN.md
  README.md
  StepIndex.md
  observe/README.md
  pg-image.txt
  queries.sql
Due: none

scala-steward
  .gitignore
  .scala-steward.conf
  README.md
Due: none

Setup npm workspace
  .github/workflows/ci.yml
  .npmrc
  build.sbt
  explore/package-lock.json
  explore/package.json
  observe/web/.npmrc
  observe/web/client/.npmrc
  observe/web/client/package-lock.json
  observe/web/client/package.json
  package-lock.json
  package.json
  schemas/package-lock.json
  ui/demo/.npmrc
  ui/demo/package-lock.json
  ui/demo/package.json
Due: none

Add resize-observer dep to explore
  explore/package.json
  package-lock.json
Due: none

Update config and remove unused files
  .github/dependabot.yml
  .github/renovate.json
  explore/.scala-steward.conf
  explore/.scalafix-common.conf
  explore/.scalafix.conf
  explore/.scalafmt-common.conf
  explore/.scalafmt.conf
  observe/web/.github/workflows/ci.yml
  observe/web/.github/workflows/clean.yml
  observe/web/client/project/build.properties
  renovate.json
Due: none

Move config
  .github/renovate.json
  renovate.json
Due: none

Add job to update odb schema
  .github/workflows/update-schema.yml
Due: none

Only update munit, not munitscalacheck
  project/Versions.scala
Due: none

Update deprecation tags in schema
  package-lock.json
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update vite configs
  explore/vite.config.mts
  observe/web/client/vite.config.mts
  ui/demo/vite.config.mts
Due: none

Mark StreamSpec test as flaky
  explore/common/src/test/scala/explore/utils/StreamSpec.scala
Due: Label common PRs

npm dedupe
  package-lock.json
Due: none

Use react plugin
  explore/package.json
  explore/vite.config.mts
  observe/web/client/package.json
  observe/web/client/vite.config.mts
  package-lock.json
Due: none

Update scss warnings
  .scala-steward.conf
  build.sbt
  explore/common/src/main/webapp/sass/explore-primereact.scss
  observe/web/client/src/main/webapp/styles/prime.scss
  ui/demo/src/main/webapp/aladin.jsx
  ui/demo/src/main/webapp/main.jsx
Due: Label common PRs

Update import extension
  .gitignore
  explore/common/src/main/webapp/sass/explore-primereact.scss
Due: Label common PRs

Use fromAutoClosable
  navigate/epics/src/main/scala/navigate/epics/EpicsService.scala
Due: Label epics PRs

Explicitly add resize-observer dep to observe
  observe/web/client/package.json
  package-lock.json
Due: none

checkpoint
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc.json
  explore/package.json
  package-lock.json
  package.json
Due: none

lint and fix commands working
  .gitignore
  .stylelintrc.json
  build.sbt
  explore/common/src/main/webapp/sass/explore.scss
Due: Label common PRs

add explore lint to ci
  .github/workflows/ci.yml
  build.sbt
Due: none

aggregate
  build.sbt
Due: none

remove linting deps from explore
  explore/package.json
  package-lock.json
Due: none

change dependency bot actor
  .github/workflows/ci.yml
  build.sbt
Due: none

update prettier ignore
  .prettierignore
Due: none

run prettier
  .prettierignore
  README.md
  explore/common/src/main/public/uninstall.html
  explore/common/src/main/webapp/css/github-markdown.css
  explore/vite.config.mts
  navigate/README.md
  observe/README.md
  observe/deploy/scripts/README.md
  observe/web/client/src/main/webapp/index.html
  observe/web/client/src/main/webapp/main.jsx
  observe/web/client/src/main/webapp/styles/observe.scss
  observe/web/client/src/main/webapp/styles/prime.scss
  observe/web/client/src/main/webapp/styles/style.scss
  observe/web/client/vite.config.mts
  schemas/fetchODBSchema.mjs
  schemas/lib/src/test/resources/cs1.json
  schemas/lib/src/test/resources/pac1.json
  schemas/lib/src/test/resources/pac2.json
  schemas/lib/src/test/resources/pac3.json
  schemas/lib/src/test/resources/pac4.json
  schemas/lib/src/test/resources/t2.json
  schemas/lib/src/test/resources/t3.json
  schemas/lib/src/test/resources/t4.json
  schemas/lib/src/test/resources/tw1.json
  schemas/lib/src/test/resources/visitNoSequence.json
  schemas/tests/jvm/src/test/resources/obsmode.json
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-common.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-layout.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-login.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-table.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/resources/lucuma-css/solar-system.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label common PRs

fix dev deps for linting
  explore/package.json
  package-lock.json
  package.json
Due: none

stylelint fixes
  explore/common/src/main/webapp/sass/explore-primereact.scss
  observe/web/client/src/main/webapp/styles/prime.scss
Due: Label common PRs

Update strange rollup version
  package-lock.json
Due: none

Add vscode settings and recommended extensions
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Also publish npm schema on tags
  .github/workflows/npm.yml
Due: none

Update renovate config
  .github/renovate.json
Due: none

fix versions
  build.sbt
  project/Versions.scala
Due: none

lint with all vars, include observe
  build.sbt
  explore/common/src/main/webapp/sass/explore.scss
  observe/web/client/package.json
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/webapp/styles/observe.scss
  observe/web/client/src/main/webapp/styles/prime.scss
Due: Label common PRs

minor fixes, change task names
  build.sbt
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/webapp/styles/prime.scss
Due: none

lint ui scss
  .stylelintignore
  build.sbt
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-side-tabs.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-table.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
Due: none

uncomment
  build.sbt
Due: none

regenerate workflow
  .github/workflows/ci.yml
Due: none
