Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Rename classicalObserver field
  explore/app/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/app/src/main/scala/explore/services/OdbProgramApi.scala
  explore/app/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/app/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/model-testkit/shared/src/main/scala/explore/model/arb/ArbProgramUser.scala
  explore/model/src/main/scala/explore/model/ProgramUser.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

gnirs acquisition panel
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

better looking acq panel for gnirs
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

remove commented code
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
Due: Label explore PRs

Library updates
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GhostAtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GhostDynamicConfigSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
Due: Label schemas PRs

Default obsTime to the start of the day
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
Due: Label explore PRs

Restore explore model tests lost after removing the cross compilation
  build.sbt
  explore/model-testkit/src/main/scala/explore/boopickle/package.scala
  explore/model-testkit/src/main/scala/explore/events/arb/ArbCatalogMessage.scala
  explore/model-testkit/src/main/scala/explore/events/arb/ArbPlotMessage.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbAsterismVisualOptions.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbBlindOffset.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbExecution.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbKeyedIndexedList.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbKeyedIndexedTree.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObsIdSet.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservation.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservationTargets.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbPartnerSplit.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProgramUser.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposal.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbTree.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbUser.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbUserInvitation.scala
  explore/model-testkit/src/main/scala/explore/model/arb/CogenUUID.scala
  explore/model-testkit/src/main/scala/explore/model/arb/package.scala
  explore/model-tests/src/test/scala/explore/data/KeyedIndexedListSuite.scala
  explore/model-tests/src/test/scala/explore/data/KeyedIndexedTreeSuite.scala
  explore/model-tests/src/test/scala/explore/data/TreeSuite.scala
  explore/model-tests/src/test/scala/explore/events/EventsBoopickleSuite.scala
  explore/model-tests/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  explore/model-tests/src/test/scala/explore/model/FormatsSuite.scala
  explore/model-tests/src/test/scala/explore/model/ModelSuite.scala
  explore/model-tests/src/test/scala/explore/model/ObsIdSetSuite.scala
  explore/model-tests/src/test/scala/explore/model/ObservationSuite.scala
  explore/model-tests/src/test/scala/explore/model/ObservationTargetsSuite.scala
  explore/model-tests/src/test/scala/explore/model/ProgramSummariesSuite.scala
  explore/model-tests/src/test/scala/explore/model/TargetEditCloneInfoSuite.scala
  explore/model-tests/src/test/scala/explore/model/boopickle/BoopickleSuite.scala
  explore/model-tests/src/test/scala/explore/optics/ModelOpticsSuite.scala
Due: Label explore PRs

Fix AGS worker cache misses
  explore/model-testkit/src/main/scala/explore/boopickle/package.scala
  explore/model-tests/src/test/scala/explore/events/AgsRequestKeySuite.scala
  explore/model/src/main/scala/explore/model/boopickle/BoopicklePlatform.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/Cache.scala
Due: Label explore PRs

Store cache writes in the background.
  explore/workers/src/main/scala/workers/Cache.scala
Due: Label explore PRs

Don't calculate partol fields for viz unless requested
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
Due: Label explore PRs

Potential fix for pull request finding
  explore/model-tests/src/test/scala/explore/events/AgsRequestKeySuite.scala
Due: Label explore PRs

Add comments as suggested
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/model/src/main/scala/explore/model/boopickle/BoopicklePlatform.scala
  explore/workers/src/main/scala/workers/Cache.scala
  project/Versions.scala
Due: Label explore PRs

Add menu entry for the feedback form
  explore/app/src/main/scala/explore/TopBar.scala
  explore/common/src/main/scala/explore/Icons.scala
Due: Label explore PRs

Update core
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  observe/server/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  project/Versions.scala
Due: Label explore PRs, Label navigate PRs, Label observe PRs

SC-8793 Use fixed port for Zorro and Alopeke.
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/SwapConfig.scala
  navigate/model/src/main/scala/navigate/model/TcsConfig.scala
  navigate/model/src/main/scala/navigate/model/enums/LightSink.scala
  navigate/model/src/main/scala/navigate/model/enums/LightSinkVariant.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/LightPath.scala
  navigate/server/src/main/scala/navigate/server/tcs/ScienceFold.scala
  navigate/server/src/main/scala/navigate/server/tcs/ScienceFoldPositionCodex.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/package.scala
  navigate/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

All reverting and changing the configuration of obs with edited sequence
  explore/app/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbExecution.scala
  explore/model/src/main/scala/explore/model/Execution.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/DeleteSequenceQueryGql.scala
Due: Label explore PRs, Label schemas PRs

Cache Aladin asterism preferences to avoid loading them each time
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/common/src/main/scala/explore/model/UserPreferences.scala
Due: Label explore PRs

Add queries and decoder to get flamingos 2 modes in the table
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/model/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Include exposure time modes in the observation summaries
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs

Formatting changes for ghost in dropdown
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs

Normalize and don't display @ wavelength for imaging in dropdown
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs

Add calls to itc for imaging
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Fix a bug setting the log level preferences
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
Due: Label explore PRs

intermediate commit
  .vscode/settings.json
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/GnirsAcquisitionSkyOffsetSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/GnirsDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

apply changes to gnirs acquisition mode model
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  project/Versions.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/GnirsAcquisitionSkyOffsetSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/GnirsDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

limit gnirs acquisition filters
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
Due: Label explore PRs

gnirs acquisition
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsSequenceTable.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: Label explore PRs, Label schemas PRs

merge schema
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

update schema
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

core version
  project/Versions.scala
Due: none

fix arbitraries
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

add missing agsParams cases
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
Due: Label explore PRs

Disable blind offset buttons if there are no science targets
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
Due: Label explore PRs

scalafix
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Add Flamingos2Imaging to BasicConfiguration
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label schemas PRs

ObservingModeInput for Flamingos2Imaging
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label schemas PRs

Add Flamingos2Imaging to ObservingMode model
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label schemas PRs

Build Flamingos2Imaging config for imaging
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
Due: Label explore PRs

Wire Flamingos2Imaging through summary, readback and viz
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
Due: Label explore PRs, Label schemas PRs

Allow empty Flamingos2Imaging spatial offsets
  explore/app/src/main/scala/explore/TopBar.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
