Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

Label client PRs:
  label:
    add:
    - client
    remove: []

Label client-clue PRs:
  label:
    add:
    - client-clue
    remove: []

Label client-model PRs:
  label:
    add:
    - client-model
    remove: []

Label engine PRs:
  label:
    add:
    - engine
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label observe-server-gn PRs:
  label:
    add:
    - observe-server-gn
    remove: []

Label observe-server-gn-test PRs:
  label:
    add:
    - observe-server-gn-test
    remove: []

Label observe-server-gs PRs:
  label:
    add:
    - observe-server-gs
    remove: []

Label observe-server-gs-test PRs:
  label:
    add:
    - observe-server-gs-test
    remove: []

Label observe-server_staging PRs:
  label:
    add:
    - observe-server_staging
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label server_new PRs:
  label:
    add:
    - server_new
    remove: []

Label server_new-clue PRs:
  label:
    add:
    - server_new-clue
    remove: []

Label stateengine PRs:
  label:
    add:
    - stateengine
    remove: []

fix test
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label server_new PRs

log model
  modules/model/shared/src/main/scala/observe/model/enums/ObserveLogLevel.scala
  modules/model/shared/src/main/scala/observe/model/enums/ServerLogLevel.scala
  modules/model/shared/src/main/scala/observe/model/events/LogMessage.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/LogArea.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web_old/client/src/main/scala/observe/web/client/model/SectionVisibilityState.scala
Due: Label client PRs, Label client-model PRs, Label model PRs

basic logic for showing log
  modules/model/shared/src/main/scala/observe/common/FixedLengthBuffer.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/LogArea.scala
Due: Label client PRs, Label client-model PRs, Label model PRs

ui improvements, arbitraries
  modules/model/shared/src/main/scala/observe/common/arb/ArbFixedLengthBuffer.scala
  modules/model/shared/src/main/scala/observe/model/LogMessage.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbLogMessage.scala
  modules/model/shared/src/test/scala/observe/common/FixedLengthBufferSuite.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/LogArea.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label model PRs

Library updates
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestRoutes.scala
  project/Settings.scala
Due: Label engine PRs, Label server PRs

standardize names
  modules/model/shared/src/main/scala/observe/model/LogMessage.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbLogMessage.scala
  modules/model/shared/src/main/scala/observe/model/enums/ObserveLogLevel.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client/src/main/scala/observe/ui/components/LogArea.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

names part 2
  modules/web/client/src/main/scala/observe/ui/components/LogArea.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs

better log formatting
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/LogArea.scala
Due: Label client PRs

avoid showing acquisition nextAtom, fix step buttons
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

Try to deploy observe-gn-dev to heroku
  deploy/src/main/resources/conf/app.conf
Due: none

Try to deploy to both sites
  .github/workflows/ci.yml
  build.sbt
  deploy/src/main/resources/conf/app.conf
Due: none

Use an env variable to load the SSO public key
  deploy/src/main/resources/conf/app.conf
Due: none

Build for linux/amd64, useful for local deployments
  build.sbt
Due: none

send notifications on the test instances
  deploy/src/main/resources/conf/app.conf
Due: none

explicit table sorting, attachment migration, sass syntax
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/webapp/styles/prime.scss
  project/Settings.scala
Due: Label client PRs, Label client-model PRs

remove debug code
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
Due: Label client PRs

Use odb breakpoints when creating the engine steps
  modules/engine/src/main/scala/observe/engine/EngineStep.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
Due: Label engine PRs, Label server_new PRs

Don't load obs attachments
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
Due: Label client PRs, Label client-model PRs

Attempt to fix heroku deployment
  .github/workflows/ci.yml
  build.sbt
Due: none

links to explore
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/model/shared/src/main/scala/observe/model/ClientConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientConfig.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label client PRs, Label model PRs, Label server PRs

add explore url to all configurations
  deploy/confs/gn-test/app.conf
  deploy/confs/gn/app.conf
  deploy/confs/gs-test/app.conf
  deploy/confs/gs/app.conf
  deploy/confs/local/app.conf
  deploy/src/main/resources/conf/app.conf
Due: none

Remove unused prism
  modules/model/shared/src/main/scala/observe/model/ModelLenses.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
Due: Label model PRs

switch breakpoints also in focused step
  modules/engine/src/main/scala/observe/engine/Sequence.scala
Due: Label engine PRs

Use the site to generate filenames
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/test/scala/observe/server/keywords/DhsClientSimSpec.scala
Due: Label server_new PRs

Hide buttons to collapse/hide visits if there are no visits
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

Use githubWorkflowJobSetup instead of manual setup steps
  .github/workflows/ci.yml
  build.sbt
Due: none

correctly estimate row height in sequence table
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

row heights in lucuma-ui
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  project/Settings.scala
Due: Label client PRs

remove unused import
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

Improve how aborted steps are presented
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs, Label engine PRs

move theme vars to lucuma-ui
  modules/web/client/src/main/webapp/styles/prime.scss
  modules/web/server/src/main/resources/app.conf
  project/Settings.scala
Due: Label client PRs, Label server PRs

show obsid when obs reference is none
  modules/model/shared/src/main/scala/observe/model/ClientConfig.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
Due: Label client PRs, Label client-model PRs, Label model PRs

Use stepAbort for aborting a step
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

bump libraries, scala 3.6 migration
  build.sbt
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/model/shared/src/main/scala/observe/model/ActionType.scala
  modules/model/shared/src/main/scala/observe/model/LogMessage.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  modules/web/client/vite.config.js
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Due: Label client PRs, Label engine PRs, Label model PRs, Label server PRs, Label server_new PRs

regenerate workflow
  .github/workflows/ci.yml
Due: none

indicate executed steps status
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs

disable subsystem configuration during observation
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
Due: Label client PRs

show current aborted step as idle
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

Send a event to the ODB when a step is stopped in the middle
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

Path conditions:
  Label client PRs: any of: ^modules/web/client/
  Label client-clue PRs: any of: ^modules/web/client-clue/
  Label client-model PRs: any of: ^modules/web/client-model/
  Label engine PRs: any of: ^modules/engine/
  Label model PRs: any of: ^modules/model/
  Label observe-server-gn PRs: any of: ^deploy/observe-server-gn/
  Label observe-server-gn-test PRs: any of: ^deploy/observe-server-gn-test/
  Label observe-server-gs PRs: any of: ^deploy/observe-server-gs/
  Label observe-server-gs-test PRs: any of: ^deploy/observe-server-gs-test/
  Label observe-server_staging PRs: any of: ^deploy/observe-server_staging/
  Label server PRs: any of: ^modules/web/server/
  Label server_new PRs: any of: ^modules/server_new/
  Label server_new-clue PRs: any of: ^modules/server_new-clue/
  Label stateengine PRs: any of: ^modules/stateengine/
