Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Use parseSED if possible
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/common/src/main/public/match_sed_log_g.csv
  explore/common/src/main/public/match_sed_stars.dat
  explore/vite.config.mts
  project/Versions.scala
Due: Label explore PRs

Inculed pm line for the selected guide star
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Enable patrol field shapes on dev
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

styles
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

correct sequence type edit
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
Due: Label ui PRs

better sequence edit semantics, allow full seq editing
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

preliminary editing working
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label ui PRs

checkpoint
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

kind of working
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/common/src/main/scala/explore/components/Tile.scala
Due: Label explore PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label explore PRs, Label ui PRs

shadow mechanism for editing sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label ui PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

fix observe
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label observe PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  project/Versions.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
Due: Label explore PRs, Label ui PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label explore PRs, Label ui PRs

cloning logic in sequence editor
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label ui PRs

SC-7453 Implemented TCS ephemeris files service.
  navigate/server/src/clue/scala/navigate/queries/ObsQueriesGQL.scala
  navigate/server/src/main/scala/navigate/server/OdbProxy.scala
  navigate/server/src/main/scala/navigate/server/Systems.scala
  navigate/server/src/main/scala/navigate/server/ephemeris/EphemerisFile.scala
  navigate/server/src/main/scala/navigate/server/ephemeris/EphemerisUpdater.scala
  navigate/server/src/test/scala/navigate/server/ephemeris/EphemerisUpdaterSpec.scala
  navigate/web/server/src/main/resources/base.conf
Due: Label navigate PRs

SC-7453 Remove duplicated targets when updating ephemeris files.
  navigate/server/src/main/scala/navigate/server/OdbProxy.scala
Due: Label navigate PRs

Tile as component template
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/app/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/app/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/app/src/main/scala/explore/itc/ItcEmptyTile.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/itc/ItcTileState.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/notes/NotesTile.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/app/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/proposal/ProposalErrorsTile.scala
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/app/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/app/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/app/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/common/src/main/scala/explore/components/Tile.scala
  explore/common/src/main/scala/explore/components/TileContents.scala
Due: Label explore PRs

SC-7453 Don't ignore Horizons connection errors.
  navigate/server/src/main/scala/navigate/server/ephemeris/EphemerisUpdater.scala
Due: Label navigate PRs

remove tons of commented code (and add clarifying comment)
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/app/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/common/src/main/scala/explore/components/Tile.scala
Due: Label explore PRs

Fix error when selecting an existing imaging mode
  explore/model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs

Show all CCD data on the imaging ITC panel
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/app/src/main/scala/explore/itc/ItcTileState.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/shared/src/main/scala/explore/events/ItcMessage.scala
  explore/model/shared/src/main/scala/explore/model/itc/package.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Address review comments
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/itc/ItcTileState.scala
Due: Label explore PRs

scalafix
  explore/model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label explore PRs

Renumber CCDs starting with 1 in header
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
Due: Label explore PRs

SC-7453 Improved logging for ephemeris refresh command.
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/ephemeris/EphemerisUpdater.scala
  navigate/web/server/src/main/resources/base.conf
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Fix OneOf regression for SED input
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/package.scala
Due: Label explore PRs

Fix configurations filtering for sidereal targets
  explore-sparse-checkout
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/scala/explore/model/ObservationRegionsOrCoordinatesAt.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
Due: Label explore PRs

kind of working
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

reinstate tile title blank button
  explore/common/src/main/scala/explore/components/Tile.scala
Due: Label explore PRs

looks nice
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
Due: Label ui PRs
