Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

contemplate coadds and readout in step progress bar
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label observe PRs, Label ui PRs

show slit width in pixels in tooltip for gnirs rows
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

render s/n for gnirs in observe
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
Due: Label observe PRs

fix servers version
  project/Dependencies.scala
  project/Versions.scala
Due: none

gnirs imaging guiding
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label ui PRs

gnirs imaging support in observe
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GnirsImagingSequenceTable.scala
Due: Label observe PRs

pass filter to gnirs imaging geometry
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GnirsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label ui PRs

gnirs imaging visualization
  ui/lib/src/main/scala/lucuma/ui/visualization/GnirsGeometry.scala
Due: Label ui PRs

gnirs ifu guiding
  explore/app/src/main/scala/explore/config/GnirsImagingConfigPanel.scala
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  observe/web/server/src/main/resources/base.conf
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GnirsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

revert base
  observe/web/server/src/main/resources/base.conf
Due: Label observe PRs

fix core version
  project/Versions.scala
Due: none

Show per-detector total time including overheads provided by the odb
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: Label explore PRs, Label schemas PRs

Gray out the time label on config edit
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
Due: Label explore PRs

Show a label when we are on "add sky pos" mode
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

Update the cursor and message
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

Change the cursor when on the sky mode
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

Allow pressing esc to cancel the sky mode
  explore/app/src/main/scala/explore/shortcuts.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
Due: Label explore PRs

linting
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label ui PRs

Add a tooltip to the base position
  .gitignore
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label explore PRs, Label ui PRs

Read the base position from the odb
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasePosition.scala
  schemas/model/src/main/scala/lucuma/schemas/model/enums/BasePositionType.scala
Due: Label explore PRs, Label schemas PRs

Rename css for the sky mode cursors
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

scalafix
  navigate/model/src/main/scala/navigate/model/GuideState.scala
  navigate/model/src/main/scala/navigate/model/MechSystemState.scala
Due: Label navigate PRs

Use new shape of ExecutionDigest in odb query
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Remove deprecated timingWindows from observe ObsSummary query and model
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  observe/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
Due: Label observe PRs

Switch to use the explicitBasePosition field
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservation.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasePosition.scala
  schemas/model/src/main/scala/lucuma/schemas/model/enums/BasePositionType.scala
Due: Label explore PRs, Label schemas PRs

Ags should consider the base position override if present
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs

Show the program title on the top bar
  explore/app/src/main/scala/explore/TopBar.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Use DistanceInput for input types
  navigate/web/server/src/main/resources/navigate.graphql
Due: Label navigate PRs

Mobile only adjustmments
  explore/app/src/main/scala/explore/TopBar.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Cleanup
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-common.scss
Due: Label explore PRs, Label ui PRs

Show the separator whenever there is a program name
  explore/app/src/main/scala/explore/TopBar.scala
Due: Label explore PRs

scalafmt
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
Due: Label explore PRs

Hide the getting started button depending on user prefs
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/main/scala/explore/TopBar.scala
  explore/hasura/user-prefs/migrations/default/1783692493150_alter_table_public_lucumaUserPreferences_add_column_exploreGuideButton/down.sql
  explore/hasura/user-prefs/migrations/default/1783692493150_alter_table_public_lucumaUserPreferences_add_column_exploreGuideButton/up.sql
  explore/model/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

Add a selector to hide/show the Getting Started button
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label explore PRs

Don't requery the user ids from sso in the user preferences dialog box
  explore/app/src/clue/scala/queries/common/SSOQueriesGQL.scala
  explore/app/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label explore PRs

css adjustment
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-prime.scss
Due: Label ui PRs

Split observingMode fetch into summary + per-instrument detail phases
  docs/observing-mode-query-split.md
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservation.scala
  explore/model-tests/src/test/scala/explore/model/ProgramSummariesSuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

Keep full ObservingMode on mutations and the delta subscription
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ObservationWithFullModeSubquery.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
