Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

fix sequence row ids
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  observe/web/server/src/main/resources/base.conf
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
  ui/testkit/src/main/scala/lucuma/ui/sequence/arb/ArbSelectedRowId.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

migrate to new events api for stored sequences
  .vscode/settings.json
  observe/model/shared/src/main/scala/observe/model/arb/ArbObsRecordedIds.scala
  observe/model/shared/src/main/scala/observe/model/odb/RecordedIds.scala
  observe/server_new/src/clue/scala/observe/common/EventsGQL.scala
  observe/server_new/src/main/scala/observe/server/InstrumentActions.scala
  observe/server_new/src/main/scala/observe/server/ObserveActions.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Event.scala
  observe/server_new/src/main/scala/observe/server/engine/SystemEvent.scala
  observe/server_new/src/main/scala/observe/server/events/package.scala
  observe/server_new/src/main/scala/observe/server/gmos/GmosInstrumentActions.scala
  observe/server_new/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  observe/server_new/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommands.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label observe PRs, Label schemas PRs

Update message for safari users
  ui/lib/src/main/scala/lucuma/ui/components/UserSelectionForm.scala
Due: Label ui PRs

checkpoint
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  observe/server_new/src/main/scala/observe/server/ObserveActions.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label explore PRs, Label observe PRs

hide seq edit columns in observe
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label observe PRs

Fix navigation via keyboard shortcuts
  explore/app/src/main/scala/explore/shortcuts.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

checkpoint
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  observe/web/server/src/main/resources/base.conf
  schemas/model/src/main/scala/lucuma/schemas/model/Visit.scala
Due: Label observe PRs, Label schemas PRs

Reuse common focusObs method
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/validations/ObservationValidationsTable.scala
Due: Label explore PRs

Add shortcut to cycle the units
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/shortcuts.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

implement missing events, refactor
  observe/server_new/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  observe/server_new/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommands.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Due: Label observe PRs

Support the case the itc returns more than one series for an instrument like igrins2
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label explore PRs

Show plot bands for different ccds
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
Due: Label explore PRs

Hide the on chart labels
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label explore PRs

scalafix
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
Due: Label explore PRs

Pass groupsChildren as a param to react to changes on observations
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Don't allow the y axis to be negative
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label explore PRs

record step pause and continue events
  observe/server_new/src/main/scala/observe/server/ObserveActions.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
Due: Label observe PRs

notify odb on sequence pause
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommands.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

notify odb of breakpoint and acq promp pauses
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label observe PRs

notify odb of obs continued after acq prompt
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label observe PRs

Add dependency to global hotkeys hook
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Convert ObsTabContents to monadic style
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

unified qa editor working from observe
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceQaEditHelper.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label observe PRs, Label ui PRs

edit qa in explore
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/package.json
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  pnpm-lock.yaml
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceQaEditHelper.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

move qa editor to ui project
  observe/web/client/src/main/scala/observe/ui/Icons.scala
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  observe/web/client/src/main/webapp/styles/observe.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/EditableQaFields.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/QaEditor.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceIcons.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
Due: Label observe PRs, Label ui PRs

move qa editor logic to ui project
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/services/OdbVisitApi.scala
  explore/app/src/main/scala/explore/services/OdbVisitApiImpl.scala
  observe/web/client/src/clue/scala/observe/queries/VisitQueriesGQL.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/TimestampIntervalSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/VisitQueriesGQL.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceQaEditHelper.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

move ToastCtx and extensions to ui project
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/ObsReferenceResolver.scala
  explore/app/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/app/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/app/src/main/scala/explore/attachments/package.scala
  explore/app/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/app/src/main/scala/explore/common/ScienceQueries.scala
  explore/app/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/app/src/main/scala/explore/components/FileUploadButton.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/app/src/main/scala/explore/observationtree/package.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/SemesterPlot.scala
  explore/app/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/app/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/app/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/app/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/app/src/main/scala/explore/services/OdbApiImpl.scala
  explore/app/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/users/UserPreferencesPopup.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/common/src/main/scala/explore/utils/extensions.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/ToastCtx.scala
  ui/lib/src/main/scala/lucuma/ui/syntax/toast.scala
Due: Label explore PRs, Label ui PRs

remove deferred from ToastRef
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/RootComponent.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  observe/web/client/src/main/scala/observe/ui/components/Layout.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/model/AppContext.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/ToastCtx.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceQaEditHelper.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

lint
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
Due: Label ui PRs

Update itc schema and better error messages for out of range wavelength
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/shared/src/main/scala/explore/model/itc/package.scala
  explore/workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  project/Versions.scala
Due: Label explore PRs

Sometimes the odb send duplicated error messages, filter them out
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

fix odb simulator for new model
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

adapt explore to new record api
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  schemas/lib/src/test/resources/visitGmosNorth.json
  schemas/lib/src/test/resources/visitGmosSouth.json
  schemas/lib/src/test/resources/visitsQuery.graphql
  schemas/lib/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  schemas/model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label observe PRs, Label schemas PRs, Label ui PRs

reinstate accidentally deleted property in query
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
Due: Label schemas PRs

remove commented code, revert conf
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/server/src/main/resources/base.conf
Due: Label observe PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
