Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

stylelint
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Truncate log messages in app and workers
  explore/app/src/main/scala/explore/Explore.scala
  explore/common/src/main/scala/explore/utils/logging.scala
  explore/workers/src/main/scala/workers/WorkerServer.scala
Due: Label explore PRs

Update lucuma-core
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label schemas PRs

Require a complete profile of every investigator
  explore/app/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/model-tests/src/test/scala/explore/model/ProposalErrorsSuite.scala
  explore/model/src/main/scala/explore/Proposal.scala
  project/Versions.scala
Due: Label explore PRs

core version
  project/Versions.scala
Due: none

Make the incomplete-profile warnings visible
  explore/app/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/model-tests/src/test/scala/explore/model/ProposalErrorsSuite.scala
  explore/model/src/main/scala/explore/Proposal.scala
  project/Versions.scala
Due: Label explore PRs

Default consider for band 3 to CONSIDER
  explore/model/src/main/scala/explore/ProposalType.scala
Due: Label explore PRs

remove program filter when adding new one
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
  explore/app/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label explore PRs

Track the PDF summary regeneration in the ODB
  explore/app/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProposalQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProposalSummaryGenerationSubquery.scala
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/app/src/main/scala/explore/services/OdbProgramApi.scala
  explore/app/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/app/src/main/scala/explore/services/OdbProposalApi.scala
  explore/app/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model-tests/src/test/scala/explore/model/ProgramSummariesSuite.scala
  explore/model/src/main/scala/explore/model/ProgramAttachments.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
  explore/model/src/main/scala/explore/model/ProposalSummaries.scala
  explore/model/src/main/scala/explore/model/ProposalSummaryGeneration.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/model/src/main/scala/lucuma/schemas/model/enums/ProposalSummaryGenerationState.scala
Due: Label explore PRs, Label schemas PRs

cleanup
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
  explore/model/src/main/scala/explore/model/ProgramAttachments.scala
Due: Label explore PRs

Show the time for the generated pdf
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
Due: Label explore PRs

Add help indicator and some icon updates
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Use the new lucuma-core enum
  explore/app/src/main/scala/explore/proposal/ProposalPdfSummaryTile.scala
  explore/model/src/main/scala/explore/model/ProposalSummaryGeneration.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/model/src/main/scala/lucuma/schemas/model/enums/ProposalSummaryGenerationState.scala
Due: Label explore PRs, Label schemas PRs

Read the explicit guide probe
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservation.scala
  explore/model/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs

Use the actual guideProbe when needed
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgs.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GnirsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Igrins2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/PwfsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisitorGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label ui PRs

Add a control to override the guider
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/display/package.scala
Due: Label explore PRs, Label ui PRs

Show the guide control dropdown on top of aladin
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/GuideProbeControl.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Selecting a guide probe is undoable
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Cleanup
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/GuideProbeControl.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GnirsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Igrins2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/PwfsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisitorGeometry.scala
Due: Label explore PRs, Label ui PRs

Fix font of guide probe dropdown
  explore/app/src/main/scala/explore/targeteditor/GuideProbeControl.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Fix warning
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/GmosIfuAnalysisSubquery.scala
Due: Label explore PRs, Label schemas PRs

add now-required __typename to queries
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/app/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/app/src/main/scala/explore/services/OdbVisitApiImpl.scala
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/StepConfigSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/TimingWindowSubquery.scala
Due: Label explore PRs, Label schemas PRs

Adjusted help id links as requested
  explore/app/src/main/scala/explore/config/Flamingos2MosConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosMosPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthMosPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthMosPanel.scala
Due: Label explore PRs

Shortcut 9812: Keep the GNIRS central wavelength order and allow duplicates
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/GnirsWavelengthsPanel.scala
  explore/app/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/itc/ItcTileState.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/dnd/package.scala
  ui/tests/src/test/scala/lucuma/ui/dnd/MoveInListSuite.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Guard moveInList against a target that cannot be located
  ui/lib/src/main/scala/lucuma/ui/dnd/package.scala
  ui/tests/src/test/scala/lucuma/ui/dnd/MoveInListSuite.scala
Due: Label ui PRs

Record ember connection lifecycle as span events
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  observe/web/server/src/main/scala/observe/web/server/otel/SpanEventLogger.scala
  observe/web/server/src/test/scala/observe/web/server/otel/SpanEventLoggerSuite.scala
Due: Label observe PRs

For Flamingos2 show the mask name in the table if available
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
Due: Label observe PRs

Update lucuma-core version
  project/Versions.scala
Due: none

SC-10314 Implement offset command in Navigate.
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Read only the next atom when moving on to the next step
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

Read the next step with a per-instrument execution config query
  observe/server/src/clue/scala/observe/common/Flamingos2ExecutionConfigSubquery.scala
  observe/server/src/clue/scala/observe/common/GhostExecutionConfigSubquery.scala
  observe/server/src/clue/scala/observe/common/GmosNorthExecutionConfigSubquery.scala
  observe/server/src/clue/scala/observe/common/GmosSouthExecutionConfigSubquery.scala
  observe/server/src/clue/scala/observe/common/GnirsExecutionConfigSubquery.scala
  observe/server/src/clue/scala/observe/common/Igrins2ExecutionConfigSubquery.scala
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

Trace each executing step as one span with its ODB waits as children
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server/src/main/scala/observe/server/odb/StepSpans.scala
Due: Label observe PRs

Revert "Update opentelemetry-exporter-otlp, ... to 1.66.0"
  project/Versions.scala
Due: none

run claude doctor
  CLAUDE.md
  explore/CLAUDE.md
  observe/CLAUDE.md
  observe/server/CLAUDE.md
Due: Label explore PRs, Label observe PRs

Shortcut 10282: Use the ODB's dismissedWarnings to dismiss observation warnings
  explore/app/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/validations/ObservationValidationsTable.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/render.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-tests/src/test/scala/explore/model/ObsValidationSeveritySuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ProgramDetails.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
  explore/model/src/main/scala/explore/model/enums/ObsValidationSeverity.scala
  explore/model/src/main/scala/explore/model/package.scala
Due: Label explore PRs

Pass the dismissed warnings to the severity column as table metadata
  explore/app/src/main/scala/explore/validations/ObservationValidationsTable.scala
Due: Label explore PRs

Pin opentelemetry to the version otel4s-oteljava declares
  .scala-steward.conf
  build.sbt
  project/Dependencies.scala
  project/OtelCheck.scala
  project/Versions.scala
Due: none

scalafmt
  build.sbt
  project/OtelCheck.scala
Due: none

gnirs acq filter lists
  explore/app/src/main/scala/explore/config/GnirsImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  project/Versions.scala
Due: Label explore PRs

Log when migrations of user prefs have not been applied
  explore/CLAUDE.md
  explore/app/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
Due: Label explore PRs
