Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

don't disable exposure buttons on sequence pause request
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
Due: Label observe PRs

Allow overriding ETM for F2 MOS observations
  explore/app/src/main/scala/explore/config/Flamingos2MosConfigPanel.scala
Due: Label explore PRs

SC-10722 Fixed Navigate bug that made it enable probe guiding for all WFSs.
  navigate/model/src/main/scala/navigate/model/TrackingConfig.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Show staff feedback in the configuration request viewer
  explore/app/src/main/scala/explore/programs/ConfigurationRequestJustificationFeedbackViewer.scala
  explore/app/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
Due: Label explore PRs

Update lucuma-core and lucuma-odb
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  project/Versions.scala
Due: Label explore PRs

Use new ODB bindings
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/AdjustmentInputs.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/ConfigureStepInputs.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/DistanceInput.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/GuideConfigurationInput.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/MechanismInputs.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/TargetInputs.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/TcsConfigInputs.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  project/Versions.scala
Due: Label navigate PRs

SC-10736 Fixes for configureStep offsets and timeouts.
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label navigate PRs

create auto-rename md for the future
  observe/CLAUDE.md
  observe/docs/seqexec-name-conversion.md
Due: Label observe PRs

user defined tellurics
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservation.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

ao filter in modes tables
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseAltairModesAgs.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-tests/src/test/scala/explore/modes/AdaptiveOpticsFilterSuite.scala
  explore/model-tests/src/test/scala/explore/modes/AltairModeRowsSuite.scala
  explore/model/src/main/scala/explore/modes/AdaptiveOpticsFilter.scala
  explore/model/src/main/scala/explore/modes/package.scala
Due: Label explore PRs

fix and add tests
  observe/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label observe PRs

relocate sequence control buttons
  observe/docs/seqexec-name-conversion.md
  observe/model/shared/src/main/scala/observe/model/SequenceStatus.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/engine/Engine.scala
  observe/server/src/main/scala/observe/server/engine/Event.scala
  observe/server/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server/src/main/scala/observe/server/engine/UserEvent.scala
  observe/server/src/main/scala/observe/server/events/package.scala
  observe/server/src/test/scala/observe/server/engine/StepSuite.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbObservationRequests.scala
  observe/web/client/src/main/scala/observe/ui/Icons.scala
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2ImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GhostSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GnirsImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GnirsSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Igrins2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  observe/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  observe/web/client/src/main/webapp/styles/observe.scss
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label observe PRs

address pr comments
  observe/docs/seqexec-name-conversion.md
  observe/server/src/main/scala/observe/server/engine/Engine.scala
  observe/server/src/main/scala/observe/server/engine/ExecutionZipper.scala
  observe/server/src/main/scala/observe/server/engine/LoadedStep.scala
  observe/server/src/test/scala/observe/server/engine/StepSuite.scala
Due: Label observe PRs

allow skipping or rerunning acquisition
  observe/model/shared/src/main/scala/observe/model/Notification.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbNotification.scala
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/SeqEvent.scala
  observe/server/src/main/scala/observe/server/events/package.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbObservationRequests.scala
  observe/web/client/src/main/scala/observe/ui/Icons.scala
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  observe/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  observe/web/client/src/main/webapp/styles/observe.scss
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label observe PRs

address pr comments
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
