Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

SC-4687 Set default parameters for chopping.
  navigate/server/src/main/scala/navigate/server/tcs/ChopSource.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label navigate PRs

SC-7053 Park HR pickoff mirror only if instrument is in bottom port.
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label navigate PRs

special considerations for telluric groups
  explore/app/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/model/shared/src/main/scala/explore/model/Group.scala
  package-lock.json
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

selective explore dev release
  .github/workflows/ci.yml
  build.sbt
Due: none

another flaky test
  observe/server_new/src/test/scala/observe/server/EpicsUtilSuite.scala
Due: Label observe PRs

Address some of the usability issues chrome flags in Explore
  explore/app/src/main/scala/explore/components/DatePicker24HTime.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/LambdaAndIntervalFormValues.scala
  explore/app/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/app/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/app/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/RadioButtonView.scala
Due: Label explore PRs, Label ui PRs

Restored deploy folder in Navigate.
  navigate/deploy/conf/local/cacerts.jks.dev
  navigate/deploy/conf/local/logback.xml
  navigate/deploy/conf/local/site.conf
  navigate/deploy/conf/production-gn/logback.xml
  navigate/deploy/conf/production-gn/site.conf
  navigate/deploy/conf/production-gs/logback.xml
  navigate/deploy/conf/production-gs/site.conf
  navigate/deploy/conf/staging-gn/logback.xml
  navigate/deploy/conf/staging-gn/site.conf
  navigate/deploy/conf/staging-gs/logback.xml
  navigate/deploy/conf/staging-gs/site.conf
  navigate/deploy/src/main/resources/dist/index.html
  navigate/deploy/src/main/resources/systemd/navigate-server.env
  navigate/deploy/src/main/resources/systemd/navigate-server.service
Due: Label navigate PRs

Edit observingMode exposure time mode on config tiles
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/app/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ExposureTimeModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

address review comments - better names and types
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
Due: Label explore PRs

Replace all @inline with inline
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/model/shared/src/main/scala/explore/model/util/NonEmptySetWrapper.scala
  explore/model/shared/src/main/scala/explore/optics/Adjuster.scala
  explore/model/shared/src/main/scala/explore/optics/all.scala
  explore/workers/src/main/scala/japgolly/webapputil/binary/BinaryData.scala
  explore/workers/src/main/scala/japgolly/webapputil/binary/BinaryJs.scala
  explore/workers/src/main/scala/japgolly/webapputil/boopickle/BinaryFormatExt.scala
  explore/workers/src/main/scala/japgolly/webapputil/boopickle/PicklerUtil.scala
  explore/workers/src/main/scala/japgolly/webapputil/boopickle/SafePickler.scala
  explore/workers/src/main/scala/japgolly/webapputil/indexeddb/IndexedDb.scala
  explore/workers/src/main/scala/japgolly/webapputil/indexeddb/IndexedDbKey.scala
  explore/workers/src/main/scala/japgolly/webapputil/indexeddb/Txn.scala
  explore/workers/src/main/scala/japgolly/webapputil/indexeddb/TxnDsl.scala
  explore/workers/src/main/scala/japgolly/webapputil/indexeddb/package.scala
  ui/lib/src/main/scala/lucuma/ui/input/ChangeAuditor.scala
Due: Label explore PRs, Label ui PRs

Hide aladin controls on the target search popup
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
Due: Label explore PRs

SC-6326 Changed angle type for rotator move command in Navigate.
  build.sbt
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
  navigate/model/src/main/scala/navigate/model/AngleTypes.scala
  navigate/model/src/main/scala/navigate/model/LinearAngle.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/test/scala/navigate/model/AngleTypesSuite.scala
  navigate/model/src/test/scala/navigate/model/arb/ArbAngleTypes.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
Due: Label explore PRs, Label navigate PRs, Label schemas PRs

force color for explore link
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

UI for acquisition sequence customization for Gmos and F2 LongSlit
  explore/app/src/main/scala/explore/components/CustomizableEnumGroupedMultiSelect.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

linter
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Setup pnpm workspace
  .github/workflows/ci.yml
  .github/workflows/update-schema.yml
  .prettierignore
  build.sbt
  observe/web/client/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  schemas/fetchODBSchema.sh
  ui/demo/package.json
Due: Label observe PRs, Label schemas PRs, Label ui PRs

Update lockfile
  explore/common/src/main/webapp/sass/explore-primereact.scss
  explore/package.json
  observe/web/client/package.json
  observe/web/client/src/main/webapp/styles/prime.scss
  observe/web/client/vite.config.mts
  pnpm-lock.yaml
Due: Label explore PRs, Label observe PRs

Properly select remote guide star on load
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

Fix update-schema job
  .github/workflows/update-schema.yml
Due: none

Update flake.nix for pnpm
  flake.nix
Due: none

Update Readme files for pnpm
  explore/README.md
  schemas/README.md
Due: Label explore PRs, Label schemas PRs

Add an indicator for the blind offset svg
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/model/shared/src/main/scala/explore/events/AgsMessage.scala
  explore/vite.config.mts
  explore/workers/src/main/scala/workers/AgsServer.scala
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Unify how we build svg targets for viz
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/webapp/sass/visualization.scss
  explore/model/shared/src/main/scala/explore/model/extensions.scala
  project/Versions.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label explore PRs, Label ui PRs

Adjust the acquisition offsets when there is a blind offset
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/model/shared/src/main/scala/explore/events/AgsMessage.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
Due: Label explore PRs

Pass the blind offset to ags
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/model/shared/src/main/scala/explore/events/AgsMessage.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs

Adapt the latest api
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/model/shared/src/main/scala/explore/events/AgsMessage.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  project/Versions.scala
Due: Label explore PRs

Include the blind offset on ObservationConfiguration
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
Due: Label explore PRs

Cleanup
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/vite.config.mts
Due: Label explore PRs

Remove unused method
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
Due: Label explore PRs

use hsl color
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label ui PRs

Update libs
  flake.nix
  pnpm-lock.yaml
  project/Versions.scala
Due: none

SC-4687 Added TCS clear to slew
  navigate/server/src/main/scala/navigate/server/acm/GeminiApplyCommand.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label navigate PRs

Explore program filtering in manage programs popup
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
  explore/model/shared/src/main/scala/explore/model/ProgramInfo.scala
  explore/model/shared/src/main/scala/explore/model/syntax/package.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnFilter.scala
Due: Label explore PRs, Label ui PRs

Modifications to the acquisition sequence customization
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/shared/src/main/scala/explore/model/ExposureTimeModelInfo.scala
Due: Label explore PRs

Update update-schema.yml with new action
  .github/workflows/update-schema.yml
Due: none

allow creating telluric group siblings
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

tellurics checkbox
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

filter tiles in tellurics
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
Due: Label explore PRs

remove comment
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs
