Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Cleanup
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/InteractiveRegion.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
Due: Label explore PRs, Label ui PRs

run-linters
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

Memoize obsTime avoiding a re-rendering loop bug
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
Due: Label explore PRs

Call openObservation for ghost
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/ghost/GhostHeader.scala
Due: Label observe PRs

Unify the naming of gds/keyword clients to [open|close]Image
  observe/server/src/main/scala/observe/server/ObserveActions.scala
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/keywords/GdsClient.scala
  observe/server/src/main/scala/observe/server/keywords/package.scala
  observe/server/src/test/scala/observe/server/keywords/GdsClientSuite.scala
Due: Label observe PRs

Revert to using KeywordsClient with a no-op openObservation method
  observe/server/src/main/scala/observe/server/ObserveActions.scala
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/ghost/GhostHeader.scala
  observe/server/src/main/scala/observe/server/keywords/package.scala
Due: Label observe PRs

Fix compilation errors after rebasing onto main
  observe/server/src/main/scala/observe/server/keywords/GdsClient.scala
Due: Label observe PRs

Fixed DHS contributor name for GNIRS.
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
Due: Label observe PRs

show cam in gnirs modes
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Due: Label explore PRs

Ensure there is a single target for ghost
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
Due: Label explore PRs

scalafmt
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/model-tests/src/test/scala/explore/model/ProgramSummariesSuite.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Break react-grid-layout compaction cycle
  explore/app/src/main/scala/explore/components/TileController.scala
Due: Label explore PRs

Save layouts to the prefs database optimistically
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Extend optimistic saving to other layouts
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

gnirs ifu modes
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

update schema, minor fixes
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
  observe/server/src/test/scala/observe/server/GnirsSuite.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label observe PRs, Label schemas PRs

fix servers version and itc invocation
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
Due: Label explore PRs

invoke itc for gnirs ifu
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

scalafmt
  explore/model/src/main/scala/explore/model/boopickle/ItcPickler.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ConstraintSetSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/CoordinatesSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ExposureTimeModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ImagingVariantSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/PosAngleConstraintSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/RadialVelocitySubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/TimingWindowSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/UnnormalizedSEDSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/WavelengthDeltaSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/WavelengthDitherSubquery.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Add a few more comments
  explore/app/src/main/scala/explore/components/TileController.scala
Due: Label explore PRs

Attempt to fix the double deployment by firebase
  .github/workflows/ci.yml
  build.sbt
Due: none

include coadds in itc description
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  ui/lib/src/main/scala/lucuma/ui/format/package.scala
Due: Label explore PRs, Label ui PRs

fix core version
  project/Versions.scala
Due: none

invoke itc for gnirs ifu
  project/Versions.scala
Due: none

fix query to consider ifu
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GnirsDynamicConfigSubquery.scala
Due: Label schemas PRs

selection of gnirs ifu modes, rename
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GnirsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

fix servers version
  project/Versions.scala
Due: none

gnirs ifu configuration request
  explore/app/src/clue/scala/queries/common/ConfigurationSubquery.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

break render loop by not using onLayoutChange
  explore/app/src/main/scala/explore/components/TileController.scala
Due: Label explore PRs

Revert PR #1065 (sc-9138 react rendering loop fix)
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Port of REL-4855 to observe
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  observe/server/src/main/scala/observe/server/ghost/GhostController.scala
  project/Versions.scala
Due: Label observe PRs

Request a UUIDGen instance
  observe/server/src/main/scala/observe/server/Systems.scala
Due: Label observe PRs

Partial support for exchange observations
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/ImagingFiltersPanel.scala
  explore/app/src/main/scala/explore/config/ResidentVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  observe/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/display/package.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/LiveSequence.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/PwfsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Update lucuma-core to bring the new ags algorithm
  explore/workers/src/main/scala/workers/AgsServer.scala
  project/Versions.scala
Due: Label explore PRs

Pass reusable list of menu items to the menus
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/observationtree/ScienceBandPopupMenu.scala
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnSelector.scala
Due: Label explore PRs, Label ui PRs

report total s/n in gnirs acquisition steps
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsSequenceTable.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GnirsSequenceTable.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/SpectroscopySequenceTable.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

tentative fix for revert config with custom etm
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Due: Label explore PRs

move acquisition coadd sn logic insite SpectroscopySequenceTable
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GnirsSequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/SpectroscopySequenceTable.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs
