Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

script to convert server certificates
  .gitignore
  convert-certs.sh
  observe/web/server/TLS.md
Due: Label observe PRs

SC-8279 Fixed bug in sidereal target subquery.
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/Flamingos2AtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GhostAtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GmosNorthAtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GmosSouthAtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GnirsAtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/Igrins2AtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/OffsetSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SignalToNoiseAtSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/StepConfigSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/StepEstimateSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/TelescopeConfigSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/CoordinatesSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/SiderealSubquery.scala
Due: Label observe PRs, Label schemas PRs

SC-8739 Use centralWavelength from Igrins2DynamicConfig in Observe
  observe/server/src/main/scala/observe/server/gnirs/GnirsEpics.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
  project/Versions.scala
Due: Label observe PRs

gnirs geometries and ags
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/GnirsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

enable invoking itc with gnirs s/n etm
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
Due: Label explore PRs

always pass a wavelength to itc gnirs
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
Due: Label explore PRs

add help icons to gnirs config panel
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
Due: Label explore PRs

propagate MUNIT_FLAKY_OK to build
  .github/workflows/ci.yml
  build.sbt
Due: none

add help icon to slit offset editor
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
Due: Label explore PRs

allow editing coadds
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
Due: Label explore PRs

extract slit styling vars
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label ui PRs

invalidate the ITC cache to recompute with latest fixes
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Constraints column filter should group based on the summary
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
Due: Label explore PRs

Update sparse checkout dirs
  explore-sparse-checkout
Due: none

disable coadds in s/n etms
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
Due: Label explore PRs

mimic gmos centralwavelength derivation for gnirs
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/InstrumentOverrides.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

integrate coadds into etm editor
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/app/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
Due: Label explore PRs

Fix for pull request finding
  explore/app/src/main/scala/explore/config/TimeAndCountEditor.scala
Due: Label explore PRs

fix copilot's "fix"
  explore/app/src/main/scala/explore/config/TimeAndCountEditor.scala
Due: Label explore PRs

centralwavelength fix for gnirs
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Add support for editing F2 Imaging configurations
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/Flamingos2Givens.scala
  explore/app/src/main/scala/explore/config/Flamingos2ImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/ImagingFiltersPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Reorder controls on F2 Longslit config panel
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
Due: Label explore PRs

Fix Aladin hover crash using a ref to pass the coordinates rather than react state
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AladinMousePosition.scala
  explore/app/src/main/scala/explore/targeteditor/AladinToolbar.scala
Due: Label explore PRs

Update react grid layout library and demo
  explore/package.json
  explore/vite.config.mts
  pnpm-lock.yaml
  ui/demo/package.json
  ui/demo/src/main/scala/lucuma/ui/demo/aladin/TargetBody.scala
  ui/demo/vite.config.mts
Due: Label explore PRs, Label ui PRs

Use the new react grid layout api for v2
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/components/TileController.scala
  project/Versions.scala
Due: Label explore PRs

Use the default position strategy, tested locally
  explore/app/src/main/scala/explore/components/TileController.scala
Due: Label explore PRs

Use react grid layout css directly from the npm package
  explore/app/src/main/webapp/main.jsx
  explore/common/src/main/webapp/css/react-grid-layout.css
  explore/common/src/main/webapp/sass/react-grid-layout-v2.scss
Due: Label explore PRs

Add ifuMapping to the sequence query
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GhostIfuMappingSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: Label observe PRs, Label schemas PRs

Add construction of ghost steps
  observe/model/shared/src/main/scala/observe/model/InstrumentDynamicConfig.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbInstrumentDynamicConfig.scala
  observe/server/src/main/scala/observe/server/StepsView.scala
Due: Label observe PRs

Allow instrument action buttons for ghost
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
Due: Label observe PRs

Update lucuma-react version
  project/Versions.scala
Due: none

stylelint fix
  explore/common/src/main/webapp/sass/react-grid-layout-v2.scss
Due: Label explore PRs

Use a shared callback to set the mouse signal
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

Apply seqexec changes reverting the guding check setting for ifus and the new arc exposure time
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  observe/server/src/main/scala/observe/server/ghost/GhostController.scala
  observe/server/src/main/scala/observe/server/ghost/GhostLUT.scala
Due: Label observe PRs

Improve pretty printing of the conf sent to ghost
  observe/server/src/main/scala/observe/server/ghost/GhostController.scala
Due: Label observe PRs

Fix ci.yml
  .github/workflows/ci.yml
  build.sbt
Due: none

Add a query to read the ifu mapping
  explore/app/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: Label explore PRs, Label schemas PRs

Show the IFU mapping in alading and use them in AGS
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
Due: Label explore PRs

GHOST IFU labels come from the IFU mapping
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label explore PRs, Label schemas PRs

Show the program tab for eng and cal
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/Routing.scala
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
