Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Display the MOS mask design on the target editor's Aladin view
  explore/app/src/clue/scala/queries/common/MaskDesignSubquery.scala
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
  explore/model/src/main/scala/explore/model/MaskDesign.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Parse dispersion direction
  explore/app/src/clue/scala/queries/common/MaskDesignSubquery.scala
  explore/model/src/main/scala/explore/model/MaskDesign.scala
Due: Label explore PRs

Support f2 mos geometry
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
Due: Label explore PRs

Improve the look of the mask area
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

Allow to draw polygons with holes
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
Due: Label ui PRs

Add tooltips to each slit
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/MaskSlitTooltip.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

Cleanup
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Fix stale aladin overlay scale
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/package.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/facade/AladinView.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/facade/JsAladin.scala
Due: Label explore PRs, Label ui PRs

Keep the tracking map while recomputing to avoid aladin reloads
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/package.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
Due: Label explore PRs, Label ui PRs

Fix demo compilation error
  ui/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
Due: Label ui PRs

Show Manual/Help Desk/Feedback menu entries for guests
  explore/app/src/main/scala/explore/TopBar.scala
Due: Label explore PRs

send events from observe to odb asynchronously
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommands.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/main/scala/observe/server/odb/OdbEventSender.scala
  observe/server/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server/src/test/scala/observe/server/odb/OdbEventRecordedSuite.scala
  observe/server/src/test/scala/observe/server/odb/OdbEventSenderSuite.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

wait for step event ack before sending dataset events
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/main/scala/observe/server/odb/OdbEventSender.scala
  observe/server/src/test/scala/observe/server/odb/OdbEventSenderSuite.scala
Due: Label observe PRs

address pr comments
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
Due: Label observe PRs

Explicit ClueHttp4s usage
  build.sbt
  project/Dependencies.scala
Due: none

Surface the Summary attachment type
  explore/app/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Temporary fixes for Gmos*Ifu
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
Due: Label explore PRs

Don't write to completed observations on selection
  explore/app/src/main/scala/explore/targeteditor/BlindOffsetControl.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
Due: Label explore PRs

Disable the time editor for completed observations
  explore/app/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
Due: Label explore PRs

Adapt to the AeonMultiFacility object in the ODB schema
  explore/app/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/model/src/main/scala/explore/ProposalType.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Reorder the UI
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
Due: Label explore PRs

Rebuild the Archive Duplication table when its data changes
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/model/src/main/scala/explore/model/ProgramArchiveDuplications.scala
Due: Label explore PRs

Add the Archive Duplication Search tile to the Overview tab
  CONTEXT.md
  explore/app/src/clue/scala/queries/common/ArchiveDuplicationQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ArchiveDuplicationSubquery.scala
  explore/app/src/clue/scala/queries/common/ArchiveMatchSubquery.scala
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationRow.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/app/src/main/scala/explore/services/OdbApi.scala
  explore/app/src/main/scala/explore/services/OdbApiImpl.scala
  explore/app/src/main/scala/explore/services/OdbArchiveApi.scala
  explore/app/src/main/scala/explore/services/OdbArchiveApiImpl.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/model/src/main/scala/explore/model/ArchiveDuplication.scala
  explore/model/src/main/scala/explore/model/ProgramArchiveDuplications.scala
  explore/model/src/main/scala/explore/model/TileIds.scala
  explore/model/src/main/scala/explore/model/enums/TableIds.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/model/src/main/scala/lucuma/schemas/model/enums/ArchiveDuplicationState.scala
Due: Label explore PRs, Label schemas PRs

Restore the target type icon column in the program target tables
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Use FetchJsBackend for ItcClient
  explore/workers/src/main/scala/workers/ItcServer.scala
Due: Label explore PRs

Use default Vite minifier (oxc)
  explore/vite.config.mts
  observe/web/client/vite.config.mts
Due: Label explore PRs, Label observe PRs

Silence warnings in Vite build
  explore/vite.config.mts
  observe/web/client/vite.config.mts
  pnpm-lock.yaml
Due: Label explore PRs, Label observe PRs

Deduplicate worker entry points into a single exploreworker.js
  explore/app/src/main/webapp/agsworker.js
  explore/app/src/main/webapp/catalogworker.js
  explore/app/src/main/webapp/exploreworker.js
  explore/app/src/main/webapp/horizonsworker.js
  explore/app/src/main/webapp/itcworker.js
  explore/app/src/main/webapp/plotworker.js
  explore/common/src/main/scala/explore/model/WorkerClients.scala
Due: Label explore PRs

migrate gmos to telescopeconfigs
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

full telescopeconfigs editor for gmos
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/OffsetsControl.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-tests/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  explore/model/src/main/scala/explore/model/ExploreModelValidators.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

rename offset helps
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
Due: Label explore PRs

address pr comments, remove unused reusabilities
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/GnirsIfuPanel.scala
  explore/app/src/main/scala/explore/config/offsets/PresettableTelescopeConfigsEditor.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

remove unused import
  explore/model-tests/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
Due: Label explore PRs

update schema, fix readonly
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Resolve a Target of Opportunity against existing program targets
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/app/src/main/scala/explore/targets/TargetSource.scala
Due: Label explore PRs

Widen the target selection popup's select column
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Present a resolved Target of Opportunity as an ordinary target
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Surface stale Archive Duplication snapshots
  explore/app/src/clue/scala/queries/common/ArchiveDuplicationSubquery.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/model/src/main/scala/explore/model/ArchiveDuplication.scala
  explore/model/src/main/scala/explore/model/ProgramArchiveDuplications.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Drive Archive Duplication refresh from obscalc, and sweep stale rows
  explore/app/src/clue/scala/queries/common/ArchiveDuplicationQueriesGQL.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/app/src/main/scala/explore/services/OdbArchiveApi.scala
  explore/app/src/main/scala/explore/services/OdbArchiveApiImpl.scala
  explore/model/src/main/scala/explore/model/ArchiveDuplication.scala
  explore/model/src/main/scala/explore/model/ProgramArchiveDuplications.scala
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
