Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Rename help file address
  explore/app/src/main/scala/explore/config/ImagingFiltersPanel.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/observationtree/SequenceCopyDialog.scala
  explore/model-tests/src/test/scala/explore/model/SequenceCopyChoicesSuite.scala
Due: Label explore PRs

Offer only all steps when the execution state is not defined
  explore/model/src/main/scala/explore/model/Execution.scala
Due: Label explore PRs

Ask what a duplicate takes from a materialized sequence
  CONTEXT.md
  explore/app/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/app/src/main/scala/explore/observationtree/ObsActions.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/observationtree/SequenceCopyDialog.scala
  explore/app/src/main/scala/explore/observationtree/package.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbExecution.scala
  explore/model-tests/src/test/scala/explore/model/enums/SequenceCopySuite.scala
  explore/model/src/main/scala/explore/model/Execution.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/enums/SequenceCopy.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Use lucuma-core CloneSequenceMode
  explore/app/src/main/scala/explore/observationtree/ObsActions.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/observationtree/SequenceCopyDialog.scala
  explore/app/src/main/scala/explore/observationtree/package.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/model-tests/src/test/scala/explore/model/SequenceCopyChoicesSuite.scala
  explore/model/src/main/scala/explore/model/Execution.scala
  explore/model/src/main/scala/explore/model/enums/SequenceCopy.scala
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

scalafmt
  explore/model/src/main/scala/explore/model/Execution.scala
Due: Label explore PRs

Place Aladin target overlay with Aladin's own projection
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/facade/JsAladin.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/BlindOffsetTarget.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/CrossTarget.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GuideStarTarget.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
  ui/tests/src/test/scala/lucuma/ui/visualization/ClipSegmentSuite.scala
Due: Label explore PRs, Label ui PRs

Cull overlay markers by their rendered size
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label ui PRs

Use the same Aladin overlay color for all instrument FPUs
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label ui PRs

Update CLAUDE.md build versions and CSS lint steps
  CLAUDE.md
Due: none

Restore cz, Morphology and SED columns in target tables
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
Due: Label explore PRs

Address review: test target column picker, share SED accessor
  build.sbt
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/app/src/test/js/stub-assets.cjs
  explore/app/src/test/scala/explore/targets/TargetColumnsSuite.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
Due: Label explore PRs

Improve navigate server simulation and use single state Ref
  navigate/model/src/main/scala/navigate/model/AcMechsState.scala
  navigate/model/src/main/scala/navigate/model/BafflesState.scala
  navigate/model/src/main/scala/navigate/model/PwfsMechsState.scala
  navigate/model/src/main/scala/navigate/model/TcsConfig.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSimState.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Add syntax sugar usages for NavigateMappings
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label navigate PRs

Show expected telluric calibrations in the estimated duration
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/model-tests/src/test/scala/explore/model/CalibrationSetsSuite.scala
  explore/model/src/main/scala/explore/model/CalibrationSets.scala
Due: Label explore PRs

Split tellurics into created and expected rows
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Show tellurics from the nested calibrations estimate
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/model-tests/src/test/scala/explore/model/CalibrationSetsSuite.scala
  explore/model/src/main/scala/explore/model/CalibrationSets.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Size the observation details info column to its content
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Show the ODB's total estimate on the observation details tile
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbExecution.scala
  explore/model-tests/src/test/scala/explore/model/ProgramSummariesSuite.scala
  explore/model/src/main/scala/explore/model/Execution.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservationDigest.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
  explore/model/src/main/scala/explore/model/package.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs

Move the durations formaters to the formats package
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/model-tests/src/test/scala/explore/model/CalibrationSetsSuite.scala
  explore/model-tests/src/test/scala/explore/model/FormatsSuite.scala
  explore/model/src/main/scala/explore/model/CalibrationSets.scala
  explore/model/src/main/scala/explore/model/formats.scala
Due: Label explore PRs

Prepend "GNIRS" to GNIRS spectroscopy config in the obs summary table
  explore/model/src/main/scala/explore/model/display.scala
Due: Label explore PRs

Fix tests that depend upon Display[BasicConfiguration]
  explore/model-tests/src/test/scala/explore/model/ConfigurationSummarySuite.scala
Due: Label explore PRs

SC-10674 In Observe, disabled host verification when communicating with Navigate.
  navigate/README.md
  observe/README.md
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/web/server/src/main/resources/base.conf
Due: Label navigate PRs, Label observe PRs

Give each GMOS IFU analysis kind its own default angle
  explore/app/src/main/scala/explore/config/GmosIfuAnalysisEditor.scala
  explore/app/src/test/scala/explore/config/GmosIfuAnalysisKindSuite.scala
Due: Label explore PRs

Updated text according to the suggestions
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
Due: Label explore PRs

Add Duplicate to observation badges on the Targets, Constraints and Scheduling tabs
  explore/app/src/main/scala/explore/ObsGroupHelper.scala
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ObsActions.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/app/src/main/scala/explore/observationtree/package.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/app/src/main/scala/explore/tabs/SchedulingTabContents.scala
Due: Label explore PRs

Update libs
  project/Versions.scala
Due: none

scalafix
  explore/app/src/main/scala/explore/model/AppContext.scala
Due: Label explore PRs

reload on reconnection, correctly sync updates
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/common/src/main/scala/explore/cache/CacheControllerComponent.scala
Due: Label explore PRs

address pr comments
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
Due: Label explore PRs

Read SCORPIO spectroscopy modes as read-only rows
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/model/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/src/main/scala/explore/model/package.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Treat SCORPIO as a supported instrument
  explore/app/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/model/src/main/scala/explore/model/package.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Parse Navigate inputs with ODB bindings
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/AdjustmentInputs.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/ConfigureStepInputs.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/DistanceInput.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/GuideConfigurationInput.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/MechanismInputs.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/TargetInputs.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/TcsConfigInputs.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/input/bindings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  schemas/navigate/src/clue/resources/lucuma/schemas/NavigateDB.graphql
Due: Label navigate PRs, Label schemas PRs

Tidy the estimated duration tooltips
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-prime.scss
Due: Label explore PRs, Label ui PRs

Add priority and band to the tile's title [sc-10711]
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Navigate: fix flaky test by ignoring IllegalStateException when shutting down context
  navigate/epics/src/test/scala/navigate/epics/TestEpicsServer.scala
Due: Label navigate PRs

Show ITC warnings per CCD in the ITC imaging table [sc-8975]
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model-tests/src/test/scala/explore/modes/ImagingCcdModeSuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Ignore the ccd mode when resyncing imaging selections
  explore/model-tests/src/test/scala/explore/modes/ImagingCcdModeSuite.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Due: Label explore PRs

Allow overriding the exposure time mode of tellurics
  CONTEXT.md
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/Flamingos2ConfigFields.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GnirsIfuPanel.scala
  explore/app/src/main/scala/explore/config/GnirsLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/GnirsWavelengthsPanel.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/app/src/main/scala/explore/config/package.scala
  explore/app/src/main/scala/explore/services/OdbApiHelper.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/common/AlignerF.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/model/Observation.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

Give Explore its own ConfigurationRequest model
  explore/app/src/clue/scala/queries/common/ConfigurationRequestSubquery.scala
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/app/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/programs/ConfigurationRequestJustificationViewer.scala
  explore/app/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/app/src/main/scala/explore/services/OdbConfigApi.scala
  explore/app/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/services/OdbProgramApi.scala
  explore/app/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/src/main/scala/explore/model/ConfigurationRequest.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
  explore/model/src/main/scala/explore/model/package.scala
Due: Label explore PRs
