Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

fix test
  schemas/lib/src/main/scala/lucuma/schemas/odb/GmosImagingVariantSubquery.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ObservingModeSuite.scala
Due: Label schemas PRs

checkpoint
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
Due: Label explore PRs

rework model
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ExposureTimeModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbGmosImagingVariant.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbTelescopeConfigGenerator.scala
Due: Label schemas PRs

updates
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

offset editor working, missing labels+styling
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/app/src/main/scala/explore/config/offsets/package.scala
Due: Label explore PRs

checkpoint, query almost working
  build.sbt
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  project/Dependencies.scala
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ExposureTimeModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/GmosImagingVariantSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/TelescopeConfigGeneratorSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ConstraintSetDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ExposureTimeModeDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/PosAngleDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/TargetDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/TelescopeConfigGeneratorDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/TimingWindowDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
Due: Label explore PRs, Label schemas PRs

explicit offset functionality working
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/package.scala
  ui/lib/src/main/scala/lucuma/ui/utils/package.scala
Due: Label explore PRs, Label ui PRs

default pre-imaging offsets
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
Due: Label schemas PRs

margin
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

integrated offset generator editor, step 1
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGridDisplay.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/primereact/FormEnumDropdown.scala
Due: Label explore PRs, Label ui PRs

better handling of offset counts
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
Due: Label explore PRs

help icons for offsets
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  project/Versions.scala
Due: Label explore PRs

post-rebase adjustments
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Select the first science target
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
Due: Label explore PRs

Store the last selected target on user prefs
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/common/src/main/scala/explore/model/UserPreferences.scala
  explore/hasura/user-prefs/migrations/default/1768161174759_alter_table_public_lucumaObservation_add_column_perferredTargetId/down.sql
  explore/hasura/user-prefs/migrations/default/1768161174759_alter_table_public_lucumaObservation_add_column_perferredTargetId/up.sql
Due: Label explore PRs

SC-7457 Added missing type in navigate schema.
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

SC-5987 Allow progress messages after remaining time reaches 0.
  observe/server_new/src/main/scala/observe/server/EpicsUtil.scala
Due: Label observe PRs

prioritize reading out
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
Due: Label observe PRs

working! (TODO FIX ObservingMode decode test)
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/GmosImagingVariantSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/TelescopeConfigGeneratorSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/GmosImagingVariantDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/tests/jvm/src/test/resources/obsmode.json
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ObservingModeSuite.scala
Due: Label explore PRs, Label schemas PRs

first steps of variant editor
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/GmosImagingVariantDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
Due: Label explore PRs, Label schemas PRs

schema updates
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ObservingModeSuite.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceData.scala
Due: Label observe PRs, Label schemas PRs, Label ui PRs

working with new odb
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbGmosImagingVariant.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbTelescopeConfigGenerator.scala
Due: Label schemas PRs

migrating offset editor
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/app/src/main/scala/explore/config/offsets/package.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
Due: Label explore PRs, Label schemas PRs

update schema
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

checkpoint
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
Due: Label explore PRs, Label schemas PRs

add random parameters editor
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGridDisplay.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
Due: Label explore PRs

edit offsetgenerator on a copy
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
Due: Label explore PRs

add key to explicit offset row
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
Due: Label explore PRs

comments, sky offsets
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

disable deleting single explicit offset
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/common/src/main/webapp/sass/explore.scss
  project/Versions.scala
Due: Label explore PRs

refactor
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/SvgTarget.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label ui PRs

lint
  explore/common/src/main/webapp/sass/explore.scss
  schemas/tests/jvm/src/test/resources/obsmode.json
Due: Label explore PRs, Label schemas PRs
