Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Link archive duplication rows to their archive searches
  explore/app/src/clue/scala/queries/common/ArchiveDuplicationSubquery.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveSearchLinkButton.scala
  explore/model-tests/src/test/scala/explore/model/ArchiveSearchLinkSuite.scala
  explore/model/src/main/scala/explore/model/ArchiveDuplication.scala
Due: Label explore PRs

Tighten archive duplication table column widths
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
Due: Label explore PRs

Avoid a second scrollbar on the archive duplication tile
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Show the match count in the minimized archive duplication tile
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
Due: Label explore PRs

Memoize the archive search link menu model
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveSearchLinkButton.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveSearchLinkButton.scala
Due: Label explore PRs

Shorten the archive link tooltip
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveSearchLinkButton.scala
Due: Label explore PRs

Build archive search links with lucuma-core's GOA helpers
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/model-tests/src/test/scala/explore/model/ArchiveSearchLinkSuite.scala
  explore/model/src/main/scala/explore/model/ArchiveDuplication.scala
  project/Versions.scala
Due: Label explore PRs

Use production lucuma-core release
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  project/Versions.scala
Due: Label explore PRs

Show the solar progress indicator before Scala.js loads
  explore/app/src/main/webapp/index.html
  observe/web/client/src/main/webapp/index.html
Due: Label explore PRs, Label observe PRs

Add help icon to the group edit tile title
  explore/app/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

reread step when resuming pause in case it was changed
  observe/model/shared/src/main/scala/observe/model/Notification.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbNotification.scala
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label observe PRs

remove altair code now in core
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
  ui/tests/src/test/scala/lucuma/ui/visualization/AgsParamsSuite.scala
Due: Label explore PRs, Label ui PRs

properly promote observe and navigate
  .github/workflows/ci.yml
  build.sbt
  observe/deploy/scripts/README.md
  observe/deploy/scripts/config.sh.template
  observe/deploy/scripts/install.sh
  observe/deploy/scripts/observe.sh
  observe/deploy/scripts/start.sh
  observe/deploy/scripts/update.sh
  promote.sh
Due: Label observe PRs

Update flake
  flake.nix
Due: none

Update pnpm on the flake
  flake.nix
Due: none

Improve alignment of telluric badges
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

disambiguate itc exposures and frames
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/model/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
Due: Label explore PRs

fix lib version
  project/Versions.scala
Due: none

SC-10315 Improved offset display in Navigate log.
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  observe/web/server/src/main/resources/base.conf
Due: Label navigate PRs, Label observe PRs

SC-10315 Observe uses Navigate to configure TCS
  .scalafix.conf
  build.sbt
  navigate/model/src/main/scala/navigate/model/LightPath.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/enums/LightSink.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/ScienceFold.scala
  navigate/server/src/main/scala/navigate/server/tcs/ScienceFoldPositionCodex.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/OperationOutcome.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateSchema.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateSchemaSuite.scala
  observe/server/src/clue/scala/observe/common/NavigateQueriesGQL.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/tcs/TcsController.scala
  observe/server/src/main/scala/observe/server/tcs/TcsControllerNavigate.scala
  observe/server/src/main/scala/observe/server/tcs/TcsNorthControllerNavigate.scala
  observe/server/src/main/scala/observe/server/tcs/TcsSouthControllerNavigate.scala
  observe/server/src/test/scala/observe/server/tcs/TcsControllerNavigateSuite.scala
  observe/server/src/test/scala/observe/server/tcs/TcsNorthSuite.scala
  observe/server/src/test/scala/observe/server/tcs/TcsSouthSuite.scala
  schemas/model/src/main/scala/lucuma/schemas/model/navigate/LightSinkVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/navigate/LightSource.scala
  schemas/model/src/main/scala/lucuma/schemas/model/navigate/OperationResult.scala
  schemas/navigate/src/clue/resources/lucuma/schemas/NavigateDB.graphql
  schemas/navigate/src/clue/scala/lucuma/schemas/NavigateDB.scala
Due: Label navigate PRs, Label observe PRs, Label schemas PRs

SC-10315 In Observe, use just the step guide parameter gor configureStep.
  observe/server/src/main/scala/observe/server/gems/Gems.scala
  observe/server/src/main/scala/observe/server/tcs/TcsController.scala
  observe/server/src/main/scala/observe/server/tcs/TcsControllerNavigate.scala
  observe/server/src/main/scala/observe/server/tcs/TcsNorth.scala
  observe/server/src/main/scala/observe/server/tcs/TcsSouth.scala
  observe/server/src/test/scala/observe/server/tcs/TcsControllerNavigateSuite.scala
  observe/server/src/test/scala/observe/server/tcs/TcsNorthSuite.scala
  observe/server/src/test/scala/observe/server/tcs/TcsSouthSuite.scala
Due: Label observe PRs

show altair modes on conf tables
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseAltairModesAgs.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model-tests/src/test/scala/explore/modes/AltairModeRowsSuite.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/model/src/main/scala/explore/modes/package.scala
Due: Label explore PRs

SC-10315 Fixed Navigate message timeout.
  observe/server/src/main/scala/observe/server/Systems.scala
Due: Label observe PRs

revert to ao row
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseAltairModesAgs.scala
  explore/model-tests/src/test/scala/explore/modes/AltairModeRowsSuite.scala
  explore/model/src/main/scala/explore/model/AltairControls.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Due: Label explore PRs

fix row sort
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Base the scheduling mode lock on the observations being edited
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
Due: Label explore PRs

fix flaky test, propagate flaky_ok setting to js tests
  .github/workflows/ci.yml
  build.sbt
  explore/common/src/test/scala/explore/utils/StreamSpec.scala
Due: Label explore PRs

Bump the ITC cache version
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

address pr comments
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

reset button
  observe/model/shared/src/main/scala/observe/model/ObserveStep.scala
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/engine/Engine.scala
  observe/server/src/main/scala/observe/server/engine/ExecutionZipper.scala
  observe/server/src/main/scala/observe/server/engine/LoadedStep.scala
  observe/server/src/test/scala/observe/server/engine/StepSuite.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbObservationRequests.scala
  observe/web/client/src/main/scala/observe/ui/Icons.scala
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  observe/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  observe/web/client/src/main/webapp/styles/observe.scss
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
  pnpm-lock.yaml
Due: Label observe PRs

rename reset step to rewind step
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/engine/Engine.scala
  observe/server/src/test/scala/observe/server/engine/StepSuite.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbObservationRequests.scala
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  observe/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  observe/web/client/src/main/webapp/styles/observe.scss
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label observe PRs

propagate coadds to itc tile
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/model/src/main/scala/explore/model/itc/package.scala
  ui/lib/src/main/scala/lucuma/ui/format/package.scala
Due: Label explore PRs, Label ui PRs

Ignore saved Aladin FOVs below one arcsecond
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/model/src/main/scala/explore/model/AsterismVisualOptions.scala
Due: Label explore PRs

Stop the zoom-in button at the minimum FOV
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/model/src/main/scala/explore/model/AsterismVisualOptions.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/AladinZoomControl.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label explore PRs, Label ui PRs

SC-10608 Fixed wrong science fold name for GMOS with IFU.
  navigate/server/src/main/scala/navigate/server/tcs/ScienceFoldPositionCodex.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/test/scala/navigate/server/tcs/ScienceFoldPositionCodexSuite.scala
Due: Label navigate PRs

scalafmt
  schemas/model/src/main/scala/lucuma/schemas/model/GnirsCentralWavelengthItcResult.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ModeSignalToNoiseDecoderSuite.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/GnirsSpectroscopySequenceTable.scala
Due: Label schemas PRs, Label ui PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
