Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

We can use two ags workers one for constrained and one for unconstrained calculations
  .gitignore
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/common/src/main/scala/explore/model/WorkerClients.scala
Due: Label explore PRs

Remove unused givens
  explore/app/src/main/scala/explore/model/AppContext.scala
Due: Label explore PRs

Make GmosImagingVariant work better with undo/redo
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/common/src/main/scala/explore/model/reusability.scala
Due: Label explore PRs

Fix Black Screen of Death when there are blind offsets.
  explore/app/src/main/scala/explore/targeteditor/BlindOffsetControl.scala
Due: Label explore PRs

Update core to get changes to blind offset V band calculation
  explore/workers/src/main/scala/workers/BlindOffsetRequestHandler.scala
  project/Versions.scala
Due: Label explore PRs

Add calculations fot the correct ags wavelength and add conditions wavelength
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/model/shared/src/main/scala/explore/events/AgsMessage.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/syntax/package.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/model/src/main/scala/lucuma/schemas/model/package.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
Due: Label explore PRs, Label schemas PRs

SC-7453 Read existing ephemeris files.
  build.sbt
  navigate/model/src/main/scala/navigate/model/config/NavigateEngineConfiguration.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/OdbProxy.scala
  navigate/server/src/main/scala/navigate/server/ephemeris/EphemerisFile.scala
  navigate/server/src/main/scala/navigate/server/ephemeris/EphemerisUpdater.scala
  navigate/server/src/main/scala/navigate/server/ephemeris/package.scala
  navigate/server/src/test/resources/ephemerides/AsteroidNew_A804+RA.eph
  navigate/server/src/test/resources/ephemerides/Comet_P%2F2009+WX51.eph
  navigate/server/src/test/resources/ephemerides/MajorBody_503.eph
  navigate/server/src/test/scala/navigate/server/ephemeris/EphemerisFileSpec.scala
  navigate/web/server/src/main/resources/base.conf
  navigate/web/server/src/main/scala/navigate/web/server/config/package.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

use `withModPatch` instead of local view
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  project/Versions.scala
Due: Label explore PRs

explicit reflow=true for highcharts
  explore/app/src/main/scala/explore/highcharts.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/SemesterPlot.scala
Due: Label explore PRs

fix schema stitcher test
  build.sbt
  navigate/schema-util/src/test/scala/edu/gemini/schema/util/SchemaStitcherTest.scala
Due: Label navigate PRs

Updated to use new ags catalog query buffer parameter
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  project/Versions.scala
Due: Label explore PRs

remove unused imports/annotations
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/app/src/main/scala/explore/common/ScienceQueries.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/app/src/main/scala/explore/itc/ItcEmptyTile.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/IntegratedEmissionLineEditor.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/SurfaceEmissionLineEditor.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/app/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/app/src/main/scala/explore/users/InviteUserPopup.scala
  explore/app/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/app/src/main/scala/explore/validations/ObservationValidationsTable.scala
  explore/workers/src/main/scala/japgolly/webapputil/boopickle/SafePickler.scala
  explore/workers/src/main/scala/japgolly/webapputil/indexeddb/IndexedDb.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  observe/web/client/src/main/scala/observe/ui/components/TopBar.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
  ui/lib/src/main/scala/lucuma/ui/components/About.scala
  ui/lib/src/main/scala/lucuma/ui/syntax/toast.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

SC-7453 Fixed ephemeris file name.
  navigate/model/src/main/scala/navigate/model/Target.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/OdbProxy.scala
  navigate/server/src/main/scala/navigate/server/Systems.scala
  navigate/server/src/main/scala/navigate/server/ephemeris/EphemerisFile.scala
  navigate/server/src/main/scala/navigate/server/ephemeris/EphemerisUpdater.scala
  navigate/server/src/main/scala/navigate/server/ephemeris/package.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

SC-7453 Fixed ephemeris configuration parameter.
  navigate/web/server/src/main/resources/base.conf
Due: Label navigate PRs

correct fix for nightplot resize
  explore/app/src/main/scala/explore/highcharts.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
Due: Label explore PRs

checkpoint
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  project/Versions.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
Due: Label explore PRs, Label ui PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label explore PRs, Label ui PRs

shadow mechanism for editing sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label ui PRs

Make itc panel work when imaging obsmode has been selected
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/shared/src/main/scala/explore/events/ItcMessage.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/workers/src/main/scala/workers/ItcServer.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

preliminary editing working
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label ui PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label explore PRs, Label ui PRs

fix observe
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label observe PRs

styles
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

kind of working
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/common/src/main/scala/explore/components/Tile.scala
Due: Label explore PRs

better sequence edit semantics, allow full seq editing
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

Update horizons display name
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
Due: Label explore PRs

Indicate path of non-sidereal target during an observation
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

SC-4214 Added probe guide state to full guide state.
  navigate/server/src/main/scala/navigate/server/tcs/GuideState.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

SC-4214 Fixed test errors.
  navigate/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label navigate PRs

Don't show "Retrieving ephemeris" message on nightplot for sidereals
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotData.scala
Due: Label explore PRs

Disable search on SearchForm for ToOs
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
Due: Label explore PRs

Updated ags limits for each probe
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/model-testkit/shared/src/main/scala/explore/events/arb/ArbCatalogMessage.scala
  explore/model/shared/src/main/scala/explore/events/CatalogMessage.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
  project/Versions.scala
Due: Label explore PRs

Fix observe compilaiton errors
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
Due: Label observe PRs

Make guideProbe a lazy val
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
Due: Label explore PRs

Fix typo
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Use parseSED if possible
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/common/src/main/public/match_sed_log_g.csv
  explore/common/src/main/public/match_sed_stars.dat
  explore/vite.config.mts
  project/Versions.scala
Due: Label explore PRs

Fix stupid mistake
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
