Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

schema updates
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ObservingModeSuite.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceData.scala
Due: Label observe PRs, Label schemas PRs, Label ui PRs

add random parameters editor
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGridDisplay.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
Due: Label explore PRs

migrating offset editor
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/app/src/main/scala/explore/config/offsets/package.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
Due: Label explore PRs, Label schemas PRs

checkpoint, query almost working
  build.sbt
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  project/Dependencies.scala
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ExposureTimeModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/GmosImagingVariantSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/TelescopeConfigGeneratorSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ConstraintSetDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ExposureTimeModeDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/PosAngleDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/TargetDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/TelescopeConfigGeneratorDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/TimingWindowDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
Due: Label explore PRs, Label schemas PRs

rework model
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ExposureTimeModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbGmosImagingVariant.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbTelescopeConfigGenerator.scala
Due: Label schemas PRs

update schema
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

working! (TODO FIX ObservingMode decode test)
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/GmosImagingVariantSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/TelescopeConfigGeneratorSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/GmosImagingVariantDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/tests/jvm/src/test/resources/obsmode.json
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ObservingModeSuite.scala
Due: Label explore PRs, Label schemas PRs

updates
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

checkpoint
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
Due: Label explore PRs

working with new odb
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbGmosImagingVariant.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbTelescopeConfigGenerator.scala
Due: Label explore PRs, Label schemas PRs

Dialog not showing in target search form
  explore/app/src/main/scala/explore/targeteditor/SearchForm.scala
Due: Label explore PRs

Fix Target table "Catalog Id" link
  explore/common/src/main/scala/explore/syntax/ui/package.scala
Due: Label explore PRs

Split the ags call into its own hook
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

Include base position on unconstrained results
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Remove package-lock.json
  .gitignore
  package-lock.json
Due: none

Log errors in WorkerClient.request
  explore/common/src/main/scala/workers/WorkerClient.scala
Due: Label explore PRs

SC-7457 Added input type for mutation refreshEphemerisFiles
  navigate/web/server/src/main/resources/navigate.graphql
Due: Label navigate PRs

Avoid showing the upgrade popup the first time around
  .gitignore
  explore/app/src/main/scala/explore/ExplorePWA.scala
Due: Label explore PRs

Restore functionality to the aladin preferences menu
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

Add an area for tooltips on offsets such they work on ESR
  explore/vite.config.mts
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
Due: Label explore PRs, Label ui PRs

Use ITOps horizons proxy and uncomment non-sidereal search code
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/model/shared/src/main/scala/explore/model/Constants.scala
  explore/workers/src/main/scala/workers/HorizonsServer.scala
Due: Label explore PRs

disable deleting single explicit offset
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/common/src/main/webapp/sass/explore.scss
  project/Versions.scala
Due: Label explore PRs

refactor
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/SvgTarget.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label ui PRs

edit offsetgenerator on a copy
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
Due: Label explore PRs

checkpoint
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/model/shared/src/main/scala/explore/model/Execution.scala
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label explore PRs, Label ui PRs

comments, sky offsets
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

inline offset generator editor
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/primereact/FormEnumDropdown.scala
Due: Label explore PRs, Label ui PRs

unify logic when computing offsets
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

first steps of variant editor
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/GmosImagingVariantDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GmosImagingVariant.scala
Due: Label explore PRs, Label schemas PRs

offsets editable
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

restore GlobalPreferences
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

offset editor rounded up
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/common/src/main/webapp/sass/explore.scss
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/primereact.scala
Due: Label explore PRs, Label ui PRs

checkpoint
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TelescopeConfigGenerator.scala
Due: Label explore PRs, Label schemas PRs

add key to explicit offset row
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
Due: Label explore PRs
