Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

reinstate showing S/N in gnirs sequence tables
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GnirsSequenceTable.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GnirsCentralWavelengthItcResult.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ModeSignalToNoise.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbModeSignalToNoise.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/GnirsCentralWavelengthItcResultSuite.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ModeSignalToNoiseDecoderSuite.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/GnirsSpectroscopySequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/ImagingSequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/SpectroscopySequenceTable.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

address pr comments
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/GnirsCentralWavelengthItcResult.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/GnirsCentralWavelengthItcResultSuite.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ModeSignalToNoiseDecoderSuite.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/GnirsSpectroscopySequenceTable.scala
Due: Label schemas PRs, Label ui PRs

Keep the telluric type for tellurics with visits.
  CONTEXT.md
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

Hide the no-telluric row for executed observations.
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

Clamp wheel and pinch zoom at the minimum FOV
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/model/src/main/scala/explore/model/AsterismVisualOptions.scala
Due: Label explore PRs

Run AGS on the lucuma-wasm geometry kernel
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/package.json
  explore/workers/src/main/scala/workers/AgsServer.scala
  pnpm-lock.yaml
  pnpm-workspace.yaml
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/PwfsGeometry.scala
Due: Label explore PRs, Label ui PRs

Fix core changes
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/scala/explore/model/syntax/observation.scala
  project/Versions.scala
Due: Label explore PRs

Update core
  project/Versions.scala
Due: none

scalafix
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label ui PRs

Run AGS on the lucuma-wasm geometry kernel
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label ui PRs

Calculate the AGS patrol-field intersection in the worker
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgs.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/src/main/scala/explore/events/AgsMessage.scala
  explore/model/src/main/scala/explore/model/AgsResult.scala
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GnirsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Igrins2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/PwfsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisitorGeometry.scala
Due: Label explore PRs, Label ui PRs

Clear the constrained patrol fields when a manual guide star skips the query
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
Due: Label explore PRs

Support altair
  explore/app/src/main/scala/explore/targeteditor/UseAltairModesAgs.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label ui PRs

scalafmt
  explore/common/src/main/scala/explore/model/reusability.scala
Due: Label explore PRs

Render the visualization overlay from Shape.polygons
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label ui PRs

Evaluate overlay shapes inside an arena
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
Due: Label ui PRs

adapt after rebase
  explore/app/src/main/scala/explore/targeteditor/UseDefaultObsTime.scala
  explore/common/src/test/scala/explore/utils/ObsTimeOrDefaultSuite.scala
Due: Label explore PRs

Default the observation time to the next transit
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targeteditor/UseDefaultObsTime.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/common/src/main/scala/explore/model/syntax/observation.scala
  explore/common/src/main/scala/explore/utils/package.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
  explore/common/src/test/scala/explore/utils/ObsTimeOrDefaultSuite.scala
  explore/model/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs

address pr comments
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/UseDefaultObsTime.scala
  explore/common/src/main/scala/explore/model/syntax/observation.scala
Due: Label explore PRs

scalafix
  explore/common/src/main/scala/explore/model/syntax/observation.scala
Due: Label explore PRs

Add data-testids for observation configuration and the sequence tile
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/common/src/main/scala/explore/utils/package.scala
Due: Label explore PRs

Update lucuma-core, lucuma-odb, and schema to get CfP Warning
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Add a time charges table to the observation details tile
  CONTEXT.md
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/VisitTimeChargeSubquery.scala
  explore/app/src/main/scala/explore/services/OdbVisitApi.scala
  explore/app/src/main/scala/explore/services/OdbVisitApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/app/src/main/scala/explore/tabs/TimeChargesTable.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-tests/src/test/scala/explore/model/TimeChargesSuite.scala
  explore/model/src/main/scala/explore/model/TimeCharges.scala
  explore/model/src/main/scala/explore/model/VisitTimeCharge.scala
Due: Label explore PRs

Add a divider above the time charges and test daylight-only visits
  explore/app/src/main/scala/explore/tabs/TimeChargesTable.scala
  explore/model-tests/src/test/scala/explore/model/TimeChargesSuite.scala
Due: Label explore PRs

Cache time charges per observation and match the table to the mockup
  explore/app/src/clue/scala/queries/common/VisitTimeChargeSubquery.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/app/src/main/scala/explore/tabs/TimeChargesTable.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-tests/src/test/scala/explore/model/TimeChargesSuite.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
  explore/model/src/main/scala/explore/model/TimeCharges.scala
  explore/model/src/main/scala/explore/model/VisitTimeCharge.scala
Due: Label explore PRs

Style the time charges table like the other explore tables
  explore/app/src/main/scala/explore/tabs/TimeChargesTable.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Allow sorting the time charges table by column
  explore/app/src/main/scala/explore/tabs/TimeChargesTable.scala
  explore/model-tests/src/test/scala/explore/model/TimeChargesSuite.scala
  explore/model/src/main/scala/explore/model/TimeCharges.scala
Due: Label explore PRs

Remember the time charges table sort per user
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/app/src/main/scala/explore/tabs/TimeChargesTable.scala
  explore/hasura/user-prefs/migrations/default/1790943279615_insert_into_public_lucumaTableIds/down.sql
  explore/hasura/user-prefs/migrations/default/1790943279615_insert_into_public_lucumaTableIds/up.sql
  explore/model/src/main/scala/explore/model/enums/TableIds.scala
Due: Label explore PRs

SC-10639 Improbements to dome, shutters and vent gates close/park commands.
  navigate/server/src/main/scala/navigate/server/tcs/EcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/EcsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestEcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label navigate PRs

Refresh time charges on demand instead of on execution events
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/app/src/main/scala/explore/tabs/TimeChargesTable.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/tabs/TimeChargesTable.scala
  explore/model-tests/src/test/scala/explore/model/TimeChargesSuite.scala
  explore/model/src/main/scala/explore/model/VisitTimeCharge.scala
Due: Label explore PRs

Fix import for LightSource in navigate
  navigate/server/src/test/scala/navigate/server/tcs/ScienceFoldPositionCodexSuite.scala
Due: Label navigate PRs

Keep time charges in local state instead of the program cache
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  explore/app/src/main/scala/explore/tabs/TimeChargesTable.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

Scroll target selection tables within their own boxes
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Pin sticky table columns at offsets computed from column sizes
  explore/app/src/main/scala/explore/components/StickyColumns.scala
  explore/app/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Make NavigateEngineSpec guide reset test wait on state instead of event count
  navigate/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
Due: Label navigate PRs

SC-10671 Fixed issues with shutters close and vent gates move commands.
  navigate/server/src/main/scala/navigate/server/tcs/EcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/EcsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestEcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label navigate PRs

Fix empty partner splits dialog for closed calls
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
Due: Label explore PRs

Respect program-level read-only in the sequence tile
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Hide sequence editing for non-staff once the observation has started
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
