Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label client PRs
  conditions:
  - files~=^modules/web/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label client-clue PRs
  conditions:
  - files~=^modules/web/client-clue/
  actions:
    label:
      add:
      - client-clue
      remove: []
- name: Label client-model PRs
  conditions:
  - files~=^modules/web/client-model/
  actions:
    label:
      add:
      - client-model
      remove: []
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^deploy/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^deploy/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^deploy/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^deploy/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label observe-server_staging PRs
  conditions:
  - files~=^deploy/observe-server_staging/
  actions:
    label:
      add:
      - observe-server_staging
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

disable checks
  build.sbt
Due: none

regenerate workflow
  .github/workflows/ci.yml
Due: none

api
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
Due: Label client PRs

controls for disabling subsystems
  modules/model/shared/src/main/scala/observe/model/SystemOverrides.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs, Label model PRs

fix disabled status
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
Due: Label client PRs

Send step abort event.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

extract sequence table logic to lucuma-ui
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableVisits.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs

remove rebase artifact
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label client PRs

rearrange events
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ObserveEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/package.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label client PRs, Label model PRs, Label server PRs

compiling... types match
  modules/model/shared/src/main/scala/observe/model/ModelLenses.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/arb/SequenceEventsArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/events/ObserveEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label model PRs, Label server PRs, Label server_new PRs

remove legacy event layer
  modules/model/shared/src/main/scala/observe/model/ModelLenses.scala
  modules/model/shared/src/main/scala/observe/model/SingleActionOp.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/arb/SequenceEventsArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/package.scala
  modules/model/shared/src/test/scala/observe/model/ClientEventSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/ObserveEventSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/events/TargetedClientEvent.scala
  modules/server_new/src/main/scala/observe/server/events/package.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label client PRs, Label model PRs, Label server PRs, Label server_new PRs

Fixed encoding of GMOS grating order
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerEpics.scala
Due: Label server_new PRs

Correctly update steps when loading new atom.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerSim.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs, Label server_new PRs

keep UI updated when step/atom is completed
  build.sbt
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/clue/scala/observe/queries/VisitQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  modules/web/client/vite.config.js
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server PRs, Label server_new PRs

reinstate column resizing
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  project/Settings.scala
Due: Label client PRs

filter observations by site in the UI
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label client PRs, Label model PRs

Auto-scroll to current step in sequence table
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

Add logout button
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
Due: Label client PRs

Add button to expand/collapse all visits
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

Backend interface for requesting next atom.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label client PRs, Label server PRs, Label server_new PRs

not needed after all
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
Due: Label client PRs, Label client-model PRs

Included PR suggestion.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label server PRs, Label server_new PRs

deploy to docker hub and heroku
  .github/workflows/ci.yml
  build.sbt
Due: none

rename GH job
  build.sbt
Due: none

generate workflow
  .github/workflows/ci.yml
Due: none

Fix duplicate expand buttons and extract observation execution component
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

update README
  README.md
Due: none

Add table-expansion as effect dependency and move button slightly lower
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

Move expand button to table component
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

Formatting
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
Due: Label client PRs

Change text to visits
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

odb state makes it to ui
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/odb/RecordedIds.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/RecordedIds.scala
  modules/server_new/src/main/scala/observe/server/odb/newTypes.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server_new PRs

continuous visualization of current sequence
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/events/package.scala
  modules/model/shared/src/main/scala/observe/model/odb/RecordedIds.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Due: Label client PRs, Label model PRs

fix tests, scalafix
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbObsRecordedIds.scala
  modules/model/shared/src/main/scala/observe/model/odb/RecordedIds.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/arb/package.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server_new PRs

Only expand/collapse visits in sequence table and add separate buttons
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

avoid progress bar from going backwards
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
Due: Label client PRs

require staff on ui unless on dev
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  project/Settings.scala
Due: Label client PRs

upgrade libs
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/model/shared/src/main/scala/observe/model/InstrumentDynamicConfig.scala
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SystemOverrides.scala
  modules/model/shared/src/main/scala/observe/model/UserPrompt.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbInstrumentDynamicConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  project/Settings.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

remove commented code
  modules/model/shared/src/main/scala/observe/model/InstrumentDynamicConfig.scala
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
Due: Label model PRs
