Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Fix typo
  explore/app/src/main/scala/explore/config/MosMaskPicker.scala
Due: Label explore PRs

Avoid disk-cache write failures for the dev workers bundle
  explore/vite.config.mts
Due: Label explore PRs

Use import.meta.dirname instead of __dirname in vite.config.mts
  explore/vite.config.mts
Due: Label explore PRs

Fix unit conversios for windspeed
  observe/server/src/main/scala/observe/server/gws/GwsHeader.scala
Due: Label observe PRs

Fix conversion of pressure
  observe/server/src/main/scala/observe/server/gws/package.scala
Due: Label observe PRs

Fix RATRGOFF sign when scaling by cos matching seqexec
  observe/server/src/main/scala/observe/server/tcs/TcsKeywordReader.scala
Due: Label observe PRs

Fix units of Offset.toInstrumentOffset
  observe/server/src/main/scala/observe/server/tcs/package.scala
  observe/server/src/test/scala/observe/server/tcs/TcsSuite.scala
Due: Label observe PRs

Add test for windspeed and pressure conversions
  observe/server/src/test/scala/observe/server/gws/GwsHeaderSuite.scala
Due: Label observe PRs

Fix double scrollbar on the programs table
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Fix slight see through on a table top border
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Shortcut 9812: Support multiple GNIRS central wavelengths
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/GnirsWavelengthsPanel.scala
  explore/app/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/app/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/app/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/itc/ItcTileState.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/BasicConfigurationSuite.scala
Due: Label explore PRs, Label schemas PRs

Show the program reference instead of the id if available
  explore/app/src/main/scala/explore/TopBar.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

CSS linting fix
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Read the maskname for attachments
  explore/app/src/clue/scala/queries/common/AttachmentSubquery.scala
  explore/app/src/main/scala/explore/attachments/package.scala
  explore/app/src/main/scala/explore/config/MosMaskPicker.scala
  explore/app/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/model/src/main/scala/explore/model/Attachment.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Show the mask name on the sequence table
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label explore PRs, Label ui PRs

Also show the mask name in observe
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  observe/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
Due: Label observe PRs

cleanup
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  observe/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label observe PRs, Label ui PRs

Rename GnirsSpectroscopyWavelength to GnirsCentralWavelengthConfig
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/GnirsWavelengthsPanel.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

scalafmt/fix
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Generate steps with masks for gmos
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/gmos/Gmos.scala
Due: Label observe PRs

Avoid passing all parameters to construct steps
  observe/server/src/main/scala/observe/server/InstrumentStepBuilder.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/flamingos2/Flamingos2.scala
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/gmos/Gmos.scala
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
Due: Label observe PRs

refactor
  observe/server/src/main/scala/observe/server/flamingos2/Flamingos2.scala
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/gmos/Gmos.scala
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
Due: Label observe PRs

Read the attachments for masks and pass them along to the steps
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/CustomMasks.scala
  observe/server/src/main/scala/observe/server/InstrumentStepBuilder.scala
  observe/server/src/main/scala/observe/server/flamingos2/Flamingos2.scala
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/gmos/GmosNorth.scala
  observe/server/src/main/scala/observe/server/gmos/GmosSouth.scala
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
  observe/server/src/test/scala/observe/server/CustomMasksSuite.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/TestCommon.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

Fix a layout regression for the dvanced configuration of MOS
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Revert open telemetry broken release
  project/Versions.scala
Due: none

Use mask name rather than the filename
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/CustomMasks.scala
  observe/server/src/test/scala/observe/server/CustomMasksSuite.scala
Due: Label observe PRs

Unify how InstrumentSteps are built
  observe/server/src/main/scala/observe/server/InstrumentStepBuilder.scala
  observe/server/src/main/scala/observe/server/flamingos2/Flamingos2.scala
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/gmos/Gmos.scala
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
Due: Label observe PRs

Update lucuma-core to get new Display[GnirsFilter]
  project/Versions.scala
Due: none

cleanup
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/gmos/Gmos.scala
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
  observe/server/src/test/scala/observe/server/CustomMasksSuite.scala
Due: Label observe PRs

Allow selecting the MOS acquisition filter
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Derive Configuration tile's row span from its content
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/app/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/common/src/main/scala/explore/components/SimpleTile.scala
  explore/common/src/main/scala/explore/components/Tile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/layout.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/common/src/test/scala/explore/model/LayoutSuite.scala
Due: Label explore PRs

Cap auto-height by the window viewport and fix measurement in flex bodies
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/app/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/common/src/main/scala/explore/components/Tile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Replay dropped auto-height measurements
  explore/app/src/main/scala/explore/components/TileController.scala
Due: Label explore PRs

Keep auto-height measurement alive across minimize/maximize
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/common/src/main/scala/explore/components/Tile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Restrict auto-height tiles to horizontal resizing via pinned row bounds
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/common/src/main/scala/explore/model/layout.scala
  explore/common/src/test/scala/explore/model/LayoutSuite.scala
Due: Label explore PRs

Condense auto-height comments and make the viewport read effectful
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/common/src/main/scala/explore/components/Tile.scala
  explore/common/src/main/scala/explore/model/layout.scala
Due: Label explore PRs

Avoid observing non-auto-height tiles and rescanning tiles per layout item
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/common/src/main/scala/explore/components/Tile.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/common/src/main/scala/explore/components/Tile.scala
  explore/common/src/main/scala/explore/model/layout.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Edit GNIRS imaging coadds per filter
  explore/app/src/main/scala/explore/config/Flamingos2ImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GnirsImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/ImagingFiltersPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

SC-8226 wrap commands and bugfixes.
  navigate/epics/src/main/scala/navigate/epics/Channel.scala
  navigate/epics/src/main/scala/navigate/epics/TestChannel.scala
  navigate/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
  navigate/model/src/main/scala/navigate/model/AngleTypes.scala
  navigate/model/src/main/scala/navigate/model/Distance.scala
  navigate/model/src/main/scala/navigate/model/EnclosureState.scala
  navigate/model/src/main/scala/navigate/model/LinearAngle.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/enums/DomeMode.scala
  navigate/model/src/main/scala/navigate/model/enums/ShutterMode.scala
  navigate/model/src/main/scala/navigate/model/enums/UnwrapMode.scala
  navigate/model/src/main/scala/navigate/model/package.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/Systems.scala
  navigate/server/src/main/scala/navigate/server/acm/GeminiApplyCommand.scala
  navigate/server/src/main/scala/navigate/server/tcs/AcquisitionCameraEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/CrcsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/EcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/EcsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/EpicsSystems.scala
  navigate/server/src/main/scala/navigate/server/tcs/McsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/ScsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestEcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
