Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

edit controls column
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceIcons.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/package.scala
Due: Label explore PRs, Label ui PRs

correct sequence type edit
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
Due: Label ui PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

shadow mechanism for editing sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label ui PRs

nicer undo syntax
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/undo/UndoSetter.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

post-rebase fixes
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

editableSequence
  explore/app/src/main/scala/explore/config/sequence/EditableSequence.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
Due: Label explore PRs

delete rows
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
Due: Label ui PRs

new sequence editor mechanism working
  explore/app/src/main/scala/explore/config/sequence/EditableSequence.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
Due: Label explore PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  project/Versions.scala
Due: Label explore PRs

fix observe
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label observe PRs

edits on actual atom model
  explore/app/src/main/scala/explore/config/sequence/EditableSequence.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

Fix typo
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/package.scala
Due: Label explore PRs

clone executed steps
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
Due: Label explore PRs, Label navigate PRs, Label ui PRs

Update core to get option VMag in horizons ephemeris
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/workers/src/main/scala/workers/horizons/HorizonsRequests.scala
  project/Versions.scala
Due: Label explore PRs

Fix issue of target summary table thinking it is the only tile.
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Fix log level decoding
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

SC-7941 Ephemeris file length fixed to 24 hrs.
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/Target.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/ephemeris/EphemerisUpdater.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label navigate PRs, Label ui PRs

table [row|cell]Mod migration
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/app/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/app/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targeteditor/spectralDefinition/package.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  observe/web/client/src/main/scala/observe/ui/components/LogArea.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/table/PrimeTable.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

lucuma-react version
  project/Versions.scala
Due: none

working, now cleanup
  explore/app/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/app/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client-model/src/main/scala/observe/ui/model/newTypes.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsListTab.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/table/extensions.scala
  ui/lib/src/main/scala/lucuma/ui/table/package.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

make table states stable
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/app/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/app/src/main/scala/explore/users/ProgramUsersTable.scala
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client-model/src/main/scala/observe/ui/model/newTypes.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/reusability/package.scala
  ui/lib/src/main/scala/lucuma/ui/table/extensions.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

fix version
  project/Versions.scala
Due: none

fix arbitrary
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
Due: Label observe PRs

fix some unsafe operations
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label explore PRs, Label ui PRs

tolerate removing all steps from sequence
  explore/app/src/main/scala/explore/config/sequence/EditableSequence.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

dynTable collapsible cols
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/reusability/reusability.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnSize.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
Due: Label explore PRs, Label ui PRs

remove commented and debug code from previous pr
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/table/extensions.scala
Due: Label observe PRs, Label ui PRs

Add help icons to program tiles
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
Due: Label explore PRs

SC-8022 Don't clear CAD for OIWFS data process command.
  navigate/server/src/main/scala/navigate/server/tcs/OiwfsEpicsSystem.scala
Due: Label navigate PRs

Add visualization of no-go-zones
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
  explore/model/shared/src/main/scala/explore/model/AGSVisibility.scala
  project/Versions.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

Fix problem of `Tile.Inline` remounting on every render
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/common/src/main/scala/explore/components/SimpleTile.scala
  explore/common/src/main/scala/explore/components/Tile.scala
Due: Label explore PRs

Add gmos imaging to the configuration request query
  explore/app/src/clue/scala/queries/common/ConfigurationSubquery.scala
Due: Label explore PRs

IG2 modes and ITC
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  explore/model/shared/src/main/scala/explore/model/package.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  explore/workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  project/Versions.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Make BasicConfiguration.Igrins2LongSlit a case object
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Add an option to show all targets in the Target Summary
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
Due: Label explore PRs

scalafix, fix tests
  schemas/lib/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
Due: Label schemas PRs

adapt explore to new record api
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  schemas/lib/src/test/resources/visitGmosNorth.json
  schemas/lib/src/test/resources/visitGmosSouth.json
  schemas/lib/src/test/resources/visitsQuery.graphql
  schemas/lib/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  schemas/model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label observe PRs, Label schemas PRs, Label ui PRs

reinstate accidentally deleted property in query
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
Due: Label explore PRs, Label schemas PRs
