Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

remove comments, lint, lazy vals
  .vscode/settings.json
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/model/src/main/scala/lucuma/schemas/model/Visit.scala
Due: Label observe PRs, Label schemas PRs

fix sequence row ids
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  observe/web/server/src/main/resources/base.conf
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
  ui/testkit/src/main/scala/lucuma/ui/sequence/arb/ArbSelectedRowId.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

scalafix, fix tests
  schemas/lib/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
Due: Label schemas PRs

implement missing events, refactor
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  observe/server_new/src/main/scala/observe/server/ObserveActions.scala
  observe/server_new/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  observe/server_new/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommands.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  observe/web/server/src/main/resources/base.conf
  schemas/model/src/main/scala/lucuma/schemas/model/Visit.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

migrate to new events api for stored sequences
  .vscode/settings.json
  observe/model/shared/src/main/scala/observe/model/arb/ArbObsRecordedIds.scala
  observe/model/shared/src/main/scala/observe/model/odb/RecordedIds.scala
  observe/server_new/src/clue/scala/observe/common/EventsGQL.scala
  observe/server_new/src/main/scala/observe/server/InstrumentActions.scala
  observe/server_new/src/main/scala/observe/server/ObserveActions.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Event.scala
  observe/server_new/src/main/scala/observe/server/engine/SystemEvent.scala
  observe/server_new/src/main/scala/observe/server/events/package.scala
  observe/server_new/src/main/scala/observe/server/gmos/GmosInstrumentActions.scala
  observe/server_new/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  observe/server_new/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommands.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label observe PRs, Label schemas PRs

SC-7899 Force full WFS configuration after taking sky.
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label navigate PRs

SC-7767 Pause and resume guiding when moving to science target.
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
Due: Label navigate PRs

invoke odb when editing sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  explore/model/shared/src/main/scala/explore/model/itc/package.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceEditQueriesGql.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceData.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Revert "Update lucuma-react-beautiful-dnd, ... to 0.97.1"
  project/Versions.scala
Due: none

Update schema to support igrins2 observations
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Updates to the ui to avoid errors when loading IG2
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/shared/src/main/scala/explore/modes/InstrumentOverrides.scala
  project/Versions.scala
Due: Label explore PRs

Show igrins2 visualization on aladin [sc-7819]
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/Igrins2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

Add column with lambda intervals
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/package.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Allow selecting IG2 as the mode [sc-8050]
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
Due: Label explore PRs

Enable ags for igrins2 [sc-8043]
  explore-sparse-checkout
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

Disable basic config controls while accepting a config
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
Due: Label explore PRs, Label schemas PRs

Initial layout for the igrins 2 configuration editor
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/shared/src/main/scala/explore/model/display.scala
Due: Label explore PRs

Fix for the revert config button
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Add calculation of igrins 2 slit width
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/config/package.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label explore PRs

igrins2 itc configuration doesn't take parameters
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Update schema
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

Show selected target and target name
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSource.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/shared/src/main/scala/explore/model/TargetSourceKind.scala
Due: Label explore PRs

Update the schema to read igrins2 spatial offsets
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

add CLAUDE.md
  CLAUDE.md
Due: none

add observe server CLAUDE.md
  observe/server_new/CLAUDE.md
Due: Label observe PRs

lint CLAUDE.mds
  CLAUDE.md
  observe/server_new/CLAUDE.md
Due: Label observe PRs

Update to Vite 8
  build.sbt
  explore/common/src/main/webapp/sass/explore.scss
  explore/package.json
  explore/vite.config.mts
  observe/web/client/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  ui/demo/package.json
  ui/demo/vite.config.mts
Due: Label explore PRs, Label observe PRs, Label ui PRs

Add UI to edit offsets
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  project/Versions.scala
Due: Label explore PRs

Consider the defaults for offsets when changing mode
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
Due: Label explore PRs

Always shows both axes on the offset editor
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
Due: Label explore PRs

Add port for igrins2
  observe/server_new/src/main/resources/Tcs.xml
  observe/server_new/src/main/scala/observe/server/tcs/TcsEpics.scala
  observe/server_new/src/main/scala/observe/server/tcs/TcsKeywordReader.scala
  observe/server_new/src/test/scala/observe/server/tcs/TestTcsEpics.scala
Due: Label observe PRs

Add dateUT to the tcs keyword reader
  observe/server_new/src/main/scala/observe/server/tcs/TcsKeywordReader.scala
Due: Label observe PRs

Add keyword names for igrins 2
  observe/model/shared/src/main/scala/observe/model/enums/KeywordName.scala
Due: Label observe PRs

Add igrins2 header and updates to support gds writer
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2Header.scala
  observe/server_new/src/main/scala/observe/server/keywords/package.scala
  observe/server_new/src/main/scala/observe/server/tcs/TcsKeywordReader.scala
Due: Label observe PRs

Port GiapiInstrumentController
  observe/server_new/src/main/scala/observe/server/GiapiInstrumentController.scala
  project/Versions.scala
Due: Label observe PRs

Add Igrins2 controller
  observe/server_new/src/main/scala/observe/server/GiapiInstrumentController.scala
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2Controller.scala
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2Header.scala
  observe/server_new/src/main/scala/observe/server/keywords/package.scala
Due: Label observe PRs

Add Igrins2 disabled controller
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2ControllerDisabled.scala
  observe/server_new/src/main/scala/observe/server/package.scala
Due: Label observe PRs

Add Igrins2 descriptor
  observe/model/shared/src/main/scala/observe/model/ObserveStage.scala
  observe/server_new/src/main/scala/observe/server/ProgressUtil.scala
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2.scala
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2Controller.scala
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2ControllerDisabled.scala
Due: Label observe PRs

cleanup
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2.scala
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2Header.scala
  observe/server_new/src/main/scala/observe/server/keywords/package.scala
Due: Label observe PRs

Initial configuration values
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2.scala
  observe/server_new/src/main/scala/observe/server/igrins2/Igrins2Controller.scala
Due: Label observe PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
