Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Generalize target slots, reducing the ghost-specific code
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetVisualization.scala
Due: Label explore PRs, Label schemas PRs

PR suggestions
  .github/workflows/ci.yml
  build.sbt
Due: none

typo
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: Label schemas PRs

comment
  explore/app/src/main/scala/explore/ExploreLayout.scala
Due: Label explore PRs

Add central wavelength to ObservingModeSummary.GnirsLongSlit
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs

Display the IFU fields with a pattern and highlight the selected IFU
  explore/app/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

stylelint
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
Due: Label ui PRs

Add Flamingos2Imaging variant to ModeSignalToNoise
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ModeSignalToNoise.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbModeSignalToNoise.scala
Due: Label schemas PRs

gnirs acquisition filter breaking change
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  project/Versions.scala
Due: Label explore PRs

fix version
  project/Versions.scala
Due: none

Make direnv to write .nrpc with the fontawesome token
  .envrc
Due: none

Display Flamingos2 imaging sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2ImagingSequenceTable.scala
  project/Versions.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbModeSignalToNoise.scala
Due: Label explore PRs, Label schemas PRs

Hide fpu and grating columns form imaging sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2ImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
Due: Label explore PRs

remove unnecessary conversion
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
Due: Label explore PRs

Address PR comment
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2ImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
Due: Label explore PRs

send micrometers to the gnirs epic channel instead of nanometers
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
Due: Label observe PRs

Fix ETM formatting in configuration dropdown
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs

SC-9040 Fixed GHOST binning configuration.
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
Due: Label observe PRs

Show time on itc for imaging as time x exposures
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
Due: Label explore PRs

Read GHOST skyPosition in the observing mode model
  project/Versions.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Calculate IFU mapping locally
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Remove ghostIfuMapping query
  explore/app/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: Label explore PRs, Label schemas PRs

Update lucuma-core
  project/Versions.scala
Due: none

SC-9042 Navigate now resets instrument focus offset on slew.
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label navigate PRs

Add ags and aladin support for f2 imaging
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
Due: Label explore PRs, Label ui PRs

Refactor the creation of ags params
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label ui PRs

Port the xmlrpc client for the v1.x of gds
  observe/server/src/main/scala/observe/server/keywords/GdsClient.scala
  observe/server/src/test/scala/observe/server/keywords/GdsClientSuite.scala
Due: Label observe PRs

Ghost uses the legacy xmlrpc server
  observe/server/src/main/scala/observe/server/Systems.scala
Due: Label observe PRs

Rename okClient for the json client
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/keywords/GdsClient.scala
Due: Label observe PRs

Fix science table header length
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
Due: Label observe PRs

Auto select ghost tab when one is loaded
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label observe PRs

Include ghost for resource usage computation
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
Due: Label observe PRs

handle gnirs sequence with no itc, rename
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs

gnirs fpu migration
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
  observe/server/src/test/scala/observe/server/GnirsSuite.scala
  project/Versions.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label observe PRs, Label schemas PRs

telluric group -> obsCalibration group rename
  explore/app/src/main/scala/explore/ObsGroupHelper.scala
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/src/main/scala/explore/model/Group.scala
Due: Label explore PRs

update schema
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

Add table to show flamingos2 imaging
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2ImagingSequenceTable.scala
Due: Label observe PRs

switch to release versions
  project/Versions.scala
Due: none

Add resource-ui to deployment script
  promote.sh
Due: none

suport twilights and pinholes in observe
  explore/app/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/acm/GeminiApplyCommandSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  observe/model/shared/src/main/scala/observe/model/ObserveStep.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/StepGen.scala
  observe/server/src/main/scala/observe/server/StepsView.scala
  observe/server/src/main/scala/observe/server/engine/Action.scala
  observe/server/src/main/scala/observe/server/gmos/GmosStepsView.scala
  observe/server/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  observe/server/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server/src/main/scala/observe/server/package.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server/src/test/scala/observe/server/TestCommon.scala
  observe/server/src/test/scala/observe/server/engine/TestUtil.scala
  observe/server/src/test/scala/observe/server/engine/common.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  observe/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  observe/web/client/src/main/scala/observe/ui/components/MainApp.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionConfigSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs
