Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Show only filters in Flamingos2Imaging summary
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs

Fix arbitraries
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

scalafmt
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/model/src/main/scala/explore/model/boopickle/BoopicklePlatform.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Fixed another arbitrary
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Fix observe compilation
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
Due: Label observe PRs

Add package.json to schemas exports
  .github/workflows/npm.yml
  build.sbt
Due: none

Don't allow changes to attachments assigned to execution observations
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
Due: Label explore PRs

Add a new line for F2 imaging mode summary
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs

Rename scienceFov to agsDiameter
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/AlienVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ResidentVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisitorGeometry.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Rename label for AGS diameter
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/AlienVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/ResidentVisitorConfigPanel.scala
Due: Label explore PRs

Change condition for preventing modification of an attachment
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
Due: Label explore PRs

Improve loading time of elevation plot for many targets
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotData.scala
Due: Label explore PRs

load gnirs sequences in observe
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/SwapConfig.scala
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/EngineState.scala
  observe/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/SequenceData.scala
  observe/server/src/main/scala/observe/server/StepGen.scala
  observe/server/src/main/scala/observe/server/StepsView.scala
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  observe/server/src/main/scala/observe/server/package.scala
  observe/server/src/test/scala/observe/server/engine/TestUtil.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GnirsSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
Due: Label navigate PRs, Label observe PRs, Label schemas PRs

mark test as flaky
  navigate/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
Due: Label navigate PRs

remove edit columns in observe, allow free resizing of some cols
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label observe PRs, Label ui PRs

show sn for gnirs sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsSequenceTable.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/SwapConfig.scala
Due: Label explore PRs, Label navigate PRs

Fix PA mode locking when no observing mode selected
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

Support unsplittable observations: step 1
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/actions/ObservationPasteIntoSchedulingGroupAction.scala
  explore/app/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/app/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbObservation.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbSchedulingConstraints.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
  explore/model/src/main/scala/explore/model/SchedulingConstraints.scala
  explore/model/src/main/scala/explore/model/SchedulingGroup.scala
  explore/model/src/main/scala/explore/model/package.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Adapt explore to support f2 having offset generators
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/ImagingVariantEditor.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/SchedulingConstraints.scala
  explore/model/src/main/scala/explore/model/display.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ImagingVariantSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ImagingVariantDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ImagingVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbImagingVariant.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

SC-8859 Fixed undefined EPICS channels in Observe.
  observe/server/src/main/resources/Tcs.xml
Due: Label observe PRs

Update libraries
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/SchedulingConstraints.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/model/src/main/scala/lucuma/schemas/decoders/ImagingVariantDecoders.scala
Due: Label explore PRs, Label schemas PRs

Fix test error
  schemas/tests/jvm/src/test/scala/lucuma/schemas/ObservingModeSuite.scala
Due: Label schemas PRs

Some lib-updates
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  project/Versions.scala
Due: Label explore PRs

Display and edit splittability on the scheduling tab
  explore/app/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/primereact/BooleanDropdownView.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
Due: Label explore PRs, Label ui PRs

Support F2 on the itc imaging tile
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/src/main/scala/explore/model/itc/package.scala
Due: Label explore PRs

Fix imports
  explore/app/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/app/src/main/scala/explore/users/InviteUserPopup.scala
  explore/app/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/SwapConfig.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  ui/demo/src/main/scala/lucuma/ui/demo/FormComponent.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
Due: Label explore PRs, Label navigate PRs, Label observe PRs, Label ui PRs

Preserve itc target with errors for display
  explore/app/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/app/src/main/scala/explore/itc/ItcTileState.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/itc/ItcTarget.scala
Due: Label explore PRs

SC-8279 GHOST support in observe.
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  observe/server/src/main/scala/observe/server/ghost/GhostKeywordReader.scala
  observe/server/src/main/scala/observe/server/ghost/GhostTargetName.scala
  observe/server/src/main/scala/observe/server/ghost/package.scala
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/TestCommon.scala
  observe/server/src/test/scala/observe/server/ghost/GhostArbitraries.scala
  observe/server/src/test/scala/observe/server/ghost/GhostSpec.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/server/src/test/scala/observe/server/tcs/TcsNorthSuite.scala
  observe/server/src/test/scala/observe/server/tcs/TcsSouthSuite.scala
  project/Versions.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/CoordinatesSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/SiderealSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/TargetWithIdSubquery.scala
Due: Label observe PRs, Label schemas PRs

Update scalajs-react, crystal, lucuma-react
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/SemesterPlot.scala
  explore/app/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/app/src/main/scala/explore/validations/ObservationValidationsTable.scala
  project/Versions.scala
Due: Label explore PRs

SC-SC-8932 Fixed science fold position name for bottom port.
  navigate/server/src/main/scala/navigate/server/tcs/ScienceFoldPositionCodex.scala
Due: Label navigate PRs

dyntable rework and observe flow improvements
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/webapp/styles/observe.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnSize.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
Due: Label observe PRs, Label ui PRs

flaky test, remove commented code
  navigate/epics/src/test/scala/navigate/epics/ChannelSpec.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label navigate PRs, Label observe PRs

address pr comments
  observe/web/client/src/main/webapp/styles/observe.scss
  ui/lib/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
Due: Label observe PRs, Label ui PRs

gnirs sequence execution
  observe/model/shared/src/main/scala/observe/model/InstrumentDynamicConfig.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbInstrumentDynamicConfig.scala
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsController.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerDisabled.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerSim.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsEpics.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsHeader.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsKeywordReader.scala
  observe/server/src/test/scala/observe/server/GnirsSuite.scala
Due: Label observe PRs

reapply pr fixes
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
Due: Label observe PRs

units
  observe/server/src/main/scala/observe/server/gnirs/Gnirs.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsController.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
  observe/server/src/test/scala/observe/server/GnirsSuite.scala
Due: Label observe PRs

adjust test to changes in core
  observe/server/src/test/scala/observe/server/GnirsSuite.scala
Due: Label observe PRs

add units to variable names
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
Due: Label observe PRs

use digitalAvgs from lucuma-core
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
Due: Label observe PRs
