Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Update lucumaReact version to 0.97.3
  project/Versions.scala
Due: none

Update to Vite 8
  build.sbt
  explore/README.md
  explore/common/src/main/webapp/sass/explore.scss
  explore/package.json
  explore/vite.config.mts
  observe/README.md
  observe/web/client/package.json
  pnpm-lock.yaml
  ui/demo/package.json
  ui/demo/vite.config.mts
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-common.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
Due: Label explore PRs, Label observe PRs, Label ui PRs

Partial implementation of streamed status
  navigate/epics/src/main/scala/navigate/epics/Channel.scala
  navigate/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
  navigate/epics/src/main/scala/navigate/epics/package.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Enable SmallModulesFor for fastLinkJS
  build.sbt
  explore/app/src/main/webapp/main.jsx
  explore/package.json
  explore/vite.config.mts
  observe/web/client/package.json
  observe/web/client/src/main/webapp/index.html
  observe/web/client/src/main/webapp/main.jsx
  observe/web/client/vite.config.mts
  pnpm-lock.yaml
  ui/demo/package.json
  ui/demo/src/main/webapp/aladin.jsx
  ui/demo/src/main/webapp/main.jsx
  ui/demo/vite.config.mts
Due: Label explore PRs, Label observe PRs, Label ui PRs

SC-7408 Fixed subscription for WFS configuration changes.
  navigate/epics/src/main/scala/navigate/epics/Channel.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Switch to LightningCSS for CSS processing
  explore/package.json
  explore/vite.config.mts
  observe/web/client/package.json
  observe/web/client/vite.config.mts
  pnpm-lock.yaml
Due: Label explore PRs, Label observe PRs

Upgrade to scala 3.8.3-RC3 to fix presentation compiler
  .github/workflows/ci.yml
  build.sbt
  explore/vite.config.mts
  navigate/schema-util/src/main/scala/edu/gemini/schema/util/SchemaStitcher.scala
  navigate/schema-util/src/test/scala/edu/gemini/schema/util/SchemaStitcherTest.scala
  navigate/server/src/main/scala/navigate/server/tcs/CircularBufferControl.scala
  navigate/server/src/main/scala/navigate/server/tcs/OiwfsEpicsSystem.scala
  observe/web/client/vite.config.mts
  ui/demo/vite.config.mts
Due: Label explore PRs, Label navigate PRs, Label observe PRs, Label ui PRs

Show observation band indicator in all programs with allocations
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Update lucumaservers to 0.57.1
  project/Versions.scala
Due: none

Add setupCount to CalculatedDigestSubquery
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
Due: Label explore PRs

Allow editing of calibration workflow states
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

For ITC, move exposureTimeMode into the InstrumentModes
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/itc/ItcTileState.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/shared/src/main/scala/explore/events/ItcMessage.scala
  explore/model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  explore/model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  explore/model/shared/src/main/scala/explore/model/itc/package.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  explore/workers/src/main/scala/workers/ItcServer.scala
  explore/workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  project/Versions.scala
Due: Label explore PRs

Tweaks and clarifications
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label explore PRs, Label schemas PRs

Don't request the full obs when clonning
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
Due: Label explore PRs

Work in progress.
  navigate/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
Due: Label navigate PRs

SC-8239 Increased timeout for stopping WFSs when circular buffer is enabled.
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
Due: Label navigate PRs

Refactor observe engine from atom-based to step-based execution
  .gitignore
  .vscode/settings.json
  PLAN-PROGRESS.md
  observe/model/shared/src/main/scala/observe/model/SequenceState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  observe/server_new/src/main/scala/observe/server/EngineState.scala
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqEvent.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/SequenceGen.scala
  observe/server_new/src/main/scala/observe/server/StepActionsGen.scala
  observe/server_new/src/main/scala/observe/server/StepGen.scala
  observe/server_new/src/main/scala/observe/server/StepStatusGen.scala
  observe/server_new/src/main/scala/observe/server/StepsView.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Sequence.scala
  observe/server_new/src/main/scala/observe/server/gmos/Gmos.scala
  observe/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  observe/server_new/src/main/scala/observe/server/package.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label observe PRs

remove claude plan file, scalafix
  .gitignore
  PLAN-PROGRESS.md
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/StepGen.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label observe PRs

advance logic
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/ModelLenses.scala
  observe/model/shared/src/main/scala/observe/model/RunningStepProgress.scala
  observe/model/shared/src/main/scala/observe/model/SequenceView.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbRunningStep.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/main/scala/observe/model/events/package.scala
  observe/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  observe/model/shared/src/test/scala/observe/model/ModelSuite.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/client/src/main/scala/observe/ui/display/givens.scala
  observe/web/client/src/main/scala/observe/ui/model/SessionQueueRow.scala
  observe/web/client/src/main/scala/observe/ui/model/reusability.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

remove debug statements
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label observe PRs

remove Sequence class
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/EngineStep.scala
  observe/server_new/src/main/scala/observe/server/engine/Sequence.scala
  observe/server_new/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label observe PRs

starting sequence
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label observe PRs

SequenceState/Status disambiguation
  .vscode/settings.json
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/SequenceState.scala
  observe/model/shared/src/main/scala/observe/model/SequenceStatus.scala
  observe/model/shared/src/main/scala/observe/model/SequenceView.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/test/scala/observe/model/ModelSuite.scala
  observe/server_new/src/main/scala/observe/server/ExecutionQueue.scala
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Sequence.scala
  observe/server_new/src/main/scala/observe/server/syntax.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/ObserveServerArbitraries.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ControlButtonResolver.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/client/src/main/scala/observe/ui/model/SessionQueueRow.scala
  observe/web/client/src/main/scala/observe/ui/model/reusability.scala
Due: Label observe PRs

logic fixes
  MEMORY.md
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/engine/Breakpoints.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Sequence.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
Due: Label observe PRs

one step running
  observe-sparse-checkout
  observe/model/shared/src/main/scala/observe/model/ModelLenses.scala
  observe/model/shared/src/main/scala/observe/model/SequenceMetadata.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  observe/server_new/src/main/scala/observe/server/EngineState.scala
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/StepGen.scala
  observe/server_new/src/main/scala/observe/server/Systems.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/package.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
Due: Label observe PRs

SequenceState rename and extraction
  observe/server_new/src/main/scala/observe/server/EngineState.scala
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Sequence.scala
  observe/server_new/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server_new/src/main/scala/observe/server/engine/package.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/TestUtil.scala
Due: Label observe PRs

sequence flow correct
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqEvent.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
Due: Label observe PRs

acquisition prompt
  observe/model/shared/src/main/scala/observe/model/SequenceStatus.scala
  observe/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/Systems.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server_new/src/main/scala/observe/server/odb/OdbSubscriber.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label observe PRs

make tests compile
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
Due: Label observe PRs

whole sequence running, detect sequence complete
  .vscode/settings.json
  observe/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqEvent.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/Event.scala
  observe/server_new/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server_new/src/main/scala/observe/server/engine/UserEvent.scala
  observe/server_new/src/main/scala/observe/server/events/package.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  observe/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Due: Label observe PRs

step rework, adapt some tests
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/engine/ActionCoords.scala
  observe/server_new/src/main/scala/observe/server/engine/Breakpoints.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/EngineStep.scala
  observe/server_new/src/main/scala/observe/server/engine/ExecutionZipper.scala
  observe/server_new/src/main/scala/observe/server/engine/LoadedStep.scala
  observe/server_new/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server_new/src/main/scala/observe/server/package.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  observe/server_new/src/test/scala/observe/server/engine/common.scala
Due: Label observe PRs

more tests passing
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/common.scala
Due: Label observe PRs

ObserveEngineSuite partially running
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqEvent.scala
  observe/server_new/src/main/scala/observe/server/engine/LoadedStep.scala
  observe/server_new/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/common.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label observe PRs

improve semantics, fix last test, cleanup
  observe/model/shared/src/main/scala/observe/model/enums/ScienceMode.scala
  observe/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/engine/ActionCoords.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/server_new/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label observe PRs

Update .vscode/settings.json
  .vscode/settings.json
Due: none

update observe CLAUDE.md
  observe/server_new/CLAUDE.md
Due: Label observe PRs

fix ui glitches
  navigate/epics/src/main/scala/navigate/epics/Channel.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  observe/web/client/src/main/scala/observe/ui/model/reusability.scala
Due: Label navigate PRs, Label observe PRs

better solution for glitch when changing step
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label observe PRs

remove commented code
  observe/model/shared/src/main/scala/observe/model/SequenceView.scala
Due: Label observe PRs

on Navigate, don't give an error if GMOS or F2 oi are not available.
  navigate/epics/src/main/scala/navigate/epics/Channel.scala
  navigate/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
  navigate/epics/src/main/scala/navigate/epics/package.scala
  navigate/server/src/main/scala/navigate/server/tcs/CircularBufferControl.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
Due: Label navigate PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
