Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

fix imaging offset generator layout
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

bump core version
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label schemas PRs

gnirs longslit mode fix model and interact with odb
  .gitignore
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  schemas/.claude/settings.local.json
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

catch up with latest gnirs schema changes
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

bump versions
  project/Versions.scala
Due: none

SC-8279 Fixed tests that failed when system clock had high precision.
  observe/server/src/main/scala/observe/server/GiapiInstrumentController.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/ghost/GhostController.scala
  observe/server/src/test/scala/observe/server/ghost/GhostArbitraries.scala
  observe/server/src/test/scala/observe/server/ghost/GhostSpec.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

SC-8279 Partial implementation of GHOST support in Observe backend.
  build.sbt
  observe/server/src/main/scala/observe/server/GiapiInstrumentController.scala
  observe/server/src/main/scala/observe/server/ghost/GhostController.scala
  observe/server/src/main/scala/observe/server/ghost/package.scala
  observe/server/src/test/scala/observe/server/ghost/GhostSpec.scala
Due: Label observe PRs

SC-8279 Addressed PR observations.
  observe/server/src/main/scala/observe/server/flamingos2/Flamingos2.scala
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  observe/server/src/main/scala/observe/server/ghost/GhostTargetName.scala
  observe/server/src/main/scala/observe/server/ghost/package.scala
  observe/server/src/main/scala/observe/server/gmos/GmosNorth.scala
  observe/server/src/main/scala/observe/server/gmos/GmosSouth.scala
Due: Label observe PRs

SC-8279 Fixed Copilot relevant observations.
  observe/server/src/main/scala/observe/server/InstrumentStep.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/ghost/GhostControllerSim.scala
  observe/server/src/main/scala/observe/server/package.scala
  observe/server/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

address PR comments
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

gnirs edit focus
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GnirsFocusMode.scala
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/model/ExploreModelValidators.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Temporary fix for schema error for gnirs readMode=>acquistionType
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Clear itc cache for ghost camera swap issue
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

fix gnirs acquisition type type
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Fix flake
  flake.nix
Due: none

SC-8795 Fixed GhostStatic query.
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
Due: Label observe PRs

bump servers
  project/Versions.scala
Due: none

fix navigate schemastitcher invocation
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label navigate PRs

better syntax for schemastitcher
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label navigate PRs

[sc-8795] Fix ghost query
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
Due: Label observe PRs

Load ghost sequences
  observe/server/src/main/scala/observe/server/EngineState.scala
  observe/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server/src/main/scala/observe/server/SequenceData.scala
Due: Label observe PRs

Add columns for ghost sequences
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GhostSequenceTable.scala
Due: Label observe PRs

Show the blue/red borders for ghost
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GhostSequenceTable.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

Disable ghost configure button for now
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GhostSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
Due: Label observe PRs

Show when the acquisition s/n is not available because the target saturates it
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SignalToNoiseValue.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

fix imports
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label navigate PRs

add missing comma
  observe/server/src/clue/scala/observe/common/EventsGQL.scala
Due: Label observe PRs

bump lucuma-react
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  project/Versions.scala
Due: Label explore PRs

edit gnirs sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsSequenceTable.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceEditQueriesGql.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

reimport schema
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

Remove groups from the cache upon hard deletion
  explore/app/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/app/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

show requested gnirs columns in explore sequence
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label ui PRs

unify gnirs readmode logic with f2
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

update update-schema job to include fontawesome token
  .github/workflows/update-schema.yml
Due: none

Quick fix for breaking changes on gnirs
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label schemas PRs

Update schema and queries for the new proposal fields
  explore/app/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/app/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/app/src/main/scala/explore/services/OdbProgramApi.scala
  explore/app/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/model-testkit/shared/src/main/scala/explore/model/arb/ArbProgramUser.scala
  explore/model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model/src/main/scala/explore/Proposal.scala
  explore/model/src/main/scala/explore/ProposalType.scala
  explore/model/src/main/scala/explore/model/ProgramUser.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Add a selector to the investigator table for the visitors column
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

initial version of gnirs acq config
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
Due: Label explore PRs
