Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Use otel4s with clue
  build.sbt
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/OtelSdk.scala
  explore/app/src/main/scala/explore/RootComponent.scala
  explore/app/src/main/scala/explore/Telemetry.scala
  explore/app/src/main/scala/explore/components/ConnectionsStatus.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/model/GraphQLClients.scala
  explore/common/src/main/scala/explore/model/TracingConfig.scala
  explore/package.json
  explore/vite.config.mts
  project/Dependencies.scala
  project/Versions.scala
Due: Label explore PRs

Don't enable tracing on local dev
  explore/app/src/main/webapp/main.jsx
Due: Label explore PRs

Migrate from to otel4s-sdk
  build.sbt
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/OtelSdk.scala
  explore/app/src/main/scala/explore/components/ConnectionsStatus.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/model/GraphQLClients.scala
  explore/app/src/main/scala/org/typelevel/otel4s/sdk/trace/exporter/NonEmptySpanExporter.scala
  explore/common/src/main/public/environments.conf.json
  pnpm-lock.yaml
  project/Dependencies.scala
  project/Versions.scala
Due: Label explore PRs

Import TraceHeaderInjector given for FetchJsRequest
  explore/app/src/main/scala/explore/model/GraphQLClients.scala
Due: Label explore PRs

Hardcode service name, remove auth headers, cleanups
  explore/app/src/main/scala/explore/OtelSdk.scala
  explore/app/src/main/scala/org/typelevel/otel4s/sdk/trace/exporter/NonEmptySpanExporter.scala
  explore/app/src/main/webapp/main.jsx
  explore/common/src/main/public/environments.conf.json
  explore/common/src/main/scala/explore/model/AppConfig.scala
  explore/common/src/main/scala/explore/model/TracingConfig.scala
  explore/vite.config.mts
Due: Label explore PRs

Remove natchez from observe
  build.sbt
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label observe PRs

Use otel4s semconv
  build.sbt
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/OtelSdk.scala
  explore/app/src/main/scala/explore/model/GraphQLClients.scala
  project/Dependencies.scala
Due: Label explore PRs

Reorder dependencies
  project/Dependencies.scala
Due: none

Update lucuma-itc to version with single call to ocs for graphs
  explore/model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  project/Versions.scala
Due: Label explore PRs

Initial version of the GHOST conf editor
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
  explore/app/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/app/src/main/scala/explore/config/TimeAndCountFieldsEditor.scala
  explore/app/src/main/scala/explore/config/TimeAndCountModeEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/display/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Style touches
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Fix revert customization buttons
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
Due: Label explore PRs

Use the same wavelength for both detectors
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
Due: Label explore PRs

Add step count control
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/common/src/main/webapp/sass/explore.scss
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Adjust column widths
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label ui PRs

Initial version of the ghost sequence table
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GhostSequenceTable.scala
  observe/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GhostAtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GhostDynamicConfigSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  schemas/model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  schemas/model/src/main/scala/lucuma/schemas/model/Visit.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Reduce duplication on the step record decoders
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
Due: Label schemas PRs

Add tests for a ghost visit
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GhostSequenceTable.scala
  schemas/lib/src/test/resources/visitGhost.json
  schemas/lib/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
Due: Label explore PRs, Label schemas PRs

Cleanup
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GhostSequenceTable.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GhostAtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Handle the case there is no s/n as it happens for twilights
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

Don't use otel in the simbad and horizons queries
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
Due: Label explore PRs

Add api calls to edit igrins2 sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Igrins2SequenceTable.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceEditQueriesGql.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

Save changes
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
Due: Label ui PRs

Adjust column widths
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label explore PRs, Label ui PRs

read gnirs modes
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/model/shared/src/main/scala/explore/model/package.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Fix Fiber Agitator labels and only show it for PRV mode
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
Due: Label explore PRs

Show the total time per step
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
Due: Label explore PRs

Adjust some widths for the ghost table
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label ui PRs

Add env variable for sso service token for observe
  flake.nix
  secrets.yaml
Due: none

Update observe sparse checkout list
  observe-server-sparse-checkout
  observe-sparse-checkout
Due: none

Refactor how columns are added for editable instruments
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label ui PRs

comment out gnirs support, update deps
  explore/model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Due: Label explore PRs

Rename tracing variable
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/common/src/main/public/environments.conf.json
  explore/common/src/main/scala/explore/model/AppConfig.scala
Due: Label explore PRs

Update the crash message with a link to request a PWA reload
  explore/app/src/main/scala/explore/Explore.scala
  explore/common/src/main/scala/explore/model/AppConfig.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Add explicit config decoder and sanity test
  explore/common/src/main/scala/explore/model/AppConfig.scala
  explore/common/src/test/scala/explore/model/AppConfigSuite.scala
Due: Label explore PRs

Update explore to the latest lucuma-core with visitors
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

Update core for navigate and observe
  navigate/model/src/main/scala/navigate/model/SwapConfig.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/package.scala
  observe/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
Due: Label navigate PRs, Label observe PRs

Update lucuma-core version
  explore/workers/src/main/scala/workers/AgsServer.scala
  project/Versions.scala
Due: Label explore PRs
