Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

Label client PRs:
  label:
    add:
    - client
    remove: []

Label client-clue PRs:
  label:
    add:
    - client-clue
    remove: []

Label client-model PRs:
  label:
    add:
    - client-model
    remove: []

Label engine PRs:
  label:
    add:
    - engine
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label observe-server-gn PRs:
  label:
    add:
    - observe-server-gn
    remove: []

Label observe-server-gn-test PRs:
  label:
    add:
    - observe-server-gn-test
    remove: []

Label observe-server-gs PRs:
  label:
    add:
    - observe-server-gs
    remove: []

Label observe-server-gs-test PRs:
  label:
    add:
    - observe-server-gs-test
    remove: []

Label observe-server_staging PRs:
  label:
    add:
    - observe-server_staging
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label server_new PRs:
  label:
    add:
    - server_new
    remove: []

Label server_new-clue PRs:
  label:
    add:
    - server_new-clue
    remove: []

Label stateengine PRs:
  label:
    add:
    - stateengine
    remove: []

beep on step complete, but beeps a lot more
  modules/web/client/src/main/scala/observe/ui/utils/Audio.scala
  modules/web/client/src/main/scala/observe/ui/utils/package.scala
Due: Label client PRs

beep on step complete, but beeps a lot more
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/utils/Audio.scala
Due: Label client PRs

implement error audio
  modules/engine/src/main/scala/observe/engine/ActionCoords.scala
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/model/shared/src/main/scala/observe/model/LogMessage.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveFailure.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label engine PRs, Label model PRs, Label server_new PRs

audible alerts
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/events/package.scala
  modules/web/client/src/main/resources/sounds/acquisitionprompt.mp3
  modules/web/client/src/main/resources/sounds/acquisitionprompt.webm
  modules/web/client/src/main/resources/sounds/breakpointreached.mp3
  modules/web/client/src/main/resources/sounds/breakpointreached.webm
  modules/web/client/src/main/resources/sounds/exposurepaused.mp3
  modules/web/client/src/main/resources/sounds/exposurepaused.webm
  modules/web/client/src/main/resources/sounds/observationstopped.mp3
  modules/web/client/src/main/resources/sounds/observationstopped.webm
  modules/web/client/src/main/resources/sounds/sequenceaborted.mp3
  modules/web/client/src/main/resources/sounds/sequenceaborted.webm
  modules/web/client/src/main/resources/sounds/sequencecomplete.mp3
  modules/web/client/src/main/resources/sounds/sequencecomplete.webm
  modules/web/client/src/main/resources/sounds/sequenceerror.mp3
  modules/web/client/src/main/resources/sounds/sequenceerror.webm
  modules/web/client/src/main/resources/sounds/sequencepaused.mp3
  modules/web/client/src/main/resources/sounds/sequencepaused.webm
  modules/web/client/src/main/resources/sounds/soundon.mp3
  modules/web/client/src/main/resources/sounds/soundon.webm
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/utils/Audio.scala
Due: Label client PRs, Label engine PRs, Label model PRs, Label server_new PRs

subscription working
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
Due: Label server_new PRs

switch to jdk ws client
  modules/server_new/src/main/scala/observe/server/Systems.scala
  project/Settings.scala
Due: Label server_new PRs

not refreshing
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbSubscriber.scala
Due: Label server_new PRs

create reconnecting websocket client
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbSubscriber.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

connect ws client
  modules/server_new/src/main/scala/observe/server/Systems.scala
Due: Label server_new PRs

update headers
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbSubscriber.scala
Due: Label server_new PRs

Use test sso server
  build.sbt
  deploy/confs/gn/app.conf
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  project/Settings.scala
Due: Label server_new PRs

extract ObserveEngineImpl into its own file
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label server_new PRs

subscription working
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbSubscriber.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
Due: Label server_new PRs

not refreshing
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbSubscriber.scala
Due: Label server_new PRs

working but with glitches
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/package.scala
  modules/web/server/src/main/resources/app.conf
Due: Label engine PRs, Label server PRs

split file
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label server_new PRs

refactor
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label server_new PRs

final fixes
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbSubscriber.scala
Due: Label engine PRs, Label server_new PRs

remove println
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label server_new PRs

allow resuming of sequence
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
Due: Label client PRs, Label server_new PRs

fix test
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

reformulate deploy method
  .github/workflows/ci.yml
  build.sbt
  deploy/confs/gn/app.conf
  deploy/confs/gs-test/app.conf
  deploy/confs/gs/app.conf
  deploy/confs/heroku-gn/site.conf
  deploy/confs/heroku-gs/site.conf
  deploy/confs/local/app.conf
  deploy/confs/local/site.conf
  deploy/confs/production-gn/site.conf
  deploy/confs/production-gs/site.conf
  deploy/confs/staging-gn/site.conf
  deploy/confs/staging-gs/site.conf
  deploy/scripts/README.md
  deploy/scripts/start.sh
  deploy/scripts/stop.sh
  deploy/scripts/update.sh
  deploy/src/main/resources/conf/app.conf
  deploy/src/main/resources/systemd/observe-server.env
  deploy/src/main/resources/systemd/observe-server.service
  modules/model/jvm/src/main/scala/observe/model/config/WebServerConfiguration.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/clue/scala/observe/queries/VisitQueriesGQL.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/resources/base.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/LogInitialization.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/RedirectToHttpsRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label client PRs, Label model PRs, Label server PRs

no latest in base image
  build.sbt
Due: none

set daemon user, fix configs and scripts
  README.md
  build.sbt
  deploy/confs/staging-gn/site.conf
  deploy/confs/staging-gs/site.conf
  deploy/scripts/config.sh
  deploy/scripts/start.sh
  deploy/scripts/update.sh
Due: none

scripts and readme
  README.md
  build.sbt
  deploy/scripts/README.md
  deploy/scripts/config.sh
  deploy/scripts/start.sh
  deploy/scripts/stop.sh
  deploy/scripts/update.sh
Due: none

install.sh
  deploy/scripts/README.md
  deploy/scripts/install.sh
Due: none

log in to dockerhub with token in script
  deploy/scripts/README.md
  deploy/scripts/config.sh
  deploy/scripts/update.sh
Due: none

move heroku app names to vars
  .github/workflows/ci.yml
  build.sbt
Due: none

single quotes
  .github/workflows/ci.yml
  build.sbt
Due: none

fix gs dhs server, bump libs
  deploy/confs/production-gs/site.conf
  deploy/confs/staging-gs/site.conf
  project/Settings.scala
  project/plugins.sbt
Due: none

bump sbt lucuma
  project/plugins.sbt
Due: none

fix scripts, readme
  README.md
  deploy/scripts/README.md
  deploy/scripts/install.sh
Due: none

re-complete sequence if odb removes remaining steps
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label server_new PRs

consolidate all site configs in one image
  build.sbt
  deploy/conf/heroku-gn/site.conf
  deploy/conf/heroku-gs/site.conf
  deploy/conf/local/cacerts.jks.dev
  deploy/conf/local/site.conf
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
  deploy/scripts/start.sh
  deploy/scripts/update.sh
  flake.nix
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  sbt-launch.jar
Due: Label server PRs

regenerate workflows
  deploy/.github/workflows/ci.yml
  deploy/.github/workflows/clean.yml
Due: none

remove sbt jar
  .gitignore
  sbt-launch.jar
Due: none

fix workflows
  .github/workflows/ci.yml
  deploy/.github/workflows/ci.yml
  deploy/.github/workflows/clean.yml
Due: none

Path conditions:
  Label client PRs: any of: ^modules/web/client/
  Label client-clue PRs: any of: ^modules/web/client-clue/
  Label client-model PRs: any of: ^modules/web/client-model/
  Label engine PRs: any of: ^modules/engine/
  Label model PRs: any of: ^modules/model/
  Label observe-server-gn PRs: any of: ^deploy/observe-server-gn/
  Label observe-server-gn-test PRs: any of: ^deploy/observe-server-gn-test/
  Label observe-server-gs PRs: any of: ^deploy/observe-server-gs/
  Label observe-server-gs-test PRs: any of: ^deploy/observe-server-gs-test/
  Label observe-server_staging PRs: any of: ^deploy/observe-server_staging/
  Label server PRs: any of: ^modules/web/server/
  Label server_new PRs: any of: ^modules/server_new/
  Label server_new-clue PRs: any of: ^modules/server_new-clue/
  Label stateengine PRs: any of: ^modules/stateengine/
