Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

support igrins2 in observe: loading the sequence
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  observe/model/shared/src/main/scala/observe/model/InstrumentDynamicConfig.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbInstrumentDynamicConfig.scala
  observe/model/shared/src/main/scala/observe/model/extensions.scala
  observe/model/shared/src/main/scala/observe/model/operations.scala
  observe/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server_new/src/main/scala/observe/server/EngineState.scala
  observe/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/SequenceData.scala
  observe/server_new/src/main/scala/observe/server/StepGen.scala
  observe/server_new/src/main/scala/observe/server/engine/Breakpoints.scala
  observe/server_new/src/main/scala/observe/server/package.scala
  observe/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Igrins2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/server/src/main/resources/base.conf
  project/Versions.scala
Due: Label explore PRs, Label observe PRs

compute step resources
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label observe PRs

ui to send any configuration
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/ObserveStep.scala
  observe/model/shared/src/main/scala/observe/model/SequenceView.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/main/scala/observe/model/events/package.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/StepsView.scala
  observe/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepTime.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label observe PRs

add import to fix test
  observe/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
Due: Label observe PRs

allow loading any step into engine
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label observe PRs

fix tests
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/StepGen.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label observe PRs

better update ui state
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/SequenceStatus.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label observe PRs

SC-8268 Enabled slewing to IGRINS2 observation in simulation mode.
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
Due: Label navigate PRs

Avoid using a huge query for cloning
  explore/app/src/main/scala/explore/actions/ObservationPasteIntoAsterismAction.scala
  explore/app/src/main/scala/explore/actions/ObservationPasteIntoConstraintSetAction.scala
  explore/app/src/main/scala/explore/actions/ObservationPasteIntoSchedulingGroupAction.scala
  explore/app/src/main/scala/explore/actions/package.scala
  explore/app/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/app/src/main/scala/explore/observationtree/ObsActions.scala
Due: Label explore PRs

show edit sequence errors
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

Update to new npm organization package scope
  build.sbt
  explore/package.json
  observe/web/client/package.json
  package.json
  pnpm-workspace.yaml
  schemas/package.json
  ui/demo/package.json
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Add handlers to send configurations to igrins2
  observe/README.md
  observe/model/shared/src/main/scala/observe/model/InstrumentDynamicConfig.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/StepsView.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2Header.scala
Due: Label observe PRs

Support reading igrins2 visits
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
Due: Label schemas PRs

Pass the p/q offset values to igrins2
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2Controller.scala
Due: Label observe PRs

Select state for igrins2 base on observation class
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2Controller.scala
Due: Label observe PRs

Set the central wavelength for igrins 2
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
Due: Label observe PRs

Add support to record igrins 2 visits
  observe/server/src/clue/scala/observe/common/EventsGQL.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label observe PRs, Label schemas PRs

Improve the simulation of the progressbar
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2Controller.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2ControllerDisabled.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2ControllerSim.scala
Due: Label observe PRs

scalafix
  explore/app/src/main/scala/explore/components/DatePickerLocalDate.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/sequence/EditableSequence.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

SC-8283: Enable slew to GHOST observation in simulation.
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
Due: Label navigate PRs

after sequence edit, refresh sequence from odb
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/SequenceData.scala
  observe/server/src/main/scala/observe/server/altair/Altair.scala
  observe/server/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  observe/server/src/main/scala/observe/server/odb/OdbObsData.scala
  observe/server/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server/src/main/scala/observe/server/tcs/TcsNorth.scala
  observe/server/src/main/scala/observe/server/tcs/TcsSouth.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/TestCommon.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/server/src/test/scala/observe/server/tcs/TcsNorthSuite.scala
  observe/server/src/test/scala/observe/server/tcs/TcsSouthSuite.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/Flamingos2AtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GmosNorthAtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GmosSouthAtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/Igrins2AtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceEditQueriesGql.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/StepConfigSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/StepEstimateSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/TelescopeConfigSubquery.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceData.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

disable sequence edit buttons while odb invocation is in flight
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

Tweaks and clarifications
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label explore PRs, Label schemas PRs

For ITC, move exposureTimeMode into the InstrumentModes
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/itc/ItcTileState.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/shared/src/main/scala/explore/events/ItcMessage.scala
  explore/model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  explore/model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  explore/model/shared/src/main/scala/explore/model/itc/package.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  explore/workers/src/main/scala/workers/ItcServer.scala
  explore/workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  project/Versions.scala
Due: Label explore PRs

Real odb version, update core
  project/Versions.scala
Due: none

remove debug code
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
Due: Label explore PRs

Show ghost modes on the modes table
  explore/app/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/shared/src/main/scala/explore/model/package.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Use name defined on the enum
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Due: Label explore PRs

Invalidate itc cache [sc-8265]
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Addd column filters
  explore/app/src/main/scala/explore/itc/ItcTileState.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

don't show the filters all the time. add a toggle button
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/observationtree/package.scala
  explore/common/src/main/scala/explore/Icons.scala
Due: Label explore PRs

Show a filter button on the programs table
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
  explore/app/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Store the enable/disabled filter state on user prefs
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/observationtree/package.scala
  explore/app/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

Store the filter contents on the user prefs db
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
  ui/lib/src/main/scala/lucuma/ui/reusability/reusability.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
Due: Label explore PRs, Label ui PRs

User prefs db migration
  explore/hasura/user-prefs/migrations/default/1775271222656_filter_table_preferences/down.sql
  explore/hasura/user-prefs/migrations/default/1775271222656_filter_table_preferences/up.sql
Due: Label explore PRs

incude ui/tests pnpm install in CI
  .github/workflows/ci.yml
  build.sbt
Due: none

add ui/text to pnpm workspace
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
