Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

initalize ITC in the background
  build.sbt
  explore/app/src/main/scala/explore/Explore.scala
  explore/model/shared/src/main/scala/explore/events/ItcMessage.scala
  explore/workers/src/main/scala/workers/ItcServer.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Avoid calling environments.conf twice
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/app/src/main/scala/explore/components/FileUploadButton.scala
  explore/app/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/app/src/main/webapp/main.jsx
  explore/common/src/main/scala/explore/model/AppConfig.scala
  explore/common/src/main/scala/explore/utils/OdbRestClient.scala
Due: Label explore PRs

Use new GraphQL spec `@oneOf` features from schema
  .github/workflows/update-schema.yml
  navigate/web/server/src/main/resources/navigate.graphql
  schemas/fetchODBSchema.mjs
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label navigate PRs, Label schemas PRs

Fixed some EPICS channel names.
  navigate/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
Due: Label navigate PRs

SC-7233 Implemented WFS circular buffer control.
  navigate/model/src/main/scala/navigate/model/AllWfsConfiguration.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/WfsConfiguration.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/Systems.scala
  navigate/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/CircularBufferChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/CircularBufferControl.scala
  navigate/server/src/main/scala/navigate/server/tcs/EpicsSystems.scala
  navigate/server/src/main/scala/navigate/server/tcs/OiwfsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/PwfsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/WfsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestOiwfsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Cleanup
  build.sbt
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/ExplorePWA.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/webapp/main.jsx
  explore/common/src/main/scala/explore/model/AppConfig.scala
  explore/vite.config.mts
Due: Label explore PRs

prettier
  explore/app/src/main/webapp/main.jsx
  explore/vite.config.mts
Due: Label explore PRs

SC-7233 Navigate: Added WFS circular buffer commands to GraphQl API.
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

fix for vite on dev
  explore/vite.config.mts
Due: Label explore PRs

SC-6567 Added align angle for handset OIWFS reference.
  navigate/model/src/main/scala/navigate/model/HandsetAdjustment.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Fix css for datepicker
  explore/app/src/main/webapp/main.jsx
  explore/common/src/main/webapp/sass/datepicker.scss
  explore/common/src/main/webapp/sass/datepicker/datepicker.scss
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Update lucuma-core
  explore/app/src/main/scala/explore/config/TargetImportPopup.scala
  flake.nix
  project/Versions.scala
Due: Label explore PRs

Use SimbadClient instead of SimbadSearch
  explore/app/src/main/scala/explore/config/TargetImportPopup.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSource.scala
  explore/common/src/main/scala/explore/common/SimbadSearch.scala
Due: Label explore PRs

Remove unused fontawesome pro dependencies and only install root packages for linting job
  .github/workflows/ci.yml
  .github/workflows/update-schema.yml
  build.sbt
  explore/package.json
  observe/web/client/package.json
  pnpm-lock.yaml
  schemas/fetchODBSchema.sh
  ui/demo/package.json
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Setup minimumReleaseAge
  .github/renovate.json
  pnpm-workspace.yaml
Due: none

Improve sim for pwfs1/2 mutations
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
Due: Label navigate PRs

highcharts 12
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/SemesterPlot.scala
  explore/package.json
  pnpm-lock.yaml
  project/Versions.scala
Due: Label explore PRs

script to roll back servers
  rollback-servers.sh
Due: none

Add preferences to display patrol fields for debugging
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  explore/model/shared/src/main/scala/explore/model/PFVisibility.scala
Due: Label explore PRs

Update geometries for f2
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
Due: Label explore PRs, Label ui PRs

Update calculation of geometries for gmos
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label ui PRs

Add patrol field visualization
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/shared/src/main/scala/explore/model/PFVisibility.scala
  project/Versions.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

SC-7322 Increased PWFS2 observe command timeout.
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label navigate PRs

add toggles on the menus
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/visualization.scss
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

cleanup
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

SC-7323 Added prefix to dark file names.
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label navigate PRs

Extract some custom hooks
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
Due: Label explore PRs

scalafix
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
Due: Label explore PRs

Add anchor to get the correct svg offset
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

list last commit shas on rollback script
  rollback-servers.sh
Due: none

Updated with PR suggestions
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/app/src/main/scala/explore/targeteditor/package.scala
  explore/model/shared/src/main/scala/explore/model/PFVisibility.scala
  project/Versions.scala
Due: Label explore PRs

hide series labels that cannot be placed nicely
  explore/app/src/main/scala/explore/plots/NightPlot.scala
Due: Label explore PRs

Add back pro-duotone-svg fontawesome pkg
  observe/web/client/package.json
  pnpm-lock.yaml
Due: Label observe PRs

Update dep versions
  project/Versions.scala
Due: none

Update trustPolicyExclude
  explore/app/src/main/webapp/index.html
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Label explore PRs

Remove deprecated spatialOffsets
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

fixes for Scala upgrade
  observe/model/shared/src/main/scala/observe/model/ObserveStep.scala
  observe/server_new/src/main/scala/observe/server/engine/Engine.scala
  ui/lib/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label observe PRs, Label ui PRs
