Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Add UI to display the guide status
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/GuideConfigStatus.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
Due: Label observe PRs

Some small UI touches
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

Cleanup the bar, removing the label and converting it to a footer
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  observe/web/client/src/main/scala/observe/ui/components/Layout.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/GuideConfigStatus.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

Add script to change the guide config
  observe/set-guide-config.sh
Due: Label observe PRs

scalafmt
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label observe PRs

lint
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

Observe client can now also send traces like explore
  build.sbt
  observe/model/jvm/src/main/scala/observe/model/config/OtelConfiguration.scala
  observe/model/shared/src/main/scala/observe/model/ClientConfig.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbClientConfig.scala
  observe/web/client/src/main/scala/observe/ui/OtelSdk.scala
  observe/web/client/src/main/scala/observe/ui/components/MainApp.scala
  observe/web/client/src/main/scala/observe/ui/model/AppContext.scala
  observe/web/server/src/main/resources/base.conf
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  observe/web/server/src/main/scala/observe/web/server/otel/ObserveOtel.scala
Due: Label observe PRs

Refactor common code between explore and observe to use tracing
  build.sbt
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/OtelSdk.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  observe/web/client/src/main/scala/observe/ui/OtelSdk.scala
  observe/web/client/src/main/scala/observe/ui/components/MainApp.scala
  ui/lib/src/main/scala/lucuma/ui/otel/OtelSdk.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

SC-9639 Implemented WFS QL mdoe change in backend.
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/enums/QlMode.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
Due: Label navigate PRs

Minimal update to let explore use the new schema for custom masks
  CLAUDE.md
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  observe/server/src/main/scala/observe/server/gmos/GmosNorth.scala
  observe/server/src/main/scala/observe/server/gmos/GmosSouth.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/Flamingos2DynamicConfigSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GmosNorthDynamicConfigSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GmosSouthDynamicConfigSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Update core and schema for newly static enums
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label schemas PRs

observe should support tracing over the ws client too
  build.sbt
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/app/src/main/scala/explore/model/GraphQLClients.scala
  observe/web/client/src/main/scala/observe/ui/components/MainApp.scala
  observe/web/client/src/main/scala/observe/ui/model/AppContext.scala
  ui/lib/src/main/scala/lucuma/ui/otel/TracedWsClient.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

Use shortName for gnirs ifu in the sequence table
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label ui PRs

Use BasicConfiguration for the observation summary query
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  observe/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
Due: Label observe PRs

Show a placeholder when the ITC reports no S/N at the wavelength
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

SC-4469 Decoupled QL and zernikes calculation control for WFSs.
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label navigate PRs

Show the full configuration workflow as a step list
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationSteps.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Fix Invitation Email Confusion
  explore/app/src/main/scala/explore/users/InviteUserPopup.scala
  explore/app/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

SC-8226 Implemented AG park commands in backend.
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
Due: Label navigate PRs

Disable base position for empty asterisms
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
Due: Label explore PRs

Allow inserting manual dark steps in the sequence table
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
Due: Label ui PRs

Set inserted dark steps to no guiding at zero offset
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
Due: Label ui PRs

Increase font size of partner splits grid
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Let workers use Tracer and propagate traceparent in the requests
  explore/app/src/main/scala/explore/Explore.scala
  explore/common/src/main/scala/explore/model/WorkerClients.scala
  explore/common/src/main/scala/workers/WorkerClient.scala
  explore/common/src/main/scala/workers/WorkerClientBuilder.scala
  explore/model/src/main/scala/workers/WorkerMessage.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
  explore/workers/src/main/scala/workers/HorizonsServer.scala
  explore/workers/src/main/scala/workers/ItcServer.scala
  explore/workers/src/main/scala/workers/PlotServer.scala
  explore/workers/src/main/scala/workers/WorkerOtelSdk.scala
  explore/workers/src/main/scala/workers/WorkerServer.scala
  ui/lib/src/main/scala/lucuma/ui/otel/OtelSdk.scala
  ui/lib/src/main/scala/org/typelevel/otel4s/sdk/trace/exporter/NonEmptySpanExporter.scala
Due: Label explore PRs, Label ui PRs

Publish only navigate schema from new lucuma-apps package, add sso to schemas-update script
  .github/workflows/npm.yml
  .github/workflows/update-schema.yml
  build.sbt
  explore/app/src/clue/resources/SSO.graphql
  explore/app/src/clue/scala/queries/schemas/SSO.scala
  schemas/fetchGQLSchema.mjs
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/resources/lucuma/schemas/resource.graphql
Due: Label explore PRs, Label schemas PRs

Update schema import path
  build.sbt
Due: none

Propagate log entries to the client like the seqexec does
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  observe/web/server/src/main/scala/observe/web/server/logging/SubscriptionAppender.scala
  project/Versions.scala
Due: Label observe PRs

Let workers use Tracer and propagate traceparent in the requests
  explore/app/src/main/scala/explore/Explore.scala
  explore/common/src/main/scala/explore/model/WorkerClients.scala
  explore/common/src/main/scala/workers/WorkerClient.scala
  explore/common/src/main/scala/workers/WorkerClientBuilder.scala
  explore/model/src/main/scala/explore/events/ItcMessage.scala
  explore/model/src/main/scala/workers/WorkerMessage.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
  explore/workers/src/main/scala/workers/HorizonsServer.scala
  explore/workers/src/main/scala/workers/ItcServer.scala
  explore/workers/src/main/scala/workers/PlotServer.scala
  explore/workers/src/main/scala/workers/WorkerConfig.scala
  explore/workers/src/main/scala/workers/WorkerOtelSdk.scala
  explore/workers/src/main/scala/workers/WorkerServer.scala
  ui/lib/src/main/scala/lucuma/ui/otel/OtelSdk.scala
  ui/lib/src/main/scala/org/typelevel/otel4s/sdk/trace/exporter/NonEmptySpanExporter.scala
Due: Label explore PRs, Label ui PRs

Add a dropdown to select the log level
  observe/model/shared/src/main/scala/observe/model/enums/ObserveLogLevel.scala
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/LogArea.scala
  observe/web/client/src/main/scala/observe/ui/components/SequenceTab.scala
  observe/web/client/src/main/scala/observe/ui/model/reusability.scala
  observe/web/client/src/main/webapp/styles/observe.scss
  observe/web/server/src/main/scala/observe/web/server/logging/SubscriptionAppender.scala
Due: Label observe PRs

Add a few more log entries for user actions
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/engine/Event.scala
  observe/web/client/src/main/scala/observe/ui/components/LogArea.scala
Due: Label observe PRs

scalafix
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
  explore/workers/src/main/scala/workers/HorizonsServer.scala
  explore/workers/src/main/scala/workers/ItcServer.scala
  explore/workers/src/main/scala/workers/PlotServer.scala
Due: Label explore PRs

Cleanup service name
  explore/common/src/main/scala/workers/WorkerClient.scala
  explore/model/src/main/scala/workers/WorkerRequest.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/WorkerOtelSdk.scala
  explore/workers/src/main/scala/workers/WorkerServer.scala
Due: Label explore PRs

Show the log area in all tabs
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/Layout.scala
  observe/web/client/src/main/scala/observe/ui/components/LogArea.scala
  observe/web/client/src/main/scala/observe/ui/components/SequenceTab.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

Remove the settings column
  observe/model/shared/src/main/scala/observe/model/enums/ObserveLogLevel.scala
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/SettingsCell.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

Rename messages for itc to get better traces
  explore/app/src/main/scala/explore/config/ModesTableCommon.scala
  explore/app/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/app/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/model/src/main/scala/explore/events/ItcMessage.scala
  explore/model/src/main/scala/workers/WorkerRequest.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/ItcServer.scala
Due: Label explore PRs

Fix for broken test
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/StepsViewSuite.scala
Due: Label observe PRs

Remove WorkerOtelSdk
  explore/model/src/main/scala/workers/WorkerRequest.scala
  explore/workers/src/main/scala/workers/WorkerOtelSdk.scala
  explore/workers/src/main/scala/workers/WorkerServer.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Add query and inputs to replace a ghost sequence
  explore/app/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceEditQueriesGql.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

Allow editing science steps
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GhostSequenceTable.scala
Due: Label explore PRs

Add dragging and clonning columns for ghost when editing
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
