Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Add error message if we forget a telluric mode
  explore/app/src/main/scala/explore/observationtree/ObsActions.scala
Due: Label explore PRs

odb-updates
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

Change the layout on the badge
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Show as a badge when No Telluric is selected
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Use decoder from odb
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Show the type selector on the badge itself
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Allow selection of telluric mode in the obs badge.
  explore/app/src/main/scala/explore/observationtree/ObsActions.scala
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Show the telluric type on the target editor
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/model/display.scala
Due: Label explore PRs

Cleanup
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Enable SmallModulesFor for fastLinkJS and force HTTP/1.1
  build.sbt
  explore/vite.config.mts
Due: Label explore PRs

show all x values in pixel plot tooltips
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label explore PRs

bump core
  project/Versions.scala
Due: none

scalafmt
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label explore PRs

Partial implementation
  navigate/server/src/main/scala/navigate/server/tcs/EcsChannels.scala
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/ObserveStep.scala
  observe/model/shared/src/main/scala/observe/model/SequenceView.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/main/scala/observe/model/events/package.scala
  observe/model/shared/src/main/scala/observe/model/package.scala
  observe/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/SequenceData.scala
  observe/server/src/main/scala/observe/server/StepsView.scala
  observe/server/src/main/scala/observe/server/engine/ActionCoords.scala
  observe/server/src/main/scala/observe/server/engine/Engine.scala
  observe/server/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server/src/main/scala/observe/server/gmos/GmosStepsView.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label navigate PRs, Label observe PRs

Remove dummy tiles that made the target editor unclickable
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/common/src/main/scala/explore/components/Tile.scala
Due: Label explore PRs

Show and edit program status
  CONTEXT.md
  explore/app/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/app/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/app/src/main/scala/explore/services/OdbProgramApi.scala
  explore/app/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/model/ProgramDetails.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Use the derived status value from the odb
  CONTEXT.md
  explore/app/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/app/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/app/src/main/scala/explore/services/OdbProgramApi.scala
  explore/app/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/model/src/main/scala/explore/model/ProgramDetails.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

cleanup
  explore/app/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/model/src/main/scala/explore/model/ProgramDetails.scala
Due: Label explore PRs

Derive the proposal type from the newly selected call
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
Due: Label explore PRs

Update core and odb schema to get warnings changes.
  explore/model-tests/src/test/scala/explore/model/ObsValidationSeveritySuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

SC-9043 Fixed applying subsytem configuration for steps other than the next to be executed.
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/ObserveStep.scala
  observe/model/shared/src/main/scala/observe/model/SequenceView.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  observe/model/shared/src/main/scala/observe/model/package.scala
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/engine/ActionCoords.scala
  observe/server/src/main/scala/observe/server/engine/Engine.scala
  observe/server/src/main/scala/observe/server/engine/SequenceState.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/engine/PackageSuite.scala
  observe/server/src/test/scala/observe/server/engine/SequenceSuite.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label observe PRs

Update libraries
  .github/workflows/ci.yml
  build.sbt
  explore/vite.config.mts
  observe/web/client/vite.config.mts
  project/Versions.scala
  ui/demo/vite.config.mts
Due: Label explore PRs, Label observe PRs, Label ui PRs

Reverted unintended change in Navigate.
  navigate/server/src/main/scala/navigate/server/tcs/EcsChannels.scala
Due: Label navigate PRs

keep the sequence type when configuring a step
  observe/server/src/main/scala/observe/server/ObserveEngine.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
Due: Label observe PRs

Updates to fix scala 3.9 changes and new warnings
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/model/src/main/scala/explore/data/KeyedIndexedList.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  observe/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/altair/AltairControllerEpics.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
  observe/server/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  observe/server/src/main/scala/observe/server/keywords/GdsClient.scala
  observe/server/src/main/scala/observe/server/tcs/TcsKeywordReader.scala
  observe/server/src/test/scala/observe/server/tcs/TcsArbitraries.scala
  observe/server/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
  observe/server/src/test/scala/observe/server/tcs/TcsSuite.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label explore PRs, Label navigate PRs, Label observe PRs, Label ui PRs

actually use the gmos ifu offset presets
  explore/app/src/main/scala/explore/config/GmosNorthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthIfuPanel.scala
Due: Label explore PRs

Type each tuple member instead of ascribing the whole value
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/model/src/main/scala/explore/data/KeyedIndexedList.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  observe/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label explore PRs, Label navigate PRs, Label observe PRs, Label ui PRs

Don't show the telluric badge for inactive observations
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

Update Clue to 0.58.2 and graphql-routes to 0.15.0
  project/Versions.scala
Due: none

Reset guide star selection from ObsTabTiles when the PA changes
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

Share one tracking map between ObsTabTiles and AladinCell
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/UseTrackingMap.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
Due: Label explore PRs

Run AGS from ObsTabTiles instead of AladinCell
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgs.scala
  explore/app/src/main/scala/explore/targeteditor/UseTrackingMap.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
Due: Label explore PRs

cleanup
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgs.scala
  explore/app/src/main/scala/explore/targeteditor/UseTrackingMap.scala
Due: Label explore PRs

adopt affected-tests
  .github/workflows/ci.yml
  build.sbt
  project/Versions.scala
Due: none

fix sbt-lucuma version
  project/Versions.scala
Due: none

core renames
  explore/app/src/main/scala/explore/config/GmosNorthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthIfuPanel.scala
  project/Versions.scala
Due: Label explore PRs

Use one truncated obsTime fallback everywhere
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgs.scala
  explore/app/src/main/scala/explore/targeteditor/UseTrackingMap.scala
  explore/common/src/main/scala/explore/utils/package.scala
Due: Label explore PRs

Simplify positions and guide star plumbing
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgs.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseTrackingMap.scala
  explore/common/src/main/scala/explore/model/GuideStarSelection.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
Due: Label explore PRs
