Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

check workflow validity for tellurics
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

special considerations for telluric groups
  explore/app/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/model/shared/src/main/scala/explore/model/Group.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

disable operations for callibrations
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

show telluric calibrations
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/utils/ReactUtils.scala
Due: Label explore PRs, Label ui PRs

enable drag and drop for telluric groups
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

rework observe acquisition prompt
  observe/web/client/src/main/resources/sounds/acquisitionprompt.mp3
  observe/web/client/src/main/resources/sounds/acquisitionprompt.webm
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/client/src/main/scala/observe/ui/utils/Audio.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label observe PRs, Label ui PRs

Get the start epoch for pm trails from the surveys
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label explore PRs, Label ui PRs

explore sparse-checkout list
  explore-sparse-checkout
  explore/app/src/main/scala/explore/Explore.scala
Due: Label explore PRs

display fileId of current step
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
Due: Label observe PRs

scalafix
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
Due: Label observe PRs

fix sequence rows reusability
  observe/web/client/src/main/scala/observe/ui/components/SequenceTab.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  observe/web/client/src/main/scala/observe/ui/model/reusability.scala
  ui/lib/src/main/scala/lucuma/ui/reusability/package.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label observe PRs, Label ui PRs

use proper Eq for all SequenceRow types
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/model/reusability.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

allow reloading observations after error in observe
  observe/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
Due: Label observe PRs

change obs loading logic in observe
  observe/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  observe/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server_new/src/main/scala/observe/server/SeqEvent.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/web/client/src/main/scala/observe/ui/components/MainApp.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsListTab.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  observe/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label observe PRs

improve observation loading logic in observe
  build.sbt
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client-model/src/test/scala/observe/ui/model/RootModelDataSuite.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  observe/web/client/src/main/scala/observe/ui/components/MainApp.scala
  observe/web/client/src/main/scala/observe/ui/components/SequenceTab.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsListTab.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label observe PRs

renames, comments
  observe/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  observe/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label observe PRs

better derivation of ready observations
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client/src/main/scala/observe/ui/components/Layout.scala
  observe/web/client/src/main/scala/observe/ui/components/SequenceTab.scala
Due: Label observe PRs

fix code
  observe/server_new/src/main/scala/observe/server/events/package.scala
Due: Label observe PRs

better handling of stop request in ui
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
Due: Label observe PRs

fix icon margins in buttons
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-prime.scss
Due: Label ui PRs

SC-7190 Made the baffle parameter optional.
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label navigate PRs

write execution environment to fits headers
  observe/model/shared/src/main/scala/observe/model/enums/KeywordName.scala
  observe/server_new/src/main/scala/observe/server/InstrumentActions.scala
  observe/server_new/src/main/scala/observe/server/ObserveActions.scala
  observe/server_new/src/main/scala/observe/server/ObserveEngine.scala
  observe/server_new/src/main/scala/observe/server/ObserveEnvironment.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/main/scala/observe/server/altair/AltairHeader.scala
  observe/server_new/src/main/scala/observe/server/altair/AltairLgsHeader.scala
  observe/server_new/src/main/scala/observe/server/flamingos2/Flamingos2Header.scala
  observe/server_new/src/main/scala/observe/server/gcal/GcalHeader.scala
  observe/server_new/src/main/scala/observe/server/gems/GemsHeader.scala
  observe/server_new/src/main/scala/observe/server/gmos/GmosHeader.scala
  observe/server_new/src/main/scala/observe/server/gws/GwsHeader.scala
  observe/server_new/src/main/scala/observe/server/keywords/Header.scala
  observe/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  observe/server_new/src/main/scala/observe/server/keywords/package.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label observe PRs

log final dhs headers in simulation
  observe/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
Due: Label observe PRs

units in names
  observe/server_new/src/main/scala/observe/server/keywords/ConditionSetReader.scala
  observe/server_new/src/main/scala/observe/server/tcs/TcsConfigRetriever.scala
  observe/server_new/src/main/scala/observe/server/tcs/TcsEpics.scala
  observe/server_new/src/main/scala/observe/server/tcs/TcsKeywordReader.scala
  observe/server_new/src/test/scala/observe/server/tcs/TestTcsEpics.scala
Due: Label observe PRs

fix wavelength units in tcs value
  observe/server_new/src/main/resources/Tcs.xml
  observe/server_new/src/main/scala/observe/server/keywords/ConditionSetReader.scala
  observe/server_new/src/main/scala/observe/server/tcs/TcsEpics.scala
  observe/server_new/src/main/scala/observe/server/tcs/TcsKeywordReader.scala
  observe/server_new/src/test/scala/observe/server/tcs/TestTcsEpics.scala
Due: Label observe PRs

allow creating telluric group siblings
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

remove comment
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

filter tiles in tellurics
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
Due: Label explore PRs

tellurics checkbox
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

lint explore css
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

remove button icon margins, fix observe seq control button
  observe/web/client/src/main/webapp/styles/observe.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-prime.scss
Due: Label observe PRs, Label ui PRs

Fix some spacing issues for compact and veryCompact buttons
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  ui/lib/src/main/scala/lucuma/ui/primereact/LucumaPrimeStyles.scala
Due: Label ui PRs

Tweak acquisition customization UI
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Use default pa if no gs is available
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Allow setting group maximum delay to null
  explore/app/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs
