Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

Label client PRs:
  label:
    add:
    - client
    remove: []

Label client-clue PRs:
  label:
    add:
    - client-clue
    remove: []

Label client-model PRs:
  label:
    add:
    - client-model
    remove: []

Label engine PRs:
  label:
    add:
    - engine
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label observe-server-gn PRs:
  label:
    add:
    - observe-server-gn
    remove: []

Label observe-server-gn-test PRs:
  label:
    add:
    - observe-server-gn-test
    remove: []

Label observe-server-gs PRs:
  label:
    add:
    - observe-server-gs
    remove: []

Label observe-server-gs-test PRs:
  label:
    add:
    - observe-server-gs-test
    remove: []

Label observe-server_staging PRs:
  label:
    add:
    - observe-server_staging
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label server_new PRs:
  label:
    add:
    - server_new
    remove: []

Label server_new-clue PRs:
  label:
    add:
    - server_new-clue
    remove: []

Label stateengine PRs:
  label:
    add:
    - stateengine
    remove: []

update documentation
  README.md
Due: none

fix GS push
  build.sbt
Due: none

regenerate workflow
  .github/workflows/ci.yml
Due: none

switch staging to gemini.edu urls
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Due: none

logback configuration for deployments
  build.sbt
  deploy/conf/heroku-gn/logback.xml
  deploy/conf/heroku-gs/logback.xml
  deploy/conf/local/logback.xml
  deploy/conf/production-gn/logback.xml
  deploy/conf/production-gs/logback.xml
  deploy/conf/staging-gn/logback.xml
  deploy/conf/staging-gs/logback.xml
  modules/web/server/src/main/scala/observe/web/server/http4s/LogInitialization.scala
Due: Label server PRs

allow deactivating sound, breakpoint as pause
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/main/scala/observe/ui/model/newTypes.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/resources/sounds/breakpointreached.mp3
  modules/web/client/src/main/resources/sounds/breakpointreached.webm
  modules/web/client/src/main/resources/sounds/soundactivated.mp3
  modules/web/client/src/main/resources/sounds/soundactivated.webm
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/utils/Audio.scala
Due: Label client PRs, Label client-model PRs

remove unused icon
  modules/web/client/src/main/scala/observe/ui/Icons.scala
Due: Label client PRs

remove janino dependency
  project/Settings.scala
Due: none

implement f2 sequence in ui
  deploy/scripts/start.sh
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/test/scala/observe/server/tcs/ScienceFoldPositionCodexSuite.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label server_new PRs

fine tune deploy to staging and prod
  deploy/conf/production-gn/logback.xml
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/logback.xml
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/logback.xml
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/logback.xml
  deploy/conf/staging-gs/site.conf
  deploy/scripts/README.md
  deploy/scripts/config.sh
  deploy/scripts/install.sh
  deploy/scripts/start.sh
Due: none

fix ports
  deploy/conf/production-gs/site.conf
Due: none

implement f2 sequence in ui
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/test/scala/observe/server/tcs/ScienceFoldPositionCodexSuite.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label server_new PRs

f2 dynamic config ready
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2Controller.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2ControllerEpics.scala
Due: Label server_new PRs

f2 dyn config complete
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2Controller.scala
Due: Label server_new PRs

almost there
  modules/model/shared/src/main/scala/observe/model/arb/ArbInstrumentDynamicConfig.scala
  modules/server_new/src/main/scala/observe/server/InstrumentSpecifics.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label model PRs, Label server_new PRs

start migrating f2 configuration
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2.scala
Due: Label server_new PRs

checkpoint
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  project/Settings.scala
Due: Label server_new PRs

import f2 specific code from seqexec
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/EpicsUtil.scala
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  modules/server_new/src/main/scala/observe/server/InstrumentSystem.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/ProgressUtil.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2Controller.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2ControllerDisabled.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2ControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2ControllerSim.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2Epics.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2Header.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerSim.scala
  modules/server_new/src/main/scala/observe/server/partials.scala
Due: Label server_new PRs

checkpoint
  modules/model/shared/src/main/scala/observe/model/InstrumentDynamicConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbInstrumentDynamicConfig.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label model PRs, Label server_new PRs

update versions
  project/Settings.scala
Due: none

final changes to make f2 work
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorth.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouth.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsNorthSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsSouthSuite.scala
  modules/web/server/src/main/resources/base.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/LogInitialization.scala
  project/Settings.scala
Due: Label server PRs, Label server_new PRs

some more f2 config migration
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2Controller.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2ControllerEpics.scala
Due: Label server_new PRs

f2 complete, pre testing
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2Header.scala
Due: Label server_new PRs

checkpoint
  modules/model/shared/src/main/scala/observe/model/InstrumentDynamicConfig.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/server_new/src/main/scala/observe/server/package.scala
Due: Label model PRs, Label server_new PRs

fix dep version
  project/Settings.scala
Due: none

remove comments, rename vars
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2ControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorth.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouth.scala
Due: Label server_new PRs

track sequence in the ui
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
Due: Label client PRs

readability refactor
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/EventResult.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
Due: Label engine PRs, Label server_new PRs

remove commented code
  modules/engine/src/main/scala/observe/engine/Handle.scala
Due: Label engine PRs

simplify Handle event stream
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
Due: Label engine PRs, Label server_new PRs

remove commented code
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label server_new PRs

remove commented code
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label engine PRs, Label server_new PRs

rebase fixes
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
Due: Label server_new PRs

update workflow
  .mergify.yml
Due: none

instruments configurations for all envs
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Due: none

show environment banner
  modules/web/client/src/main/scala/observe/ui/Main.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  project/Settings.scala
Due: Label client PRs

f2 now full
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gs/site.conf
Due: none

remove comments
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
Due: Label server_new PRs

parameter renames
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Event.scala
Due: Label server_new PRs

Path conditions:
  Label client PRs: any of: ^modules/web/client/
  Label client-clue PRs: any of: ^modules/web/client-clue/
  Label client-model PRs: any of: ^modules/web/client-model/
  Label engine PRs: any of: ^modules/engine/
  Label model PRs: any of: ^modules/model/
  Label observe-server-gn PRs: any of: ^deploy/observe-server-gn/
  Label observe-server-gn-test PRs: any of: ^deploy/observe-server-gn-test/
  Label observe-server-gs PRs: any of: ^deploy/observe-server-gs/
  Label observe-server-gs-test PRs: any of: ^deploy/observe-server-gs-test/
  Label observe-server_staging PRs: any of: ^deploy/observe-server_staging/
  Label server PRs: any of: ^modules/web/server/
  Label server_new PRs: any of: ^modules/server_new/
  Label server_new-clue PRs: any of: ^modules/server_new-clue/
  Label stateengine PRs: any of: ^modules/stateengine/
