Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label app PRs, Label app-clue PRs, Label client PRs, Label client-clue PRs, Label client-model PRs, Label common PRs, Label deploy PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label workers PRs

Label app PRs:
  label:
    add:
    - app
    remove: []

Label app-clue PRs:
  label:
    add:
    - app-clue
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label client-clue PRs:
  label:
    add:
    - client-clue
    remove: []

Label client-model PRs:
  label:
    add:
    - client-model
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label deploy PRs:
  label:
    add:
    - deploy
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label server_new PRs:
  label:
    add:
    - server_new
    remove: []

Label server_new-clue PRs:
  label:
    add:
    - server_new-clue
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

fixes to publish npm modules
  .github/workflows/ci.yml
  build.sbt
  schemas/lib/package-lock.json
  schemas/lib/package.json
Due: none

remove no longer needed files and folders
  .vite/deps_temp/_metadata.json
  .vite/deps_temp/process.js
  .vite/deps_temp/process.js.map
  explore/.githooks/pre-commit
  explore/.github/dependabot.yml
  explore/.github/workflows/ci.yml
  explore/.github/workflows/clean.yml
  explore/.mergify.yml
  explore/.vscode/extensions.json
  explore/.vscode/settings.json
  explore/LICENSE
  explore/build.sbt.old
  explore/project/Dependencies.scala
  explore/project/Versions.scala
  explore/project/build.properties
  explore/project/plugins.sbt
  explore/project/project/Versions.scala
Due: none

bump base version
  build.sbt
Due: none

no publish
  build.sbt
Due: none

global no publish
  build.sbt
Due: none

Revert "global no publish"
  build.sbt
Due: none

Update lucuma-core, replayed from explore
  explore/workers/src/main/scala/workers/CatalogCache.scala
  project/Versions.scala
Due: Label workers PRs

Update fontawesome token and slack webhook
  secrets.yaml
Due: none

Move fetchLOBSchema.* under schemas and setup package.json
  schemas/fetchODBSchema.mjs
  schemas/fetchODBSchema.sh
  schemas/package-lock.json
  schemas/package.json
Due: none

migrate to cats-retry 4
  explore/app/src/main/scala/explore/targets/TargetSource.scala
  explore/common/src/main/scala/explore/common/RetryHelpers.scala
  explore/common/src/main/scala/explore/common/SimbadSearch.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/sso/SSOClient.scala
  ui/lib/src/main/scala/lucuma/ui/utils/RetryHelpers.scala
Due: Label app PRs, Label client PRs, Label common PRs

fix repo name in promote script
  promote.sh
Due: none

remove unnecessary package
  build.sbt
  schemas/lib/package-lock.json
  schemas/lib/package.json
Due: none

regenerate workflow
  .github/workflows/ci.yml
Due: none

Replay REL-3594 on observe
  modules/server_new/src/main/scala/observe/server/keywords/package.scala
  modules/server_new/src/test/scala/observe/server/keywords/DhsClientSimSpec.scala
  modules/server_new/src/test/scala/observe/server/keywords/GdsClientSpec.scala
  modules/server_new/src/test/scala/observe/server/keywords/GdsClientSuite.scala
Due: Label server_new PRs

Add sample sparse checkout for observe server only
  observe-server-sparse-checkout
Due: none

remove lib plugin
  build.sbt
  project/plugins.sbt
Due: none

simplify build
  .github/workflows/ci.yml
  build.sbt
  project/Versions.scala
Due: none

Update odb schema for eventType HardDelete change
  explore/app/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label app PRs

Change Add Target button to a SplitButton
  explore/app/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/app/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  project/Versions.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  ui/lib/src/main/scala/lucuma/ui/primereact/primereact.scala
Due: Label app PRs

Better align the warning on the programs popup
  explore/app/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label app PRs, Label common PRs

Switch repo on the update popup
  explore/app/src/main/scala/explore/ExploreLayout.scala
Due: Label app PRs

move MUnit deps to test
  build.sbt
Due: none

deploy navigate in ci
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

tests passing
  build.sbt
Due: none

Improve responsivness of chart buttons
  explore/app/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/app/src/main/scala/explore/plots/SeriesType.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/primereact/SelectButtonMultipleEnumView.scala
Due: Label app PRs, Label common PRs

mark test as flaky
  navigate/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
Due: none

add navigate npm publish
  .github/workflows/npm.yml
Due: none

fix interpolation in build
  build.sbt
Due: none

SC-5987 Notify the ReadingOut state when stopping a paused observation.
  modules/server_new/src/main/scala/observe/server/ProgressUtil.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
Due: Label server_new PRs

regenerate workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Publish navigate-web-server schema package in lucuma-schemas
  .github/workflows/ci.yml
  .github/workflows/npm.yml
  build.sbt
Due: none

Test publishing step
  .github/workflows/npm.yml
Due: none

Add setup-node step
  .github/workflows/npm.yml
Due: none

Test
  .github/workflows/npm.yml
  build.sbt
Due: none

Specify tag
  .github/workflows/npm.yml
  build.sbt
Due: none

Path conditions:
  Label app PRs: any of: ^explore/app/
  Label app-clue PRs: any of: ^explore/app-clue/
  Label client PRs: any of: ^modules/web/client/
  Label client-clue PRs: any of: ^modules/web/client-clue/
  Label client-model PRs: any of: ^modules/web/client-model/
  Label common PRs: any of: ^explore/common/
  Label deploy PRs: any of: ^modules/deploy/
  Label model PRs: any of: ^/
  Label model-testkit PRs: any of: ^explore/model-testkit/
  Label model-tests PRs: any of: ^explore/model-tests/
  Label server PRs: any of: ^modules/web/server/
  Label server_new PRs: any of: ^modules/server_new/
  Label server_new-clue PRs: any of: ^modules/server_new-clue/
  Label workers PRs: any of: ^explore/workers/
