Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

scalafmt
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/model/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs

adopt latest sbt-lucuma, only ci.yml writes sbt cache
  .github/workflows/ci.yml
  .github/workflows/npm.yml
  project/Versions.scala
Due: none

Keep JS and CSS output on version-free per-project paths
  build.sbt
  explore/vite.config.mts
  observe/web/client/vite.config.mts
  project/Versions.scala
  project/plugins.sbt
  stylelint.config.mjs
  ui/demo/vite.config.mts
Due: Label explore PRs, Label observe PRs, Label ui PRs

Drop import made redundant by the merged arb package
  observe/model/shared/src/test/scala/observe/model/ModelSuite.scala
Due: Label observe PRs

cleanup
  build.sbt
Due: none

Restore scalafixAll in CI
  .github/workflows/ci.yml
  CLAUDE.md
  project/Versions.scala
Due: none

sbt2 migration
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  build.sbt
  explore/CLAUDE.md
  explore/vite.config.mts
  observe/model/shared/src/main/scala/observe/model/arb/package.scala
  observe/model/shared/src/test/scala/observe/model/arb/package.scala
  observe/web/client/vite.config.mts
  project/Dependencies.scala
  project/Versions.scala
  project/build.properties
  project/plugins.sbt
  stylelint.config.mjs
Due: Label explore PRs, Label observe PRs

Update to the latest version
  .github/workflows/ci.yml
  build.sbt
  project/Versions.scala
Due: none

Run the seven initial program queries concurrently
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

Style the load checklist as part of the spinner
  explore/app/src/main/scala/explore/components/LoadProgressIndicator.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/resources/lucuma-css/solar-system.scss
Due: Label explore PRs, Label ui PRs

Retire completed load steps instead of stacking them up
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Show what the initial load is waiting for
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/components/LoadProgressIndicator.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/common/src/main/scala/explore/cache/LoadProgress.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/common/src/test/scala/explore/cache/LoadProgressSuite.scala
  ui/lib/src/main/resources/lucuma-css/solar-system.scss
  ui/lib/src/main/scala/lucuma/ui/components/SolarProgress.scala
Due: Label explore PRs, Label ui PRs

cleanup
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/components/LoadProgressIndicator.scala
  explore/common/src/main/scala/explore/cache/LoadProgress.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/common/src/test/scala/explore/cache/LoadProgressSuite.scala
  ui/lib/src/main/resources/lucuma-css/solar-system.scss
  ui/lib/src/main/scala/lucuma/ui/components/SolarProgress.scala
Due: Label explore PRs, Label ui PRs

Only list the load steps a given load actually waits on
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/common/src/main/scala/explore/cache/LoadProgress.scala
  explore/common/src/test/scala/explore/cache/LoadProgressSuite.scala
Due: Label explore PRs

Keep info icons together with the labels
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Drop the page counter from the load checklist
  explore/app/src/main/scala/explore/cache/LoadStep.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/components/LoadProgressIndicator.scala
  explore/app/src/main/scala/explore/services/OdbApiHelper.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Show only the steps still running, and what happens after them
  explore/app/src/main/scala/explore/cache/LoadStep.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/components/LoadProgressIndicator.scala
  explore/app/src/main/scala/explore/services/OdbApiHelper.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Simplify the load checklist model
  explore/app/src/main/scala/explore/cache/LoadStep.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/components/LoadProgressIndicator.scala
  explore/app/src/main/scala/explore/model/AppContext.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/common/src/test/scala/explore/cache/LoadProgressSuite.scala
  ui/lib/src/main/resources/lucuma-css/solar-system.scss
Due: Label explore PRs, Label ui PRs

Renamed as progress stage
  explore/app/src/main/scala/explore/cache/LoadStage.scala
  explore/app/src/main/scala/explore/cache/LoadStep.scala
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/components/LoadProgressIndicator.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Show the original time estimate on the observation badge
  CONTEXT.md
  explore/app/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbExecution.scala
  explore/model/src/main/scala/explore/model/EstimateDisplay.scala
  explore/model/src/main/scala/explore/model/Execution.scala
Due: Label explore PRs

sc-10482 Handle the GNIRS and Flamingos-2 imaging configuration modes
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  project/Versions.scala
Due: Label explore PRs

SC-10505 Fixed GMOS-S IFU Blue and Red.
  observe/server/src/main/scala/observe/server/gmos/GmosSouthControllerEpics.scala
Due: Label observe PRs

Mount the tile grid only once its width is known
  explore/app/src/main/scala/explore/components/TileController.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/app/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

SC-10315 Observe uses Navigate to configure TCS
  .scalafix.conf
  build.sbt
  navigate/model/src/main/scala/navigate/model/LightPath.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/enums/LightSink.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/ScienceFold.scala
  navigate/server/src/main/scala/navigate/server/tcs/ScienceFoldPositionCodex.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/OperationOutcome.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateSchema.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateSchemaSuite.scala
  observe/server/src/clue/scala/observe/common/NavigateQueriesGQL.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/tcs/TcsController.scala
  observe/server/src/main/scala/observe/server/tcs/TcsControllerNavigate.scala
  observe/server/src/main/scala/observe/server/tcs/TcsNorthControllerNavigate.scala
  observe/server/src/main/scala/observe/server/tcs/TcsSouthControllerNavigate.scala
  observe/server/src/test/scala/observe/server/tcs/TcsControllerNavigateSuite.scala
  observe/server/src/test/scala/observe/server/tcs/TcsNorthSuite.scala
  observe/server/src/test/scala/observe/server/tcs/TcsSouthSuite.scala
  schemas/model/src/main/scala/lucuma/schemas/model/navigate/LightSinkVariant.scala
  schemas/model/src/main/scala/lucuma/schemas/model/navigate/LightSource.scala
  schemas/model/src/main/scala/lucuma/schemas/model/navigate/OperationResult.scala
  schemas/navigate/src/clue/resources/lucuma/schemas/NavigateDB.graphql
  schemas/navigate/src/clue/scala/lucuma/schemas/NavigateDB.scala
Due: Label navigate PRs, Label observe PRs, Label schemas PRs

Show flat and arc counts and times in the Observation Details tile
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Also read gcalSets field
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/CoordinatesSubquery.scala
Due: Label explore PRs, Label schemas PRs

Removed unused fragment
  schemas/lib/src/clue/scala/lucuma/schemas/odb/VisitQueriesGQL.scala
Due: Label schemas PRs

Improve format of the time
  explore/app/src/main/scala/explore/tabs/ObservationDetailsTile.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/format/package.scala
Due: Label explore PRs, Label ui PRs

Fix clue warning
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
Due: Label schemas PRs

Split F2 long slit offset presets by calibration role
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  project/Versions.scala
Due: Label explore PRs

Update lucuma-react to 0.107.0
  project/Versions.scala
Due: none

Add the remaining data-testids for the end-to-end suite
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalErrorsTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  ui/lib/src/main/scala/lucuma/ui/components/UserSelectionForm.scala
Due: Label explore PRs, Label ui PRs

Add data-testids for the end-to-end suite
  explore/app/src/main/scala/explore/TopBar.scala
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/common/src/main/scala/explore/utils/package.scala
Due: Label explore PRs

Add an id to the Manage Programs menu item
  explore/app/src/main/scala/explore/TopBar.scala
Due: Label explore PRs

Ammend claude to never remove test ids
  explore/CLAUDE.md
Due: Label explore PRs

scalafmt
  explore/model-tests/src/test/scala/explore/model/GuiderChoiceSuite.scala
Due: Label explore PRs

Set auto reset flag
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
Due: Label explore PRs

Add help icon to the archive duplication tile title
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
