Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

Label client PRs:
  label:
    add:
    - client
    remove: []

Label client-clue PRs:
  label:
    add:
    - client-clue
    remove: []

Label client-model PRs:
  label:
    add:
    - client-model
    remove: []

Label engine PRs:
  label:
    add:
    - engine
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label observe-server-gn PRs:
  label:
    add:
    - observe-server-gn
    remove: []

Label observe-server-gn-test PRs:
  label:
    add:
    - observe-server-gn-test
    remove: []

Label observe-server-gs PRs:
  label:
    add:
    - observe-server-gs
    remove: []

Label observe-server-gs-test PRs:
  label:
    add:
    - observe-server-gs-test
    remove: []

Label observe-server_staging PRs:
  label:
    add:
    - observe-server_staging
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label server_new PRs:
  label:
    add:
    - server_new
    remove: []

Label server_new-clue PRs:
  label:
    add:
    - server_new-clue
    remove: []

Label stateengine PRs:
  label:
    add:
    - stateengine
    remove: []

SC-5990 Fixed keywords for flats and arcs.
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
Due: Label server_new PRs

SC-6138 Updated GMOS filter tables following Seqexec current definition.
  modules/server_new/src/main/scala/observe/server/gmos/GmosNorthControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosSouthControllerEpics.scala
Due: Label server_new PRs

Updated to lucuma-schemas 0.146.0
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  project/Settings.scala
Due: Label server_new PRs

Use the latest odb schema
  build.sbt
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosNorthControllerEpics.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server_new PRs

Use the latest odb schema
  .gitignore
  build.sbt
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosNorthControllerEpics.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server_new PRs

Possible fix for ObsSummary workflow
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
Due: Label client PRs, Label client-model PRs

Downgrade scala
  build.sbt
  modules/web/client/vite.config.js
Due: Label client PRs

workflows
  .github/workflows/ci.yml
Due: none

Remove unused workflow from observation detail query
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

Removed obsolete GMOS-S grating.
  modules/server_new/src/main/scala/observe/server/gmos/GmosSouthControllerEpics.scala
Due: Label server_new PRs

Updated lucuma-schema library.
  project/Settings.scala
Due: none

Attempt to fix observation summary query
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label client PRs

Fix where workflow in query
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
Due: Label client PRs

add units to iq and ce in current conditions
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  project/Settings.scala
Due: Label client PRs

show f2 and gmos imaging config in obs selector
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
Due: Label client PRs, Label client-model PRs

checkpoint
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  project/Settings.scala
Due: Label client PRs, Label server_new PRs

future SN displayed
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label server_new PRs

seq columns per instrument
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  modules/web/server/src/main/resources/base.conf
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label server PRs

show s/n in sequences
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  project/Settings.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

only show s/n in acquisition rows with now fpu
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  project/Settings.scala
Due: Label client PRs

report memory on startup, switch to percentage
  build.sbt
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

workaround for max memory in heroku+docker
  build.sbt
  deploy/_init/set-memory.sh
Due: none

improvement to script
  deploy/_init/set-memory.sh
Due: none

use sbt-lucuma-docker
  build.sbt
  deploy/_init/set-memory.sh
  project/plugins.sbt
Due: none

more docker adjustments
  build.sbt
  project/plugins.sbt
Due: none

bump sbt-lucuma
  project/plugins.sbt
Due: none

bumps
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label client PRs

Upgrade coulomb
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/gws/GwsEpics.scala
  modules/server_new/src/main/scala/observe/server/gws/GwsHeader.scala
  modules/server_new/src/main/scala/observe/server/gws/GwsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/gws/package.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsController.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorthControllerEpicsAo.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSettleTimeCalculator.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouthControllerEpicsAo.scala
  modules/server_new/src/main/scala/observe/server/tcs/package.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsArbitraries.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestRoutes.scala
  project/Settings.scala
Due: Label client PRs, Label model PRs, Label server PRs, Label server_new PRs

derive Eq/Order instances
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

table bump
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  project/Settings.scala
Due: Label client PRs

use ui convenience method
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label client PRs

separate OdbProxy into smaller files
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  modules/server_new/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbEventCommands.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
Due: Label server_new PRs

migrate observation config query
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  modules/server_new/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbObsData.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

remove unused import
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
Due: Label server_new PRs

remove commented code
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

remove commented code
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
Due: Label server_new PRs

add clientid when recording events
  modules/server_new/src/clue/scala/observe/common/EventsGQL.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairHeader.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairLgsHeader.scala
  modules/server_new/src/main/scala/observe/server/flamingos2/Flamingos2Header.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalHeader.scala
  modules/server_new/src/main/scala/observe/server/gems/GemsHeader.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosHeader.scala
  modules/server_new/src/main/scala/observe/server/gws/GwsHeader.scala
  modules/server_new/src/main/scala/observe/server/keywords/Header.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/main/scala/observe/server/keywords/package.scala
  modules/server_new/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbEventCommands.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
Due: Label server_new PRs

remove comment
  modules/server_new/src/main/scala/observe/server/Systems.scala
Due: Label server_new PRs

retry recording events
  modules/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

comment out unimplemented clientId endpoints
  modules/server_new/src/clue/scala/observe/common/EventsGQL.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
Due: Label server_new PRs

Path conditions:
  Label client PRs: any of: ^modules/web/client/
  Label client-clue PRs: any of: ^modules/web/client-clue/
  Label client-model PRs: any of: ^modules/web/client-model/
  Label engine PRs: any of: ^modules/engine/
  Label model PRs: any of: ^modules/model/
  Label observe-server-gn PRs: any of: ^deploy/observe-server-gn/
  Label observe-server-gn-test PRs: any of: ^deploy/observe-server-gn-test/
  Label observe-server-gs PRs: any of: ^deploy/observe-server-gs/
  Label observe-server-gs-test PRs: any of: ^deploy/observe-server-gs-test/
  Label observe-server_staging PRs: any of: ^deploy/observe-server_staging/
  Label server PRs: any of: ^modules/web/server/
  Label server_new PRs: any of: ^modules/server_new/
  Label server_new-clue PRs: any of: ^modules/server_new-clue/
  Label stateengine PRs: any of: ^modules/stateengine/
