Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

implement pr review suggestions
  observe/server/src/main/scala/observe/server/package.scala
  observe/server/src/test/scala/observe/server/engine/TestUtil.scala
Due: Label observe PRs

includeItc not optional, skipTarget no default
  explore/app/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

add comment
  observe/model/shared/src/main/scala/observe/model/ObserveStep.scala
Due: Label observe PRs

gnirs itc now requires coadds
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/InstrumentOverrides.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  project/Versions.scala
Due: Label explore PRs

fix servers version
  project/Versions.scala
Due: none

show s/n in gnirs acquisition images
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

Revert repo to state of faca8a102e
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/InstrumentOverrides.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label ui PRs

Improve caching of npm packages
  .github/workflows/ci.yml
  build.sbt
Due: none

Use pnpm ci --offline instead of pnpm install
  .github/workflows/ci.yml
  build.sbt
Due: none

Automatically create a program for new users
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label explore PRs

Don't load guideTargetName with the big bulk query, lead it on a per obs basis
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
Due: Label explore PRs

read guideTargetName on demand and keep the cache fresh
  explore/app/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

Fix broken test
  explore/model-tests/src/test/scala/explore/model/ProgramSummariesSuite.scala
Due: Label explore PRs

always select original mode row when reverting configuration
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Remove commented code
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
Due: Label explore PRs

Initial support for exchange proposals.
  explore/app/src/clue/scala/queries/common/CallForProposalsSubquery.scala
  explore/app/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/app/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/app/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model-tests/src/test/scala/explore/optics/ModelOpticsSuite.scala
  explore/model/src/main/scala/explore/CallForProposal.scala
  explore/model/src/main/scala/explore/CallProperties.scala
  explore/model/src/main/scala/explore/Proposal.scala
  explore/model/src/main/scala/explore/ProposalType.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

Update lucuma-core version and odb schema
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

Update odb version, temporary GNIRS coadd fix
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
Due: Label explore PRs

gnirs itc now requires coadds
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/InstrumentOverrides.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

remove unused import
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
Due: Label explore PRs

fix clue version
  project/Versions.scala
Due: none

include flamingos2imaging in basicconfiguration query
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label schemas PRs

Show GHOST IFU2 patrol field in single-target mode
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
Due: Label explore PRs, Label ui PRs

hide tabs in pinholes, hide acq config in twilights, pinholes
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs

On hover over the ifu2 area highlight it
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

Log keyword information in simulated GDS.
  observe/server/src/main/scala/observe/server/ghost/GhostControllerSim.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2ControllerSim.scala
  observe/server/src/main/scala/observe/server/keywords/GdsClient.scala
Due: Label observe PRs

gcal column in explore
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label ui PRs

Show a different cursor on hover
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

Don't show GHOST IFU2 patrol field before the mode is accepted
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
Due: Label explore PRs

Capture clicks on the ifu2 area and print the coordinates
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/facade/package.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label explore PRs, Label ui PRs

Set the sky position for ghost when clicking inside ifu2
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
Due: Label explore PRs

In sumulated GDS, clean keywords when closing image.
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/enums/LightSink.scala
  navigate/model/src/main/scala/navigate/model/enums/LightSinkVariant.scala
  observe/server/src/main/scala/observe/server/keywords/GdsClient.scala
Due: Label navigate PRs, Label observe PRs

Display IFU2 sky position marker on the Aladin view
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/SvgTarget.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

Add tooltip to the ifu2 position
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label explore PRs, Label ui PRs

Add instrument independent support for interactive regions
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/InteractiveRegion.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
  explore/model/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
Due: Label explore PRs, Label ui PRs

Workaround for GN TCS focus bug.
  observe/server/src/main/scala/observe/server/tcs/TcsConfigRetriever.scala
Due: Label observe PRs

Add optimistic updates to show the ifu selection without waiting for the upstream update
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore-visualization.scss
Due: Label explore PRs

scalafix
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
Due: Label explore PRs
