Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

Label client PRs:
  label:
    add:
    - client
    remove: []

Label client-clue PRs:
  label:
    add:
    - client-clue
    remove: []

Label client-model PRs:
  label:
    add:
    - client-model
    remove: []

Label engine PRs:
  label:
    add:
    - engine
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label observe-server-gn PRs:
  label:
    add:
    - observe-server-gn
    remove: []

Label observe-server-gn-test PRs:
  label:
    add:
    - observe-server-gn-test
    remove: []

Label observe-server-gs PRs:
  label:
    add:
    - observe-server-gs
    remove: []

Label observe-server-gs-test PRs:
  label:
    add:
    - observe-server-gs-test
    remove: []

Label observe-server_staging PRs:
  label:
    add:
    - observe-server_staging
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Label server_new PRs:
  label:
    add:
    - server_new
    remove: []

Label server_new-clue PRs:
  label:
    add:
    - server_new-clue
    remove: []

Label stateengine PRs:
  label:
    add:
    - stateengine
    remove: []

server doesn't support reloading current obs
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
Due: Label client PRs, Label model PRs

uncomment code
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
Due: Label client PRs

reset acquisition sequence on load
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

add requested comment
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label server_new PRs

don't force step to running if waiting prompt, renames
  modules/engine/src/main/scala/observe/engine/EngineStep.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
Due: Label client PRs, Label engine PRs, Label model PRs, Label server_new PRs

checkpoint
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
Due: Label client PRs, Label engine PRs, Label model PRs, Label server_new PRs

checkpoint 2
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
Due: Label client PRs, Label engine PRs, Label model PRs

fix lenses
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
Due: Label model PRs

implement obs table suggestions
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

migrate to latest core
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbGmosParameters.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbObsRecordedIds.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/arb/package.scala
  modules/model/shared/src/main/scala/observe/model/extensions.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/arb/package.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/gems/Gems.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosSouthControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionSetReader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/keywords/ConditionOpsSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server PRs, Label server_new PRs

use resetAcquisition mutation on loading seq
  .scalafix.conf
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  project/Settings.scala
Due: Label server_new PRs

core migration
  modules/model/shared/src/main/scala/observe/model/odb/RecordedIds.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionSetReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorthControllerEpicsAo.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouthControllerEpicsAo.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  project/Settings.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

refactor
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/package.scala
Due: Label server_new PRs

checkpoint
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
Due: Label model PRs

checkpoint
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionSetReader.scala
Due: Label model PRs, Label server_new PRs

model reworked, rebased, missing controls
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/events/package.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionSetReader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/server_new/src/test/scala/observe/server/keywords/ConditionOpsSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label client PRs, Label model PRs, Label server PRs, Label server_new PRs

model reworked, rebased, missing controls
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/events/package.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionSetReader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/server_new/src/test/scala/observe/server/keywords/ConditionOpsSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label client PRs, Label model PRs, Label server PRs, Label server_new PRs

allow entering numeric IQ and CE
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs

solve warnings
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/services/ApiClient.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Due: Label client PRs

fix tests
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Due: Label server PRs

address PR comments
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionSetReader.scala
Due: Label model PRs, Label server_new PRs

change "Start observation" prompt icon
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
Due: Label client PRs

create reconnecting websocket client
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbSubscriber.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

connect ws client
  modules/server_new/src/main/scala/observe/server/Systems.scala
Due: Label server_new PRs

switch to jdk ws client
  modules/server_new/src/main/scala/observe/server/Systems.scala
  project/Settings.scala
Due: Label server_new PRs

subscription working
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
Due: Label server_new PRs

not refreshing
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbSubscriber.scala
Due: Label server_new PRs

allow unloading during user prompt
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
Due: Label client PRs, Label engine PRs, Label model PRs

always show toast when loading fails
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs

update dependencies
  modules/web/client/package-lock.json
  modules/web/client/package.json
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  project/Settings.scala
Due: Label client PRs, Label server PRs

update package.lock
  modules/web/client/package-lock.json
Due: Label client PRs

beep on step complete, but beeps a lot more
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client/src/main/resources/sounds/beep-22.mp3
  modules/web/client/src/main/resources/sounds/beep-22.webm
  modules/web/client/src/main/resources/sounds/exposurepaused.mp3
  modules/web/client/src/main/resources/sounds/exposurepaused.webm
  modules/web/client/src/main/resources/sounds/observationstopped.mp3
  modules/web/client/src/main/resources/sounds/observationstopped.webm
  modules/web/client/src/main/resources/sounds/sequenceaborted.mp3
  modules/web/client/src/main/resources/sounds/sequenceaborted.webm
  modules/web/client/src/main/resources/sounds/sequencecomplete.mp3
  modules/web/client/src/main/resources/sounds/sequencecomplete.webm
  modules/web/client/src/main/resources/sounds/sequenceerror.mp3
  modules/web/client/src/main/resources/sounds/sequenceerror.webm
  modules/web/client/src/main/resources/sounds/sequencepaused.mp3
  modules/web/client/src/main/resources/sounds/sequencepaused.webm
  modules/web/client/src/main/resources/sounds/soundon.mp3
  modules/web/client/src/main/resources/sounds/soundon.webm
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/utils.scala
  modules/web/client/src/main/scala/observe/ui/utils/Audio.scala
  modules/web/client/src/main/scala/observe/ui/utils/package.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

add StepCompleted event
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label engine PRs, Label model PRs, Label server_new PRs

enforce codecs with discriminators (derived)
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/model/shared/src/test/scala/observe/model/ClientEventSuite.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
Due: Label model PRs, Label server PRs

add StepCompleted event
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/utils.scala
Due: Label client PRs, Label engine PRs, Label model PRs, Label server_new PRs

remove println
  modules/engine/src/main/scala/observe/engine/Engine.scala
Due: Label engine PRs

remove unused class
  modules/web/client/src/main/scala/observe/ui/utils.scala
Due: Label client PRs

fix test
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
Due: Label engine PRs

Path conditions:
  Label client PRs: any of: ^modules/web/client/
  Label client-clue PRs: any of: ^modules/web/client-clue/
  Label client-model PRs: any of: ^modules/web/client-model/
  Label engine PRs: any of: ^modules/engine/
  Label model PRs: any of: ^modules/model/
  Label observe-server-gn PRs: any of: ^deploy/observe-server-gn/
  Label observe-server-gn-test PRs: any of: ^deploy/observe-server-gn-test/
  Label observe-server-gs PRs: any of: ^deploy/observe-server-gs/
  Label observe-server-gs-test PRs: any of: ^deploy/observe-server-gs-test/
  Label observe-server_staging PRs: any of: ^deploy/observe-server_staging/
  Label server PRs: any of: ^modules/web/server/
  Label server_new PRs: any of: ^modules/server_new/
  Label server_new-clue PRs: any of: ^modules/server_new-clue/
  Label stateengine PRs: any of: ^modules/stateengine/
