Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

persist tables state as json
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
  explore/app/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/app/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/app/src/main/scala/explore/validations/ObservationValidationsTable.scala
  explore/hasura/user-prefs/migrations/default/1776100521833_table_state_serialized/down.sql
  explore/hasura/user-prefs/migrations/default/1776100521833_table_state_serialized/up.sql
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/TableStateStore.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
Due: Label explore PRs, Label ui PRs

clarify doc, fix version
  explore/USERPREFS.md
  project/Versions.scala
Due: Label explore PRs

remove unused import
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
Due: Label explore PRs

Reset panning allowed state on reset
  ui/lib/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
Due: Label ui PRs

Update path
  navigate/model/src/main/scala/navigate/model/config/WebServerConfiguration.scala
Due: Label navigate PRs

recreate hasura metadata, expand doc
  explore/USERPREFS.md
  explore/hasura/user-prefs/metadata/databases/default/tables/public_ItcChartType.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_explorePlotRange.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_explorePlotTime.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaGridBreakpointName.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaGridLayoutId.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaGridLayoutPositions.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaLineOfSightMotion.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaTableIds.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaTablePreferences.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaUser.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/public_lucumaWavelengthUnits.yaml
  explore/hasura/user-prefs/metadata/databases/default/tables/tables.yaml
Due: Label explore PRs

always allow searching simbad and horizons
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
Due: Label explore PRs

choose target type in search popup
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/shared/src/main/scala/explore/model/enums/TargetType.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/EnumRadioButtonsView.scala
Due: Label explore PRs, Label ui PRs

display icons for target type
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/common/src/main/scala/explore/render.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  ui/lib/src/main/scala/lucuma/ui/primereact/BooleanRadioButtons.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/EnumRadioButtonsView.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/RadioButtonView.scala
Due: Label explore PRs, Label ui PRs

combined search target button
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
Due: Label explore PRs

Update gaia queries for blind offsets
  build.sbt
  explore/workers/src/main/scala/workers/CatalogServer.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label explore PRs

Support GHOST ITC and observing modes
  build.sbt
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/shared/src/main/scala/explore/modes/InstrumentOverrides.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  project/Dependencies.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ModeSignalToNoise.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbModeSignalToNoise.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Increase ITC client time so GHOST graphs will load
  explore/workers/src/main/scala/workers/ItcServer.scala
Due: Label explore PRs

Initial version of the ghost geometry with refactorings of common code
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/PwfsGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/WithPwfsGeometry.scala
Due: Label explore PRs, Label ui PRs

select col table filters as strings
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
  explore/app/src/main/scala/explore/programs/TimeAccountingTable.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/reusability/reusability.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnFilter.scala
  ui/lib/src/main/scala/lucuma/ui/table/FilterMethod.scala
Due: Label explore PRs, Label ui PRs

Pass the ifu1 tentative values for the geometry to display the patrol fields
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GhostGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Igrins2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/PwfsGeometry.scala
Due: Label explore PRs, Label ui PRs

SC-8425 Observe: Added all instruments in OI selection name function.
  observe/server/src/main/scala/observe/server/keywords/GdsClient.scala
  observe/server/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
Due: Label observe PRs

Add labels for the ifus displayed as tool tip
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Add phantom area for tooltip events around targets
  ui/lib/src/main/scala/lucuma/ui/visualization/CrossTarget.scala
Due: Label ui PRs

Move target naming to BasicConfiguration
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/CrossTarget.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Igrins2Geometry.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Add UI controls for the new proposal fields
  explore/app/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model/shared/src/main/scala/explore/ProposalType.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Add an error message if consider for band 3 is unset
  explore/model/shared/src/main/scala/explore/Proposal.scala
Due: Label explore PRs

Don't allow returning to unset after selection and show a warning if unselected
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/model/shared/src/main/scala/explore/model/display.scala
Due: Label explore PRs

Consider for band 3 also should show on classical proposals
  explore/app/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model/shared/src/main/scala/explore/Proposal.scala
  explore/model/shared/src/main/scala/explore/ProposalType.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Validate ra/dec editors on blur
  explore/app/src/main/scala/explore/targeteditor/RegionEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
Due: Label explore PRs

Update ODB schema, allow reverting of GHOST observing modes
  explore/app/src/main/scala/explore/config/GhostIfuConfigPanel.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

SC-8424 Fixed bug when reading IGRINS2 port.
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label navigate PRs

Enable ags for ghost in explore
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  project/Versions.scala
Due: Label explore PRs

Add ghost placeholders for observe
  observe/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
Due: Label observe PRs

Support clicking on the same menu item more than once
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/table/ColumnSelector.scala
Due: Label explore PRs, Label ui PRs

Get a label for the target type columns
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
Due: Label explore PRs

Don't draw the target area when in elevation only mode
  explore/app/src/main/scala/explore/plots/NightPlot.scala
Due: Label explore PRs

dnd generalizations, start migrating ObsTree
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  ui/lib/src/main/scala/lucuma/ui/dnd/package.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseTableDragAndDrop.scala
Due: Label explore PRs, Label ui PRs

migrate ObsTree to pragmatic dnd
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/workers/src/main/scala/workers/CatalogServer.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/scala/lucuma/ui/dnd/package.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseTableDragAndDrop.scala
Due: Label explore PRs, Label ui PRs

Updated with PR comments
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnSelector.scala
Due: Label explore PRs, Label ui PRs

Support overriding the endpoints via env variables locally
  explore/README.md
  explore/app/src/main/webapp/main.jsx
  explore/vite.config.mts
Due: Label explore PRs

Add Resource modules with configuration, GraphQL schema and server implementation.
  .github/workflows/ci.yml
  .prettierignore
  build.sbt
  project/Dependencies.scala
  project/Versions.scala
  resource/model/src/main/scala/resource/model/config/ResourceConfiguration.scala
  resource/model/src/main/scala/resource/model/config/WebServerConfiguration.scala
  resource/web/src/main/resources/base.conf
  resource/web/src/main/resources/logback.xml
  resource/web/src/main/resources/resource.graphql
  resource/web/src/main/scala/resource/web/server/config/package.scala
  resource/web/src/main/scala/resource/web/server/graphql/BaseMapping.scala
  resource/web/src/main/scala/resource/web/server/graphql/MutationMapping.scala
  resource/web/src/main/scala/resource/web/server/graphql/QueryMapping.scala
  resource/web/src/main/scala/resource/web/server/graphql/ResourceMapping.scala
  resource/web/src/main/scala/resource/web/server/graphql/SubscriptionMapping.scala
  resource/web/src/main/scala/resource/web/server/http4s/GraphQlRoutes.scala
  resource/web/src/main/scala/resource/web/server/http4s/ServerMiddleware.scala
  resource/web/src/main/scala/resource/web/server/http4s/StaticRoutes.scala
  resource/web/src/main/scala/resource/web/server/http4s/WebServerLauncher.scala
  resource/web/src/main/scala/resource/web/server/http4s/package.scala
Due: none

Improvements to fill and style of calibration elevation plots
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotData.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

SC-8489 Added IGRINS2 case to port resolution.
  observe/server/src/main/scala/observe/server/tcs/BasicEpicsTcsConfig.scala
  observe/server/src/main/scala/observe/server/tcs/TcsConfigRetriever.scala
  observe/server/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  observe/server/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
Due: Label observe PRs

Pass read mode to f2 itc and update libs
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
  observe/server/src/main/scala/observe/server/ODBSequencesLoader.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
