Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Correct CLAUDE.md: scalafmt/scalafix checks are enabled in CI
  CLAUDE.md
Due: none

Add Admin UI to promotion script
  promote.sh
Due: none

Enable AGS [sc-9985] and visualization for F2 MOS
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label ui PRs

SC-9755 Fixed calibration load bug in Observe.
  observe/server/src/main/scala/observe/server/InstrumentStepBuilder.scala
  observe/server/src/main/scala/observe/server/SeqTranslate.scala
  observe/server/src/main/scala/observe/server/ghost/Ghost.scala
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  observe/server/src/test/scala/observe/server/ghost/GhostSpec.scala
Due: Label observe PRs

Prepare shared F2 config editor
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/MosMaskPicker.scala
  explore/app/src/main/scala/explore/config/package.scala
  explore/model/src/main/scala/explore/model/display.scala
Due: Label explore PRs

Extract the shared Flamingos 2 spectroscopy form
  explore/app/src/main/scala/explore/config/Flamingos2ConfigFields.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
Due: Label explore PRs

Implement the Flamingos 2 MOS configuration editor
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/Flamingos2ConfigFields.scala
  explore/app/src/main/scala/explore/config/Flamingos2MosConfigPanel.scala
Due: Label explore PRs

Update context file
  CONTEXT.md
Due: none

Show a label with the custom slit width selected for the mask
  CONTEXT.md
  explore/app/src/main/scala/explore/config/Flamingos2MosConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Show the custom mask id on the sequence table for f2 mos
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label ui PRs

Don't use offset presets
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Missing conf subquery
  explore/app/src/clue/scala/queries/common/ConfigurationSubquery.scala
Due: Label explore PRs

Add also f2 mos configuration request query
  explore/app/src/clue/scala/queries/common/ConfigurationSubquery.scala
  project/Versions.scala
Due: Label explore PRs

Let auto-height tiles declare their content height
  explore/app/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/app/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/app/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/app/src/main/scala/explore/validations/ObservationValidationsTable.scala
  explore/common/src/main/scala/explore/components/AutoHeightTable.scala
  explore/common/src/main/scala/explore/components/Tile.scala
  explore/common/src/main/scala/explore/components/TileContents.scala
Due: Label explore PRs

Support the derived GNIRS acquisition exposure time mode
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/GnirsImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Batch ODB execution events per step behind odb-event-batching flag
  CONTEXT.md
  build.sbt
  docs/event-batching.md
  observe/model/jvm/src/main/scala/observe/model/config/ObserveEngineConfiguration.scala
  observe/server/src/clue/scala/observe/common/EventsGQL.scala
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/main/scala/observe/server/odb/OdbEventBufferOps.scala
  observe/server/src/test/scala/observe/server/TestCommon.scala
  observe/server/src/test/scala/observe/server/odb/OdbCommandsImplSuite.scala
  observe/trace-gap.sh
  observe/web/server/src/main/resources/base.conf
Due: Label observe PRs

scalafmt
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/test/scala/observe/server/odb/OdbCommandsImplSuite.scala
Due: Label observe PRs

Move documentation
  observe/server/docs/event-batching.md
Due: Label observe PRs

Allow parallel execution keeping a mutex per observation
  observe/server/docs/event-batching.md
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/main/scala/observe/server/odb/OdbEventBufferOps.scala
  observe/server/src/test/scala/observe/server/odb/OdbCommandsImplSuite.scala
Due: Label observe PRs

Add github-cli to devshell
  flake.nix
Due: none

Make batch events the default mode
  observe/model/jvm/src/main/scala/observe/model/config/ObserveEngineConfiguration.scala
  observe/server/docs/event-batching.md
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/test/scala/observe/server/TestCommon.scala
  observe/server/src/test/scala/observe/server/odb/OdbCommandsImplSuite.scala
  observe/web/server/src/main/resources/base.conf
Due: Label observe PRs

Ignore prettier for docs
  .prettierignore
Due: none

Extend group site match warning
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
  explore/model/src/main/scala/explore/model/enums/GroupWarning.scala
Due: Label explore PRs

Allow setting acquisition exposure time for gmos mos
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
Due: Label explore PRs

Update Clue to 0.58.0
  explore/app/src/main/scala/explore/Explore.scala
  project/Versions.scala
Due: Label explore PRs

Allow customizing the Flamingos2 MOS acquisition
  explore/app/src/main/scala/explore/config/Flamingos2MosConfigPanel.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Add an instrument filter to the Configurations tables
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ImagingModesMatrix.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Distinguish fatal and non-fatal observation validations
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/validations/ObservationValidationsTable.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/render.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-tests/src/test/scala/explore/model/ObsValidationSeveritySuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/enums/ObsValidationSeverity.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
Due: Label explore PRs

send events from observe to odb asynchronously
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/main/scala/observe/server/odb/OdbEventSender.scala
  observe/server/src/test/scala/observe/server/odb/OdbEventRecordedSuite.scala
  observe/server/src/test/scala/observe/server/odb/OdbEventSenderSuite.scala
Due: Label observe PRs

scalafmt
  observe/server/src/main/scala/observe/server/odb/OdbEventSender.scala
  observe/server/src/test/scala/observe/server/odb/OdbEventSenderSuite.scala
Due: Label observe PRs

parallelize event invocations
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommands.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/main/scala/observe/server/odb/OdbEventSender.scala
  observe/server/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server/src/test/scala/observe/server/odb/OdbEventSenderSuite.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

remove unused
  observe/server/src/main/scala/observe/server/Systems.scala
Due: Label observe PRs

Min OR group observations forced to 1
  explore/app/src/main/scala/explore/tabs/GroupEditBody.scala
Due: Label explore PRs

send events from observe to odb asynchronously
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommands.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/main/scala/observe/server/odb/OdbEventSender.scala
  observe/server/src/main/scala/observe/server/odb/OdbProxy.scala
  observe/server/src/test/scala/observe/server/odb/OdbEventRecordedSuite.scala
  observe/server/src/test/scala/observe/server/odb/OdbEventSenderSuite.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

gnirs mode naming convention unification
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GnirsIfuPanel.scala
  explore/app/src/main/scala/explore/config/GnirsLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/GnirsWavelengthsPanel.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  schemas/tests/jvm/src/test/scala/lucuma/schemas/BasicConfigurationSuite.scala
Due: Label explore PRs, Label schemas PRs

address rename
  observe/server/src/main/scala/observe/server/CustomMasks.scala
Due: Label observe PRs

address rename
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/CustomMasks.scala
Due: Label observe PRs

mask name moved to object
  explore/app/src/clue/scala/queries/common/AttachmentSubquery.scala
  explore/model/src/main/scala/explore/model/Attachment.scala
  observe/server/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server/src/main/scala/observe/server/CustomMasks.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  observe/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label observe PRs, Label schemas PRs

Filter MOS mask picker by the observing mode's instrument
  explore/app/src/clue/scala/queries/common/AttachmentSubquery.scala
  explore/app/src/main/scala/explore/config/Flamingos2MosConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/MosMaskPicker.scala
  explore/model/src/main/scala/explore/model/Attachment.scala
  explore/model/src/main/scala/explore/model/MosMaskSelection.scala
Due: Label explore PRs

Show the mask instrument in the attachments table
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
