Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

update readmes
  explore/README.md
  observe/README.md
Due: Label explore PRs, Label observe PRs

Use `#!/usr/bin/env bash` for scripts instead of `/bin/bash`
  promoteDevAllToStaging.sh
  promoteStagingAllToProduction.sh
Due: none

make curl invocation fail on error statusCode
  promote.sh
Due: none

Add pathLabels to bundlemon config
  explore/.bundlemonrc.json
Due: Label explore PRs

Some small promote fixes
  promote.sh
  promoteDevAllToStaging.sh
  promoteStagingAllToProduction.sh
Due: none

verbose curl
  promote.sh
Due: none

Handle non-leaf errors
  explore/app/src/main/scala/explore/services/OdbApiHelper.scala
Due: Label explore PRs

Update queries and code for new schema for gmos imaging
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

add debug option to promote script
  promote.sh
Due: none

Refactor common code
  explore/app/src/main/scala/explore/services/OdbApiHelper.scala
Due: Label explore PRs

fix readmes a bit more
  explore/README.md
  observe/README.md
Due: Label explore PRs, Label observe PRs

Fix decoding of Gmos Imaging mode and associated changes.
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

fix test
  schemas/tests/jvm/src/test/resources/obsmode.json
Due: Label schemas PRs

Make prettier happy - hopefully
  schemas/tests/jvm/src/test/resources/obsmode.json
Due: Label schemas PRs

Improve visiblity of blind offsets
  ui/lib/src/main/scala/lucuma/ui/visualization/BlindOffsetTarget.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label ui PRs

cleanup
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/webapp/sass/visualization.scss
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
Due: Label explore PRs

Rename Asterism
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterismZipper.scala
  explore/model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  explore/model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
Due: Label explore PRs

More asterism renames
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/model-testkit/shared/src/main/scala/explore/model/arb/ArbObservationTargets.scala
  explore/model-tests/shared/src/test/scala/explore/model/ObservationTargetsSuite.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
Due: Label explore PRs

More refinements
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/common/src/main/webapp/sass/visualization.scss
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
Due: Label explore PRs

Purple blind offset
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label ui PRs

Reduce passing around of blind offset target info
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterismZipper.scala
  explore/model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
Due: Label explore PRs

Several name cleanups
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/main/webapp/sass/visualization.scss
  explore/model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterismZipper.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
  explore/model/shared/src/main/scala/explore/model/package.scala
  explore/model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
Due: Label explore PRs, Label schemas PRs

wip
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/model/shared/src/main/scala/explore/model/Asterism.scala
Due: Label explore PRs

Refactor Asterism class
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/model/shared/src/main/scala/explore/model/Asterism.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
Due: Label explore PRs, Label schemas PRs

blind-center
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/BlindOffsetTarget.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label explore PRs, Label ui PRs

More renames
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
Due: Label explore PRs

improve error handling in promote script
  promote.sh
Due: none

Revert removed code to handle case of obs with an unknown target id
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  ui/lib/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label explore PRs, Label ui PRs

Update mappingsSuite
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

fix environment setting in observe staging
  observe/deploy/conf/production-gn/site.conf
  observe/deploy/conf/production-gs/site.conf
  observe/deploy/conf/staging-gn/site.conf
  observe/deploy/conf/staging-gs/site.conf
Due: Label observe PRs

avoid merge on promotion
  promote.sh
Due: none

SC-7290 Made baffle parameter optional.
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label navigate PRs

Add editing of exposure time mode by filter for imaging
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/app/src/main/scala/explore/config/SignalToNoiseInput.scala
  explore/app/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/main/webapp/sass/explore.scss
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

(Hopefully) appease the linter
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

review comments: use `useId`
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
Due: Label explore PRs

changes to epoch
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
Due: Label explore PRs, Label schemas PRs

implement pr suggestions
  explore/model/shared/src/main/scala/explore/model/extensions.scala
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
Due: Label explore PRs, Label schemas PRs

Revert the useId commit - creates invalid selectors
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
Due: Label explore PRs

On selecting a program go to the observations page
  explore/app/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label explore PRs

Better reload of enum metadata
  explore/app/src/main/scala/explore/ExplorePWA.scala
  explore/app/src/main/webapp/main.jsx
  explore/vite.config.mts
Due: Label explore PRs
