Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

offset editor working, missing labels+styling
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/app/src/main/scala/explore/config/offsets/package.scala
Due: Label explore PRs

checkpoint
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/model/shared/src/main/scala/explore/model/Execution.scala
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label explore PRs, Label ui PRs

help icons for offsets
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  project/Versions.scala
Due: Label explore PRs

restore GlobalPreferences
  explore/model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs

offsets editable
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

offset editor rounded up
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/common/src/main/webapp/sass/explore.scss
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/primereact.scala
Due: Label explore PRs, Label ui PRs

inline offset generator editor
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/primereact/FormEnumDropdown.scala
Due: Label explore PRs, Label ui PRs

post-rebase adjustments
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

unify logic when computing offsets
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

margin
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

explicit offset functionality working
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/package.scala
  ui/lib/src/main/scala/lucuma/ui/utils/package.scala
Due: Label explore PRs, Label ui PRs

fix comments
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
Due: Label explore PRs

changes for imaging itc queries
  observe/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceData.scala
Due: Label observe PRs, Label schemas PRs, Label ui PRs

Aladin should get the coordinates directly and default to base if needed
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
Due: Label explore PRs

Fall back to blind offset base if target is not science
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargetsCoordinatesAt.scala
Due: Label explore PRs

Make select buttons shorter
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Update endpoint urls
  explore/common/src/main/public/environments.conf.json
Due: Label explore PRs

Automatic blind offsets and blind offset selection
  explore/app/src/main/scala/explore/services/OdbTargetApi.scala
  explore/app/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/BlindOffsetControl.scala
  explore/app/src/main/scala/explore/targeteditor/ObservationTargetsEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-testkit/shared/src/main/scala/explore/events/arb/ArbCatalogMessage.scala
  explore/model-testkit/shared/src/main/scala/explore/events/arb/ArbPlotMessage.scala
  explore/model-tests/shared/src/test/scala/explore/events/EventsBoopickleSuite.scala
  explore/model/shared/src/main/scala/explore/events/CatalogMessage.scala
  explore/model/shared/src/main/scala/explore/events/PlotMessage.scala
  explore/model/shared/src/main/scala/explore/model/BlindOffset.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/BlindOffsetRequestHandler.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
  project/Versions.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/RadialVelocitySubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/syntax.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbCoordinatesAt.scala
Due: Label explore PRs, Label schemas PRs

better interaction between sky offsets and count
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
Due: Label explore PRs

explore imaging sequences working
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/ImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/SpectroscopySequenceTable.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/InstrumentSignalToNoise.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceData.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

show imaging sequences
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/ImagingSequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/SpectroscopySequenceTable.scala
  ui/testkit/src/main/scala/lucuma/ui/sequence/arb/ArbInstrumentSignalToNoise.scala
  ui/testkit/src/main/scala/lucuma/ui/sequence/arb/ArbSequenceData.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

contemplate imaging itc in observe engine
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label observe PRs

extract sn in observe engine
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
Due: Label observe PRs

Add control to increas or reduce the pos angle
  explore/app/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

scalafix/review comments
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/BlindOffsetControl.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/shared/src/main/scala/explore/events/CatalogMessage.scala
  explore/workers/src/main/scala/workers/CatalogServer.scala
Due: Label explore PRs

remove commented code
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
Due: Label explore PRs

draw unguided offsets
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  project/Versions.scala
Due: Label explore PRs

migration to new offset position calculation
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label ui PRs

types
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
Due: Label explore PRs

update core
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  project/Versions.scala
Due: Label explore PRs

actually render unguided offsets
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
Due: Label explore PRs, Label ui PRs

use alias in S/N itc queries
  observe/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceData.scala
Due: Label observe PRs, Label schemas PRs, Label ui PRs

use existing itc s/n model, deduplicate logic
  build.sbt
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  observe/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  observe/server_new/src/main/scala/observe/server/SeqTranslate.scala
  observe/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server_new/src/test/scala/observe/server/TestCommon.scala
  observe/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  observe/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ModeSignalToNoiseSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/OffsetSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SignalToNoiseAtSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ModeSignalToNoise.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbModeSignalToNoise.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/InstrumentSignalToNoise.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceData.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/ImagingSequenceTable.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/byInstrument/SpectroscopySequenceTable.scala
  ui/testkit/src/main/scala/lucuma/ui/sequence/arb/ArbInstrumentSignalToNoise.scala
  ui/testkit/src/main/scala/lucuma/ui/sequence/arb/ArbSequenceData.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

rename in test
  observe/server_new/src/test/scala/observe/server/engine/TestUtil.scala
Due: Label observe PRs

fix queries
  observe/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SignalToNoiseAtSubquery.scala
Due: Label observe PRs, Label schemas PRs

Update explore for user defined ephemeris changes
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
  explore/model/shared/src/main/scala/explore/events/HorizonsMessage.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/HorizonsPicklers.scala
  explore/workers/src/main/scala/workers/horizons/HorizonsRequests.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label explore PRs, Label ui PRs

ephemeris issues in navigate
  navigate/web/server/src/main/scala/navigate/web/server/ephemeris/EphemerisFile.scala
  navigate/web/server/src/main/scala/navigate/web/server/ephemeris/package.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Due: Label navigate PRs

Show the label and time in the telluric observation badge
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

fix paste of f2 observations in correct group
  explore/app/src/main/scala/explore/ObsGroupHelper.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

fix cloning f2 observations in telluric groups
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs
