Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Add Resource schema fetching and packaging
  .github/workflows/update-schema.yml
  build.sbt
  schemas/README.md
  schemas/fetchGQLSchema.mjs
  schemas/fetchGQLSchema.sh
  schemas/fetchODBSchema.mjs
  schemas/package.json
Due: Label schemas PRs

Navigate: Use ODB bindings and only load schema once on startup
  build.sbt
  navigate/schema-util/src/main/scala/edu/gemini/schema/util/SchemaStitcher.scala
  navigate/schema-util/src/main/scala/edu/gemini/schema/util/SourceResolver.scala
  navigate/schema-util/src/main/scala/edu/gemini/schema/util/package.scala
  navigate/schema-util/src/test/scala/edu/gemini/schema/util/SchemaStitcherTest.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label navigate PRs

Update for GHOST graph fixes
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Hide wide field on the imaging modes filter
  explore/app/src/main/scala/explore/config/ImagingConfigurationPanel.scala
Due: Label explore PRs

Don't show binning for GHOST in the modes table
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Due: Label explore PRs

Update build.sbt
  build.sbt
Due: none

[sc-8610] Update getting started button
  explore/app/src/main/scala/explore/TopBar.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

stylelint
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Improve legends in the ITC graphs for multiple CCDs
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label explore PRs

Append `IFU` to the GHOST instrument names in the modes rows
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Due: Label explore PRs

Add missing visitor query
  explore/app/src/clue/scala/queries/common/ConfigurationSubquery.scala
Due: Label explore PRs

React to telluric groups deletion
  explore/app/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

[sc-4868] hide itc and sequence panels for visitors
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Add a configuration mode for the alien visitors
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/model/enums/ConfigurationMode.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Add config editor for alien visitors
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ResidentVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/VisitorConfigFields.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Don't initialize the fields to any value
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Make the site also not initialized
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
Due: Label explore PRs

Add fields for name and total requested time
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
Due: Label explore PRs

Hide the exposure time editors for alien visitors
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
Due: Label explore PRs

Rename Sci Fov field
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/VisitorConfigFields.scala
Due: Label explore PRs

Cleanup
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ResidentVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/VisitorConfigFields.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/model/enums/ConfigurationKind.scala
  explore/model/src/main/scala/explore/model/enums/ConfigurationMode.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Add a separate editor for alien visitors
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/AlienVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/VisitorConfigFields.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Don't send partial writes to the configuration.
  explore/app/src/main/scala/explore/config/AlienVisitorConfigPanel.scala
Due: Label explore PRs

UI Improvements to the alien mode editor
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/AlienVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/VisitorConfigFields.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Better naming of modes in the configuration selector
  explore/app/src/main/scala/explore/config/AlienVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs

Cleanup
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ResidentVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/VisitorConfigFields.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/model/enums/ConfigurationKind.scala
  explore/model/src/main/scala/explore/model/enums/ConfigurationMode.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Inline config fields
  explore/app/src/main/scala/explore/config/AlienVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ExposureTimeModeEditorOptional.scala
  explore/app/src/main/scala/explore/config/ResidentVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/VisitorConfigFields.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/model/enums/ConfigurationKind.scala
  explore/model/src/main/scala/explore/model/enums/ConfigurationMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Add help icon
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
Due: Label explore PRs

Make the target search dialogs the same and add buttons to dialog
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionPopup.scala
Due: Label explore PRs
