Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Rename field
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
Due: Label explore PRs

SC-8611 Send HRWFS to Out position instead of parking at GN.
  navigate/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label navigate PRs

Drop using dynamic enums
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/app/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/app/src/main/scala/explore/services/OdbProposalApi.scala
  explore/app/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/app/src/main/webapp/main.jsx
  explore/model/src/main/scala/explore/model/ProgramDetails.scala
  explore/model/src/main/scala/explore/model/ProgramInfo.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
  explore/vite.config.mts
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/model/.js/src/main/scala/lucuma/schemas/enums/Globals.scala
  schemas/model/.jvm/src/main/scala/lucuma/schemas/enums/Globals.scala
  schemas/model/src/main/scala/lucuma/schemas/enums/DynamicEnums.scala
  schemas/model/src/main/scala/lucuma/schemas/enums/ProposalStatus.scala
Due: Label explore PRs, Label schemas PRs

Scalafix
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/app/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/app/src/main/scala/explore/services/OdbProposalApi.scala
  explore/app/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/model/src/main/scala/explore/model/ProgramDetails.scala
  explore/model/src/main/scala/explore/model/ProgramInfo.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

Add gnirs placeholders
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
Due: Label explore PRs

SC-8764 Read Visitor port to configure ligh path.
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/InstrumentPorts.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
Due: Label navigate PRs

[sc-8753] Fix igrins-2 name
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2ControllerDisabled.scala
  project/Versions.scala
Due: Label explore PRs, Label observe PRs

[sc-8767] Adopt the ags params for maroonx
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/VisitorGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label ui PRs

For resident visitors central wavelength and fov are read-only
  explore/app/src/main/scala/explore/config/ResidentVisitorConfigPanel.scala
Due: Label explore PRs

Add a comment on why the fields are disabled
  explore/app/src/main/scala/explore/config/ResidentVisitorConfigPanel.scala
Due: Label explore PRs

Fixed deprecated Locale use.
  observe/server/src/main/scala/observe/server/keywords/package.scala
Due: Label observe PRs

Improve caching of npm packages
  .github/workflows/ci.yml
  build.sbt
Due: none

bump versions
  project/Versions.scala
Due: none

gnirs longslit mode fix model and interact with odb
  .gitignore
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  schemas/.claude/settings.local.json
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

setting an reading gnirs longslit
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  project/Versions.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs

bump core version
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label schemas PRs

adjustments to the gnirs schema
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/SlitTelescopeConfigsSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/SlitTelescopeConfigsDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

gnirs longslit mode editor
  .gitignore
  explore/app/src/main/scala/explore/components/CustomizableEnumSelect.scala
  explore/app/src/main/scala/explore/components/CustomizableEnumSelectOptional.scala
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigEditorRow.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigsEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/EnumDropdownOptionalView.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/EnumDropdownView.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/FormEnumDropdownOptionalView.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/FormEnumDropdownView.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

catch up with latest gnirs schema changes
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

revert offsets
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
Due: Label explore PRs

nice looking offset editor
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigsEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  observe/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
Due: Label explore PRs, Label observe PRs

offset editor for gnirs
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigEditorRow.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigsEditor.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

gnirs sequence - no visits yet
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GnirsSequenceTable.scala
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  schemas/model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  schemas/model/src/main/scala/lucuma/schemas/model/Visit.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

gnirs editr and sequence
  explore/app/src/main/scala/explore/config/GnirsLongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GnirsAtomSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/GnirsDynamicConfigSubquery.scala
  schemas/lib/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

fix odb version
  project/Versions.scala
Due: none

rename styles
  explore/app/src/main/scala/explore/config/GmosImagingVariantEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetGeneratorEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetInput.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigEditorRow.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigEditorStyles.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigsEditor.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

fix imaging offset generator layout
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

revert react-grid-layout
  explore/package.json
  pnpm-lock.yaml
  ui/demo/package.json
Due: Label explore PRs, Label ui PRs

fix htmlFor labels to reference actual input IDs with -p suffix
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigGeneratorEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigsEditor.scala
Due: Label explore PRs

remove machine-local Claude permissions file from version control
  schemas/.claude/settings.local.json
Due: Label schemas PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
