Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Update core for blind offset changes
  explore/workers/src/main/scala/workers/BlindOffsetRequestHandler.scala
  project/Versions.scala
Due: Label explore PRs

Use obsref for tellurics if needed
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

Fade the viz shapes while ags is calculating
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

Also fade patrol field vizualizations
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Signal sequence change when spatial offsets change
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
Due: Label explore PRs

Update core to get blind offset scoring bug fix
  explore/app/src/main/scala/explore/targeteditor/BlindOffsetControl.scala
  explore/workers/src/main/scala/workers/BlindOffsetRequestHandler.scala
  project/Versions.scala
Due: Label explore PRs

add blind offsets to obs map for targets
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

indicate blind offset on badge
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

show blind offset icon in badges of all tabs
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  navigate/web/server/src/main/scala/navigate/web/server/ephemeris/EphemerisFile.scala
Due: Label explore PRs, Label navigate PRs

Remove logging of blind offset candidate information
  explore/app/src/main/scala/explore/targeteditor/BlindOffsetControl.scala
Due: Label explore PRs

Fix patrol field for pwfs1/pwfs2
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
Due: Label ui PRs

Add pwfs viz for gmos
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label ui PRs

Refactor common code
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/PwfsGeometry.scala
Due: Label ui PRs

Show pwfs patrol fields on debugging
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label ui PRs

Reuse probe selection from core
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label schemas PRs

Add shapes for pwfs
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/syntax.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Consider pwfs when calling ags
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
Due: Label explore PRs, Label schemas PRs

Don't use withProbe
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Use same logic to select trackType
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  schemas/model/src/main/scala/lucuma/schemas/model/syntax.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Fix style
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label ui PRs

Move some functions to lucuma-core
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/model/syntax.scala
Due: Label schemas PRs

scalafix
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/BlindOffsetControl.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/common/src/main/scala/explore/model/ObsConfiguration.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/PwfsGeometry.scala
Due: Label explore PRs, Label ui PRs

query imaging variant for gs too
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
Due: Label schemas PRs

Target of Opportunity should be the only target in an observation
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSource.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
Due: Label explore PRs, Label schemas PRs

actually use the variant subquery
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
Due: Label schemas PRs

display error when coords can't be obtained
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotData.scala
  explore/app/src/main/scala/explore/plots/SkyCalc.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

log detailed message on horizons error
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/common/src/main/scala/explore/utils/tracking.scala
Due: Label explore PRs

Update geometries to the latest lucuma-core
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label ui PRs

address pr comments
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotData.scala
Due: Label explore PRs

Add support for imaging
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/model/shared/src/main/scala/explore/model/syntax/package.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label ui PRs

Replace use of Timestamp.fromInstant with fromInstantTruncated
  schemas/model/src/main/scala/lucuma/schemas/model/syntax.scala
Due: Label schemas PRs

search horizons when replacing non-sidereal target
  explore/app/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/model/shared/src/main/scala/explore/model/ObservationTargets.scala
Due: Label explore PRs

checkpoint
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

Some refactorings
  explore/app/src/main/scala/explore/targeteditor/UseAgsCalculation.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
Due: Label explore PRs

Mark the guidestar if it vignettes
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/GuideStarTooltip.scala
Due: Label explore PRs, Label ui PRs

checkpoint
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

Update core to v0.171.1 to get Raul's Tracking fix
  project/Versions.scala
Due: none

Improvements to blind offset UI
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/BlindOffsetControl.scala
Due: Label explore PRs

show message in plot while retrieving ephemeris
  explore/app/src/main/scala/explore/plots/NightPlot.scala
Due: Label explore PRs

Update to the latest schema, avoid using deprecated fields
  explore/app/src/clue/scala/queries/common/CalculatedBandedProgramTimeSubquery.scala
  explore/app/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  explore/app/src/clue/scala/queries/common/CalculatedObservationWorkflowSubquery.scala
  explore/app/src/clue/scala/queries/common/CalculatedProgramTimeRangeSubquery.scala
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
Due: Label explore PRs, Label schemas PRs
