Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label client PRs
  conditions:
  - files~=^modules/web/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label client-clue PRs
  conditions:
  - files~=^modules/web/client-clue/
  actions:
    label:
      add:
      - client-clue
      remove: []
- name: Label client-model PRs
  conditions:
  - files~=^modules/web/client-model/
  actions:
    label:
      add:
      - client-model
      remove: []
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^deploy/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^deploy/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^deploy/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^deploy/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label observe-server_staging PRs
  conditions:
  - files~=^deploy/observe-server_staging/
  actions:
    label:
      add:
      - observe-server_staging
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

comment a couple of tests
  modules/model/shared/src/test/scala/observe/model/ClientEventSuite.scala
Due: Label model PRs

fix ClientConfig arb generation
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientConfig.scala
  modules/model/shared/src/test/scala/observe/model/ClientEventSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
Due: Label model PRs

bump munit and friends versions
  project/Settings.scala
Due: none

unserializableCodec testing
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
Due: Label model PRs

compiling
  build.sbt
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/NodAndShuffleStatus.scala
  modules/model/shared/src/main/scala/observe/model/Step.scala
  modules/model/shared/src/main/scala/observe/model/StepProgress.scala
  modules/model/shared/src/main/scala/observe/model/StepState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStep.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/enums/PendingObserveCmd.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/web/client/vite.config.js
  project/Settings.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

Small cleanup
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbRunningStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label model PRs, Label server_new PRs

Restore unit tests for target check
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
Due: Label server_new PRs

send current steps to ui
  build.sbt
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/NodAndShuffleStatus.scala
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/StepProgress.scala
  modules/model/shared/src/main/scala/observe/model/StepState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/arb/package.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/enums/PendingObserveCmd.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/web/client/vite.config.js
  project/Settings.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

explicit subtype Eq instances
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
Due: Label model PRs

render nextAtom received from server
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/StepState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepTime.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs, Label model PRs

finish comment
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
Due: Label client PRs

auto deploy staging to heroku on merge to main
  .github/workflows/ci.yml
  .gitignore
  .mergify.yml
  build.sbt
  modules/web/client/.npmrc
  modules/web/client/package-lock.json
Due: Label client PRs

Update build.sbt
  build.sbt
Due: none

Regenerate workflow
  .github/workflows/ci.yml
Due: none

remove startFrom button from steps
  README.md
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
Due: Label client PRs

keep ids inside odb proxy
  build.sbt
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEnvironment.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosInstrumentActions.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/RecordedIds.scala
  modules/server_new/src/main/scala/observe/server/odb/newTypes.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
Due: Label client PRs, Label server_new PRs

remove commented code
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
Due: Label server_new PRs

remove recorded ids from state
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/package.scala
Due: Label server_new PRs

track dataset ids, rework id tracking
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/RecordedIds.scala
  modules/server_new/src/main/scala/observe/server/odb/newTypes.scala
Due: Label server_new PRs

odb ids checks
  modules/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
Due: Label server_new PRs

clear visitId on obsAbort and obsStop
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
Due: Label server_new PRs

multiple dataset ids
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/RecordedIds.scala
  modules/server_new/src/main/scala/observe/server/odb/newTypes.scala
Due: Label server_new PRs

react 18
  modules/web/client/package-lock.json
  modules/web/client/package.json
  modules/web/client/src/main/scala/observe/ui/Main.scala
  project/Settings.scala
Due: Label client PRs

scalafix
  modules/web/client/src/main/scala/observe/ui/Main.scala
Due: Label client PRs

bump libs
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  project/Settings.scala
Due: Label client PRs

Added ODB events.
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/model/shared/src/main/scala/observe/model/ActionType.scala
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  project/Settings.scala
Due: Label engine PRs, Label model PRs, Label server_new PRs

Unit test for ODB events sent on execution.
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

Updated libraries.
  project/Settings.scala
Due: none

Addressed PR comments.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
Due: Label server_new PRs

unbump core, fileId simulated logic
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientDisabled.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/keywords/DhsClientSimSpec.scala
  project/Settings.scala
Due: Label server_new PRs

single image deploy
  README.md
  build.sbt
  deploy/confs/gn-test/app.conf
  deploy/confs/gn/app.conf
  deploy/confs/gs-test/app.conf
  deploy/confs/gs/app.conf
  deploy/confs/local/app.conf
  deploy/confs/local/cacerts.jks.dev
  deploy/src/main/resources/conf/app.conf
  deploy/src/main/resources/systemd/observe-server.env
  deploy/src/main/resources/systemd/observe-server.service
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

workflows
  .mergify.yml
Due: none

scalafix
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

suggest pushing all tags in README
  README.md
Due: none

updated confs
  deploy/confs/gn-test/app.conf
  deploy/confs/gs-test/app.conf
Due: none

update test odb urls
  deploy/confs/gn-test/app.conf
  deploy/confs/gs-test/app.conf
Due: none

test confs
  deploy/confs/gn-test/app.conf
  deploy/confs/gs-test/app.conf
Due: none

scala 3.4 compliant syntax
  build.sbt
  modules/model/shared/src/main/scala/observe/common/FixedLengthBuffer.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStepConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/StaticRoutes.scala
Due: Label client PRs, Label model PRs, Label server PRs, Label server_new PRs

workflow
  .github/workflows/ci.yml
Due: none

missing syntax change
  modules/model/shared/src/test/scala/observe/common/ArbitrariesCommon.scala
Due: Label model PRs
