Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label client PRs
  conditions:
  - files~=^modules/web/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label client-clue PRs
  conditions:
  - files~=^modules/web/client-clue/
  actions:
    label:
      add:
      - client-clue
      remove: []
- name: Label client-model PRs
  conditions:
  - files~=^modules/web/client-model/
  actions:
    label:
      add:
      - client-model
      remove: []
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^deploy/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^deploy/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^deploy/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^deploy/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label observe-server_staging PRs
  conditions:
  - files~=^deploy/observe-server_staging/
  actions:
    label:
      add:
      - observe-server_staging
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

Multiple lib updates
  project/Settings.scala
Due: none

show ref in sequence header
  deploy/src/main/resources/conf/app.conf
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
Due: Label client PRs, Label client-model PRs

keep completed sequences in obs list
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
Due: Label client PRs

better logic to stitch sequences
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/StepState.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
Due: Label client PRs, Label model PRs, Label server PRs

add comment
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

load obs state, filter completed from table
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label client-model PRs

fix test
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
Due: Label client-model PRs

load obs function was using stale map
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
Due: Label client PRs

correctly show obs status, nicer daytime queue icon
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
Due: Label client PRs

style errors
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs

avoid stale qa callback
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/QaEditor.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs

remove unnecessary refreshes
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
Due: Label client PRs

remove comment
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

rename
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
Due: Label engine PRs, Label model PRs

expand last visit when sequence completes
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label client PRs

More lib updates
  project/Settings.scala
Due: none

Remove obsoleted components
  modules/server_new/src/main/scala/observe/server/gcal/GcalControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosNorthControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosSouthControllerEpics.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Due: Label server_new PRs

Libray updates
  modules/server_new/src/main/scala/observe/server/package.scala
  project/Settings.scala
Due: Label server_new PRs

Update scala version
  build.sbt
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/gems/Gems.scala
  modules/server_new/src/main/scala/observe/server/gmos/Gmos.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/gws/GwsEpics.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/services/ApiClient.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Due: Label client PRs, Label model PRs, Label server PRs, Label server_new PRs

Update workflow
  .github/workflows/ci.yml
Due: none

Fix build dir
  modules/web/client/vite.config.js
Due: Label client PRs

migrate tables
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  project/Settings.scala
Due: Label client PRs

reload seq in acquisition
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label server_new PRs

table filters
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  project/Settings.scala
Due: Label client PRs

dep version
  project/Settings.scala
Due: none

Library updates and keyword change
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  project/Settings.scala
Due: Label server_new PRs

The keyword for class Acquisition is "acq"
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
Due: Label server_new PRs

make test odb advance acq sequence too
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

global obs filter
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  project/Settings.scala
Due: Label client PRs

hide obs table when obs loaded
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
Due: Label client PRs, Label client-model PRs

catch obs loading error
  modules/model/shared/src/main/scala/observe/model/Notification.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNotification.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label client-model PRs, Label model PRs, Label server_new PRs

popup obs
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
Due: Label client PRs, Label client-model PRs

rename event
  modules/model/shared/src/main/scala/observe/model/Notification.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNotification.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

refactor obs columns
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs, Label client-model PRs

remove unused code
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
Due: Label client PRs

remove observe column
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
Due: Label client PRs

double click load, allow reload
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
Due: Label client PRs, Label client-model PRs, Label model PRs

rearrange
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

renames, move styles to scss
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs

fix style, ui version
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Due: Label client PRs
