Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label client PRs
  conditions:
  - files~=^modules/web/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label client-clue PRs
  conditions:
  - files~=^modules/web/client-clue/
  actions:
    label:
      add:
      - client-clue
      remove: []
- name: Label client-model PRs
  conditions:
  - files~=^modules/web/client-model/
  actions:
    label:
      add:
      - client-model
      remove: []
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^deploy/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^deploy/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^deploy/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^deploy/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label observe-server_staging PRs
  conditions:
  - files~=^deploy/observe-server_staging/
  actions:
    label:
      add:
      - observe-server_staging
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

ui improvements after step abort
  modules/model/shared/src/main/scala/observe/cats.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  project/Settings.scala
Due: Label client PRs, Label model PRs

improve sync logic with useSignalStream
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  project/Settings.scala
Due: Label client PRs

crystal version
  project/Settings.scala
Due: none

don't show acquisition seq for completed observations
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Due: Label client PRs

SC-4526 Fixed duplicated RELEASE keyword.
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
Due: Label engine PRs, Label server_new PRs

Fixed calculation of IQ percentile values.
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/test/scala/observe/server/keywords/ConditionOpsSuite.scala
Due: Label server_new PRs

Updated lucuma-react to 0.78.1
  project/Settings.scala
Due: none

Downgraded Scala.js to 1.17.0
  project/plugins.sbt
Due: none

update clue
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/package.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label client PRs, Label server_new PRs

SC-4518 Get guiding configuration from observation.
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorth.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouth.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsNorthSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsSouthSuite.scala
Due: Label server_new PRs

Revert "Bump react from 18.3.1 to 19.0.0 in /modules/web/client"
  modules/web/client/package-lock.json
  modules/web/client/package.json
Due: Label client PRs

Multiple library updates
  project/Settings.scala
  project/plugins.sbt
Due: none

SC-4148 Reload atom everytime the execution starts.
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
Due: Label client PRs, Label engine PRs, Label model PRs, Label server_new PRs

SC-4148 Removed leftover comments.
  modules/engine/src/main/scala/observe/engine/Engine.scala
Due: Label engine PRs

SC-4493 Use central wavelength from the step.
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
Due: Label server_new PRs

Catch all query
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
Due: Label client PRs

Limit observations to ACCEPTED, or ENGINEERING or CALIBRATION programs
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label client PRs

use same observationsByWorkflowState query as navigate
  modules/model/shared/src/main/scala/observe/model/extensions.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

migrate to monadic hooks, reorganize sequence components
  .gitignore
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/LogArea.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/QaEditor.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SettingsCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  project/Settings.scala
Due: Label client PRs

switch exposure buttons position, disable correctly
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/StepProgress.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ControlButtonResolver.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs, Label engine PRs, Label model PRs

stop progress bar when stopping or aborting step
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
Due: Label client PRs, Label model PRs

don't show acquisition prompt when sequence starts/resumes
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
Due: Label model PRs

query ready observations by site
  modules/model/shared/src/main/scala/observe/model/extensions.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  project/Settings.scala
Due: Label client PRs, Label model PRs

SC-4811 Fixed transformation of DB guide configuration.
  modules/server_new/src/main/scala/observe/server/tcs/Tcs.scala
  modules/web/server/src/main/resources/app.conf
Due: Label server PRs, Label server_new PRs

Implement reload button
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

exposure controls fixes
  modules/model/shared/src/main/scala/observe/model/ObserveStage.scala
  modules/model/shared/src/main/scala/observe/model/StepProgress.scala
  modules/server_new/src/main/scala/observe/server/EpicsUtil.scala
  modules/server_new/src/main/scala/observe/server/ProgressUtil.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/server/src/main/resources/app.conf
Due: Label client PRs, Label model PRs, Label server PRs, Label server_new PRs

indicate when sequence is reloading
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label client-model PRs

update ui
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  project/Settings.scala
Due: Label client PRs

use activeStart to filter observations
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label client PRs

filter observations that are active on the current observing night
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label client PRs

remove comment and unused import
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label client PRs

SC-4865 Fixed extraction of shutter configuration for GMOS.
  modules/server_new/src/main/scala/observe/server/gmos/Gmos.scala
Due: Label server_new PRs

SC-4865 Removed unused GMOS shutter state.
  modules/server_new/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerEpics.scala
Due: Label server_new PRs

Modified code to use enums with Enumerated.
  modules/model/jvm/src/main/scala/observe/model/config/ControlStrategy.scala
  modules/model/shared/src/main/scala/observe/model/enums/ApplyCommandResult.scala
  modules/model/shared/src/main/scala/observe/model/enums/BatchExecState.scala
  modules/model/shared/src/main/scala/observe/model/enums/FPUMode.scala
  modules/model/shared/src/main/scala/observe/model/enums/FocalPlane.scala
  modules/model/shared/src/main/scala/observe/model/enums/ObsActiveStatus.scala
  modules/model/shared/src/main/scala/observe/model/enums/RunOverride.scala
  modules/model/shared/src/main/scala/observe/model/enums/ScienceMode.scala
  modules/model/shared/src/main/scala/observe/model/enums/SpectroscopyCapabilities.scala
  modules/model/shared/src/main/scala/observe/model/enums/StepType.scala
  modules/server/src/main/scala/observe/server/ghost/GhostController.scala
  modules/server_new/src/main/scala/observe/server/EpicsHealth.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server_new/src/main/scala/observe/server/gmos/NodAndShuffleState.scala
  modules/server_new/src/main/scala/observe/server/gmos/package.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiGuider.scala
  modules/server_new/src/main/scala/observe/server/gws/GwsEpics.scala
Due: Label model PRs, Label server_new PRs

filter observations that have a reference
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
Due: Label client PRs

dark theme as default
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
Due: Label client PRs

remove refresh button
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
Due: Label client PRs

avoid page refresh on dataset qa submit
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/QaEditor.scala
Due: Label client PRs

refresh visits and future sequence on dataset edit
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  project/Settings.scala
Due: Label client PRs

bump ui, remove http client requirement
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  project/Settings.scala
Due: Label client PRs
