Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Allow editing exposure times for both red and blue exposure times
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditOptics.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
Due: Label ui PRs

Make counts also readable
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
Due: Label ui PRs

Allow editing binning and read mode
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
Due: Label explore PRs, Label ui PRs

Allow editing p/q offsets and guiding state on each step
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
Due: Label ui PRs

linter
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
Due: Label ui PRs

Implement new GNIRS HR-IFU grating and prism positions
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
  observe/server/src/test/scala/observe/server/GnirsControllerCodexSuite.scala
Due: Label observe PRs

SC-8226 Implemented ECS commands in backend.
  navigate/model/src/main/scala/navigate/model/Distance.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/enums/DomeMode.scala
  navigate/model/src/main/scala/navigate/model/enums/ShutterMode.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/epicsdata/BinaryOnOff.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Record the program id alongside the obs id in copy/paste and switch to json
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/common/src/main/scala/explore/model/ExploreClipboard.scala
  explore/common/src/main/scala/explore/model/LocalClipboard.scala
  explore/model/src/main/scala/explore/model/ObsIdSet.scala
  explore/model/src/main/scala/explore/model/TargetIdSet.scala
Due: Label explore PRs

Ignore attempts to paste observations from a different program
  explore/app/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Abbreviate badge for gnirs
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs

Fix emission line edits on targets with an emission line SED
  explore/app/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/package.scala
Due: Label explore PRs

Store user preferences on local storage
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client-model/src/main/scala/observe/ui/model/UserPreferences.scala
  observe/web/client-model/src/main/scala/observe/ui/model/UserPreferencesStorage.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  observe/web/client/src/main/scala/observe/ui/components/MainApp.scala
  observe/web/client/src/main/scala/observe/ui/model/reusability.scala
  observe/web/client/src/main/scala/observe/ui/services/LocalUserPreferences.scala
Due: Label observe PRs

Also persist log level, time format and theme
  observe/web/client-model/src/main/scala/observe/ui/model/UserPreferences.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  observe/web/client/src/main/scala/observe/ui/components/Layout.scala
Due: Label observe PRs

Persist the filters selection
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client-model/src/main/scala/observe/ui/model/UserPreferences.scala
  observe/web/client-model/src/main/scala/observe/ui/model/newTypes.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
Due: Label observe PRs

scalafmt
  observe/web/client-model/src/main/scala/observe/ui/model/UserPreferences.scala
  observe/web/client-model/src/main/scala/observe/ui/model/UserPreferencesStorage.scala
  observe/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  observe/web/client/src/main/scala/observe/ui/components/Layout.scala
  observe/web/client/src/main/scala/observe/ui/components/MainApp.scala
Due: Label observe PRs

[sc-5910] Update colors for the guide badges
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/GuideConfigStatus.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

Allow editing gnirs coadds in the sequence table
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
Due: Label ui PRs

Use the new ags traces
  explore/workers/src/main/scala/workers/AgsServer.scala
  project/Versions.scala
Due: Label explore PRs

Add minimal adjustments for F2 MOS
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
  project/Versions.scala
Due: Label explore PRs

Support exchange partner time requests in the proposal editor
  explore/app/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model-tests/src/test/scala/explore/optics/ModelOpticsSuite.scala
  explore/model/src/main/scala/explore/CallForProposal.scala
  explore/model/src/main/scala/explore/Proposal.scala
  explore/model/src/main/scala/explore/ProposalType.scala
Due: Label explore PRs

Fix igrins2 minimum allowed svc exposure time
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
Due: Label explore PRs

scalafix
  explore/workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs

Show the spectroscopy ITC tile for a MOS observation
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Update ODB schema
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

Make ITC work with gmos MOS
  explore/model/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs

Display label for Gmos MOS configuration
  explore/model/src/main/scala/explore/model/display.scala
Due: Label explore PRs

Read the MOS observing mode back from the ODB
  explore/app/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
Due: Label explore PRs, Label schemas PRs

cleanup
  explore/app/src/main/scala/explore/config/GmosMosConfigPanel.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs

Make a GMOS MOS mode assignable
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

Placeholder configuration panel for MOS
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosMosConfigPanel.scala
Due: Label explore PRs

Add observing mode for GMOS MOS
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

De-duplicate the two MOS lookups flagged in review
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Arbitraries for the MOS model
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Move mos helpers to lucuma-core
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Remove some duplication on extracting central wavelength
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
Due: Label explore PRs

Cleanup
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label schemas PRs, Label ui PRs

Fix observe missing cases
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
Due: Label observe PRs

Show a badge with the calibration current state
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

[sc-9251] Scroll the ObsTree to the selected observation
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  ui/lib/src/main/scala/lucuma/ui/syntax/util.scala
Due: Label explore PRs, Label ui PRs

Refactor common code for client timestamps
  build.sbt
  navigate/server/src/main/scala/navigate/server/OdbProxy.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label navigate PRs, Label observe PRs, Label schemas PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
