Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Update visualization
  ui/lib/src/main/scala/lucuma/ui/visualization/VisitorGeometry.scala
Due: Label ui PRs

Allow staff to edit resident PIs agsDiameter
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ResidentVisitorConfigPanel.scala
Due: Label explore PRs

Update the UI to allow setting science fov diameter for alien visitors
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/AlienVisitorConfigPanel.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
Due: Label explore PRs

scalafmt
  explore/app/src/main/scala/explore/config/AlienVisitorConfigEditor.scala
  explore/app/src/main/scala/explore/config/AlienVisitorConfigPanel.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Fix observe visitor
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
Due: Label observe PRs

Make same night and maximum delay mutually exclusive
  explore/app/src/main/scala/explore/tabs/GroupEditBody.scala
Due: Label explore PRs

Don't set maximumInterval when switching to AND with sameNight
  explore/app/src/main/scala/explore/tabs/GroupEditBody.scala
Due: Label explore PRs

Set basePos based on the existence of explicitBase
  observe/server/src/main/scala/observe/server/ghost/GhostConfig.scala
  observe/server/src/main/scala/observe/server/ghost/GhostHeader.scala
  observe/server/src/main/scala/observe/server/ghost/GhostKeywordReader.scala
Due: Label observe PRs

ProgramTypes for keck and subaru
  explore/app/src/main/scala/explore/ExploreLayout.scala
  explore/app/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/model/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Support displaying and editing exchange proposals
  explore/app/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model/src/main/scala/explore/CallForProposal.scala
  explore/model/src/main/scala/explore/CallProperties.scala
  explore/model/src/main/scala/explore/Proposal.scala
  explore/model/src/main/scala/explore/ProposalType.scala
  explore/model/src/main/scala/explore/model/display.scala
Due: Label explore PRs

Remove redundant SubaruCallForProposalsType from subaru proposals
  explore/app/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model-tests/src/test/scala/explore/optics/ModelOpticsSuite.scala
  explore/model/src/main/scala/explore/ProposalType.scala
Due: Label explore PRs

Actual lucuma-core version
  project/Versions.scala
Due: none

Remove unused import
  explore/app/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

Support creating and editing exchange observations.
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/KeckExchangeConfigEditor.scala
  explore/app/src/main/scala/explore/config/SubaruExchangeConfigEditor.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/model/enums/ConfigurationMode.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Improve the reconnection dialog box
  observe/web/client/src/main/scala/observe/ui/components/Bootstrapped.scala
  observe/web/client/src/main/scala/observe/ui/components/Layout.scala
  observe/web/client/src/main/scala/observe/ui/components/MainApp.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

SC-9386 In Observe, configure GNIRS wavelength only for spectroscopy
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
Due: Label observe PRs

Minimal support to compile mos mode
  explore/app/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  project/Versions.scala
Due: Label explore PRs

Allow selecting GNIRS spectroscopy spatial offset preset without customizing
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigsEditorWithPresets.scala
Due: Label explore PRs

F2 should use presets to define telescope offsets
  explore/app/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Revert "Update dependency vite to v8.1.5 (#1166)"
  explore/package.json
  observe/web/client/package.json
  pnpm-lock.yaml
  ui/demo/package.json
Due: Label explore PRs, Label observe PRs, Label ui PRs

Fix mode misnamed
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label schemas PRs

Workaround to update vite
  explore/package.json
  explore/vite.config.mts
  observe/web/client/package.json
  observe/web/client/vite.config.mts
  pnpm-lock.yaml
Due: Label explore PRs, Label observe PRs

Unify how gnirs offsets are displayed along their presets
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/offsets/IfuTelescopeConfigsEditor.scala
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
  explore/app/src/main/scala/explore/config/offsets/TelescopeConfigsEditorWithPresets.scala
Due: Label explore PRs

Remove some duplicated code
  explore/app/src/main/scala/explore/config/offsets/OffsetPresetsHeader.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

Simplify offset editor
  explore/app/src/main/scala/explore/config/offsets/IfuTelescopeConfigsEditor.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetPresetsHeader.scala
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
Due: Label explore PRs

libs
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/offsets/OffsetPresetsHeader.scala
  explore/app/src/main/scala/explore/config/offsets/SlitTelescopeConfigsEditor.scala
  project/Versions.scala
Due: Label explore PRs

Make the Focal Plane dropdown in spectroscopy requirements live
  explore/app/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Allow re-ordering, duplicating, and deleting IGRINS-2 steps
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label ui PRs

SC-9392 Filled GNIRS IFU cases.
  observe/server/src/main/scala/observe/server/gnirs/GnirsControllerEpics.scala
Due: Label observe PRs

Use requested wavelength for GNIRS spectroscopy ITC central wavelength
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Support GNIRS filter types
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/model/src/main/scala/explore/modes/ImagingModesMatrix.scala
  project/Versions.scala
Due: Label explore PRs

Unify IGRINS-2 long-slit offsets onto SlitTelescopeConfigs
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
  explore/model/src/main/scala/explore/model/display.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Cleanup
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
Due: Label explore PRs

Move IGRINS-2 offset editor last to match F2/GNIRS
  explore/app/src/main/scala/explore/config/Igrins2LongslitConfigPanel.scala
Due: Label explore PRs

Add filter type and width for F2 imaging
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/model/src/main/scala/explore/modes/ImagingModesMatrix.scala
  project/Versions.scala
Due: Label explore PRs

For GNIRS modes ITC, use user requested wavelength only for XD modes
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Support MOS entries on the modes table
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

Scalafmt
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Show gnirs imaging filter width on the modes table
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  project/Versions.scala
Due: Label explore PRs

Update ModeSignalToNoise decoders for changes in ODB
  project/Versions.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/ModeSignalToNoiseDecoders.scala
Due: Label schemas PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
