Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label client PRs
  conditions:
  - files~=^modules/web/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label client-clue PRs
  conditions:
  - files~=^modules/web/client-clue/
  actions:
    label:
      add:
      - client-clue
      remove: []
- name: Label client-model PRs
  conditions:
  - files~=^modules/web/client-model/
  actions:
    label:
      add:
      - client-model
      remove: []
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^deploy/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^deploy/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^deploy/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^deploy/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label observe-server_staging PRs
  conditions:
  - files~=^deploy/observe-server_staging/
  actions:
    label:
      add:
      - observe-server_staging
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

add comment
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

add another comment
  modules/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
Due: Label server_new PRs

add missing parameter in split query
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
Due: Label server_new PRs

dynamic progress bar
  build.sbt
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
Due: Label client PRs

stop invoking atom events
  modules/server_new/src/clue/scala/observe/common/EventsGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  modules/server_new/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbCommands.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

fix tests
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

remove commented code
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label server_new PRs

remove commented code
  build.sbt
Due: none

SC-6802 Fixed wrong conversion for signed angles.
  modules/server_new/src/main/scala/observe/server/tcs/TcsKeywordReader.scala
  modules/server_new/src/test/scala/observe/server/engine/HandleSpec.scala
Due: Label server_new PRs

SC-6804 Fixed probe keyword value for unused guiders.
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouth.scala
Due: Label server_new PRs

unify odb and sso
  project/Settings.scala
Due: none

remove clientId from gmosN and f2 record step
  modules/server_new/src/clue/scala/observe/common/EventsGQL.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
Due: Label server_new PRs

SC-6802 Fixed P offset in headers.
  modules/server_new/src/main/scala/observe/server/tcs/TcsKeywordReader.scala
Due: Label server_new PRs

bump versions
  project/Settings.scala
Due: none

switch to IdempotencyKey
  modules/server_new/src/clue/scala/observe/common/EventsGQL.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  project/Settings.scala
Due: Label server_new PRs

add auto-restart to start script
  deploy/scripts/start.sh
Due: none

new clue with validations
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label server_new PRs

add idepotencyKey to record* mutations
  modules/server_new/src/clue/scala/observe/common/EventsGQL.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  project/Settings.scala
Due: Label server_new PRs

SC-6868 Don't try to reset M2 guide inputs on guide off
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEncoders.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
Due: Label server_new PRs

fix dhs sim date
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientDisabled.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
Due: Label server_new PRs

just-in-time atom recording
  modules/model/shared/src/main/scala/observe/model/arb/ArbObsRecordedIds.scala
  modules/model/shared/src/main/scala/observe/model/odb/RecordedIds.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  modules/server_new/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbCommands.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Due: Label model PRs, Label server_new PRs

don't disable inputs while API call active
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
Due: Label client PRs

checkpoint
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/Page.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/AppTab.scala
Due: Label client PRs, Label client-model PRs

checkpoint
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/model/Page.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/AppTab.scala
Due: Label client PRs

checkpoint
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/Sequence.scala
  modules/web/client/src/main/scala/observe/ui/model/Page.scala
Due: Label client PRs, Label client-model PRs

first compiling iteration
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/Sequence.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsList.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Due: Label client PRs, Label client-model PRs

showing obs list
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/Sequence.scala
  modules/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  modules/web/client/src/main/scala/observe/ui/components/obsList/ObsListTab.scala
  modules/web/client/src/main/scala/observe/ui/components/obsList/package.scala
  modules/web/client/src/main/scala/observe/ui/components/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  project/Settings.scala
Due: Label client PRs, Label client-model PRs

layout fixed
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  project/Settings.scala
Due: Label client PRs

cleanup code
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/Sequence.scala
  modules/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  modules/web/client/src/main/scala/observe/ui/components/obsList/ObsListTab.scala
  modules/web/client/src/main/scala/observe/ui/components/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/model/Page.scala
Due: Label client PRs, Label client-model PRs

autoswitch on obs load
  modules/web/client/src/main/scala/observe/ui/components/obsList/ObsListTab.scala
Due: Label client PRs

showing sequences
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Due: Label client PRs

init state
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label client-model PRs

cleanup
  modules/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Due: Label client PRs

remove comments, refresh on reconnect
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/AppTab.scala
Due: Label client PRs, Label client-model PRs

remove unused logic
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
Due: Label client PRs

finishing touches
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/SequenceTab.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label client-model PRs

fix arb
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
Due: Label client-model PRs

remove unused style
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/obsList/ObsList.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

correctly handle redirect on load
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/scala/observe/ui/components/SequenceTab.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label client-model PRs

reinstate busy notifications
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
Due: Label server_new PRs
