Repository gemini-hlsw/observe: changes, and which Mergify rules are due for each by the changed paths.
All: Label client PRs, Label client-clue PRs, Label client-model PRs, Label engine PRs, Label model PRs, Label observe-server-gn PRs, Label observe-server-gn-test PRs, Label observe-server-gs PRs, Label observe-server-gs-test PRs, Label observe-server_staging PRs, Label server PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label client PRs
  conditions:
  - files~=^modules/web/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label client-clue PRs
  conditions:
  - files~=^modules/web/client-clue/
  actions:
    label:
      add:
      - client-clue
      remove: []
- name: Label client-model PRs
  conditions:
  - files~=^modules/web/client-model/
  actions:
    label:
      add:
      - client-model
      remove: []
- name: Label engine PRs
  conditions:
  - files~=^modules/engine/
  actions:
    label:
      add:
      - engine
      remove: []
- name: Label model PRs
  conditions:
  - files~=^modules/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label observe-server-gn PRs
  conditions:
  - files~=^deploy/observe-server-gn/
  actions:
    label:
      add:
      - observe-server-gn
      remove: []
- name: Label observe-server-gn-test PRs
  conditions:
  - files~=^deploy/observe-server-gn-test/
  actions:
    label:
      add:
      - observe-server-gn-test
      remove: []
- name: Label observe-server-gs PRs
  conditions:
  - files~=^deploy/observe-server-gs/
  actions:
    label:
      add:
      - observe-server-gs
      remove: []
- name: Label observe-server-gs-test PRs
  conditions:
  - files~=^deploy/observe-server-gs-test/
  actions:
    label:
      add:
      - observe-server-gs-test
      remove: []
- name: Label observe-server_staging PRs
  conditions:
  - files~=^deploy/observe-server_staging/
  actions:
    label:
      add:
      - observe-server_staging
      remove: []
- name: Label server PRs
  conditions:
  - files~=^modules/web/server/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^modules/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []

checkpoint
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/web/server/src/main/resources/base.conf
Due: Label server PRs, Label server_new PRs

checkpoint
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Event.scala
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

working now
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label server_new PRs

checkpoint
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label server_new PRs

rebase, compact query
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
Due: Label server_new PRs

monaderror test
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
Due: Label server_new PRs

checkpoint
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

improve client event stream
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/web/server/src/main/resources/base.conf
Due: Label server PRs, Label server_new PRs

bump clue
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label server_new PRs

checkpoint
  build.sbt
  modules/model/jvm/src/main/scala/observe/model/config/HoneycombConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/web/server/src/main/resources/base.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label model PRs, Label server PRs, Label server_new PRs

add tracing
  build.sbt
  modules/model/jvm/src/main/scala/observe/model/config/HoneycombConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/web/server/src/main/resources/base.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label model PRs, Label server PRs, Label server_new PRs

finishing touches for honeycomb integration
  deploy/conf/production-gn/logback.xml
  deploy/conf/production-gs/logback.xml
  deploy/conf/staging-gn/logback.xml
  deploy/conf/staging-gs/logback.xml
  deploy/scripts/config.sh.template
  modules/web/server/src/main/resources/logback.xml
  project/Settings.scala
Due: Label server PRs

avoid processing empty event streams
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
Due: Label server_new PRs

remove commented code
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Due: Label server PRs

fix log area positioning
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Due: Label client PRs

MonadCancel for Handle
  build.sbt
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/HandleSpec.scala
  modules/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  project/Settings.scala
Due: Label model PRs, Label server_new PRs

add logging
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
Due: Label server_new PRs

diagnosis complete
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

switch to latched handlers
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
Due: Label server_new PRs

working!
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
Due: Label server_new PRs

remove comment
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
Due: Label server_new PRs

solve early completion
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  project/Settings.scala
Due: Label server_new PRs

revert latest changes
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
Due: Label server_new PRs

remove debug info
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
Due: Label server_new PRs

cleanup, avoid reading sequence unnecessarily
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Due: Label server_new PRs

clean before publish
  .github/workflows/ci.yml
  build.sbt
Due: none

better processing of updates and error handling
  deploy/scripts/config.sh.template
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/engine/Handle.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
Due: Label server_new PRs

breakpoints for the future
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/engine/Breakpoints.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/Flamingos2SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/utils/package.scala
Due: Label client PRs, Label server_new PRs

migrate tests
  modules/server_new/src/main/scala/observe/server/engine/EngineStep.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewNSSpec.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  modules/server_new/src/test/scala/observe/server/engine/ExecutionSpec.scala
  modules/server_new/src/test/scala/observe/server/engine/PackageSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label server PRs, Label server_new PRs

scalafix
  modules/model/shared/src/main/scala/observe/model/events/package.scala
  modules/server_new/src/main/scala/observe/server/EngineState.scala
  modules/server_new/src/main/scala/observe/server/InstrumentActions.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/engine/Breakpoints.scala
  modules/server_new/src/main/scala/observe/server/engine/EngineStep.scala
  modules/server_new/src/main/scala/observe/server/engine/Response.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
  modules/server_new/src/main/scala/observe/server/engine/SystemEvent.scala
  modules/server_new/src/main/scala/observe/server/events/package.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosInstrumentActions.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/package.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/partials.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Due: Label model PRs, Label server PRs, Label server_new PRs

fix tests
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  modules/server_new/src/main/scala/observe/server/engine/Breakpoints.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/EngineSpec.scala
  modules/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label client PRs, Label server_new PRs

remove commented code
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/engine/EngineStep.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
Due: Label model PRs, Label server_new PRs

don't delete breakpoints when merging atoms
  modules/server_new/src/main/scala/observe/server/engine/Breakpoints.scala
Due: Label server_new PRs

remove commented lines
  modules/model/shared/src/main/scala/observe/model/events/package.scala
Due: Label model PRs

fix scrolling on pause
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  modules/stateengine/src/main/scala/stateengine/Handler.scala
  modules/stateengine/src/main/scala/stateengine/StateEngine.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
Due: Label client PRs, Label server_new PRs, Label stateengine PRs

revert testing exposure
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
Due: Label server_new PRs

emit ReadingOut when stopping in pause
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
Due: Label server_new PRs

SC-5998 Restored Flamingos-2 OI support.
  modules/model/shared/src/main/scala/observe/model/extensions.scala
  modules/model/shared/src/main/scala/observe/model/operations.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSettleTimeCalculator.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label client PRs, Label model PRs, Label server_new PRs

SC-5990 Remapped lamp values for OBJECT keyword.
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
Due: Label server_new PRs
