Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label app PRs, Label app-clue PRs, Label client PRs, Label client-clue PRs, Label client-model PRs, Label common PRs, Label css PRs, Label demo PRs, Label deploy PRs, Label epics PRs, Label lib PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label schema-util PRs, Label server PRs, Label server-clue PRs, Label server_new PRs, Label server_new-clue PRs, Label stateengine PRs, Label testkit PRs, Label tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label app PRs
  conditions:
  - files~=^explore/app/
  actions:
    label:
      add:
      - app
      remove: []
- name: Label app-clue PRs
  conditions:
  - files~=^explore/app-clue/
  actions:
    label:
      add:
      - app-clue
      remove: []
- name: Label client PRs
  conditions:
  - files~=^modules/web/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label client-clue PRs
  conditions:
  - files~=^modules/web/client-clue/
  actions:
    label:
      add:
      - client-clue
      remove: []
- name: Label client-model PRs
  conditions:
  - files~=^modules/web/client-model/
  actions:
    label:
      add:
      - client-model
      remove: []
- name: Label common PRs
  conditions:
  - files~=^explore/common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label css PRs
  conditions:
  - files~=^ui/css/
  actions:
    label:
      add:
      - css
      remove: []
- name: Label demo PRs
  conditions:
  - files~=^modules/ui/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label deploy PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - deploy
      remove: []
- name: Label epics PRs
  conditions:
  - files~=^navigate/epics/
  actions:
    label:
      add:
      - epics
      remove: []
- name: Label lib PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - lib
      remove: []
- name: Label model PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^explore/model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^explore/model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label schema-util PRs
  conditions:
  - files~=^navigate/schema-util/
  actions:
    label:
      add:
      - schema-util
      remove: []
- name: Label server PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - server
      remove: []
- name: Label server-clue PRs
  conditions:
  - files~=^navigate/server-clue/
  actions:
    label:
      add:
      - server-clue
      remove: []
- name: Label server_new PRs
  conditions:
  - files~=^modules/server_new/
  actions:
    label:
      add:
      - server_new
      remove: []
- name: Label server_new-clue PRs
  conditions:
  - files~=^modules/server_new-clue/
  actions:
    label:
      add:
      - server_new-clue
      remove: []
- name: Label stateengine PRs
  conditions:
  - files~=^navigate/stateengine/
  actions:
    label:
      add:
      - stateengine
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^explore/workers/
  actions:
    label:
      add:
      - workers
      remove: []

include prettier in lint tasks
  build.sbt
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
Due: none

flaky test
  navigate/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
Due: none

run prettier after stylelint
  .github/workflows/ci.yml
  build.sbt
Due: none

remove old expore build
  explore/build.sbt.old
Due: none

fix readme
  explore/README.md
Due: none

reinstate bundlemon for explore
  .github/workflows/ci.yml
  build.sbt
  explore/README.md
Due: none

add missing dot
  .github/workflows/ci.yml
  build.sbt
Due: none

bundlemon base dir is relative to root
  explore/.bundlemonrc.json
Due: none

Perform the program target search for selection dialog locally
  explore/app/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/app/src/main/scala/explore/services/OdbTargetApi.scala
  explore/app/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/app/src/main/scala/explore/targets/TargetSource.scala
Due: Label app PRs

autolabel project prs
  .mergify.yml
  build.sbt
Due: none

mark another test as flaky
  navigate/epics/src/test/scala/navigate/epics/VerifiedEpicsSpec.scala
Due: Label epics PRs

remove deprecated stylelint github formatter
  .github/workflows/ci.yml
  build.sbt
Due: none

remove explicit coloring for upgrade dif link
  explore/common/src/main/webapp/sass/explore.scss
Due: Label common PRs

wrap apps in PrimeReactProvider
  explore/app/src/main/scala/explore/RootComponent.scala
  explore/model/shared/src/main/scala/explore/model/BlindOffset.scala
  observe/web/client/src/main/scala/observe/ui/components/MainApp.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/utils/RetryHelpers.scala
Due: Label app PRs

disable coverage reports in ci
  .github/workflows/ci.yml
  build.sbt
Due: none

Update stylelint config
  .stylelintrc.json
  explore/common/src/main/webapp/sass/aladin.scss
  explore/common/src/main/webapp/sass/datepicker.scss
  explore/common/src/main/webapp/sass/explore-grid.scss
  explore/common/src/main/webapp/sass/explore-primereact.scss
  explore/common/src/main/webapp/sass/explore.scss
  explore/common/src/main/webapp/sass/tooltips.scss
  explore/common/src/main/webapp/sass/visualization.scss
  observe/web/client/src/main/webapp/styles/observe.scss
  package-lock.json
  package.json
  stylelint.config.mjs
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-layout.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label common PRs

Run linter step on bot PR's
  .github/workflows/ci.yml
  build.sbt
Due: none

Remove notBotCond
  build.sbt
Due: none

Fix node_modules cache prefixes for steps
  .github/workflows/ci.yml
  build.sbt
Due: none

Fix some vite errors shown in dev
  explore/vite.config.mts
Due: none

Remove vite plugin for react
  explore/package.json
  explore/vite.config.mts
Due: none

Convert the center aladin span to a proper button
  explore/app/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label app PRs, Label common PRs

Revert removing react plugin
  explore/package.json
  explore/vite.config.mts
Due: none

Fix css
  explore/common/src/main/webapp/sass/explore.scss
Due: Label common PRs

migrate tracking model
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/app/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotData.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotOptions.scala
  explore/app/src/main/scala/explore/plots/SemesterPlot.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  explore/model-tests/shared/src/test/scala/explore/model/boopickle/BoopickleSuite.scala
  explore/model/shared/src/main/scala/explore/events/CatalogMessage.scala
  explore/model/shared/src/main/scala/explore/model/Asterism.scala
  explore/model/shared/src/main/scala/explore/model/Observation.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
  project/Versions.scala
Due: Label app PRs, Label common PRs, Label model-tests PRs, Label workers PRs

fix version
  project/Versions.scala
Due: none

Add tooltip to center on target tooltip
  explore/app/src/main/scala/explore/targeteditor/AladinToolbar.scala
Due: Label app PRs

SC-7010 M2 Baffles control added to API.
  navigate/epics/src/main/scala/navigate/epics/EpicsService.scala
  navigate/model/src/main/scala/navigate/model/BafflesConfig.scala
  navigate/model/src/main/scala/navigate/model/BafflesState.scala
  navigate/model/src/main/scala/navigate/model/HandsetAdjustment.scala
  navigate/model/src/main/scala/navigate/model/SwapConfig.scala
  navigate/model/src/main/scala/navigate/model/TcsConfig.scala
  navigate/model/src/main/scala/navigate/model/enums/DeployableBafflePosition.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/ScsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/ScsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/encoders/package.scala
  navigate/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestScsEpicsSystem.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label epics PRs

SC-7010 Override M2 baffles for GPI.
  navigate/model/src/main/scala/navigate/model/BafflesConfig.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: none

remove reusability overlay. bump scalajs-react
  explore/app/src/main/scala/explore/Explore.scala
  explore/app/src/main/scala/explore/TopBar.scala
  explore/common/src/main/scala/explore/utils/package.scala
  project/Versions.scala
  ui/demo/src/main/scala/lucuma/ui/demo/AladinDemo.scala
  ui/demo/src/main/scala/lucuma/ui/demo/AppMain.scala
Due: Label app PRs, Label common PRs

bump cache versions
  explore/workers/src/main/scala/workers/AgsServer.scala
  explore/workers/src/main/scala/workers/CatalogCache.scala
Due: Label workers PRs

Display blind offset in asterism editor for an observation
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/app/src/main/scala/explore/services/OdbObservationApi.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/app/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/app/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/app/src/main/scala/explore/targeteditor/TargetEditor.scala
  explore/app/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/app/src/main/scala/explore/targets/TargetColumns.scala
  explore/app/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/app/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/app/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  explore/model/shared/src/main/scala/explore/model/package.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnSelector.scala
Due: Label app PRs, Label common PRs

fix tracking pickling, add worker error reporting
  explore/common/src/main/scala/workers/WorkerClient.scala
  explore/model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
Due: Label common PRs

Update explore/model/shared/src/main/scala/explore/model/extensions.scala
  explore/model/shared/src/main/scala/explore/model/extensions.scala
Due: none

syntax, dep version
  explore/model/shared/src/main/scala/explore/model/extensions.scala
  project/Versions.scala
Due: none

another flaky test
  navigate/epics/src/test/scala/navigate/epics/VerifiedEpicsSpec.scala
Due: Label epics PRs

SC-4687 Clear TCS apply record before commands.
  navigate/server/src/main/scala/navigate/server/acm/GeminiApplyCommand.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: none
