Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

Add timestamps to events produced in nvigate
  navigate/server/src/clue/scala/navigate/queries/ObsQueriesGQL.scala
  navigate/server/src/main/scala/navigate/server/OdbProxy.scala
Due: Label navigate PRs

Add timestamps to events produced in observe
  observe/server/src/clue/scala/observe/common/EventsGQL.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
Due: Label observe PRs

Use timestamp method from core
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label schemas PRs

Query Visit.effectiveTime instead of deprecated Visit.created
  schemas/lib/src/clue/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  schemas/lib/src/test/resources/visitGhost.json
  schemas/lib/src/test/resources/visitGmosNorth.json
  schemas/lib/src/test/resources/visitGmosSouth.json
  schemas/lib/src/test/resources/visitsQuery.graphql
  schemas/lib/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/Visit.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label schemas PRs, Label ui PRs

Allow empty offsets for gmos
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Use ExecutionRequirements instead of deprecated isSplittable
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/common/src/main/scala/explore/render.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbSchedulingConstraints.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/SchedulingConstraints.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: Label explore PRs, Label schemas PRs

Model acquisitionType and MOS binning
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/model/src/main/scala/lucuma/schemas/model/enums/GmosMosAcquisitionType.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label schemas PRs

Model GMOS long slit offsets as a List
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/OffsetsControl.scala
  explore/model-tests/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  explore/model/src/main/scala/explore/model/ExploreModelValidators.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

Add the GMOS MOS configuration panel
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosMosConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/model/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label explore PRs

scalafix
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: Label schemas PRs

Select acquisitionType in both MOS subquery copies
  explore/model/src/main/scala/explore/model/Observation.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
Due: Label explore PRs, Label schemas PRs

Review fixes for the MOS configuration panel
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/model/src/main/scala/explore/model/ExploreModelValidators.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Resolve a MOS mode back to its modes-matrix row
  explore/app/src/main/scala/explore/config/package.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

Generalize the long slit builder
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/model/src/main/scala/explore/model/display.scala
Due: Label explore PRs

Show custom mask on the sequence table
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label ui PRs

Use GmosAcquisitionModeType from lucuma-core
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/model/src/main/scala/explore/model/ExploreModelValidators.scala
  explore/model/src/main/scala/explore/model/display.scala
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/model/src/main/scala/lucuma/schemas/model/enums/GmosMosAcquisitionType.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

cleanup
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/model-tests/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
Due: Label explore PRs

Acq type can be edited always
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/model/src/main/scala/explore/model/display.scala
Due: Label explore PRs

Add visualization and ags for Gmos MOS
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label ui PRs

Update picklers
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs

SC-8226 Fixed switched ao fold and pickoff mirror park commands.
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Due: Label navigate PRs

SC-8226 Azimuth and rotator wrap commands in backend.
  navigate/model/src/main/scala/navigate/model/AngleTypes.scala
  navigate/model/src/main/scala/navigate/model/LinearAngle.scala
  navigate/model/src/main/scala/navigate/model/NavigateCommand.scala
  navigate/model/src/main/scala/navigate/model/enums/UnwrapMode.scala
  navigate/server/src/main/scala/navigate/server/NavigateEngine.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/encoders/package.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Due: Label navigate PRs

Don't clobber in-progress edits in FormInputTextView
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/app/src/main/scala/explore/targeteditor/AladinCell.scala
  ui/lib/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
Due: Label explore PRs, Label ui PRs

Add a field for free form search of observations
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
Due: Label explore PRs

Better message when there are no matching observations
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/model/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs

Add GNIRS imaging acquisition customization
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GnirsImagingConfigPanel.scala
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

SC-8226 Added modes to enclosure state in query.
  navigate/model/src/main/scala/navigate/model/Distance.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/main/scala/navigate/server/tcs/package.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  navigate/web/server/src/main/resources/navigate.graphql
  navigate/web/server/src/main/scala/navigate/web/server/http4s/GrackleParsers.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  navigate/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Due: Label navigate PRs

Add search field to the programs table too
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
Due: Label explore PRs

Restore table column preferences across navigation
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/TablePreferences.scala
  ui/lib/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
Due: Label explore PRs, Label ui PRs

scalafmt
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
Due: Label explore PRs

Formatting
  navigate/model/src/main/scala/navigate/model/AngleTypes.scala
  navigate/model/src/main/scala/navigate/model/Distance.scala
  navigate/model/src/main/scala/navigate/model/LinearAngle.scala
  navigate/model/src/main/scala/navigate/model/enums/UnwrapMode.scala
Due: Label navigate PRs

Accommodate ODB changes to ToOActivation and ExecutionRequirements.
  explore/app/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/app/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/app/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbSchedulingConstraints.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbTooActivationCeiling.scala
  explore/model-tests/src/test/scala/explore/optics/ModelOpticsSuite.scala
  explore/model/src/main/scala/explore/ProposalType.scala
  explore/model/src/main/scala/explore/model/SchedulingConstraints.scala
  explore/model/src/main/scala/explore/model/TooActivationCeiling.scala
  explore/model/src/main/scala/explore/model/display.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: Label explore PRs, Label schemas PRs

Fix NullPointerException sending GMOS keywords to DHS
  observe/server/src/main/scala/observe/server/gmos/Gmos.scala
  observe/server/src/main/scala/observe/server/gmos/GmosSouth.scala
  observe/server/src/main/scala/observe/server/keywords/package.scala
Due: Label observe PRs

Fix npm published version
  build.sbt
Due: none

Selection of mask only visible when the program can be setup.
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/MosMaskPicker.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Make the MOS mask always selectable
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
Due: Label explore PRs

Bind a MOS mask to a GMOS MOS observation
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/MosMaskPicker.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Refactor
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/MosMaskPicker.scala
  explore/app/src/main/scala/explore/config/package.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs
