Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label navigate PRs:
  label:
    add:
    - navigate
    remove: []

Label observe PRs:
  label:
    add:
    - observe
    remove: []

Label schemas PRs:
  label:
    add:
    - schemas
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Cleanup the ui
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/model/src/main/scala/explore/model/ProgramArchiveDuplications.scala
Due: Label explore PRs

Cleanup
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/common/src/main/scala/explore/Icons.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

simplifications
  explore/app/src/clue/scala/queries/common/ArchiveDuplicationQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ArchiveDuplicationSubquery.scala
  explore/app/src/clue/scala/queries/common/ArchiveMatchSubquery.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationRow.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/app/src/main/scala/explore/services/OdbArchiveApi.scala
  explore/model/src/main/scala/explore/model/ArchiveDuplication.scala
  explore/model/src/main/scala/explore/model/ProgramArchiveDuplications.scala
Due: Label explore PRs

Simplification of Table code
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationRow.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/model/src/main/scala/explore/model/ArchiveDuplication.scala
  explore/model/src/main/scala/explore/model/ProgramArchiveDuplications.scala
Due: Label explore PRs

Show a message while loading
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationRow.scala
Due: Label explore PRs

Fix stale match cache on re-search, and simplify
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationColumns.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationRow.scala
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/services/OdbArchiveApi.scala
  explore/app/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/app/src/main/scala/explore/validations/ObservationValidationsTable.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ProgramArchiveDuplications.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  ui/lib/src/main/scala/lucuma/ui/table/ExpanderColumn.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

Add the Archive Duplication table id to user preferences
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/hasura/user-prefs/migrations/default/1787769085000_archive_duplication_table/down.sql
  explore/hasura/user-prefs/migrations/default/1787769085000_archive_duplication_table/up.sql
Due: Label explore PRs

Cleanup
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
Due: Label explore PRs

Replace pure HookResult lifts with plain for-comprehension bindings
  explore/app/src/main/scala/explore/archiveDuplication/ArchiveDuplicationTile.scala
Due: Label explore PRs

Exclude inactive observations from OR group total
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

fix core, update schema
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label schemas PRs

styling for all gmos offset editors
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
Due: Label explore PRs

Use new Display instances from core.
  explore/app/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/model/src/main/scala/explore/model/display.scala
Due: Label explore PRs

spit gmos config panel
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosMosPanel.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyConfigPanel.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyPanel.scala
Due: Label explore PRs

avoid multiple implicits in gnirs panels
  explore/app/src/main/scala/explore/config/GnirsIfuPanel.scala
  explore/app/src/main/scala/explore/config/GnirsLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GnirsSpectroscopyPanel.scala
Due: Label explore PRs

split gmos panels
  explore/app/src/main/scala/explore/config/GmosLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosMosPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthMosPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthMosPanel.scala
Due: Label explore PRs

Add UI to select AEON required instruments
  CONTEXT.md
  explore/app/src/main/scala/explore/Routing.scala
  explore/app/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/app/src/main/scala/explore/proposal/AeonRequiredInstrumentsTable.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model-testkit/src/main/scala/explore/model/arb/ArbAeonMultiFacility.scala
  explore/model-testkit/src/main/scala/explore/model/arb/ArbProposalType.scala
  explore/model-tests/src/test/scala/explore/model/ProgramSummariesSuite.scala
  explore/model/src/main/scala/explore/ProposalType.scala
  explore/model/src/main/scala/explore/model/AeonMultiFacility.scala
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

SC-10208 Fixed shutters aperture units.
  navigate/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  navigate/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  navigate/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Due: Label navigate PRs

Potential fix for pull request finding
  explore/model/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs

Reconcile proposal submission validation with the ODB
  explore/app/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/app/src/main/scala/explore/proposal/ProposalErrorsTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/model-tests/src/test/scala/explore/model/ProposalErrorsSuite.scala
  explore/model/src/main/scala/explore/Proposal.scala
  project/Versions.scala
Due: Label explore PRs

gmos ifu phase0
  explore/model/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

bump core
  project/Versions.scala
Due: none

specific changes to gmos ifu config panels
  explore/app/src/main/scala/explore/config/GmosIfuAnalysisEditor.scala
  explore/app/src/main/scala/explore/config/GmosNorthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosSpectroscopyPanel.scala
  explore/app/src/main/scala/explore/config/package.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label ui PRs

remove ForReview
  explore/app/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

scalafix/fmt, fix validator
  explore/app/src/main/scala/explore/config/GmosIfuAnalysisEditor.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label explore PRs

gmos ifu visualization style
  explore/common/src/main/webapp/sass/explore-visualization.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
Due: Label explore PRs, Label ui PRs

gmos ifu observing modes + visualization
  explore/app/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/app/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/config/GmosLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthLongSlitPanel.scala
  explore/app/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/app/src/main/scala/explore/targeteditor/UseShapes.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/model/display.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  project/Versions.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  schemas/lib/src/clue/scala/lucuma/schemas/ObservationDB.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/GmosIfuAnalysisSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/ObservingModeByTypeSubquery.scala
  schemas/lib/src/main/scala/lucuma/schemas/odb/input/package.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/GmosIfuAnalysisDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/package.scala
  schemas/model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label observe PRs, Label schemas PRs, Label ui PRs

scalafmt
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

fix gmos ifu itc, tie lose ends
  explore/app/src/main/scala/explore/config/GmosIfuAnalysisEditor.scala
  explore/common/src/main/scala/queries/schemas/itc/syntax.scala
  explore/model-tests/src/test/scala/explore/model/ObsValidationSeveritySuite.scala
  explore/model/src/main/scala/explore/model/ExploreModelValidators.scala
  explore/model/src/main/scala/explore/model/Observation.scala
  explore/model/src/main/scala/explore/model/boopickle/ItcPickler.scala
  explore/model/src/main/scala/explore/modes/InstrumentOverrides.scala
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: Label explore PRs, Label schemas PRs

handle gmos ifu configurations
  explore/app/src/clue/scala/queries/common/ConfigurationSubquery.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label explore PRs, Label schemas PRs

scalafmt
  explore/app/src/main/scala/explore/config/GmosLongSlitPanel.scala
  explore/app/src/main/scala/explore/config/GmosNorthIfuPanel.scala
  explore/app/src/main/scala/explore/config/GmosSouthIfuPanel.scala
  explore/model/src/main/scala/explore/model/ObservingModeSummary.scala
  explore/model/src/main/scala/explore/modes/ConfigSelection.scala
  schemas/model/src/main/scala/lucuma/schemas/decoders/GmosIfuAnalysisDecoders.scala
  schemas/model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  schemas/testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label explore PRs, Label schemas PRs, Label ui PRs

fix core version
  project/Versions.scala
Due: none

core migration
  project/Versions.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label ui PRs

signal/pixel graph in itc for gmos IFU-2
  explore/app/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs

Make the observations tab tree panel resizable
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/app/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/TwoPanels.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore-common.scss
  explore/common/src/main/webapp/sass/explore.scss
  explore/hasura/user-prefs/migrations/default/1788211586000_alter_table_public_lucumaUserPreferences_add_column_obsTreeWidth/down.sql
  explore/hasura/user-prefs/migrations/default/1788211586000_alter_table_public_lucumaUserPreferences_add_column_obsTreeWidth/up.sql
  explore/model/src/main/scala/explore/model/Constants.scala
  explore/model/src/main/scala/explore/model/GlobalPreferences.scala
  explore/package.json
  pnpm-lock.yaml
  project/Dependencies.scala
Due: Label explore PRs

correctly revert config on gmos ifu rows
  explore/model/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs

missing gmos ifu ags picklers
  explore/model/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  explore/workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs

better aladin overlay for gmos ifu
  explore/app/src/main/scala/explore/targeteditor/AladinContainer.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  ui/lib/src/main/resources/lucuma-css/visualization.scss
  ui/lib/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
  ui/lib/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label explore PRs, Label ui PRs

derive basicConfiguration
  explore/app/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/model-tests/src/test/scala/explore/model/ProgramSummariesSuite.scala
  explore/model/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs

adjustments to pixel plot
  explore/app/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/common/src/main/webapp/sass/charts.scss
Due: Label explore PRs

Path conditions:
  Label explore PRs: any of: ^explore/
  Label navigate PRs: any of: ^navigate/
  Label observe PRs: any of: ^observe/
  Label schemas PRs: any of: ^schemas/
  Label ui PRs: any of: ^ui/
