Repository gemini-hlsw/lucuma-apps: changes, and which Mergify rules are due for each by the changed paths.
All: Label explore PRs, Label navigate PRs, Label observe PRs, Label schemas PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label navigate PRs
  conditions:
  - files~=^navigate/
  actions:
    label:
      add:
      - navigate
      remove: []
- name: Label observe PRs
  conditions:
  - files~=^observe/
  actions:
    label:
      add:
      - observe
      remove: []
- name: Label schemas PRs
  conditions:
  - files~=^schemas/
  actions:
    label:
      add:
      - schemas
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^ui/
  actions:
    label:
      add:
      - ui
      remove: []

migrate UndoButtons to ui
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/itc/ItcTileState.scala
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/app/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/app/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/app/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/app/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/app/src/main/webapp/main.jsx
  explore/common/src/main/scala/explore/Icons.scala
  explore/common/src/main/scala/explore/components/ActionButtons.scala
  explore/common/src/main/scala/explore/components/package.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore-common.scss
  explore/common/src/main/webapp/sass/explore.scss
  observe/web/client/src/main/webapp/main.jsx
  observe/web/client/src/main/webapp/styles/prime.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-common.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-undo.scss
  ui/lib/src/main/scala/lucuma/ui/primereact/primereact.scala
  ui/lib/src/main/scala/lucuma/ui/undo/UndoButtons.scala
  ui/lib/src/main/scala/lucuma/ui/undo/UndoIcons.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

lint
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-common.scss
Due: Label ui PRs

separate seq type edits working, needs improvements
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Igrins2SequenceTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditContext.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
  ui/lib/src/main/scala/lucuma/ui/table/HeaderOrRow.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

avoid unlawful optics
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  ui/tests/src/test/scala/lucuma/ui/optics/OpticsSuite.scala
Due: Label explore PRs, Label ui PRs

move edition buttons to sequence headers
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Igrins2SequenceTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

styling
  build.sbt
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditorBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceIcons.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  ui/lib/src/main/scala/lucuma/ui/undo/UndoButtons.scala
Due: Label explore PRs, Label ui PRs

fix lockfile
  pnpm-lock.yaml
Due: none

restore undo in sequence editor
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/common/src/main/webapp/sass/explore.scss
  ui/lib/src/main/scala/lucuma/ui/sequence/EditableSequence.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditorBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/undo/UndoButtons.scala
Due: Label explore PRs, Label ui PRs

add ui/text to pnpm workspace
  pnpm-lock.yaml
Due: none

migrate switching
  explore/app/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/app/src/main/scala/explore/attachments/package.scala
  explore/app/src/main/scala/explore/components/package.scala
  explore/app/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/app/src/main/scala/explore/config/ConfigurationTile.scala
  explore/app/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/app/src/main/scala/explore/observationtree/ObsTree.scala
  explore/app/src/main/scala/explore/observationtree/package.scala
  explore/app/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/app/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/app/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/app/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/app/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/app/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/app/src/main/scala/explore/targeteditor/AddTargetButton.scala
  explore/app/src/main/scala/explore/targeteditor/BlindOffsetControl.scala
  explore/app/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/app/src/main/scala/explore/users/UserPreferencesPopup.scala
  explore/common/src/main/scala/explore/syntax/ui/package.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditorBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/syntax/effect.scala
  ui/tests/src/test/scala/lucuma/ui/syntax/SwitchingSpec.scala
Due: Label explore PRs, Label ui PRs

separate editing logic for sequences
  explore/app/src/main/scala/explore/config/sequence/EditableSequence.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/app/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthImagingSequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSpectroscopySequenceTable.scala
  explore/app/src/main/scala/explore/config/sequence/byInstrument/Igrins2SequenceTable.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/scala/explore/model/reusability.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/reusability/reusability.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/EditableSequence.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/LiveSequence.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditContext.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditRowHelpers.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceEditorBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceTableMeta.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label explore PRs, Label observe PRs, Label ui PRs

Remove unused stylelint-disables
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Set the values for igrins2 connections at GN
  observe/deploy/conf/staging-gn/site.conf
Due: Label observe PRs

Update the gds client to use the new gds server http format
  observe/server/src/main/scala/observe/server/igrins2/Igrins2ControllerDisabled.scala
  observe/server/src/main/scala/observe/server/igrins2/Igrins2ControllerSim.scala
  observe/server/src/main/scala/observe/server/keywords/GdsClient.scala
  observe/server/src/test/scala/observe/server/keywords/GdsClientSuite.scala
Due: Label observe PRs

Reorganize the package
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/main/scala/observe/server/keywords/GdsClient.scala
  observe/server/src/test/scala/observe/server/keywords/GdsClientSuite.scala
Due: Label observe PRs

Filter imaging instrument modes by declinations
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
Due: Label explore PRs

don't store instrument config
  observe/deploy/conf/staging-gn/site.conf
Due: Label observe PRs

Increased http client timeout from 10 to 40 seconds.
  navigate/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label navigate PRs

implement dummy sequence edit contexts for observe
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
Due: Label observe PRs

Make the programs table persist filters
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/main/scala/explore/programs/ProgramTable.scala
  explore/common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/hasura/user-prefs/migrations/default/1775596073278_insert_into_public_lucumaTableIds/down.sql
  explore/hasura/user-prefs/migrations/default/1775596073278_insert_into_public_lucumaTableIds/up.sql
  explore/model/shared/src/main/scala/explore/model/enums/TableIds.scala
Due: Label explore PRs

Some UI improvements
  explore/app/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Enabled faceted filters for some columns
  explore/app/src/clue/resources/UserPreferencesDB.graphql
  explore/app/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/common/src/main/webapp/sass/explore.scss
Due: Label explore PRs

Update flake
  flake.lock
  flake.nix
Due: none

Show the telluric target elevations if present
  explore/app/src/main/scala/explore/plots/NightPlot.scala
  explore/app/src/main/scala/explore/plots/ObjectPlotData.scala
  explore/app/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/common/src/main/webapp/sass/charts.scss
Due: Label explore PRs

allow expanding steps other than the loaded one
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label observe PRs, Label ui PRs

lock step when running, fix state tracking on pause
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/newTypes.scala
  observe/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  observe/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label observe PRs

renames
  observe/model/shared/src/main/scala/observe/model/ExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/ModelLenses.scala
  observe/model/shared/src/main/scala/observe/model/SequenceView.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbRunningStepProgress.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/main/scala/observe/model/arb/package.scala
  observe/model/shared/src/main/scala/observe/model/events/package.scala
  observe/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  observe/model/shared/src/test/scala/observe/model/ModelSuite.scala
  observe/model/shared/src/test/scala/observe/model/arb/package.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  observe/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Due: Label observe PRs

Remove calls to deprecated record visit mutations
  observe/server/src/clue/scala/observe/common/EventsGQL.scala
  observe/server/src/main/scala/observe/server/ObserveEngineImpl.scala
  observe/server/src/main/scala/observe/server/SequenceData.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbCommands.scala
  observe/server/src/main/scala/observe/server/odb/DummyOdbProxy.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommands.scala
  observe/server/src/main/scala/observe/server/odb/OdbCommandsImpl.scala
  observe/server/src/test/scala/observe/server/ObserveEngineSuite.scala
  observe/server/src/test/scala/observe/server/odb/TestOdbProxy.scala
  schemas/lib/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: Label observe PRs, Label schemas PRs

scalafix
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
Due: Label observe PRs

indicate subsystem control strategy in override checkbox
  observe/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

nowrap obs summary details
  observe/web/client/src/main/webapp/styles/observe.scss
Due: Label observe PRs

propagate subsystem control strategies
  observe/web/client/src/main/scala/observe/ui/components/SequenceTab.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
Due: Label observe PRs

Sort non-viable configurations at the bottom of the tables
  explore/app/src/main/scala/explore/config/ImagingModesTable.scala
  explore/app/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

add Server enum
  observe/model/jvm/src/main/scala/observe/model/config/SystemsControlConfiguration.scala
  observe/model/shared/src/main/scala/observe/model/ClientConfig.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbClientConfig.scala
  observe/model/shared/src/main/scala/observe/model/arb/ArbSubsystem.scala
  observe/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  observe/model/shared/src/main/scala/observe/model/package.scala
  observe/server/src/main/scala/observe/server/SequenceData.scala
  observe/server/src/test/scala/observe/server/ObserveServerArbitraries.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  observe/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  observe/web/client/src/main/scala/observe/ui/display/givens.scala
  observe/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
Due: Label observe PRs

fix decoder
  observe/model/shared/src/main/scala/observe/model/package.scala
Due: Label observe PRs

Remove the flags for gds simulation
  observe/model/jvm/src/main/scala/observe/model/config/SystemsControlConfiguration.scala
  observe/model/jvm/src/test/scala/observe/model/config/arb/ArbSystemsControlConfiguration.scala
  observe/server/src/main/scala/observe/server/Systems.scala
  observe/server/src/test/scala/observe/server/TestCommon.scala
  observe/web/server/src/main/resources/base.conf
Due: Label observe PRs

SC-8353 Removed query for guide targets in ephemeris refresh.
  navigate/server/src/main/scala/navigate/server/OdbProxy.scala
  navigate/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Due: Label navigate PRs

Persist column filter with select values
  explore/app/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  ui/lib/src/main/scala/lucuma/ui/table/ColumnFilter.scala
  ui/lib/src/main/scala/lucuma/ui/table/FilterMethod.scala
Due: Label explore PRs, Label ui PRs

Add a column to show igrins2 fowler samples
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  ui/lib/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label ui PRs
